@use 'styles/globe';
@use '01-atoms/site-logo';
@use '01-atoms/button-search';
@use '01-atoms/input-typeahead';
@use '01-atoms/svg-icons';
@use '01-atoms/svg-loc-icons';
@use '04-templates/narrow-template';
@use '03-organisms/error-page';

.ma__narrow-template__header {

  .ma__site-logo {

    a {
      justify-content: center;
    }
  }
}
