@use "../styles/globe" as *;
@use "03-organisms/illustrated-header";
@use "03-organisms/page-header";
@use "01-atoms/publish-state";
@use "01-atoms/button-with-icon";
@use "01-atoms/button-search";
@use "03-organisms/gen-teaser";
@use "01-atoms/decorative-link";
@use "01-atoms/email";
@use "01-atoms/image";
@use "01-atoms/event-time";
@use "01-atoms/phone-number";
@use "01-atoms/address";
@use "01-atoms/input-typeahead";
@use "02-molecules/tabs";
@use "01-atoms/svg-icons";
@use "01-atoms/svg-loc-icons";
@use "02-molecules/accordion-item";
@use "02-molecules/callout-link";
@use "SectionLinks";


.ma__container {

  @include ma-container();
	
  margin-top: 0px;
}

.ma__page-header__content {
  padding-bottom: 2rem;
  padding-bottom: none;
}

.ma__illustrated-header {
  margin: 0;
}

.ma__button-group {
  margin-top: 1rem;
  display: flex;
    flex-direction: column;
  text-align: center;
    & >  * ~ * {
      margin: 1rem 0 0 0;
    }

   @media($bp-x-small-min) {

    flex-direction: row;
    & >  * ~ * {
      margin: 0 0 0 1rem;
    }
   }
}

.ma__search--tabs {
  background-color: $c-gray-lightest;
}

.ma__gen-teaser__image {
  overflow: hidden;
  border-color: $c-gray-lighter;
}

.ma__section-wrapper h2.ma__gen-teaser__title {
  margin-bottom: 0;
}

.ma__section-links__item + .ma__section-links__item {
  margin-top: .5em;
}

// Match row height
.ma__row--three-up {
  align-items: stretch;

  .ma__section-links {
    height: 100%;
  }
}

.ma__footer-slim__info {
  margin-left: .5rem;
}
