@use "../styles/globe" as *;
@use "03-organisms/illustrated-header";
@use "03-organisms/page-header";
@use "01-atoms/publish-state";
@use "01-atoms/button-with-icon";
@use "01-atoms/button-search";
@use "03-organisms/gen-teaser";
@use "01-atoms/decorative-link";
@use "01-atoms/email";
@use "01-atoms/image";
@use "01-atoms/event-time";
@use "01-atoms/phone-number";
@use "01-atoms/address";
@use "01-atoms/input-typeahead";
@use "02-molecules/tabs";
@use "01-atoms/svg-icons";
@use "01-atoms/svg-loc-icons";
@use "02-molecules/accordion-item";
@use "02-molecules/callout-link";
@use "SectionLinks";



.ma__container {

  @include ma-container();
  margin-top: 0px;
}

.ma__page-header__content {
  padding-bottom: 2rem;
  padding-bottom: none;
}


.ma__illustrated-header {
  margin: 0;
}

.ma__button-group {
  margin-top: 1rem;
  display: flex;
    flex-direction: column;
  text-align: center;
    & >  * ~ * {
      margin: 1rem 0 0 0;
    }

   @media($bp-x-small-min) {
    flex-direction: row;
    & >  * ~ * {
      margin: 0 0 0 1rem;
    }
   }
}

.ma__search--tabs {
  background-color: $c-gray-lightest;
}

.ma__gen-teaser__image {
  overflow: hidden;
  border-color: $c-gray-lighter;
}

h2.ma__section-links__title {
  margin-bottom: 0;
}

.ma__callout-link{
    line-height: 1.3;
    @media ($bp-medium-min) {
        width: 33%;
    }
    @media ($bp-large-min) {
        width: 100%;
    }
    @media ($bp-x-large-min) {
        width: 33%;
    }
    @media ($bp-small-min) {
      padding: 15px 20px;
    }

    a {
      display: contents;
    }

    &__container {
      font-size: 1.3rem;
      padding-right: 0;
    }

    &__description {
        font-size: 1rem;
        @media ($bp-x-large-max) {
            display: none;
        }
    }
}

// Match row height
.ma__row--three-up {
  align-items: stretch;

  .ma__section-links {
    height: 100%;
  }
}
