<p style="color: orange; font-weight: bold;">TEMPLATE: html.twig</p>


{% set html = element.data.rawHtml.content %}
<p style="color: green; font-weight: bold;">NOTE: Assign "element.data.rawHtml.content" to the variable, "html", in this template to render RTE data as HTML.</p>

<h5>PRINT: html</h5>
{{ html }}


<p style="color: orange; font-weight: bold;">TEMPLATE-END: html.twig</p>
