.svg-alert {
  height: 48px;
  width: 44px;
}

.svg-arrow {
  height: 18px;
  width: 16px;
}

.svg-blog {
  height: 20px;
  width: 21px;
}

.svg-building {
  height: 16px;
  width: 16px;
}

.svg-circle-chevron {
  height: 35px;
  width: 35px;
}

.svg-crossroads {
  height: 66px;
  width: 63px;
}

.svg-doc-docx {
  height: 37px;
  width: 35px;
}

.svg-doc-generic {
  height: 36px;
  width: 35px;
}

.svg-doc-pdf {
  height: 36px;
  width: 35px;
}

.svg-doc-xlsx {
  height: 37px;
  width: 35px;
}

.svg-external-link {
  height: 16px;
  width: 17px;
}

.svg-facebook {
  height: 20px;
  width: 11px;
}

.svg-fax-icon {
  height: 36px;
  width: 40px;
}

.svg-flickr {
  height: 12px;
  width: 20px;
}

.svg-instagram {
  height: 20px;
  width: 21px;
}

.svg-laptop {
  height: 30px;
  width: 36px;
}

.svg-linkedin {
  height: 20px;
  width: 20px;
}

.svg-lat-lon-globe {
  height: 24px;
  width: 24px;
}

.svg-login {
  height: 16px;
  width: 24px;
}

.svg-mail {
  height: 24px;
  width: 32px;
}

.svg-marker {
  height: 20px;
  width: 14px;
}

.svg-page-test {
  height: 56px;
  width: 45px;
}

.svg-phone {
  height: 36px;
  width: 33px;
}

.svg-profile {
  height: 32px;
  width: 32px;
}

.svg-quote {
  height: 46px;
  width: 55px;
}

.svg-restore {
  height: 15px;
  width: 20px;
}

.svg-settings {
  height: 16px;
  width: 16px;
}

.svg-twitter {
  height: 17px;
  width: 21px;
}

.svg-user-test {
  height: 51px;
  width: 54px;
}

.svg-wait-time {
  height: 40px;
  width: 40px;
}

.svg-youtube {
  height: 16px;
  width: 21px;
}

.svg-loc-dogs-allowed {
  height: 35px;
  padding-top: 5px;
  width: 41px;
}

.svg-loc-wheelchair-accessible {
  height: 41px;
  width: 40px;
}

.svg-loc-historic-site {
  height: 40px;
  width: 40px;
}

.svg-loc-mt-park {
  height: 40px;
  width: 47px;
}

.ma__footer-slim {
  background-color: #F2F2F2;
  font-size: 1.25rem;
  line-height: 1.2;
  padding: 20px 0 30px;
  position: relative;
}
.ma__footer-slim .ma__container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 781px) {
  .ma__footer-slim .ma__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 911px) {
  .ma__footer-slim .ma__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.ma__footer-slim__container__logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ma__footer-slim__container__logos > * {
  margin-right: 1rem;
}
@media (min-width: 911px) {
  .ma__footer-slim__container__logos {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
  }
}
.ma__footer-slim__container__logos--stacked {
  position: relative;
  flex-direction: row;
  align-items: center;
}
.ma__footer-slim__container__inner {
  display: flex;
  flex-direction: column;
  padding-top: 0rem;
}
@media (min-width: 911px) {
  .ma__footer-slim__container__inner {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0.75rem 0 0 3.5rem;
  }
}
.ma__footer-slim__container__inner--stacked {
  padding-left: 0;
}
.ma__footer-slim__info {
  max-width: 500px;
}
@media (min-width: 911px) {
  .ma__footer-slim__info {
    margin-right: 2rem;
    margin-bottom: 0.25rem;
  }
}
.ma__footer-slim__title {
  font-weight: 550;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.75em;
  font-size: 1.25rem;
}
@media (min-width: 621px) {
  .ma__footer-slim__title {
    margin-bottom: 1em;
  }
}
.ma__footer-slim__details {
  margin-top: 2rem;
}
@media (min-width: 911px) {
  .ma__footer-slim__details {
    display: block;
    margin-top: 0;
  }
}
.ma__footer-slim__links {
  margin-bottom: 1em;
}
.ma__footer-slim__links a {
  color: #14558f;
  font-weight: 600;
}
.ma__footer-slim__links a:after {
  content: "|";
  font-weight: 150;
  margin: 0 0.85rem;
}
.ma__footer-slim__links a:last-child:after {
  content: "";
  margin: 0;
}
.ma__footer-slim__contact a {
  font-weight: 400;
}
.ma__footer-slim__contact__item {
  display: flex;
  margin-bottom: 1rem;
}
.ma__footer-slim__contact__item svg {
  fill: #388557;
}
.ma__footer-slim__contact__item span, .ma__footer-slim__contact__item a {
  padding-left: 0.25rem;
}