/**
 * Primitive token values
 * Do NOT use these in your projects - use the semantic tokens (semantic-tokens.css) instead
 * That will make theming/changes a lot easier in the long run!
 */

 /* The required font for mass.gov websites is Noto Sans, which is included here in a link from Google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /** We can remove this general one eventually and use body **/
  --mds-font-family: "Noto Sans", Helvetica, Arial, sans-serif;

  --mds-font-family-headings: "Noto Sans", Helvetica, Arial, sans-serif;
  --mds-font-family-body: "Noto Sans", Helvetica, Arial, sans-serif;
  --mds-font-family-utility: "Noto Sans", Helvetica, Arial, sans-serif;
  --mds-font-family-label: "Noto Sans", Helvetica, Arial, sans-serif;
  
  --mds-border-radius-25: 0.125rem;
  --mds-border-radius-50: 0.25rem;
  --mds-border-radius-100: 0.5rem;
  --mds-border-radius-150: 0.75rem;
  --mds-border-radius-200: 1rem;
  --mds-border-radius-250: 1.25rem;
  --mds-border-radius-300: 1.5rem;
  --mds-border-radius-350: 1.75rem;
  --mds-border-radius-400: 2rem;
  --mds-border-radius-450: 2.25rem;
  --mds-border-radius-500: 2.5rem;
  --mds-border-radius-600: 3rem;
  --mds-border-radius-round: 1000px;
  --mds-color-utility-base-white: #ffffff;
  --mds-color-utility-base-black: #000000;
  --mds-color-utility-base-gray: #fdfdfd;
  --mds-color-utility-focus-blue-300: #b2dbff;
  --mds-color-utility-focus-blue-600: #0088ff;
  --mds-color-utility-danger-red-100: #fef1f1;
  --mds-color-utility-danger-red-300: #f99f9f;
  --mds-color-utility-danger-red-600: #cd0d0d;
  --mds-color-utility-danger-red-900: #900909;
  --mds-color-utility-danger-red-1300: #480505;
  --mds-color-brand-gray-100: #f7f7f7;
  --mds-color-brand-gray-200: #f0f0f0;
  --mds-color-brand-gray-300: #e6e6e6;
  --mds-color-brand-gray-400: #dcdcdc;
  --mds-color-brand-gray-500: #cccccc;
  --mds-color-brand-gray-600: #bababa;
  --mds-color-brand-gray-700: #a8a8a8;
  --mds-color-brand-gray-750: #949494;
  --mds-color-brand-gray-800: #878787;
  --mds-color-brand-gray-900: #707070;
  --mds-color-brand-gray-1000: #535353;
  --mds-color-brand-gray-1100: #3d3d3d;
  --mds-color-brand-gray-1200: #2a2a2a;
  --mds-color-brand-gray-1250: #212121;
  --mds-color-brand-gray-1300: #141414;
  --mds-color-brand-bay-blue-100: #e8eef4;
  --mds-color-brand-bay-blue-200: #d0dde9;
  --mds-color-brand-bay-blue-300: #b9ccdd;
  --mds-color-brand-bay-blue-400: #a1bbd2;
  --mds-color-brand-bay-blue-500: #8aaac7;
  --mds-color-brand-bay-blue-600: #7299bc;
  --mds-color-brand-bay-blue-700: #5b88b1;
  --mds-color-brand-bay-blue-800: #4377a5;
  --mds-color-brand-bay-blue-900: #2c669a;
  --mds-color-brand-bay-blue-1000: #14558f;
  --mds-color-brand-bay-blue-1100: #104472;
  --mds-color-brand-bay-blue-1200: #0e3c64;
  --mds-color-brand-bay-blue-1300: #0a2b48;
  --mds-color-brand-berkshires-green-100: #ebf3ee;
  --mds-color-brand-berkshires-green-200: #d7e7dd;
  --mds-color-brand-berkshires-green-300: #c3dacd;
  --mds-color-brand-berkshires-green-400: #afcebc;
  --mds-color-brand-berkshires-green-500: #9ac1a9;
  --mds-color-brand-berkshires-green-600: #80b294;
  --mds-color-brand-berkshires-green-700: #67a27f;
  --mds-color-brand-berkshires-green-800: #388557;
  --mds-color-brand-berkshires-green-900: #32784e;
  --mds-color-brand-berkshires-green-1000: #2d6a46;
  --mds-color-brand-berkshires-green-1100: #275d3d;
  --mds-color-brand-berkshires-green-1200: #225034;
  --mds-color-brand-berkshires-green-1300: #1c432c;
  --mds-color-brand-duckling-yellow-100: #fef9e8;
  --mds-color-brand-duckling-yellow-200: #fdf3d1;
  --mds-color-brand-duckling-yellow-300: #fceebb;
  --mds-color-brand-duckling-yellow-400: #fbe8a4;
  --mds-color-brand-duckling-yellow-500: #fbe28d;
  --mds-color-brand-duckling-yellow-600: #fadc76;
  --mds-color-brand-duckling-yellow-700: #f8d149;
  --mds-color-brand-duckling-yellow-800: #f6c51b;
  --mds-color-brand-duckling-yellow-900: #ddb118;
  --mds-color-brand-duckling-yellow-1000: #c59e16;
  --mds-color-brand-duckling-yellow-1100: #ac8a13;
  --mds-color-brand-duckling-yellow-1200: #947610;
  --mds-color-brand-duckling-yellow-1300: #7b630e;
  --mds-color-independence-cranberry-100: #f0e7e8;
  --mds-color-independence-cranberry-200: #e1ced2;
  --mds-color-independence-cranberry-300: #d2b6bb;
  --mds-color-independence-cranberry-400: #c39da5;
  --mds-color-independence-cranberry-500: #b4858e;
  --mds-color-independence-cranberry-600: #955461;
  --mds-color-independence-cranberry-700: #863b4a;
  --mds-color-independence-cranberry-800: #772334;
  --mds-color-independence-cranberry-900: #680a1d;
  --mds-color-independence-cranberry-1000: #5e091a;
  --mds-color-independence-cranberry-1100: #530817;
  --mds-color-independence-cranberry-1200: #490714;
  --mds-color-independence-cranberry-1300: #34050f;
  --mds-color-utility-base-white : #ffffff;
  --mds-color-utility-base-black : #000000;
  --mds-color-utility-base-white-transparent : #ffffff00;
  --mds-color-utility-base-black-transparent : #00000000;
  --mds-color-utility-focus-blue-300 : #b2dbff;
  --mds-color-utility-focus-blue-600 : #0088ff;
  --mds-color-utility-informative-blue-100 : #e8eef4;
  --mds-color-utility-informative-blue-300 : #b9ccdd;
  --mds-color-utility-informative-blue-600 : #7299bc;
  --mds-color-utility-informative-blue-900 : #14558f;
  --mds-color-utility-informative-blue-1300 : #0a2b48;
  --mds-color-utility-success-green-100: #eafbef;
  --mds-color-utility-success-green-300: #81e4a2;
  --mds-color-utility-success-green-600: #24a850;
  --mds-color-utility-success-green-900: #187236;
  --mds-color-utility-success-green-1300: #0b3218;
  --mds-color-utility-warning-yellow-100: #fff9eb;
  --mds-color-utility-warning-yellow-300: #fcdf9c;
  --mds-color-utility-warning-yellow-600: #f6b622;
  --mds-color-utility-warning-yellow-900: #bf8808;
  --mds-color-utility-warning-yellow-1300: #7b5705;
  --mds-font-size-100: 0.625rem;
  --mds-font-size-125: 0.75rem;
  --mds-font-size-175: 0.875rem;
  --mds-font-size-200: 1rem;
  --mds-font-size-225: 1.125rem;
  --mds-font-size-250: 1.25rem;
  --mds-font-size-275: 1.375rem;
  --mds-font-size-300: 1.5rem;
  --mds-font-size-325: 1.625rem;
  --mds-font-size-350: 1.75rem;
  --mds-font-size-400: 2rem;
  --mds-font-size-450: 2.25rem;
  --mds-font-size-500: 2.5rem;
  --mds-font-size-550: 2.75rem;
  --mds-font-size-600: 3rem;
  --mds-font-size-700: 3.5rem;
  --mds-font-size-800: 4rem;
  --mds-font-size-1200: 6rem;
  --mds-font-size-2100: 10.5rem;
  --mds-font-weight-extralight: 150;
  --mds-font-weight-light: 300;
  --mds-font-weight-regular: 400;
  --mds-font-weight-medium: 500;
  --mds-font-weight-semibold: 600;
  --mds-font-weight-bold: 700;
  --mds-font-weight-extrabold: 800;
  --mds-space-0: 0;
  --mds-space-25: 0.125rem;
  --mds-space-50: 0.25rem;
  --mds-space-100: 0.5rem;
  --mds-space-150: 0.75rem;
  --mds-space-175: 0.875rem;
  --mds-space-200: 1rem;
  --mds-space-250: 1.25rem;
  --mds-space-300: 1.5rem;
  --mds-space-350: 1.75rem;
  --mds-space-400: 2rem;
  --mds-space-450: 2.25rem;
  --mds-space-500: 2.5rem;
  --mds-space-600: 3rem;
  --mds-space-700: 3.5rem;
  --mds-space-800: 4rem;
  --mds-space-900: 4.5rem;
  --mds-space-1000: 5rem;
  --mds-space-1100: 5.5rem;
  --mds-space-1200: 6rem;
  --mds-space-1300: 6.5rem;
  --mds-space-1400: 7rem;
  --mds-space-1500: 7.5rem;
  --mds-space-1600: 8rem;
  --mds-space-1800: 9rem;
  --mds-space-2000: 10rem;
  --mds-elevation-offset-100: 8px;
  --mds-elevation-offset-200: 16px;
  --mds-elevation-offset-300: 24px;
  --mds-elevation-offset-400: 32px;
  --mds-elevation-offset-none: 0px;
  --mds-elevation-offset-50: 4px;
  --mds-elevation-blur-150: 12px;
  --mds-elevation-blur-200: 16px;
  --mds-elevation-blur-300: 24px;
  --mds-elevation-blur-400: 32px;
  --mds-elevation-blur-none: 0px;
  --mds-elevation-blur-25: 2px;
  --mds-elevation-spread-100: 8px;
  --mds-elevation-spread-150: 12px;
  --mds-elevation-spread-200: 16px;
  --mds-elevation-spread-250: 20px;
  --mds-elevation-spread-none: 0px;
  --mds-elevation-spread-50: 4px;
  --mds-shadow-hover-opacity: #00000029;
  --mds-shadow-container-opacity: #0000001a;
  --mds-shadow-modal-opacity: #00000024;
}
