@use "01-atoms/button-with-icon";
@use "01-atoms/button-search";
@use "01-atoms/input-typeahead";

.ma__input-typeahead {
  &-toggle {
    display: inline-block;
  }

  &--boxed {
    position: absolute;
    width: 100%;
    z-index: 100;
  }
}
