{% block header %}
  {% if ajaxEmergencyAlerts %}
    {% set ajaxPattern = ajaxEmergencyAlerts %}
    {% include "@organisms/by-template/ajax-pattern.twig" %}
  {% endif %}
  {% include "@organisms/by-template/header.twig" %}
{% endblock %}

<main id="main-content" tabindex="-1">
  <div class="pre-content">
    {% block preContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Pre Content'}} %}
    {% endblock %}
  </div>
  <div class="ma_stacked-row-external-sidebar">
    <div class="ma__stacked-row stacked-row-column">
      {% block stackedRowContent %}
        {% for stackedRow in stackedRows %}
          {% include "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": stackedRow,
            "stackedRow": stackedRow
          } %}
        {% endfor %}
      {% endblock %}
    </div>
    <aside class="sidebar {{ sidebar.coloredHeadings ? 'sidebar--colored' : '' }}">
      {% block sidebar %}
        {% if sidebar.contactList %}
          {% set contactList = sidebar.contactList %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}

        {% if sidebar.pressListing %}
          {% set pressListing = sidebar.pressListing %}
          {% include "@organisms/by-author/press-listing.twig" %}
        {% endif %}

        {% if sidebar.eventListing %}
          {% set eventListing = sidebar.eventListing %}
          {% include "@organisms/by-author/event-listing.twig" %}
        {% endif %}
      {% endblock %}
    </aside>
  </div>
  <div class="post-content post-content__stacked-row-external-sidebar">
    {% block postContent %}
      {% include "@base/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
  {% block schemaContent %}
  {% endblock %}
</main>

{% block footer %}
  {% include "@organisms/by-template/footer.twig" %}
{% endblock %}
