/coverage
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*

src/**/*.css
src/**/*.css.map
storybook-static

backstop/data/bitmaps_test/
backstop/data/*report/

.DS_Store
**/.DS_Store
src/components/base/Icon/**
!src/components/base/Icon/assets/**
!src/components/base/Icon/Icon.stories.js
!src/components/base/Icon/IconDisplay.js
!src/components/base/Icon/Icon.knob.options.js
!src/components/base/Icon/_icon-display.scss