version: '3.1'

services:
  # BackstopJS.
  backstop:
    image: backstopjs/backstopjs:4.4.2
    volumes:
      - ./:/src
    depends_on:
      - web
    shm_size: 1gb
    entrypoint: [backstop, --config=/src/backstop/backstop.js]

  # Static file server.
  web:
    image: nginx:stable-alpine
    volumes:
      - ./storybook-static:/usr/share/nginx/html
