@import 'global';
@import "01-atoms/button-search";

.ma__button-icon {
  background-color: $c-white;
  border: 2px solid;
  border-color: $c-gray-light;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: $letter-spacing-large;
  min-height: 46px;
  padding: 0 14px;
  text-transform: uppercase;
  transition: background-color .4s, color .4s, border .4s, fill .4s;
  white-space: nowrap;
  color: $c-primary-alt;

  &.ma__button-capitalized {
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: $letter-spacing-small;
  }

  &--expandable {
    & > svg {
      width: 25px;
    }
  }

  &--expanded {
    & > svg {
      transform: rotate(180deg);
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }

  & > svg {
    display: inline-block;
    vertical-align: middle;
    fill: $c-gray-dark;
    height: 20px;
    transition: fill .4s;
  }

  &.ma__icon-green > svg {
    fill: $c-primary-alt;
  }

  &.ma__icon-small > svg {
    height: 10px;
  }

  &--expanded, &:hover {
    background-color: $c-primary-alt;
    border-color: $c-primary-alt;
    color: $c-white;
    svg {
      fill: $c-white;
    }
  }

}
