@import 'global';
@import '00-base/mixins';
@import "01-atoms/button-search";

.ma__button-icon {
  background-color: $c-white;
  border: 2px solid $c-gray-light;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: $letter-spacing-large;
  min-height: 46px;
  padding: 0 14px;
  text-transform: uppercase;
  transition: background-color .4s, color .4s, border .4s, fill .4s;
  white-space: nowrap;
  color: $c-primary-alt;

  &--c-white {
    color: $c-white;
  }
  &--c-highlight {
    color: $c-highlight;
  }
  &--c-gray-dark {
    color: $c-gray-dark;
  }
  &--c-primary {
    color: $c-primary;
  }
  &--c-black {
    color: $c-black;
  }

  &--capitalized {
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: $letter-spacing-small;
  }

  &--expanded {
    & > svg {
      transform: rotate(-180deg);
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }

  & > svg {
    display: inline-block;
    vertical-align: middle;
    fill: $c-gray-dark;
    height: 20px;
    transition: transform .5s, fill .4s;
  }

  &.ma__icon {
    &--c-white > svg {
      fill: $c-white;
    }
    &--c-primary-alt > svg {
      fill: $c-primary-alt;
    }
    &--c-primary > svg {
      fill: $c-primary;
    }
    &--c-highlight > svg {
      fill: $c-highlight;
    }
    &--c-black > svg {
      fill: $c-black;
    }
  }

  &.ma__icon-small > svg {
    height: 10px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--expanded, &:hover {
    color: $c-white;
    svg {
      fill: $c-white;
    }
    &.ma__button-icon {
      @include ma-button("normal","solid",$c-primary-alt);
      &--c-primary {
        @include ma-button("normal","solid",$c-primary);
      }
      &--c-highlight {
        @include ma-button("normal","solid",$c-highlight);
      }
      &--c-gray-dark {
        @include ma-button("normal","solid",$c-gray-dark);
      }
      &--c-black {
        @include ma-button("normal","solid",$c-black);
      }
    }
  }

  &--secondary, &--expanded.ma__button-icon--secondary, &:hover.ma__button-icon--secondary {
    @include ma-button("normal","outline",$c-primary-alt);
    svg {
      fill: $c-primary-alt;
    }
    &:hover {
      svg {
        fill: $c-white;
      }
    }
    &.ma__button-icon {
      &--c-primary {
        @include ma-button("normal","outline",$c-primary);
        svg {
          fill: $c-primary;
        }
        &:hover {
          svg {
            fill: $c-white;
          }
        }
      }
      &--c-highlight {
        @include ma-button("normal","outline",$c-highlight);
        svg {
          fill: $c-highlight;
        }
        &:hover {
          svg {
            fill: $c-white;
          }
        }
      }
      &--c-gray-dark {
        @include ma-button("normal","outline",$c-gray-dark);
        svg {
          fill: $c-gray-dark;
        }
        &:hover {
          svg {
            fill: $c-white;
          }
        }
      }
      &--c-black {
        @include ma-button("normal","outline",$c-black);
        svg {
          fill: $c-black;
        }
        &:hover {
          svg {
            fill: $c-white;
          }
        }
      }
    }
  }

  &--tertiary, &--expanded.ma__button-icon--tertiary, &:hover.ma__button-icon--tertiary {
    @include ma-button("normal","solid",$c-gray-light);
    color: $c-black;
    svg {
      fill: $c-black;
    }
  }

  &--quaternary, &--expanded.ma__button-icon--quaternary, &:hover.ma__button-icon--quaternary {
    min-height: 30px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    text-transform: none;
    border-bottom: 2px solid rgba($c-primary-alt,0.75);
    color: $c-primary-alt;

    &:hover {
      border-bottom: 3px solid $c-primary-alt;
      background-color: transparent;
    }

    svg {
      fill: rgba($c-primary-alt,0.75);
    }

    &.ma__button-icon {
      &--c-primary {
        border-bottom-color: rgba($c-primary,0.75);
        color: $c-primary;
        svg {
          fill: rgba($c-primary,0.75);
        }
        &:hover {
          border-bottom-color: $c-primary;
        }
      }
      &--c-highlight {
        border-bottom-color: rgba($c-highlight,0.75);
        color: $c-highlight;
        svg {
          fill: rgba($c-highlight,0.75);
        }
        &:hover {
          border-bottom-color: $c-highlight;
        }
      }
      &--c-gray-dark {
        border-bottom-color: rgba($c-gray-dark,0.75);
        color: $c-gray-dark;
        svg {
          fill: rgba($c-gray-dark,0.75);
        }
        &:hover {
          border-bottom-color: $c-gray-dark;
        }
      }
      &--c-black {
        border-bottom-color: rgba($c-black,0.75);
        color: $c-black;
        svg {
          fill: rgba($c-black,0.75);
        }
        &:hover {
          border-bottom-color: $c-black;
        }
      }
    }
  }

  &--expanded.ma__button-icon--quaternary-simple, &:hover.ma__button-icon--quaternary-simple:hover {
    background-color: $c-gray-light;
  }

  &--quaternary-simple {
    background-color: transparent;
  }

  &--quaternary-simple, &--expanded.ma__button-icon--quaternary-simple, &:hover.ma__button-icon--quaternary-simple:hover {
    min-height: unset;
    box-shadow: none;
    border: none;
    padding: 5px 5px;
    text-transform: none;
    color: $c-primary-alt;
    cursor: pointer;

    svg {
      fill: rgba($c-primary-alt,0.75);
      width: 10px;
      height: 10px;
    }

    &.ma__button-icon {
      &--c-primary {
        color: $c-primary;
        svg {
          fill: rgba($c-primary,0.75);
        }
      }
      &--c-highlight {
        color: $c-highlight;
        svg {
          fill: rgba($c-highlight,0.75);
        }
      }
      &--c-gray-dark {
        color: $c-gray-dark;
        svg {
          fill: rgba($c-gray-dark,0.75);
        }
      }
      &--c-black {
        color: $c-black;
        svg {
          fill: rgba($c-black,0.75);
        }
      }
    }
  }

  &--alert {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: $letter-spacing-large;
    line-height: 1;
    padding: .4em;
    padding-left: .7em;
    padding-right: .8em;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
    min-height: unset;
    border: none;
    display: inline-block;
    background-color: $c-primary-alt;
    color: $c-white;

    &.ma__button-icon > svg {
      fill: rgba($c-white,.5);
      width: 10px;
    }


    &.ma__button-icon {
      &--c-primary {
        background-color: $c-primary;
      }
      &--c-highlight {
        background-color: $c-highlight;
        color: $c-black;
        &.ma__button-icon > svg {
          fill: rgba($c-black,.5);
        }
      }
      &--c-gray-dark {
        background-color: $c-gray-dark;
      }
      &--c-black {
        background-color: $c-black;
      }
    }
  }

}
