html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* One-off breakpoints (consider consolidation)*/
/* Mayflower Color Tokens */
.ma__org-selector__org-info .ma__org-info {
  padding-top: 20px; }

.react-autosuggest__suggestions-container--open {
  position: absolute;
  width: 100%;
  background: white;
  z-index: 100; }

.react-autosuggest__suggestions-list {
  list-style: none; }
