// Mayflower Color Theme and Usage Mapping

@use 'color-tokens' as *;

// Theme Color Variables
$c-primary:              var(--mf-c-bay-blue)!default;
$c-primary-light:        var(--mf-c-bay-blue-light) !default;
$c-primary-lighter:      var(--mf-c-bay-blue-lighter) !default;
$c-primary-lightest:     var(--mf-c-bay-blue-lightest) !default;
$c-primary-alt:          var(--mf-c-berkshires-green) !default;
$c-primary-alt-lighter:  var(--mf-c-berkshires-green-lighter) !default;
$c-primary-alt-lightest: var(--mf-c-berkshires-green-lightest) !default;
$c-primary-alt-dark:     var(--mf-c-berkshires-green-dark) !default;
$c-highlight:            var(--mf-c-duckling-yellow) !default;
$c-highlight-lighter:    var(--mf-c-duckling-yellow-lighter) !default;
$c-highlight-lightest:   var(--mf-c-duckling-yellow-lightest) !default;

// Utility Colors Variables
$c-error:                var(--mf-c-error-red) !default;
$c-error-lighter:        var(--mf-c-error-red) !default;
$c-error-lightest:       var(--mf-c-error-red-lightest) !default;
$c-warning:              var(--mf-c-duckling-yellow) !default;
$c-success:              var(--mf-c-berkshires-green) !default;
$c-focus:                var(--mf-c-focus-hightlight) !default;
$c-link:                 var(--mf-c-bay-blue-50-tint) !default;// For non text link elements
$c-visited:              var(--mf-c-independence-cranberry-10-tint) !default;

$c-font-base:            var(--mf-c-gray-darkest) !default;
$c-font-detail:          var(--mf-c-gray-dark) !default;
$c-font-dark:            var(--mf-c-gray-darkest) !default;
$c-font-medium:          var(--mf-c-gray) !default;

$c-font-heading:         var(--mf-c-gray-darkest) !default;
$c-font-inverse:         var(--mf-c-white) !default;
$c-font-link:            var(--mf-c-bay-blue)!default;
$c-font-error:           $c-error !default;

$c-bg:                   var(--mf-c-white) !default;
$c-bg-comp-title:        var(--mf-c-gray-dark) !default;
$c-bg-subtle:            var(--mf-c-gray-lightest) !default;
$c-bg-section:           var(--mf-c-gray-lightest) !default;

$c-bd:                   var(--mf-c-gray-light) !default;
$c-bd-divider:           var(--mf-c-gray-light) !default;
$c-bd-divider-dark:      var(--mf-c-gray-dark) !default;
$c-bd-error:             $c-error !default;
$c-bd-input:             var(--mf-c-gray-light) !default;
$c-bd-input-dark:        var(--mf-c-gray) !default;

// Box shadow
$c-box-shadow-black:      rgba(var(--mf-c-black), 0.25) !default;
