/* Set $assets-path in _global.scss to form the correct links to the parent folder of fonts/ based on the location of the compiled css
 * @forward "00-base/configure" with (
     $assets-path: "~@massds/mayflower-assets/static"
   );
*/

@use "paths" as *;

@use "variables" as *;

@use "fonts-langs-vars" as langs;

@use "mixins/ma-font-face" as *;

@use "mixins/ma-langlist" as *;

/////////////////////////////////////
// Import fonts
/* The fallback non-variable Noto Sans font */

@font-face {
  font-family: 'Noto Sans';
  src:  url('#{$assets-path}/fonts/noto/Latin/NotoSans-Regular-subset.eot?#iefix') format('embedded-opentype'),
        url('#{$assets-path}/fonts/noto/Latin/NotoSans-Regular-subset.woff') format('woff'),
				url('#{$assets-path}/fonts/noto/Latin/NotoSans-Regular-subset.woff2') format('woff2');
  font-style: normal;
  font-display: $fonts-display-global;
}
/* The fallback non-variable Noto Sans Italic font */

@font-face {
  font-family: 'Noto Sans';
  src:  url('#{$assets-path}/fonts/noto/Latin/NotoSans-Italic-subset.eot?#iefix') format('embedded-opentype'),
        url('#{$assets-path}/fonts/noto/Latin/NotoSans-Italic-subset.woff') format('woff'),
				url('#{$assets-path}/fonts/noto/Latin/NotoSans-Italic-subset.woff2') format('woff2');
  font-style: italic;
  font-display: $fonts-display-global;
}

@font-face {
	font-family: 'Noto Sans Mono';
	src:  /*url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-Regular-subset.eot?#iefix') format('embedded-opentype'),*/
				url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-Regular-subset.woff') format('woff'),
				url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-Regular-subset.woff2') format('woff2');
	font-weight: $fonts-normal;
	font-style: normal;
	font-display: $fonts-display-global;
}

@font-face {
	font-family: 'Noto Sans Mono';
	src:  /*url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-Bold-subset.eot?#iefix') format('embedded-opentype'),*/
				url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-Bold-subset.woff') format('woff'),
				url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-Bold-subset.woff2') format('woff2');
	font-weight: $fonts-bold;
	font-style: normal;
	font-display: $fonts-display-global;
}

@supports ( font-variation-settings: normal ) {

	/* The variable font of Noto Sans for basic latin */
	@font-face {
    font-family: 'Noto Sans VF';
    src:  url('#{$assets-path}/fonts/noto/Latin/NotoSans-VF-subset.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/Latin/NotoSans-VF-subset.woff') format('woff'),
					url('#{$assets-path}/fonts/noto/Latin/NotoSans-VF-subset.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: $fonts-display-global;
  }

	/* The variable font of Noto Sans for latin extended */
	@font-face {
    font-family: 'Noto Sans Latin VF';
    src:  url('#{$assets-path}/fonts/noto/Latin-ext/NotoSans-VF.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/Latin-ext/NotoSans-VF.woff') format('woff')/*,
					url('#{$assets-path}/fonts/noto/Latin-ext/NotoSans-VF.woff2') format('woff2')*/
					;
    font-weight: 100 900;
    font-style: normal;
    font-display: $fonts-display-global;
  }

  /* The variable font of Noto Sans Italic */
  @font-face {
    font-family: 'Noto Sans VF';
    src:  url('#{$assets-path}/fonts/noto/Latin/NotoSansItalic-VF-subset.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/Latin/NotoSansItalic-VF-subset.woff') format('woff'),
					url('#{$assets-path}/fonts/noto/Latin/NotoSansItalic-VF-subset.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: $fonts-display-global;
  }
  /* The variable font of Noto Sans Mono */
  @font-face {
    font-family: 'Noto Sans Mono VF';
    src:  url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-VF-subset.eot?#iefix') format('embedded-opentype'),
					url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-VF-subset.woff') format('woff'),
					url('#{$assets-path}/fonts/noto/Mono/NotoSansMono-VF-subset.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: $fonts-display-global;
  }
}

/////////////////////////////////////
// Import language support fonts (conditionally)
/* Set $fonts-langs-support in _global.scss to enable/disable imports of additional fonts for language support.
 * By default $fonts-langs-support is set to true
 * To disable:
 * @forward "00-base/configure" with (
     $fonts-langs-support: false
   );
*/

@if $fonts-langs-support {
	// all variable fonts
  @supports ( font-variation-settings: normal ) {
    // Arabic VF
		@font-face {
      @include ma-font-face(Noto, Sans, Arabic, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$arabic, null, null);
    }
		// Armeneian VF
		@font-face {
      @include ma-font-face(Noto, Sans, Armenian, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$armenian, null, null);
    }
		// Cyrillic VF
		@font-face {
			@include ma-font-face(Noto, Sans, Cyrillic, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$cyrillic, null, null);
		}
		// Devanagari VF
		@font-face {
			@include ma-font-face(Noto, Sans, Devanagari, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$devanagari, null, null);
		}
		// Greek VF
		@font-face {
			@include ma-font-face(Noto, Sans, Greek, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$greek, null, null);
		}
		// Hebrew VF
		@font-face {
      @include ma-font-face(Noto, Sans, Hebrew, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$hebrew, null, null);
    }
		// Khmer VF
		@font-face {
			@include ma-font-face(Noto, Sans, Khmer, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$khmer, null, null);
		}
		// Lao VF
		@font-face {
			@include ma-font-face(Noto, Sans, Lao, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$lao, null, null);
		}
		// Malayalam VF
    @font-face {
      @include ma-font-face(Noto, Sans, Malayalam, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$malayalam, null, null);
    }
		// Myanmar VF
    @font-face {
      @include ma-font-face(Noto, Sans, Myanmar, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$myanmar, null, null);
    }
		// Tamil VF
    @font-face {
      @include ma-font-face(Noto, Sans, Tamil, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$tamil, null, null);
    }
		// Telugu VF
    @font-face {
      @include ma-font-face(Noto, Sans, Telugu, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$telugu, null, null);
    }
		// Thai VF
    @font-face {
      @include ma-font-face(Noto, Sans, Thai, null, VF, -subset, 100 900, normal, $fonts-display-global, langs.$thai, null, null);
    }
  }

	// All non-variable fonts
	// Arabic bold
  @font-face {
    @include ma-font-face(Noto, Sans, Arabic, null, Bold, -subset, $fonts-bold, normal, $fonts-display-global, langs.$arabic, null, null);
  }
	// Arabic regular
  @font-face {
    @include ma-font-face(Noto, Sans, Arabic, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$arabic, null, null);
  }
	// Cyrillic bold
	@font-face {
		@include ma-font-face(Noto, Sans, Cyrillic, null, Bold, -subset, $fonts-bold, normal, $fonts-display-global, langs.$cyrillic, null, null);
	}
	// Cyrillic regular
	@font-face {
		@include ma-font-face(Noto, Sans, Cyrillic, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$cyrillic, null, null);
	}
	// Devanagari bold
	@font-face {
		@include ma-font-face(Noto, Sans, Devanagari, null, Bold, -subset, $fonts-normal, normal, $fonts-display-global, langs.$devanagari, null, null);
	}
	// Devanagari regular
	@font-face {
		@include ma-font-face(Noto, Sans, Devanagari, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$devanagari, null, null);
	}
	// Greek bold
	@font-face {
		@include ma-font-face(Noto, Sans, Greek, null, Bold, -subset, $fonts-bold, normal, $fonts-display-global, langs.$greek, null, null);
	}
	// Greek regular
	@font-face {
		@include ma-font-face(Noto, Sans, Greek, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$greek, null, null);
	}
	// Gujarati bold
	@font-face {
		@include ma-font-face(Noto, Sans, Gujarati, null, Bold, -subset, $fonts-normal, normal, $fonts-display-global, langs.$gujarati, null, null);
	}
	// Gujarati regular
	@font-face {
		@include ma-font-face(Noto, Sans, Gujarati, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$gujarati, null, null);
	}
  // Hebrew bold
  @font-face {
    @include ma-font-face(Noto, Sans, Hebrew, null, Bold, -subset, $fonts-bold, normal, $fonts-display-global, langs.$hebrew, null, null);
  }
	// Hebrew regular
  @font-face {
    @include ma-font-face(Noto, Sans, Hebrew, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$hebrew, null, null);
  }
  // Khmer bold
  @font-face {
    @include ma-font-face(Noto, Sans, Khmer, null, Bold, -subset, $fonts-bold, normal, $fonts-display-global, langs.$khmer, null, null);
  }
	// Khmer regular
  @font-face {
    @include ma-font-face(Noto, Sans, Khmer, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$khmer, null, null);
  }
	// Malayalam bold
	@font-face {
		@include ma-font-face(Noto, Sans, Malayalam, null, Bold, -subset, $fonts-normal, normal, $fonts-display-global, langs.$malayalam, null, null);
	}
	// Malayalam regular
  @font-face {
    @include ma-font-face(Noto, Sans, Malayalam, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$malayalam, null, null);
  }
  // Myanmar bold
  @font-face {
    @include ma-font-face(Noto, Sans, Myanmar, null, Bold, -subset, $fonts-bold, normal, $fonts-display-global, langs.$myanmar, null, null);
  }
	// Myanmar regular
  @font-face {
    @include ma-font-face(Noto, Sans, Myanmar, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$myanmar, null, null);
  }
	// Tamil bold
	@font-face {
		@include ma-font-face(Noto, Sans, Tamil, null, Bold, -subset, $fonts-normal, normal, $fonts-display-global, langs.$tamil, null, null);
	}
	// Tamil regular
	@font-face {
		@include ma-font-face(Noto, Sans, Tamil, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$tamil, null, null);
	}
	// Telugu bold
	@font-face {
		@include ma-font-face(Noto, Sans, Telugu, null, Bold, -subset, $fonts-normal, normal, $fonts-display-global, langs.$telugu, null, null);
	}
	// Telugu regular
	@font-face {
		@include ma-font-face(Noto, Sans, Telugu, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$telugu, null, null);
	}
	// Thai bold
	@font-face {
		@include ma-font-face(Noto, Sans, Thai, null, Bold, -subset, $fonts-normal, normal, $fonts-display-global, langs.$thai, null, null);
	}
	// Thai regular
	@font-face {
		@include ma-font-face(Noto, Sans, Thai, null, Regular, -subset, $fonts-normal, normal, $fonts-display-global, langs.$thai, null, null);
	}
}


/////////////////////////////////////
// Set fonts

html {
  font-family: $fonts;
}

/////////////////////////////////////
// Set language support fonts (conditionally)

@if $fonts-langs-support {
	// Arabic
  * {
    @include ma-langlist(langs.$arabic-sans, rtl, langs.$langs-Arab);
  }
	// Armenian
  * {
    @include ma-langlist(langs.$armenian-sans, null, langs.$langs-Armn);
  }
	// Cyrillic
	* {
    @include ma-langlist(langs.$cyrillic-sans, null, langs.$langs-Cyrl);
  }
	// Devanagari (Hindi)
	* {
    @include ma-langlist(langs.$devanagari-sans, null, langs.$langs-Deva);
  }
	// Greek
	* {
    @include ma-langlist(langs.$greek-sans, null, langs.$langs-Grek);
  }
	// Hebrew
  * {
    @include ma-langlist(langs.$hebrew-sans, rtl, langs.$langs-Hebr);
  }
	// Khmer
  * {
    @include ma-langlist(langs.$khmer-sans, null, langs.$langs-Khmr);
  }
	// Lao
  * {
    @include ma-langlist(langs.$lao-sans, null, langs.$langs-Lao);
  }
	// Latin (non-english)
  * {
    @include ma-langlist(langs.$latin-sans-ext, null, langs.$langs-Latn);
  }
	// Malayalam
  * {
    @include ma-langlist(langs.$malayalam-sans, null, langs.$langs-Mlym);
  }
	// Myanmar
  * {
    @include ma-langlist(langs.$myanmar-sans, null, langs.$langs-Mymr);
  }
	// Tamil
  * {
    @include ma-langlist(langs.$tamil-sans, null, langs.$langs-Taml);
  }
	// Telugu
  * {
    @include ma-langlist(langs.$telugu-sans, null, langs.$langs-Telu);
  }
	// Thai
	* {
		@include ma-langlist(langs.$thai-sans, null, langs.$langs-Thai);
	}
}
