//pikaday is a JS plugin for date inputs
@use "variables" as *;
@use "colors" as *;
@use "bourbon/library/tint" as *;

.pika-single {
  font-family: $fonts;

  abbr[title] {
    text-decoration: none;
  }
}

.pika-label {
  color: $c-font-dark;
  font-size: 18px;
}

.pika-table {

  th {
    color: $c-font-dark;
    font-size: 14px;
  }
}

.pika-button {
  background-color: $c-bg-section;
  color: $c-font-base;
  font-size: 13px;
  font-weight: 500;
  text-align: center;

  .is-today & {
    color: $c-primary;
    font-weight: 800;

    &:hover {
      color: $c-font-inverse;
    }
  }

  .is-disabled & {
    color: $c-font-base;
    opacity: .5;
  }

  &:hover {
    background-color: tint($c-primary, 50%);
    border-radius: 0;
  }

  .is-selected & {
    background-color: $c-primary;
    box-shadow: none;
    border-radius: 0;
  }

  .is-today.is-selected & {
    color: $c-font-inverse;
  }
}
