@import "@massds/mayflower-theme/scss/mayflower-global";
// import color variables
// import bourbon library "tint" and "shade" functions

// use patternlab color swatches styles
.sg {
  &-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid #ddd;
      border-radius: 8px;
      flex-basis: auto;
      margin: 0 0.5em 0.5em 0;
      max-width: 14em;
      padding: 0.3em;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      font-family: $fonts-mono;
      div {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
      span {
        background-color: $c-gray-lightest;
        padding: 0.1em 0.2em;
      }
    }
  }
}
