.ma__campaign-feature {
  
  padding-top: 30px;
  padding-bottom: 60px;

  @media ($bp-medium-min) {
    @include ma-container;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media ($bp-large-min) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__primary {
    margin-bottom: 20px;
  }
  &__title {
    text-align: center;
  }

  &__more-link {
    text-align: center;
    margin: 20px 0;

    a {
      font-weight: bold;
    }
  }
}
