.ma__contact-row {
  position: relative;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {
    @include ma-container();
  }

  @media ($bp-large-min) {
    .ma__comp-heading,
    .ma__contact-row__primary,
    .ma__contact-row__additional {
      // -250px to accommodate max-width 300px image
      width: calc(100% - 250px);
    }

    .ma__contact-row__additional.has-many {
      display: flex;
    }

    .ma__contact-row__additional--column {
      width: 100%;
      min-width: 50%;

      &:first-child{
        padding-right: 1rem;
      }

      &:last-child:not(:first-child) {
        padding-left: 1rem;
        border-left: 1px solid $c-gray-light;
      }
    }
  }

  .ma__contact-row__primary {
    margin-bottom: 20px;
    @media ($bp-medium-min) {
      margin-bottom: 40px;
    }
  }

  .ma__contact-row__additional {
    &.has-many {
      @media ($bp-medium-min) {
        
      }

      @media ($bp-large-min) {
       
      }
    }
  }

  .ma__image {
    margin-bottom: 1rem;
    max-width: 300px;

    @media ($bp-large-min) {
      position: absolute;
      top: 0;
      right: 30px;
    }
  }

  .ma__contact-row__more-info {
    margin-top: 40px;
  }

  .ma__contact-row__expand {
    padding-top:20px;
    text-align: left;
    display: none;

    button {
      @include ma-button-reset;
      @include ma-link-underline;
      @include ma-chevron;
      font-size: 1.375rem;
      font-weight: 500;
      padding-right: 10px;

      span:nth-child(2) {
        display: none;
      }

      &:after {
        transform: translateY(-45%) rotate(45deg);
      }
    }
  }


  // Accordion behavior for mobile
  // note: We only need accordion behavior if we have a 'has-many' class.
  // Otherwise we have at most 2 items.
  @media ($bp-medium-max) {

    .ma__contact-row__additional.has-many .ma__contact-group:not(:first-child) {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0;
      transition: all 350ms ease-in-out;
    }

    .ma__contact-row__additional.has-many {
      &  ~ .ma__contact-row__expand {
        display: block;
      }

    }

    &.is-open {

      .ma__contact-row__additional.has-many .ma__contact-group:not(:first-child) {
        max-height: 100vh; //arbitrarily large max height for contact groups to avoid clipping
        opacity: 1;
        padding-bottom: 20px;
      }

      // button text
      .ma__contact-row__expand button {
        span:first-child {
          display: none;
        }
        span:nth-child(2) {
          display: inline;
        }
        &:after {
          transform: translateY(-45%) rotate(-135deg);
        }
      }
    }

  }
}

//theme
.ma__contact-row {

  .ma__contact-row__expand {
    button {
      color: $c-font-link;
      font-weight: 700;

      &:after {
          border-color: $c-font-link;
          opacity: .5;
      }

      &:hover {
          border-color: rgba($c-font-link,.5);
      }
    }
  }
}
