.ma__contextual-navigation {
  background-color : rgb(242, 242, 242);
  padding : 0px 40px;
  margin-top : 0px !important;
}

.ma__contextual-navigation--links {
  margin : 0px auto;
  padding : 8px 0px 12px 0px;
  max-width : 1240px;
  border-top : 2px solid rgb(220, 220, 220);
}

li.ma__contextual-navigation--link {
  display : inline;
}

li.ma__contextual-navigation--link a {
  font-size : 16px;
  font-weight : 500;
  color : rgb(83, 83, 83);
  padding-right : 20px;
}

.ma__contextual-navigation__header .ma__header {
  padding-top : 0px;
}

.ma__contextual-navigation__header .ma__contextual-navigation__nav-wrapper {
  margin-right : auto;
  margin-left : auto;
  max-width : 1320px;
  display : flex;
  -webkit-box-pack : justify;
  justify-content : space-between;
  position : relative;
  padding-left : 40px;
  padding-right : 40px;
}

.ma__contextual-navigation__header .ma__header__nav {
  background-color : rgb(20, 85, 143);
}

.ma__contextual-navigation__header .ma__main-nav {
  padding : 0px 21px;
}

.ma__contextual-navigation__header .ma__header__button-container {
  display : block;
  margin : 0px;
  max-width : none;
  padding : 0px;
  height : auto;
  position : static;
  z-index : 90;
  width : 20%;
  text-align : left;
}

.ma__contextual-navigation__header .ma__header__utility-nav--wide {
  position : relative;
  width : 80%;
}

.ma__contextual-navigation__header .ma__header__nav-container {
  height : calc(100vh - 40px);
  box-shadow : rgba(0, 0, 0, 0.25) -2px 0px 38px -5px;
  overflow-y : auto;
  position : absolute;
  top : 3px;
  left : -350px;
  opacity : 0;
  margin-top : 40px;
  transition-duration : 0.5s, 0.3s;
  transition-timing-function : ease, ease;
  transition-delay : 0s, 0s;
  transition-property : left, opacity;
  width : 350px;
  z-index : 100;
  background-color : rgb(242, 242, 242);
}

.translated-rtl .ma__contextual-navigation__header .ma__header__nav-container, .translated-ltr .ma__contextual-navigation__header .ma__header__nav-container {
  height : calc(100vh - 80px);
}

.show-menu .ma__contextual-navigation__header .ma__header__nav-container {
  left : 40px;
  opacity : 1;
}

.translated-rtl .ma__contextual-navigation__header .ma__header__nav-container, .translated-ltr .ma__contextual-navigation__header .ma__header__nav-container {
  top : 40px;
}

.ma__contextual-navigation__header .ma__header__menu-button {
  background-color : rgb(20, 85, 143);
  padding-left : 0px;
}

.ma__contextual-navigation__header .ma__header__back-button {
  transition-duration : 0.5s;
  transition-timing-function : ease;
  transition-property : left;
  left : -75px;
}

.show-menu.show-submenu .ma__contextual-navigation__header .ma__header__back-button {
  left : 350px;
  padding-top : 2px;
}

.show-menu.show-submenu .ma__contextual-navigation__header .ma__header__back-button::before {
  top : 6px;
}

.ma__contextual-navigation__header .ma__utility-nav__items {
  padding : 0px;
  margin : 0px;
}

.ma__contextual-navigation__header .ma__main-nav__items {
  display : block;
}

.ma__contextual-navigation__header .ma__main-nav__item {
  display : block;
  position : static;
  background-color : transparent;
  font-size : 1rem;
  text-align : left;
}

.ma__contextual-navigation__header .ma__main-nav__item.is-active::after {
  display : none;
}

.ma__contextual-navigation__header .ma__main-nav__item .ma__main-nav__top-link {
  position : relative;
  font-weight : 700;
  text-align : left;
  background-color : transparent;
  border : none;
  display : block;
  font-size : 1.125rem;
  letter-spacing : 0.1em;
  line-height : 1.45;
  padding : 10px 0px 10px 15px;
  text-transform : uppercase;
  transition-duration : 0.4s;
  transition-timing-function : ease;
  transition-delay : 0s;
  transition-property : all;
  width : 100%;
  opacity : 1;
}

.show-menu.show-submenu .ma__contextual-navigation__header .ma__main-nav__top-link {
  opacity : 0;
}

.ma__contextual-navigation__header .ma__main-nav__item .ma__main-nav__top-link::after {
  position : absolute;
  right : 20px;
  top : 15px;
  border-right-width : 4px;
  border-right-style : solid;
  border-bottom-width : 4px;
  border-bottom-style : solid;
  content : "";
  display : inline-block;
  height : 10px;
  margin-top : 3px;
  margin-left : 0.3em;
  transform : translateY(-45%) rotate(-45deg);
  transform-origin : 75% 75% 0px;
  transition-duration : 0.2s;
  transition-timing-function : ease;
  transition-delay : 0s;
  transition-property : all;
  vertical-align : middle;
  width : 10px;
  text-align : left;
  border-right-color : rgb(56, 133, 87);
  border-bottom-color : rgb(56, 133, 87);
}

.ma__main-nav__subitem:last-child {
  border-bottom : 1px solid rgb(220, 220, 220);
}

.ma__contextual-navigation__header .ma__main-nav__subitem:last-child .ma__main-nav__link {
  background-color : rgb(255, 255, 255);
  text-transform : none;
  color : rgb(20, 20, 20);
  font-weight : 500;
  font-size : 1.25rem;
}

.ma__contextual-navigation__header .ma__main-nav__subitems {
  transition-duration : 0.5s, 0.3s;
  transition-timing-function : ease, ease;
  transition-delay : 0s, 0s;
  transition-property : left, visibility;
  clip : auto;
  height : auto;
  width : 350px;
  top : auto;
}

.ma__contextual-navigation__header .ma__main-nav__subitems.is-closed {
  left : -350px;
  visibility : hidden;
  top : 0px;
}

.ma__contextual-navigation__header .ma__main-nav__subitems.is-open {
  left : 0px;
  top : 0px;
}

.ma__contextual-navigation__header .ma__main-nav__subitems.is-open .ma__main-nav__subitem:first-child {
  display : block;
}

.ma__contextual-navigation__header .ma__main-nav__subitem:last-child .ma__main-nav__link:hover, .ma__contextual-navigation__header .ma__main-nav__subitem:last-child .ma__main-nav__link:focus {
  background-color : rgb(242, 242, 242);
}
