// Feedback Modal.
//
// Theme support for the Feedback modal.

.ma__feedback-modal {

  .hidden {
    display: none;
  }

  .ma__fixed-feedback-button {
    transition: transform $transition-normal;
    will-change: transform;
  }

  // When opening the modal, slide the Feedback button out of view.
  &--modal-active .ma__fixed-feedback-button {
    transform: translateX(100%);
  }

  &__overlay {
    background-color: rgba($c-black, 0.6);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 100vw;
    will-change: transform;
    z-index: $z-overlay;
  }

  &__modal {
    background-color: $c-white;
    height: 100vh;
    overflow-x: auto;
    padding: $standard-spacing--xsmall $standard-spacing--small $standard-spacing--xsmall $standard-spacing--xsmall;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform $transition-normal;
    width: 100%;
    will-change: transform;
    z-index: $z-modal;

    @media ($bp-small-min) {
      min-width: 500px;
      padding-left: $standard-spacing--small;
      width: 40vw;
    }

    @media ($bp-medium-min) {
      padding: $standard-spacing--small $standard-spacing--small $standard-spacing--small $standard-spacing--large;
    }
  }

  &--modal-active &__modal,
  &--modal-active &__overlay {
    transform: translateX(0%);
  }

  &__close {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-bottom: $standard-spacing--xsmall;

    @media ($bp-medium-min) {
      margin-bottom: $standard-spacing--small;
    }
  }

  &__close-icon {
    align-items: center;
    background-color: $c-bay-blue;
    display: inline-flex;
    font-weight: 500;
    height: $standard-spacing--small;
    justify-content: center;
    margin-left: $standard-spacing--xxsmall;
    width: $standard-spacing--small;

    &::after {
      color: $c-white;
      content: $close-icon;
      font-size: 2.1rem;
      font-weight: 200;
      line-height: 0;
    }
  }

  &__embed-icon::after {
    content: normal;
  }

  &__text {
    margin-bottom: $standard-spacing--small;
  }
}
