.ma__footer-slim {
  background-color: $c-platinum-gray;
  font-size: $fonts-small;
  line-height: 1.2;
  padding: 20px 0 30px;
  position: relative;

  .ma__container {

    @include ma-container;
  }

  &__container {
    position: relative;

    &__inner {
      display: flex;
      flex-direction: column;
      padding-top: 0.5rem;

      @media ($bp-large-min) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 0.75rem 0 0 3.5rem;
      }
    }
  }

  .ma__site-logo {
    position: absolute;
    top: 0;

    span {
      display: none;
    }
  }

  &__info {
    max-width: 500px;
  }

  &__title {

    @include ma-heading(3);
    font-size: $fonts-small;

    margin-top: 0.5rem;
    margin-left: 3.25rem;

    @media ($bp-large-min) {
      margin-top: inherit;
      margin-left: auto;
    }
  }

  &__details {
    margin-top: 2rem;

    @media ($bp-large-min) {
      display: block;
      margin-top: 0;
    }
  }

  &__links {
    margin-bottom: 1em;

    a {
      color: $c-primary;
      font-weight: 600;

      &:after {
        content: "|";
        font-weight: $fonts-lightest;
        margin: 0 0.85rem;
      }

      &:last-child:after {
        content: "";
        margin: 0;
      }
    }
  }

  &__contact {

    a {
      font-weight: $fonts-normal;
    }

    &> p {
      display: flex;

      svg {
        fill: $c-primary-alt;
      }

      span, a {
        padding-left: 0.25rem;
      }
    }
  }

}
