.ma__footer {
  padding: 20px 0 30px;
  position: relative;

  @media ($bp-small-min) {
    padding: 40px 0 50px;
  }

  &__container {
    @include ma-container;
    @include clearfix;
  }

  &__nav {
    margin-bottom: 20px;

    @media ($bp-large-min) {
      @include span-columns(9);
      float: right;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__info {
    @media ($bp-large-min) {
      @include span-columns(3);
    }
  }

  &__logo {
    margin-bottom: 20px;
    @media ($bp-large-max) {
      text-align: center;
    }
  }

  &__social {
    margin: 0 auto 20px;
    max-width: 480px;
  }

  &__copyright {
    font-size: 1.063rem;
    line-height: 1.54;

    @media ($bp-large-max) {
      text-align: center;
    }

    p {
      margin-bottom: 0.25em;
    }
  }
}

//theme
.ma__footer {
  background-color: $c-bg-section;

  &__copyright {
    color: $c-theme-quaternary;
    font-weight: 300;

    b {
      font-weight: 500;
    }
  }

  &__social {
    
    .ma__social-links {

      &__link {
        background-color: $c-theme-secondary;

        & > svg,
        & > svg path {
          fill: $c-white;    
        }
      }
    }
  }
}
