@use "00-base/global" as *;

$titleColor:      $c-primary-alt  !default;
$backgroundColor: $c-primary  !default;
$bannerColor:     $c-gray-lightest  !default;
$alignment:       space-between !default;

.ma__header_slim {

  .ma__container {

    @include ma-container;
  }

  .ma__site-logo {
    width: 100%;

    a {
      font-size: 0px;
      margin: 0;
      display: flex;
      align-items: center;
      width: 100%;
      text-decoration: none;

      span {
        font-weight: $fonts-light;
        color: $titleColor;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $titleColor;
        font-size: 1.9rem;
        display: inline-block;
        margin-left: 0.4rem;
        line-height: 1;
        letter-spacing: $letter-spacing-small;
        width: 100%;
      }
    }
  }

  &__banner {
    height: 15px;
    background-color: $backgroundColor;
    color: white;
  }

  &__header {
    background-color: $bannerColor;
    position: relative;
  }

  &__container {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;

        @media ($bp-large-min) {
          align-items: center;
          justify-content: $alignment;
        }


        @media ($bp-large-max) {
          flex-direction: column;
        }
    }
}
