$header-mobile-menu-width: 320px;
$header-logo-width: 150px;
$bp-header-logo-min: "min-width: 1000px";

body.show-menu {
  overflow: hidden;
}

.menu-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
  background-color: rgba(20,20,20, 0.4);
  top: 43px;
  z-index: $z-high;

  &.overlay-open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s linear;
  }
}

.ma__header {
  position: relative;

  &__skip-nav {
    display: block;
    margin: 0 auto;
    width: 240px;
    text-align: center;

    &:not(:focus) {
      @include ma-visually-hidden;
      width: 240px;
    }
  }

  &-wrapper {
    @include ma-container;
  }

  // .navigation-wrapper {
  //   width: 100%;
  //   background-color: $c-primary;

  //   .navigation-wrapper-container {
  //     @include ma-container;
  //     padding: 0;
  //     display: flex;
  //     justify-content: space-between;

  //     .ma__header__button-container {
  //       order: 1;
  //     }

  //     .ma__header__utility-nav--wide {
  //       order:2;
  //     }

  //     .ma__header__button-container,
  //     .ma__header__utility-nav--wide {
  //       flex: 1 1 auto;
  //     }

  //     .ma__header__nav {
  //       position: relative;
  //       flex: 0;
  //     }
  //   }
  // }

  &__container {
    @include ma-valign-block;
    @include ma-container;
    font-size: 0; // inline-block fix
    height: 100px;
    padding-top: 8px;
    padding-bottom: 8px;

    @media ($bp-header-toggle-min) {
      padding-top: 20px;
    }
  }

  &__logo {
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: $header-logo-width; // width of the image

    @media ($bp-small-min) {
      width: 210px;
    }

    @media ($bp-small-min) {
      @include span-columns(4);
      display: inline-block;
      float: none;
    }

    @media ($bp-header-logo-min) {
      @include span-columns(3);
      display: inline-block;
      float: none;
    }

    .ma__site-logo a {
      margin: 0;
    }
  }


  &__search {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - #{$header-logo-width});

    @media ($bp-small-min) {
      width: 66.12903%; //@include span-columns(8);
    }

    @media ($bp-header-logo-min) {
      width: 74.59677%; //@include span-columns(9);
    }

    @media ($bp-small-max) {
      .ma__header-search {

        &__input {
          display:none;
        }

        span {
          display: inline-block;
        }

        // not the button in navigation
        .ma__button-search {
          &, &--secondary {
            @media ($bp-small-max) {
              @include ma-valign-block;
              border-width: 2px;
              border-style: solid;
              display: inline-block;
              position: static;
              transition: opacity .4s;
              vertical-align: middle;

              .show-menu & {
                opacity: 0;
              }
            }
          }

        }
      }

    }
  }

  &__nav-container {
    background-color: $c-bg-section;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    left: -$header-mobile-menu-width;
    visibility: hidden;
    transition: left 0.3s ease, visibility 0.3s;
    width: $header-mobile-menu-width;
    z-index: $z-dropdown;

    .translated-rtl &,
    .translated-ltr & {
      height: calc(100vh - #{$header-mobile-controls-height * 2});
    }

    .show-menu & {
      left: 0;
      visibility: visible;
      transition: left 0.6s ease, visibility 0.8s;
    }

    .translated-rtl &,
    .translated-ltr & {
      top: 40px;
    }
  }

  &__button-container {
    //height: $header-mobile-controls-height;
    
    .translated-rtl &,
    .translated-ltr & {
      top: 40px;
    }
  }

  &__menu-button {
    background-color: transparent;
    position: absolute;
    top: 0;
    text-align: left;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    height: 35px;
    line-height: 35px;
    margin-top: 2px;
    padding-right: 30px;
    padding-left: 20px;
    transition: transform 0.5s ease;

    @media ($bp-medium-min) {
      padding-left: 0;
      width: 25%;
    }
  }

  &__menu-icon {
    border-radius: 1px;
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    transition: all 500ms ease-in-out;
    width: 15px;
    top: 17px;

    &:before,
    &:after {
      cursor: pointer;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      right: 0;
      transition: all 500ms ease-in-out;
      width: 15px;
    }
    &:before {
      top: -5px;

      .show-menu & {
        top: 0;
        transform: rotate(45deg);
      }
    }
    &:after {
      bottom: -5px;

      .show-menu & {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &__menu-text {
    padding-left: 25px;
  }

  &__nav-search {
    padding: 15px 20px 15px;

    .ma__header-search {

      span {
        display: none;
      }

    }

    @media ($bp-small-min) {
      display: none;
    }
  }

  &__utility-nav {

    &--narrow {
      
      @media ($bp-header-toggle-min){
        display: none;
      }
    }

    &--wide {

      &::after {
        content: '';
      width: 100%;
      height: 43px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $c-primary;
      }

      @media ($bp-header-toggle-max) {
        display: none;
      }
    }
  }

  &__backto {
    @include ma-container;
    display: block;
    height: 0;
    position: relative;
    transition: left 0.5s ease;
    z-index: $z-dropdown + 1;

    @media ($bp-header-toggle-min) {
      z-index: $z-dropdown - 1;
    }

    a {
      @include ma-chevron("left");
      border: 3px solid;
      border-top: none;
      display: inline-block;
      padding: 6px 7px;
      position: fixed;
        top: 0;
      white-space: nowrap;

      @media ($bp-x-small-max) {
        margin-left: -20px;
      }

      @media ($bp-header-toggle-min){
        position: absolute;
          top: -$header-mobile-controls-height - 4px;
      }

      @media ($bp-large-min) {
        padding: 7px 15px;
      }

      &:before {
        height: 9px;
        margin-right: .75em;
        margin-top: 0;
        opacity: .5;
        width: 9px;
      }

      &:hover {
        padding-top: 18px;
      }
    }
  }
}

//theme
.ma__header {
  background-color: $c-bg-section;

  &__menu-button {
    font-weight: 700;
    color: $c-font-inverse;
    z-index: $z-high;

    span:first-child {
      opacity: 0.7;
    }
  }

  &__menu-icon {
    background-color: $c-font-inverse;

    &:before,
    &:after {
      background-color: $c-font-inverse;
    }

    .show-menu & {
      background-color: transparent;
    }
  }

  &__backto {

    a {
      font-weight: 500;
      background-color: tint($c-font-link, 90%);
      border-color: tint($c-font-link, 50%);
      box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
      color: $c-font-link;
      font-size: 1.25rem;

      @media ($bp-large-min) {
        font-size: 1.375rem;
      }

      &:focus {
        background-color: $c-white;
        border-color: $c-highlight !important;
      }
    }
  }
}
