.ma__key-message {
  text-align: center;
  background-color: $c-primary;
  padding: 0 20px; 
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 480px;
  
  @media($bp-campaign-medium) {
    min-height: 580px;
    margin-bottom: 60px;
  }

  @media($bp-large-min) {
    min-height: 760px;
  }

  &, &--blue {
    &, .ma__key-message__wrapper {
      background-color: $c-primary;
    }
  }

  &--white {
    &, .ma__key-message__wrapper {
      background-color: $c-white;
    }
  }

  &--green {
    &, .ma__key-message__wrapper {
      background-color: $c-primary-alt;
    }
  }

  &--lt-blue {
    &, .ma__key-message__wrapper {
      background-color: mix($c-primary, $c-white, 10%);
    }
  }

  &--gray {
    &, .ma__key-message__wrapper {
      background-color: $c-gray-lightest;
    }
  }

  h1,
  h2,
  h3,
  p {
    color: $c-white;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  &__image {
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center center;

    @media($bp-campaign-medium) {
      height: 380px;
    }

    @media($bp-large-min) {
      position: absolute;
      height: 760px;
      left: 0;
      top: 0;
    }
  }

  &--light {
    h1,
    h2,
    h3,
    p {
      color: $c-black;
    }
  }


  &--image {
    min-height: 580px;
    background-position: center bottom;
    background-size: 100% 165px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    padding: 0;
    
    @media($bp-campaign-medium) {
      min-height: 480px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      justify-content: flex-end;
      // 60px + estimate of 1/3 key message wrapper height
      margin-bottom: 60px + 90px;
    }

    @media($bp-large-min) {
      min-height: 760px;
    }

    .ma__key-message__wrapper {
      display: inline-block;
      padding: 40px 20px;

      @media($bp-campaign-medium) {
        padding: 40px;
      }

      @media($bp-large-min) {
        transform: translateY(33%);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      }
    }

    .ma__key-message__cta {

      .ma__button {
        background-color: $c-white;
        color: $c-primary;
        border-color: transparent;

        .ma__key-message--light & {
          background-color: $c-primary;
          color: $c-white;
        }
      }

      &.button--secondary .ma__button {
        background-color: $c-primary-alt;
        color: $c-white;
      }
    }
  }
}
