.ma__location-banner {
  @include ma-container;
  @include clearfix;
  margin-bottom: 70px;

  @media($bp-large-min) {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__image {
    background-position: center top;
    height: 400px;

    @media ($bp-large-min) {
      float: left;
      width: 64%;
    }
  }

  &__map {

    @media ($bp-large-min) {
      float: right;
      width: 36%;
      height: 400px;
    }

    .ma__google-map {
      padding: 0;
      
      &__map {
        height: 400px;
        
        &.static-image {
          height: auto;
        }
      }

      .static-image img {
        width: 100%;

        @media ($bp-large-min) {
          height: 400px;
          width: auto;
        }
      }
    }
  }
}
