.ma__mass-feedback-form {

  &__wrapper {
    border: 2px solid #dcdcdc;
    background: #ffffff;
    max-width: 35em;
    padding: 2.5em;
    margin: 0 auto 5rem;
  }

  &__submit-wrapper {
   margin-top: 45px;   
  }
}
