//theme

.ma__pullquote {
  position: relative;
  margin: 30px 0;

  @media ($bp-small-min) {
    margin-left: 6%;
  }

  &__content {
    display: block;
    padding-top: 35px;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.285;
    color: $c-gray-dark;

    &::after {
      content: '';
      width: 75px;
      height: 20px;
      background-color: $c-primary-alt;
      background: linear-gradient(120deg, $c-primary-alt 65px, $c-white 0);
      position: absolute;
      top: 0;
      left: 0;
    }

    @media ($bp-small-min) {
      font-size: 2.375rem;
    }
  }
}
