@use "00-base/global" as *;

.ma__related-orgs-and-topics {

  @include ma-container();

  
  &__columns {
    margin-top: 45px;

    @media ($bp-medium-min) {
      display: flex;
      align-items: stretch;
      width: 100%;
    }
  }

  &__column {

    @media ($bp-medium-min) {
      flex: 1; 
    }

    &:first-child {

      @media ($bp-medium-min) {
        margin-right: 1rem;
      }
    }

   &:nth-child(2) {
      margin-top: 3rem;

      @media ($bp-medium-min) {
        margin-top: 0;
        margin-left: 1rem;
      }
    }

    h3 {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }

    .ma__link-list__item {
      font-size: $fonts-large;
      line-height: 1.2;
      padding: 0;
      margin-bottom: 1.2rem;
      transition: max-height 0.4s, opacity 0.4s;

      &:nth-child(n+4) {
        opacity: 0;
        max-height: 0;
        margin: 0;
      }

      @media ($bp-medium-min) {
        opacity: 1;
        max-height: 4rem;

        &:nth-child(n+4) {
          opacity: 1;
          max-height: 4rem;
          margin-bottom: 1.2rem;
        }

        &:nth-child(n+11) {
          opacity: 0;
          max-height: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &__column.open {

    .ma__link-list__item {
      margin-bottom: 1.2rem;
    }

    .ma__link-list__item:nth-child(n+4) {
      opacity: 1;
      max-height: 5rem;
      transition: max-height 0.6s, opacity 0.6s;
    }
  }

  .ma__related-orgs-and-topics--toggle {
    position: relative;
    color: $c-primary;
    font-weight: $fonts-bold;
    background-color: transparent;
    border: none;
    padding: 3px 20px 1px;
    border-bottom: 3px solid transparent;
    transition: border 0.4s ease;
    font-size: $fonts-smaller;
    margin-top: 16px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 0;
      display: inline-block;
      border-right: 4px solid rgba($c-primary, 0.3);
      border-bottom: 4px solid rgba($c-primary, 0.3);
      height: 10px;
      width: 10px;
      transition: all .2s;
      vertical-align: middle;
    }

    .fewer {
      display: none;
    }

    .more {
      display: inline-block;
    }

    &.open {
      
      &::after {
        transform: translateY(-50%) rotate(225deg);
      }

      .fewer {
        display: inline-block;
      }

      .more {
        display: none;
      }
    }

    @media ($bp-medium-min) {

      &.short-list {
        display: none;
      }
    }
  }
}
