.ma__related-locations {
  background-color: $c-bg-section;

  &__container {
    @include ma-container;
    border-bottom: 2px solid $c-bd-divider;
    padding-top: 60px;
    padding-bottom: 50px;

    & > * {

      @media ($bp-large-min) {
        margin-left: 160px;
      }

      @media ($bp-x-large-min) {
        margin-left: 210px;
      }
    }
    
  }

  &__title {
    @include ma-border-decorative;
    @include ma-border-decorative($c-primary-alt);
    margin-bottom: 45px;
    padding-bottom: 16px;
  }

  &__items {
   
    @media ($bp-small-min) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;
    position: relative;

    @media ($bp-small-min) {
      flex: 1 1 auto;
    }
  }

  .ma__more-locations__items {

    h3 {
      padding-bottom: 0;
      margin-bottom: 1rem;

      &::after {
        display: none;
      }
    }
  }
}
