.ma__related-locations {
  background-color: $c-bg-section;

  &__container {
    @include ma-container;
    border-bottom: 2px solid $c-bd-divider;
    padding-top: 60px;
    padding-bottom: 50px;

    & > * {
      @media ($bp-x-large-min) {
        margin-left: $column-with-gutter * 2;
      }
    }
    
  }

  &__title {
    @include ma-border-decorative;
    @include ma-border-decorative($c-primary-alt);
    margin-bottom: 45px;
    padding-bottom: 16px;
  }

  &__items {
   
    @media ($bp-small-min) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;

    @media ($bp-small-min) {
      max-width: 33%;
    }
  }

  &__item--figure {
    display: block;
    margin: 0 0 35px 0;

    a {
      height: 100%;
      width: 100%;
    }

    .ma__decorative-link {
      display: block;
      font-size: 1.625rem;
      line-height: 1.2;
      margin-top: 10px;
    }
  }

  .ma__more-locations__items {

    h3 {
      padding-bottom: 0;
      margin-bottom: 1rem;

      &::after {
        display: none;
      }
    }
  }
}
