@import "../00-base/colors";

@import "../00-base/breakpoints";

$c-gray-dcdcdc: #dcdcdc;
$c-theme-green: #43956f;

.ma__results-list-container {

  .ma__general-teaser {
    padding: 15px;

    @media ($bp-large-min) {
      padding: 20px;
    }

    &--active {
      background-color: $c-gray-lightest;
    }
  }
}


.ma__general-teaser {

  & + & {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $c-bd-divider;
    margin-top: 0;
  }

  &--image {
    display: flex;
    flex-wrap: wrap;
  }

  .ma__quality__wrapper {
    font-family: $fonts;
    font-size: 19.2px;
    line-height: 23px;
  }

  .ma__address {
    font-size: 18.2px;
    line-height: 27px;
  }



  &__image {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 400px;
    font-size: 0;
    margin-right: 30px;
    margin-bottom: 10px;

    span {
      background-size: cover;
      display: block;
      padding-top: 56.25%;
      width: 100%;
    }
  }

  &__image + &__details {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__eyebrow {
    margin-bottom: 5px;

    span {
      font-size: 0.813rem;
      letter-spacing: 0.1em;
      padding: 5px 7px;
      text-transform: uppercase;
      background-color: $c-bg-section;
      font-weight: 700;
    }
  }

  &__details {
    padding: 2px 0 4px;
    display: flex;
    flex-direction: column;

    .ma__contact-group {

      &__details {
        font-style: italic;
        font-size: 0.95rem;
      }

      &__item {
        font-size: 1.24rem;
      }

      &__name {
        margin-bottom: 0;

        span {
          font-size: 1.25rem;
          color: $c-gray-dark;
          font-weight: 550;
        }

        > svg {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
    }
  }

  &__date,
  &__org {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 1em;
    color: $c-font-dark;
    font-style: italic;
    font-weight: 700;
  }

  &__date + &__org {
    border-left: 1px solid;
    margin-left: 0.75em;
    padding-left: 0.75em;
  }

  &__org {
    border-left-color: $c-bd-divider;

    &__show-more {

      &.show-fewer {
        padding-left: 1rem;

        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        fill: rgba($c-primary, 0.5);
        width: 1em;
        height: 0.6em;
      }
    }
  }

  &__sublink {
    margin-bottom: 0.25rem;

    .ma__decorative-link {
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__description {
    font-size: 1.25rem;

    @media ($bp-x-small-max) {
      font-size: 1.24rem;
    }

    p {
      margin-bottom: 0.75em;
    }
  }

  &__moreinfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 1em;

    @media ($bp-small-min) {
      flex-flow: row;
    }
  }

  &__primaryinfo {
    padding-right: 0.75em;
    flex: 1 40%;
    flex-grow: 2;
    font-size: 18.2px;
    line-height: 27px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }

    &__details {
      margin-bottom: 1em;
    }
  }

  &__secondary {
    display: inline-flex;
    flex-flow: column;
    flex: 1 50%;

    &--border {
      flex: 1 1 40%;
      flex-grow: 1;
      padding-left: 0.75em;
      border-left: 1px solid $c-gray-light;
    }

    @media ($bp-small-min) {
      flex: 1 1 40%;
      flex-grow: 1;
      border-left: 1px solid $c-gray-light;
      align-content: flex-start;
    }
  }

  &__secondaryinfo {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 18px;
    line-height: 22px;

    .ma__decorative-link {
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin-bottom: 0rem;
      margin-left: 0.25em;
    }
  }

  &__secondaryicon svg {
    display: inline-block;
    vertical-align: middle;
    height: 1.1rem;
    width: 1.1rem;
    fill: $c-primary-alt;
  }

  svg.link-arrow {
    height: 1rem;
    width: 1rem;
    fill: $c-primary-lighter;
  }

  .ma__decorative-link {

    svg {
      height: 1rem;
      width: 1rem;
      fill: $c-primary-lighter;
    }
  }

  .ma__general-teaser__primary {
    flex-grow: 2;
  }

  .ma-icon {

    &__green {
      fill: $c-primary-alt;
    }
  }

  .ma__website {

    a {
      font-weight: 500;
    }

    svg {
      height: 1rem;
      width: 1rem;
      margin-right: 5px;
    }
  }

  .ma__phone {
    font-size: 18px;
    line-height: 27px;

    a {
      font-weight: 500;
    }

    svg {
      height: 1rem;
      width: 1rem;
      margin-right: 8px;
    }
  }
}
