.ma__transition-page {
  margin-bottom: 40px;
  text-align: center;

  &:before {
    background-color: rgba($c-primary-alt, .15);
  }

  &__icon {
    margin-bottom: 15px;
    fill: $c-primary-alt;

    svg {
      width: 63px;
      height: 66px;
    }
  }

  &__message {
    font-size: 1.75rem;
    line-height: 1.31;
    font-weight: 700;

    @media ($bp-small-min) {
      font-size: 2.25rem;
    }
  }

  &__checkbox {
    margin-bottom: 45px;
  }

  &__buttons {
    margin: 0 -10px;

    button,
    input {
      margin: 0 10px 20px;
    }
  }
}
