.ma__utility-nav {
  position: relative;

  @media ($bp-header-toggle-min) {
    background-color: $c-primary;
    color: $c-font-inverse;
  }

  &__items {

    @include ma-reset-list;

    @media ($bp-header-toggle-min) {

      @include ma-valign-block;
      height:43px;
      text-align: right;
    }
  }

  &__item {

    @media ($bp-header-toggle-max) {
      position: relative;
    }

    @media ($bp-header-toggle-min) {
      display: inline-block;
      padding-left: 30px;
      vertical-align: middle;
    }

    // Adjusting the style to match other items.
    // Separate this style from react.

    a.direct-link {
      padding: 1px 7px 2px 7px;

      @media ($bp-header-toggle-max) {
        padding: 11px 20px 9px 45px;
        width: 100%;
        text-align: left;
      }
    }
  }

  &__link,
  &__translate {
    display: block;
    font-size: 1.25rem;
    line-height: 1.45;
    color: $c-font-base;

    @media ($bp-header-toggle-min) {
      line-height: 2;
      transition: opacity .4s ease;
      color: $c-font-inverse;

      &:hover {
        opacity: .7;
      }
    }

    &:after {
      border-right-color: $c-primary-alt;
      border-bottom-color: $c-primary-alt;
    }

    svg {
      fill: $c-primary;

      @media ($bp-header-toggle-min) {
        fill: $c-font-inverse;
        opacity: .7;
        stroke: transparent;
      }
    }

    span {
      font-family: $fonts;
      font-weight: $fonts-normal;
    }
  }

  &__link {
    position: relative;
    background-color: transparent;
    border: 0;

    @media ($bp-header-toggle-max) {

      @include ma-chevron;

      width: 100%;
      text-align: left;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: .1em;
      line-height: 1.45;
      padding: 15px 20px 15px 45px;
      text-transform: uppercase;
      transition: all 0.4s ease;
      border-bottom: 2px solid $c-gray-light;

      &::after {
        display: none;
      }

      &:focus {
        background-color: $c-bd-divider;
      }
    }

    & > svg,
    & > span {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 16px;
      width: 20px;

      @media ($bp-header-toggle-max) {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        fill: rgba($c-primary, 0.5);
      }
    }

    & > span {

      @media ($bp-header-toggle-max) {
        display: block;
        font-weight: inherit;
      }
    }

    .toggle-indicator {

      @include ma-accordion-icon;

      .submenu-open & {

        &::after {
          transform: rotate(135deg);
        }
      }

      @media ($bp-header-toggle-min) {
        display: none;
      }
    }
  }

  &__translate {
    position: relative;

    .goog-te-gadget {
      font-size: 1.25rem;
      font-weight: $fonts-light;
    }

    .goog-te-gadget-simple {
      font-size: 1.25rem;
      background-color: transparent;
      border: none;
      font-weight: $fonts-normal;

      @media ($bp-header-toggle-max) {
        padding: 11px 0 9px 45px;
        width: 100%;
      }

      & > img {
        margin-right: 15px;
        margin-bottom: 0;
        opacity: .7;

        @media ($bp-header-toggle-max) {
          margin-right: 1px;
          margin-bottom: 2px;
        }
      }

      & > span {
        display: inline-block;
        width: calc(100% - 20px); // width of the image
      }
    }

    .goog-te-gadget-simple .goog-te-menu-value {

      @include ma-chevron;
      color: $c-font-base;

      @media ($bp-header-toggle-min) {
        color: $c-font-inverse;

        &:after {
          opacity: .7;
        }
      }

      @media ($bp-header-toggle-max) {
        display: block;
        width: 100%;

        &:after {
          border-right-color: $c-primary-alt;
          border-bottom-color: $c-primary-alt;
        }
      }

      & > * {
        display: none;
      }

      & > :first-child {
        display: inline;
      }

      &:after {
        margin-left: .25em;
        transform: rotate(45deg) translateY(-45%);

        @media ($bp-header-toggle-max) {
          position: absolute;
            top: 45%;
            right: 10px;
        }
      }
    }
  }

  &__translate-icon {
    line-height: 1em;
    opacity: 0;
    position: absolute;
      left: 30px;
      top: 54%;
    transform: translateY(-50%);
    transition: opacity .001s;
    transition-delay: .5s;

    @media ($bp-header-toggle-max) {
      left: 20px;
    }

    & > svg {
      height: 18px;
      width: 20px;
    }
  }

  .has-rendered + &__translate-icon {
    opacity: 1;
  }

  &__content {
    display: block;
    padding-left: 20px;
    text-align: left;
    transition: visibility .5s ease, right .5s ease;
    z-index: $z-modal;
    color: $c-font-inverse;

    .translated-rtl &,
    .translated-ltr & {
      top: 40px;
    }

    &.is-closed {
      visibility: hidden;

      a {
        pointer-events: none;
      }
    }



    .ma__rich-text {
      max-width: 720px;

      a {
        border-color: $c-font-inverse;
      }
    }

    @media ($bp-header-toggle-min) {
      margin-top: $header-mobile-controls-height;
      margin-top: 0;
      overflow: visible;
      background-color: $c-primary;
      padding-left: 0;
      position: fixed;
      left: 0;
      top: 0;
      transition: visibility .6s, top .6s;
      visibility: visible;
      width: 100%;

      &.is-closed {
        right: 0;
        transition: visibility .3s, top .3s;
      }

      a {
        color: $c-font-inverse;
      }
    }
  }

  &__container {

    @include ma-container;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    z-index: $z-dropdown;

    @media ($bp-header-toggle-min) {
      height: auto;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 10px;
    }
  }

  &__close {

    @include ma-button-reset;
    cursor: pointer;
    font-size: 1rem;
    font-weight: $fonts-bold;
    position: absolute;
    top: 0;
    right: 35px;

    @media ($bp-header-toggle-max) {
      display: none;
    }

    span {
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
      letter-spacing: $letter-spacing-large;
      color: $c-white;
      opacity: 0.7;
    }

    &:hover span {
      opacity: 1;
    }
  }

  &__close-icon {
    font-size: 2.5rem;
    line-height: .5em;
    margin-left: .2em;
    transform: rotate(45deg);
    font-weight: $fonts-light;
  }

  &__content-title {
    display: none;

    h2 {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.625rem;
      line-height: 1.45;
      font-weight: $fonts-normal;
      margin-bottom: 0;
      color: $c-white;
    }

    @media ($bp-header-toggle-min) {
      display: inline-block;
      padding-bottom: 5px;
    }

    svg {
      opacity: 0.7;
      fill: $c-white;
    }

    & > span,
    & > svg {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      height: 20px;
      margin-right: 10px;
      width: 20px;

      &.svg-login {
        width: 25px;
      }
    }
  }
}

