@import 'global';
@import '01-atoms/_input--button';
@include ma__input--button('number');
<<<<<<< HEAD

.ma__input-number-unit {
  position: absolute;
    right: 43px;
    top: 4px;
}
=======
>>>>>>> develop
