@use "../variables" as *;
@use "../colors" as *;

@mixin ma-emergency-alert ($color) {
  color: $c-font-base;
  background-color: tint($color, 90%);

    & + & {
    border-top-color: tint($color, 50%);
  }

  .ma__emergency-alert__link {
    font-weight: bold;

    &:hover {
      border-bottom-color: transparent;
    }

    .ma__content-link {

      span {
        display: inline;
        border-bottom: 1px solid rgba($c-font-base, .5);

        &:hover {
          border-bottom: 3px solid rgba($c-font-base, .75);
        }
      }

      svg {
        fill: tint($c-font-base, 50%);
      }

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}
