@use "00-base/configure" as *;
@use "sass:color" as *;
// import color variables
// import bourbon library "tint" and "shade" functions

// use patternlab color swatches styles
.sg {
  &-colors {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid #ddd;
      border-radius: 8px;
      flex-basis: auto;
      margin: 0 0.5em 0.5em 0;
      max-width: 14em;
      min-width: 5em;
      padding: 0.3em;
    }

    // Align gradient matrix
    &--gradient {
      li {
        &:first-child {
          width: 14em;
        }
      }
    }
  }
  &-swatch {
    border-radius: 5px;
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
  }

  &-label {
    font-size: 90%;
    line-height: 1;
  }

  &-info {
    font-size: $fonts-smaller;
    font-family: $fonts-mono;
    span {
      background-color: var(--mf-c-gray-lightest);
      padding: 0.1em 0.2em;
    }
  }
}

// Programetically generate gradient colors
$tiles: 10;
@mixin ma_gradient($name) {
  .#{$name} {
    &--tint {
      @for $i from 0 through $tiles {
        $amount: $i * 10%;
        &:nth-child(#{$i + 1}) {
          .sg-swatch {
            background-color: color-mix(in srgb, white $amount, var(--mf-#{$name}));
          }
        }
      }
    }
  }
}

@mixin ma_gradient_dark($name) {
  .#{$name} {
    &--shade {
      @for $i from 0 through $tiles {
        $amount: $i * 10%;
        &:nth-child(#{$i + 1}) {
          .sg-swatch {
            background-color: color-mix(in srgb, black $amount, var(--mf-#{$name}));
          }
        }
      }
    }
  }
}

@each $name in (
  "c-bay-blue",
  "c-duckling-yellow",
  "c-berkshires-green",
  "c-independence-cranberry",
  "c-granite-gray"
) {
  @include ma_gradient($name);
  @include ma_gradient_dark($name);
}
