@import 'global';
@import '02-molecules/header-search';

.ma__header-search {
  &__wrapper{
  	display: flex;
    position: relative;

    .ma__button-icon {
      border-right: none;
    }

    &--responsive {
      @media ($bp-medium-max) {
        > div:first-child {
          display: none;
        }
      }
    }
  }
  .ma__form {
    display: flex;
  }
}
