@import 'global';
@import "01-atoms/button-search";
@import '02-molecules/header-search';

.ma__header-search {
  &__wrapper{
  	display: flex;
    position: relative;

    .ma__button-icon {
      border-right: none;
    }

    &--responsive {
      @media ($bp-medium-max) {
        > div:first-child {
          display: none;
        }
      }
    }
  }
  .ma__form {
    display: flex;
  }

  &__input {
    padding-right: 0 !important;
  }
  //overwrite
  .ma__button-search {
    border: 2px solid $c-overcast-gray !important;
    position: relative !important;
    margin-left: -2px;
  }

  .ma__select-box {
    margin-left: -2px;

    &__field {
      height:46px;
    }

    &__link {
      height: 100%;
      display: flex;
      align-items: center;
    }

    label {
      position: absolute !important;
    }
  }
}
