@import 'breakpoints';

.ma__header-search {
  &__wrapper{
  	display: flex;

    &--responsive {
      @media ($bp-medium-max) {
        > div:first-child {
          display: none;
        }
      }
    }
  }
  .ma__form {
    display: flex;
    .ma__button-icon {
      border-right: none;
    }
  }
  &__input {
    padding-right: 200px;
  }
}
