@import "global";
//include form styles here to export input styling
$assets-path: '../../../assets';
@import "01-atoms/forms";

.ma__filter-box{
		z-index: 10;
	  &__form {
	     box-sizing: border-box;
	     border: 1px solid #8AAAC7;
	     background-color: #E8EEF4;

			@media ($bp-large-max) {
				border-width: 1px 0;
			}

			 &--active {
				 box-shadow: 0 0 1.25rem rgba(1, 1, 1, 0.25);
			 }
			 .main-content--two{
				 display: flex;
				 flex-direction: column;
				 justify-content: flex-start;
				 @media($bp-x-large-min){
						flex-flow: row wrap;
						justify-content: space-between;
						align-items: flex-end;
				 }
			 }
	  }
    &__filters, &__controls{
			display: flex;
			@media($bp-medium-min){
				 flex-flow: row wrap;
			}
			 flex-direction: column;
       align-items: baseline;
			 justify-content: flex-start;
			 margin: 1rem 0;

			 > div {
				 @media($bp-medium-max){
					 width: 100%;
				 }
					 margin: 0.5rem 1rem 0.5rem 0;
			 }
    }

		&--desktop-hidden {
			@media($bp-medium-min){
				display: none;
			}
		}

	  &__button {
	  	 margin: 0;
	  }
	  &__clear{
			margin-top: 10px;
			@media($bp-medium-min){
	  		margin-left: 20px;
			}
    	font-size: $fonts-smaller;
    	display: inline-block;
    	background-color: transparent;
    	border: none;
    	line-height: 1em;
    	border-bottom: 3px solid transparent;
    	border-bottom-width: 1px;
    	transition: border 0.2s;
    	font-weight: 700;
    	color: $c-font-base;
    	padding: 0px;
    	border-bottom-color: $c-font-base;
		&:hover {
      		border-bottom-width: 3px;
    	}
	  }
  .ma__date-range{
		&__label{
  		margin-bottom: 0.25em;
		}
	}
  .ma__select-box{
    display: block;
  }

	.ma-visually-hidden {
		@include ma-visually-hidden;
	}
}
