@import 'global';
@import '02-molecules/image-promo';
@import "02-molecules/org-info";

.ma__image-promo--stacked {
  flex-direction: column;

  .ma__image-promo__image,
  .ma__image-promo__details {
    flex-basis: auto;
  }

  .ma__image-promo__image {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: hidden;

    .ma__image {
      margin-bottom: 10px;
      margin-right: 20px;
      width: auto;
    }

    .ma__image-promo__header {
      display: inline-flex;
      flex-direction: column;

      .ma__image-promo__title,
      .ma__org-info__job-title {
        display: block;
      }

      .ma__image-promo__tags {
        float: left;
      }
    }
  }
}

.ma__image-promo--small {
  font-size: 18px;

  .ma__image-promo__title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .ma__image-promo__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}
