html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* One-off breakpoints (consider consolidation)*/
/* Mayflower Color Tokens */
.ma__button-copy {
  margin-left: 0.5em;
  background-color: transparent;
  border: none;
  padding: 0; }
