#sg-vp-wrap {
  top:36px;
}

.sg-header {
  background-color: #14558f;
  box-shadow: 0 2px 2px #ccc;
}

.sg-current-size,
.sg-header a {
  color:#fff;
  font-size: .75rem;
}

.sg-input {
  background-color: transparent;
  color:#fff;
  font-size: .75rem;
}

.sg-tools-toggle {
  background-color: transparent;
  height: 100%;
}

.sg-tools-toggle svg path{
    fill: #fff;
}

.sg-modal {
  background-color: #fff;
  border-top: 2px solid #ccc;
}

.sg-modal .sg-pattern-title {
  color: #14558f;
}

.sg-modal .sg-pattern-breadcrumb {
  font-size: 90%;
}

.sg-modal .sg-pattern-extra-info a {
  color: #14558f;
}

.sg-modal .sg-pattern-extra-info a:hover {
  color: #14558f;
  opacity: .7;
}

.sg-modal-close-btn {
  background-color: transparent;
  border: none;
  z-index: 5;
}
.sg-modal-close-btn:hover {
  background-color: transparent;
}

.sg-modal-close-btn svg {
  height: 15px;
  width: 15px;
}

.sg-modal-close-btn svg {
  fill: grey;
}

.sg-modal.active .sg-modal-close-btn {
  top: 0;
}

.sg-tabs-list {
  z-index: 3;
}

.sg-tabs-list a {
  border-bottom: 1px solid #ccc;
}
.sg-tab-title-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

.sg-tabs-panel {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.sg-tabs-panel code[class*=language-], 
.sg-tabs-panel pre[class*=language-] {
  font-size: 16px;
}

.sg-pattern-desc {
  font-size: 16px;
}

.sg-pattern-lineage {
  font-size: 14px;
}

.sg-pattern-lineage:first-of-type:before {
  content: "Lineage";
  display: block;
  font-size: 1.34em;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Styles and overrides for adding Mayflower banner */
.mayflower-banner {
  font-family: 'Noto Sans VF', 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: #E7EEF4;
}

#patternlab-body {
  display: flex;
  flex-direction: column;
}

.sg-header, .sg-modal-container, #sg-vp-wrap {
  position: relative;
  top: 0;
}

#sg-gen-container {
  position: fixed;
}

.ma__decorative-link {
  padding-right: 0.8em;
  display: inline;
  width: 100%;
}
.ma__decorative-link a {
  text-decoration: none;
  transition: all 0.4s ease;
  border-bottom: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 1px;
  transition: border 0.4s ease;
  display: inline;
}
.ma__decorative-link a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  text-decoration: none;
}
.ma__decorative-link a svg {
  display: inline-block;
  height: 0.6em;
  margin-right: -0.8em;
  width: 0.6em;
}
.ma__decorative-link a:hover {
  border-bottom-color: rgba(20, 85, 143, 0.5);
}
.ma__decorative-link a:focus {
  border-bottom-color: rgba(20, 85, 143, 0.5) !important;
}
.ma__decorative-link svg {
  fill: rgba(20, 85, 143, 0.5);
}
.ma__decorative-link.button-link {
  outline: 1px solid rgba(20, 85, 143, 0.5);
  display: inline-block;
  width: auto;
  padding: 0.5rem 1.8rem 0.5rem 0.8rem;
  background-color: white;
}
.ma__decorative-link.button-link:hover, .ma__decorative-link.button-link:focus {
  outline: 1px solid #14558f;
}
.ma__decorative-link.button-link:hover a, .ma__decorative-link.button-link:focus a {
  border-bottom-color: transparent;
}
.ma__decorative-link.button-link:hover a svg, .ma__decorative-link.button-link:focus a svg {
  fill: #14558f;
}
.ma__decorative-link__details {
  font-weight: 350;
}
.ma__decorative-link a .ma__download-link--icon {
  display: inline-flex;
  align-self: center;
  top: 0.3em;
  position: relative;
}
.ma__decorative-link a .ma__download-link--icon svg {
  margin-right: 0;
  width: 29px;
  height: 30px;
}