@use 'bootstrap-grid';

@use "globe" as *;

@use "00-base/layout";

@use "00-base/fonts";
@use "00-base/fonts-fallback";
@use "00-base/fonts-styles";

@use "00-base/elements";

@use "04-templates/general";
@use "08-print/print";
@use "03-organisms/header-slim";
@use "01-atoms/site-logo";
@use "01-atoms/image";
@use "03-organisms/footer-slim";
@use "01-atoms/svg-icons";
@use "01-atoms/svg-loc-icons";

html {

  @media ($bp-small-max) {
    font-size: 14.5px;
  }

  // .translated-rtl & {
  //   direction: rtl;
  // }
}

body {
  margin: 0;
  font-size: 1.375rem;
  line-height: 1.5;
  color: $c-font-base;
  font-family: "Texta", Helvetica, Arial, sans-serif;
  font-weight: 400;

  // .translated-rtl & {
  //   direction: rtl;
  // }
}

h1 {
  font-size: 3rem;
}

a {
  color: $c-bay-blue;
  font-weight: 600;
  text-decoration: none;
}

legend,
label {
  display: block;
  margin-bottom: 0.25em;
  padding: 0;
  font-weight: 500;
}

.ma__page-header__content {
	padding-top: 0;
  padding-bottom: 2rem;
  padding-bottom: none;
}

.ma__container {

  @include ma-container();
  margin-top: 0px;
}

// header search selectbox override

.ma__header-search {

  .ma__select-box__link {
    height: 42px;
  }
}



.ma__summary-section {
  text-align: center;
  border-top: 2px solid $c-gray-light;
  border-bottom: 2px solid $c-gray-light;
  margin-bottom: 20px;
  padding-top: 20px;
}

.ma__section-intro {
  display: block;
  margin-bottom: 40px;

  .ma__section-intro-text, .ma__section-intro-text p, .ma__decorative-link {
     display: inline;
     vertical-align: baseline
  }
}

.ma__button-wrapper {

  .ma__button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;

    @media ($bp-small-min) {
      margin-right: 10px;
      width: unset;
    }
  }
}

.ma__footnote-item {
  margin-bottom: 0.5em;

  button {
    text-align: left;
  }
}

.ma__tab-container .ma__tab-title {
  border-top: 2px solid $c-gray-light;
}

// Print

@media print {

  .ma__filter-box {
    display: none;
  }
}

.ma__link--icon {
  fill: $c-primary-lighter;
}

.ma__callout-link {
  line-height: 1.3;
  @media ($bp-medium-min) {
      width: 33%;
  }
  @media ($bp-large-min) {
      width: 100%;
  }
  @media ($bp-x-large-min) {
      width: 33%;
  }
  @media ($bp-small-min) {
    padding: 15px 20px;
  }

  a {
    display: contents;
  }

  &__container {
    font-size: 1.3rem !important;
    padding-right: 0 !important;
  }
  
  &__description {
    font-size: 1rem !important;
    @media ($bp-x-large-max) {
        display: none !important;
    }
  }
}