@use "00-base/configure" as *;

<<<<<<< HEAD
=======
$colors: (
  "c-highlight": $c-highlight,
  "c-primary": $c-primary,
  "c-primary-alt": $c-primary-alt,
  "c-black": $c-gray-darkest,
  "c-gray-dark": $c-gray-dark,
  "c-white": $c-white,
);

$quaternary-colors: (
  "c-primary": $c-primary,
  "c-primary-alt": $c-primary-alt,
  "c-black": $c-gray-darkest,
  "c-gray-dark": $c-gray-dark,
  "c-white": $c-white,
);

>>>>>>> develop
.ma__button-icon {
  // These will be overridden by color modifier classes
  --button-color: var(--mf-c-primary-alt);
  --button-color-transparent: var(--mf-c-primary-alt-50);
  --button-border-color: var(--mf-c-gray-light);
  --button-svg-fill: var(--mf-c-gray-dark);

  background-color: var(--mf-c-bg);
  border: 2px solid var(--button-border-color);
  display: inline-flex;
  align-items: center;
  font-weight: $fonts-bold;
  letter-spacing: $letter-spacing-large;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s, border 0.4s, fill 0.4s;
  white-space: nowrap;
  color: var(--button-color);
  min-height: 46px;
  font-size: $fonts-xsmall;

  &--c-primary {
    --button-color: var(--mf-button-icon-primary-base);
    --button-color-transparent: var(--mf-button-icon-primary-transparent);
  }

<<<<<<< HEAD
  &--c-primary-alt {
    --button-color: var(--mf-button-icon-primary-alt-base);
    --button-color-transparent: var(--mf-button-icon-primary-alt-transparent);
  }

  &--c-black {
    --button-color: var(--mf-button-icon-gray-darkest-base);
    --button-color-transparent: var(--mf-button-icon-gray-darkest-transparent);
  }

  &--c-gray-dark {
    --button-color: var(--mf-button-icon-gray-dark-base);
    --button-color-transparent: var(--mf-button-icon-gray-dark-transparent);
  }

  &--c-white {
    --button-color: var(--mf-button-icon-white-base);
    --button-color-transparent: var(--mf-button-icon-white-transparent);
  }

  &--c-highlight {
    --button-color: var(--mf-button-icon-highlight-base);
    --button-color-transparent: var(--mf-button-icon-highlight-transparent);
    --button-border-color: var(--mf-c-highlight);
    color: var(--mf-c-font-base);
=======
      @if $c == $c-highlight {
        border-color: $c;
        color: var(--mf-c-font-base);
      } @else {
        color: $c;
      }
    }
>>>>>>> develop
  }

  &--small {
    font-size: $fonts-smaller;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 0px;
  }

  &--large {
    font-size: $fonts-large;
    line-height: 1.61;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--capitalized {
    text-transform: capitalize;
    letter-spacing: $letter-spacing-small;
    font-size: $fonts-smaller;
  }

  &--expanded {

    & > svg {
      transform: rotate(-180deg);
    }
  }

  span {
    display: inline-block;
    padding-right: 5px;
  }

  & > svg {
    fill: var(--button-svg-fill);
    height: 20px;
    transition: transform 0.5s, fill 0.4s;
  }

  &.ma__icon-small > svg {
    height: 10px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--expanded,
  &:hover {

<<<<<<< HEAD
    @include ma-button("solid", var(--button-color));
=======
    @include ma-button("solid", $c-primary-alt);
>>>>>>> develop
    color: var(--mf-c-font-inverse);

    svg {
      fill: var(--mf-c-white);
    }
<<<<<<< HEAD
=======

    @each $class, $c in $colors {
      &.ma__button-icon--#{$class} {

        @include ma-button("solid", $c);
      }
    }
>>>>>>> develop
  }

  &--secondary,
  &--expanded.ma__button-icon--secondary,
  &:hover.ma__button-icon--secondary {

<<<<<<< HEAD
    @include ma-button("outline", var(--button-color));
=======
    @include ma-button("outline", $c-primary-alt);

    @each $class, $c in $colors {
      &.ma__button-icon--#{$class} {

        @include ma-button("outline", $c);
      }
    }
>>>>>>> develop
  }

  &--tertiary,
  &--expanded.ma__button-icon--tertiary,
  &:hover.ma__button-icon--tertiary {

<<<<<<< HEAD
    @include ma-button("solid", var(--mf-c-gray-light));
=======
    @include ma-button("solid", $c-gray-light);
>>>>>>> develop
    color: var(--mf-c-font-base);

    svg {
      fill: var(--mf-c-gray-darkest);
    }
  }

  &--quaternary,
  &--expanded.ma__button-icon--quaternary,
  &:hover.ma__button-icon--quaternary {
    min-height: 0px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    text-transform: none;
    border-bottom: 2px solid var(--button-color-transparent);
    color: var(--button-color);
    letter-spacing: $letter-spacing-default;

    svg {
      fill: var(--button-color-transparent);
    }

    &:hover,
    &.active {
<<<<<<< HEAD
      border-bottom-color: var(--button-color);
      background-color: transparent !important;
    }
=======
      border-color: var(--mf-c-primary);
      background-color: transparent !important;
    }

    @each $class, $c in $quaternary-colors {
      &.ma__button-icon--#{$class} {
        border-bottom-color: rgba($c, 0.5);
        color: $c;

        svg {
          fill: $c;
        }

        &:hover,
        &.active {
          border-bottom-color: $c;
        }
      }
    }
>>>>>>> develop
  }

  &--expanded.ma__button-icon--quaternary-simple,
  &:hover.ma__button-icon--quaternary-simple:hover {
    background-color: var(--mf-c-gray-light);
  }

  &--quaternary-simple {
    background-color: transparent;
  }

  &--quaternary-simple,
  &--expanded.ma__button-icon--quaternary-simple,
  &:hover.ma__button-icon--quaternary-simple:hover {
    min-height: unset;
    box-shadow: none;
    border: none;
    padding: 5px 5px;
    text-transform: none;
    cursor: pointer;
    color: var(--button-color);

    svg {
      width: 10px;
      height: 10px;
<<<<<<< HEAD
      fill: var(--button-color-transparent);
=======
      fill: rgba($c-primary-alt, 0.5);
    }

    @each $class, $c in $quaternary-colors {
      &.ma__button-icon--#{$class} {
        color: $c;

        svg {
          fill: rgba($c, 0.5);
        }
      }
>>>>>>> develop
    }
  }

  &--alert {
    font-size: $fonts-smaller;
    font-weight: $fonts-bold;
    letter-spacing: $letter-spacing-large;
    line-height: 1;
    padding: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.8em;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 0 0.25rem 0.5rem var(--mf-c-box-shadow-black);
    min-height: unset;
    border: none;
    display: inline-block;
    color: var(--mf-c-font-inverse);
    background-color: var(--button-color);

    &.ma__button-icon > svg {
      fill: var(--mf-c-white-50);
      width: 10px;
    }

    // Special case for highlight color on alert buttons

    &.ma__button-icon--c-highlight {
      color: var(--mf-c-font-base);

      &.ma__button-icon > svg {
        fill: var(--mf-c-gray-darkest-50);
      }
    }
  }
}
