@use "00-base/configure" as *;

$primarycolors: (
  "c-primary-alt": $c-primary-alt,
  "c-highlight": $c-highlight,
  "c-black": $c-gray-darkest,
  "c-gray-dark": $c-gray-dark,
  "c-white": $c-white
);


button {
  cursor: pointer;
  font-family: $fonts;
  font-weight: $fonts-light;
}

.ma__button {

  @include ma-button-base;

  svg {
    margin-left: .5rem;
    flex-shrink: 0;
  }

  @include ma-button-size;

  &--small {

    @include ma-button-size("small");
  }

  &--large {

    @include ma-button-size("large");
  }

  @include ma-button("solid",$c-primary);

  @each $class, $c in $primarycolors {
    &--#{$class} {

      @include ma-button("solid",$c);
    }
  }



}

.ma__button--secondary {

  @include ma-button("outline",$c-primary);

  &.ma__button--c-primary-alt {

    @include ma-button("outline",$c-primary-alt);
  }

  &.ma__button--c-highlight {

    @include ma-button("outline",$c-highlight);
  }

  &.ma__button--c-gray-dark {

    @include ma-button("outline",$c-gray-dark);
  }
}

.ma__button--tertiary {

  @include ma-button("solid",$c-gray-light);
  color: $c-font-base;//$c-black;

  svg {
    fill: $c-gray-darkest;
  }
}

.ma__button--quaternary {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $c-primary-lighter;
  color: $c-primary;
  padding: 0;
  text-transform: none;
  letter-spacing: $letter-spacing-default;

  svg {
    fill: $c-primary;
  }

  &:hover:not(:disabled) {
   border-bottom: 3px solid $c-primary;
   background-color: transparent;
  }
}

.ma__button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
