@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__button-tag {

  @include ma-button-reset;
  font-size: $fonts-small;
  display: inline-block;
  line-height: 1em;
  margin-right: .25em;
  padding: 8px 11px;
  white-space: nowrap;
  background-color: color-mix(in srgb, var(--c-font-link) 90%, transparent 10%);
  color: var(--mf-c-font-link);
  font-weight: $fonts-bold;

  &__icon {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.125rem;
    margin-left: .15em;
    margin-top: -1px;
    transform: rotate(135deg);
    vertical-align: middle;
    color: var(--mf-c-font-link);
    // stop event bubbling from the span inside the button
    pointer-events: none;
  }
}
