@use "00-base/configure" as *;

.ma__button-toggle {

  @include ma-button-reset;
  font-size: $fonts-small;
  line-height: 1.2;
  padding: 0;
  margin: 0 4px;
  position: relative;
  white-space: nowrap;
}

//theme

.ma__button-toggle {
  color: var(--mf-c-font-link);

  &--selected {
    color: var(--mf-c-font-base);
    font-weight: $fonts-bold;
    pointer-events: none;
  }
}
