@use "00-base/configure" as *;

.ma__category-icon {
  @include ma-valign-block;
  display: inline-block;
  font-size: 0;
  position: relative;
  text-align: center;
  z-index: 2;

  height: 57px;
  margin: 0 0 14px; // height of the after angled element
  padding: 12px;
  padding-bottom: 0;
  width: 60px;

  svg {
    display: inline-block;
    vertical-align: middle;
  }


  &:after {
    content: "";
    display: block;
    height: 0;
    padding-top: 22%; // twice the degree since it skews in the middle
    position: absolute;
    left: 0;
    top: 100%;
    transform: skew(0, -11deg) translateY(-50%);
    width: 100%;
    z-index: -1;
  }
}
//theme

.ma__category-icon {
  background-color: var(--mf-c-primary-alt);
  color: var(--mf-c-white);

  &:after {
    background-color: var(--mf-c-primary-alt);
  }
}
