@use "00-base/configure" as *;

.ma__decorative-link {

  @include ma-link-decorative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  a:hover {
    border-bottom-color: var(--mf-c-link);
  }

  a:focus {
    // important needed to overwrite the focus border color
    border-bottom-color: var(--mf-c-link) !important;
  }

  svg {
    fill: var(--mf-c-font-link);
  }

  &--inverse {

    a {
      color: var(--mf-c-font-inverse);
    }

    a:hover {
      border-bottom-color: color-mix(in srgb, var(--mf-c-font-inverse) 50%, transparent 50%);
    }

    a:focus {
      // important needed to overwrite the focus border color
      border-bottom-color: color-mix(in srgb, var(--mf-c-font-inverse) 50%, transparent 50%) !important;
    }

    svg {
      fill: color-mix(in srgb, var(--mf-c-font-inverse) 50%, transparent 50%);
    }
  }

  &.button-link {
    outline: 1px solid color-mix(in srgb, var(--mf-c-font-link) 50%, transparent 50%);
    display: inline-block;
    width: auto;
    padding: .5rem 1.8rem .5rem .8rem;
    background-color: var(--mf-c-bg);

    &:hover,
    &:focus {
      outline: 1px solid color-mix(in srgb, var(--mf-c-font-link) 100%, transparent 0%);

      a {
        border-bottom-color: transparent;

        svg {
          fill: color-mix(in srgb, var(--mf-c-font-link) 100%, transparent 0%);
        }
      }
    }
  }

  &__details {
    font-weight: $fonts-light;
  }

  a {

    .ma__download-link--icon {
      display: inline-flex;
      align-self: center;
      top: .3em;
      position: relative;

      svg {
        margin-right: 0;
        width: 29px;
        height: 30px;
      }
    }
  }

}
