@use "00-base/configure" as *;

.ma__email {

  &__email {
    font-weight: $fonts-bold;
    color: $c-font-detail;
    text-decoration: none;
  }

  &__details {
    font-style: italic;
    font-size: $fonts-xsmall;
    line-height: 1.3;
    margin-bottom: .35em;
    margin-top: -.25em;
  }
}