@use "00-base/configure" as *;

.ma__event-time {

  &__calendar {
    font-weight: $fonts-bold;
    line-height: 1.3;
  }

  .ma__contact__details {
    font-style: italic;
    font-size: small;
    margin: .2rem 0 0 0;
  }
}
