@use "00-base/configure" as *;

.ma__figure {

  margin: 0 0 20px 0;

  .main-content--full .page-content > & {

    @include ma-container;
  }

  @media ($bp-small-min) {
    margin: 0 30px 30px 30px;

    // support pre-existing figure elements besides dataviz.

    &--left:not(.ma__dataviz),
    &--align-left,
    &.align-left {
      float: left;
      margin-left: 0;
      width: 50%;
    }

    &--right:not(.ma__dataviz),
    &--align-right,
    &.align-right {
      float: right;
      margin-right: 0;
      width: 50%;
    }
  }

  &--full {
    transition: width 0.2s;
    margin-right: 0;
    margin-left: 0;
  }

  img {
    width: 100%;
  }

  &__title {

    @include ma-h2;
  }

  &__caption {
    font-size: $fonts-smaller;
    font-style: italic;
    line-height: 1.57;
  }

  // Size - Extra large
  // Always 100% of the paretnt container width
  // No side margins
  &--x-large {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  // Size - Small

  @media ($bp-small-min) {// 621~

    .no-sidebar &--small {
      width: calc(50% - 15px);
    }
  }

  @media ($bp-medium-min) {// 781~

    .no-sidebar &--small {
      width: calc(33.33% - 20px);
      width: calc(100% / 3 - 20px);
    }
  }

  // with right column
  .page-content:not(.no-sidebar) &--small {

    @media (max-width: 1024px) {

      float: none;
      margin-right: 0;
      margin-left: 0;
    }

    @media (min-width: 1025px) {

      width: calc(50% - 15px);
    }
  }

  // Size - Medium

  &--medium {

    @media ($bp-small-min) {// 621~
      width: calc(50% - 15px);
    }
  }

  // with right column
  .page-content:not(.no-sidebar) &--medium {

    @media (max-width: 1024px) {

      width: 100%;
      margin-right: 0 !important;
      margin-left: 0 !important;
      float: none;
    }

    @media (min-width: 1025px) {

      width: calc(50% - 15px);
    }
  }

  // Size - Large

  &--large {
    width: 100%;
  }

  .no-sidebar &--large {

    @media ($bp-large-max) {
      margin-right: 0;
      margin-left: 0;
      float: none;
    }

    @media ($bp-large-min) {
      width: 66.66%;
      width: calc(100% / 3 * 2);
    }
  }

  .page-content:not(.no-sidebar) &--large {// with right column
    // Always 100% of the paretnt container width
    // No side margins
    margin-right: 0;
    margin-left: 0;
    float: none;
  }

  // Alignment

  &--left {
    float: left;
    margin-left: 0;
  }

  &--right {
    float: right;
    margin-right: 0;
  }

  @media ($bp-small-max) {

    &--left,
    &--right {
      float: none;
      margin-right: 0;
      margin-left: 0;
    }
  }

  // No wrapping

  &--no-wrap.ma__figure {
    float: none;
    margin-right: 0;
    margin-left: 0;
  }

  &--no-wrap.ma__figure--right {
    width: 100%;

    @media ($bp-small-min) {

        padding-left: 50%;
    }
  }

  // NO WRAP - Small

  .no-sidebar &--no-wrap.ma__figure--right.ma__figure--small {

    @media ($bp-small-min) {// 621~

      padding-left: 66.66%;
      padding-left: calc(100% / 3 * 2);
    }
  }

  // NO WRAP - Medium

  .no-sidebar &--no-wrap.ma__figure--right.ma__figure--medium {

    @media ($bp-small-min) {// 621~

      padding-left: 50%;
    }
  }

  // NO WRAP - Large

  .no-sidebar &--no-wrap.ma__figure--right.ma__figure--large {

    @media ($bp-large-min) {

      padding-left: 66.66%;
      padding-left: calc(100% / 3 * 2);
    }
  }

  // caption

  &__caption {

    color: $c-font-detail;
    font-weight: bold;
    font-style: normal;
    border-bottom: 1px solid $c-black;
    padding: 10px 0;

    @media ($bp-small-min) {
      padding: 15px 0;
    }
  }

  .ma__rich-text &__caption {

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    blockquote,
    article,
    .ma__table--responsive {
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 0;

      @media ($bp-small-min) {
        margin-bottom: 15px;
      }
    }
  }

  .ma__rich-text &__caption > :last-child {
    margin-bottom: 0;
  }
}

// MARGIN ADJUSTMENT with side by side layout

.no-sidebar { // 1 col layout, no right column

  @media ($bp-small-min) and ($bp-medium-max) {

    // Small size - 50% width for 621 - 780

    // left align
    .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left,// 3rd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left,// 5th item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left // 7th item
    {
      margin-right: 30px;
    }
    // right align
    .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right,// 3rd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right,// 5th item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right //7th item
    {
      margin-left: 30px;
    }
    // right side items
    .ma__figure--small + .ma__figure--small,// 2nd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small,// 4th item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small // 6th item
     {
      margin: 0 0 30px 0;
    }
  }

  @media ($bp-medium-min) {

    // Small size - 33% width for 780 <

    // left align
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left,// 4th + 5th itmes
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left // 7th + 8th items
    {
      margin-right: 30px;
    }
    // right align
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right,// 4th + 5th itmes
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right // 7th + 8th items
     {
      margin-left: 30px;
    }
    // right side items
    .ma__figure--small + .ma__figure--small + .ma__figure--small,// 3rd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small // 6th item
    {
      margin: 0 0 30px 0;
    }
  }
}



@media ($bp-small-min) {

  // Medium size - 50% width for 620 <
  // Apply to layout with/without a right column.

  // left align
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium.ma__figure--left,// 3rd item
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium.ma__figure--left,// 5th item
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium.ma__figure--left // 7th item
  {
    margin-right: 30px;
  }
  // right align
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium.ma__figure--right,// 3rd item
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium.ma__figure--right,// 5th item
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium.ma__figure--right // 7th item
  {
    margin-left: 30px;
  }
  // right side items
  .ma__figure--medium + .ma__figure--medium,// 2nd item
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium,// 4th item
  .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium + .ma__figure--medium // 6th item
  {
    margin: 0 0 30px 0;
  }
}

.page-content:not(.no-sidebar) {// with right column

  @media (min-width: 1025px) {

    // Small size - 50% width for 1024 px <

    // left align
    .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left,// 3rd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left,// 5th item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--left // 7th item
    {
      margin-right: 30px;
    }
    // right align
    .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right,// 3rd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right,// 5th itme
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small.ma__figure--right // 7th item
    {
      margin-left: 30px;
    }
    // right side items
    .ma__figure--small + .ma__figure--small,// 2nd item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small,// 4th item
    .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small + .ma__figure--small // 6th item
    {
      margin: 0 0 30px 0;
    }
  }
}

//theme

.ma__figure {

  &__caption {
    font-weight: $fonts-lighter;
  }
}
