@use "00-base/configure" as *;

.ma__fixed-feedback-button {
  bottom: 0;
  height: 300px;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 40px;
  // The highest posible value.
  z-index: $z-feedback-button;

  a {
    background-color: $c-white;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-radius: 5px 5px 0 0;
    border-color: rgba($c-primary-alt, 0.5);
    color: $c-primary-alt;
    display: block;
    font-size: $fonts-large;
    font-weight: $fonts-normal;
    left: -40px;
    letter-spacing: 0.15rem;
    padding: 0 10px;
    position: absolute;
    pointer-events: auto;
    top: 115px;
    transform: rotate(270deg);
    z-index: $z-sticky-content;
    text-decoration: none;
  }

  &.hide-button {
    display: none;
  }
} 

