@use "00-base/configure" as *;

.ma__fixed-feedback-button {
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-radius: 5px 5px 0 0;
  border-color: rgba($c-primary-alt, 0.5);
  background-color: $c-white;
  display: inline-block;
  padding: 0 10px;
  margin-top: 0 !important;
  position: fixed;
    right: 32px; // the height of the button before rotation
    bottom: 15rem;
  transform-origin: top right;
  transform: rotate(-90deg);
  pointer-events: none;
 
  
  // The highest posible value.
  z-index: $z-feedback-button;

  a {
    color: $c-primary-alt;
    font-size: $fonts-large;
    font-weight: $fonts-normal;
    text-decoration: none;
    letter-spacing: 0.15rem;
    pointer-events: auto;
  }

  &.hide-button {
    display: none;
  }
} 

