@use "00-base/configure" as *;

.ma__footnote-link {

  @include ma-button-reset;

  transition: all 0.4s ease;
  display: inline-flex;
  color: var(--mf-c-font-link);
  font-size: $fonts-medium;
  font-weight: $fonts-bold;
  line-height: 1; 
}