@use "00-base/configure" as *;

input,
optgroup,
select,
textarea {
  font-family: $fonts;
  font-weight: $fonts-light;
  font-size: $fonts-large;
}

input[type=file] {
  border: none;
  min-height: 0;
  padding: 0;
}

legend,
label {
  display: block;
  margin-bottom: .25em;
  padding: 0;
  font-weight: $fonts-normal;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

optgroup,
select {
  font-weight: $fonts-light;
  font-size: $fonts-large;
  max-width: 100%;
}

// override if an input label combo is added directly to the page-content area
// This is mainly for Pattern Lab
.main-content .page-content > label:not(.ma__label--hidden) {
  & + textarea,
  & + .ma__textarea__wrapper,
  & + .ma__input-number,
  & + input {
    margin-top: 0;
  }

  & + .ma__error-msg {
    margin-top: 0;

    & + textarea,
    & + .ma__textarea__wrapper,
    & + .ma__input-number,
    & + input {
      margin-top: 0;
    }
  }
}

// Chrome/Opera/Safari.
::-webkit-input-placeholder {
  color: inherit;
  font-style: italic;
  opacity: 1;
}

// Firefox 19+.
::-moz-placeholder {
  color: inherit;
  font-style: italic;
  opacity: 1;
}

// IE 10+.
:-ms-input-placeholder {
  color: inherit;
  font-style: italic;
  opacity: 1;
}

// Firefox 18-.
:-moz-placeholder {
  color: inherit;
  font-style: italic;
  opacity: 1;
}
