@use "00-base/configure" as *;
@use "sass:map";

$iframe-ratios: (
  "2-to-3": 150%, /* 2:3 Aspect Ratio */
  "3-to-4": 133.33%, /* 3:4 Aspect Ratio */
  "1-to-1": 100%, /* 1:1 Aspect Ratio - square */
  "4-to-3": 75%, /* 4:3 Aspect Ratio - landscape */
  "3-to-2": 66.66%, /* 3:2 Aspect Ratio - landscape */
  "16-to-9": 56.25% /* 16:9 Aspect Ratio - landscape */
);

.ma__iframe {

  @include clearfix;

  &__container {
    font-size: 0;
    padding: 13px;
  }

  &--responsive {

    .ma__iframe__container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

      @debug map.get($iframe-ratios, "1-to-1"); // 100%

      @each $option, $ratio in $iframe-ratios {
        &--#{option} {
          padding-top: $ratio;
        }
      }

      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media ($bp-small-min) {

    &--right &__container {
      float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  .main-content--full .page-content > & {

    @include ma-container('restricted');
  }

  &__link {
    margin-top: 12px;
  }

  iframe {
    width: 100%;
    border: none;
  }
}

// Full page display 

.ma__figure--full.ma__iframe__container,
.ma__figure--full .ma__iframe__container {
  padding-right: 0;
  padding-left: 0;
}

//theme

.ma__iframe {

// Comment out for DP-8190
//  &__container {
//    background-color: rgba($c-primary,.1);
//  }

  &__link {
    font-size: $fonts-small;
  }
}
