@use "00-base/configure" as *;

.ma__input {
  background-color: var(--mf-c-bg);
  border: 2px solid var(--mf-c-bd-input);
  color: var(--mf-c-font-base);
  font-size: $fonts-large;
  font-weight: $fonts-light;
  max-width: 100%;
  padding: 0 18px;

  &:not([type="checkbox"]):not([type="radio"]) {
    min-height: 40px;
  }

  &:focus {
    outline: 2px solid var(--mf-c-focus);
    outline-offset: 2px;
    border-color: var(--mf-c-bd-input); // Keep original border color
  }

  &.has-error {
    border-color: var(--mf-c-bd-error);

    &:not(:focus) {
      background-position: center right 10px;
      background-repeat: no-repeat;
      padding-right: 40px;
    }

    // High contrast mode error visibility

    @media (forced-colors: active) {
      border-color: Mark;
    }
  }
}