@use "00-base/configure" as *;

.ma__input-number {
  display: inline-block;
  position: relative;

  input {

    @include input-base;
    padding-right: 58px;

    // Show native number input controls in high contrast mode

    @media (forced-colors: active) {
      padding-right: 0;          // Remove space for custom buttons
      -webkit-appearance: auto;   // Show native spinner controls
      appearance: auto;
    }
  }

  &__plus,
  &__minus {

    @include ma-button-reset;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    display: block;
    height: 50%;
    padding: 0;
    position: absolute;
    right: 0;
    width: 40px;

    // Hide custom controls in high contrast mode

    @media (forced-colors: active) {
      display: none;
    }

    &:focus {
      border-bottom-style: dotted;
      border-bottom-width: 1px;

      // Use outline instead of border for focus in high contrast

      @media (forced-colors: active) {
        outline: 2px solid Highlight;
        outline-offset: 2px;
        border-bottom: none;
      }
    }

    &:after {
      border-style: solid;
      border-width: 5px;
      border-top: none;
      border-bottom-width: 6px;
      content: "";
      display: block;
      height: 0;
      margin: 0 auto;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      vertical-align: bottom;
      width: 0;

      // Hide triangle in high contrast mode

      @media (forced-colors: active) {
        display: none;
      }
    }

    &:focus:after {
      bottom: 1px;
    }
  }

  &__plus {
    bottom: 50%;
  }

  &__minus {
    top: 50%;
    transform: rotate(180deg);
  }
}

//theme

.ma__input-number {

  &__plus,
  &__minus {
    border-color: var(--mf-c-bd-input);

    &:after {
      border-color: var(--mf-c-gray-darkest);
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  input.has-error ~ &__plus,
  input.has-error ~ &__minus {
    border-color: var(--mf-c-bd-error);
  }
}
