@use "00-base/configure" as *;

.ma__phone-number {

  &__number {
    font-weight: $fonts-bold;
    color: $c-font-link;
    text-decoration: none;
  }

  .ma__contact__details {
    font-style: italic;
    font-size: small;
    margin: .2rem 0 0;
  }  
}