@use "00-base/configure" as *;

.ma__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:400px;
  padding: 20px;
  color:#bbb;
  border:4px dashed #ddd;
  font-size: $fonts-xlarge;

  @media ($bp-small-min) {
    font-size: $fonts-3xlarge;
  }
}
