@use "00-base/configure" as *;

.ma__site-logo {

  a {
    display: flex;
    gap: 0.4rem;
    font-size: 0px;
    align-items: center;
    text-decoration: none;

    span {
      font-size: $fonts-3xlarge;
      display: inline-block;
      line-height: 1;
      letter-spacing: $letter-spacing-small;
      text-wrap: balance;
    }
  }
}

//theme

.ma__site-logo {

  a {

    span {
      font-weight: $fonts-light;
      color: $c-primary-alt;

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $c-primary-alt;

      @media ($bp-small-max) {
        -webkit-text-stroke-width: 0.03rem;
      }
    }
  }
}
