@use "00-base/configure" as *;

.ma__table--responsive {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;

  // TODO: ADJUST THIS WITH PROPER CLASS.
  // &.has-horizontal-scroll {
  //   // to accommodate the sticky nav bar
  //   padding-bottom: 50px;
  .ma__table__caption__scroll-info {
    display: none;
    font-size: $fonts-medium;
    font-weight: $fonts-normal;

    &.show {
      display: inline-block;
    }
  }

  #sr-instructions {
    // Ensure the content is announced via aria-labelledby only.
    display: none;
  }
}

.ma__table--responsive__wrapper {

  overflow-x: auto;

}

.ma__table--responsive .sticky-thead {
    background: $c-white;
    border-collapse: collapse;
    box-shadow: 0 0 0 2px $c-gray-light;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.04s ease-in-out;
    // Prevent table from stretching to full size.
    width: auto;
    z-index: 50;

    &:before {
        background: $c-white;
        content: '';
        height: 100vh;
        left: 0;
        position: absolute;
        right: 0;
        top: -100vh;
        z-index: -1;
    }

    // .sticky-thead-wrapper {
    //   overflow-x: auto;
    //   -ms-overflow-style: none;  // IE 10+
    //   overflow: -moz-scrollbars-none;  // Firefox

    //   &::-webkit-scrollbar {
    //     display: none;  // Safari and Chrome
    //   }
    // }

    table {
      margin-bottom: 0;
    }
}

.ma__table--responsive.has-top-visible .sticky-thead {
    // Force stretch.
    width: 100%;
    z-index: 50;
}

.ma__table--responsive td,
.ma__table--responsive th {
    box-sizing: border-box;
    font-size: $fonts-smaller;
    padding: 0.5rem;
}

.ma__table--responsive thead {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-shadow: 0 0 0 2px $c-gray-light;
}

// .stickNav {

//   .ma__table__horizontal-nav {
//     position: fixed;
//     bottom: 0;
//   }
// }
