@use "00-base/configure" as *;

.ma__textarea {

  &__wrapper {
    position: relative;
    
    textarea {
      width: 100%;
      resize: none;
      overflow: hidden;
    }

    div[aria-hidden] {
      display: block;
      line-height: 23.562px;
      line-height: 1.625rem;
      position: absolute;
      bottom: 8px;
      right: 5px;
      top: auto;
      font-size: 14.5px;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
