@use "00-base/configure" as *;

.ma__textarea {

  &__wrapper {
    position: relative;

    &:after {
      content: attr(data-char-left);
      display: block;
      font-size: $fonts-xsmall;
      line-height: 1.625rem;
      position: absolute;
        right: 0;
        top: 100%;
    }

    textarea {
      width: 100%;
    }
  }
}

//theme

.ma__textarea {

  &__wrapper {
    font-weight: $fonts-normal;
  }
}

