// Override :last-child bottom margin.

@use "00-base/global" as *;

.ma__horizontal-list:nth-child(n) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: $fonts-bold;
    line-height: 1.2;

    li:nth-child(n) {
        display: block;
        list-style: none;
        
        // These values should be the same for all list items.
        // If these styles change to allow the items to have different
        // widths, preventHorizontalListWidows.js will need to be adjusted
        // to account for it.
        margin: 15px;
        padding: 0;
        flex: 0 0 170px;

        &.expand-left {
            margin-left: 115px;
        }

        &.expand-right {
            margin-right: 115px;
        }
    }
}

