html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* One-off breakpoints (consider consolidation)*/
/* Mayflower Color Tokens */
.ma__helper-text {
  font-size: 1rem;
  line-height: 1.438rem;
  margin-top: 10px; }

.ma__helper-text {
  font-style: italic;
  font-weight: normal; }
