// Texta styles.
// See @mixin ma-texta-style in 00-base/mixins/_ma-typography.scss

$styles: (
  "lighter": $fonts-lighter,
  "light": $fonts-light,
  "normal": $fonts-normal,
  "bold": $fonts-bold,
  "bolder": $fonts-bolder
);


// Font weight classes

.ma-fonts {

  @each $class, $s in $styles {
    &-#{$class} {
      font-weight: $s;

      &--italic {
        font-weight: $s;
        font-style: italic;
      }
    }
  }
}
