
version: 2

references:
  configure_npm: &configure_npm
    run: { name: 'Configure NPM', command: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc'}
  configure_git: &configure_git
    run: {name: 'Prepare Git', command: 'git config --global user.email "ci.bot@mass.gov" && git config --global user.name "MassGov Bot"'}
  no_host_check: &no_host_check
    run: {name: 'Disable StrictHostKeyChecking', command: 'mkdir -p $HOME/.ssh && echo "StrictHostKeyChecking no" >> ~/.ssh/config'}

react_defaults: &react_defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15.1

patternlab_defaults: &patternlab_defaults
  working_directory: /var/www/code
  docker:
    - image: massgov/drupal-container:1.0.8-ci

backstop_defaults: &backstop_defaults
  working_directory: /home/circleci
  docker:
    - image: circleci/python:2.7.14

jobs:
  build:
    <<: *patternlab_defaults
    steps:
      - checkout
      - restore_cache:
          name: Restore yarn.lock
          keys:
            - root-npm-v3-{{ checksum "yarn.lock" }}
            - root-npm-v3-
      - run: {name: 'Install packages', command: 'npm i -g yarn && yarn'}
      - save_cache:
          name: Save NPM cache
          key: root-npm-v3-{{ checksum "yarn.lock" }}
          paths: [ node_modules ]
      - persist_to_workspace:
          root: /var/www/code
          paths: ["*"]

  patternlab_build:
    <<: *patternlab_defaults
    steps:
      - checkout
      - restore_cache:
          name: Restore NPM Cache
          keys:
            - pl-npm-v3-{{ checksum "patternlab/styleguide/package-lock.json" }}
            - pl-npm-v3-
      - run: { name: 'NPM Install', command: 'cd patternlab/styleguide && npm install' }
      - save_cache:
          name: Save NPM cache
          key: pl-npm-v3-{{ checksum "patternlab/styleguide/package-lock.json" }}
          paths: [ patternlab/styleguide/node_modules ]
      - run: { name: 'Build', command: 'cd patternlab/styleguide && node_modules/.bin/gulp patternlab:build'}
      - persist_to_workspace:
          root: /var/www/code
          paths: ["*"]

  patternlab_test:
    <<: *backstop_defaults
    steps:
      - attach_workspace: {at: /home/circleci}
      - setup_remote_docker
      - run: |
          cd patternlab
          docker-compose up --no-start web backstop
          docker cp ./ $(docker-compose ps -q backstop):/src/
          docker cp ./styleguide/public/. $(docker-compose ps -q web):/usr/share/nginx/html
      - run: |
          cd patternlab
          docker-compose run backstop test
      - run:
          command: cd patternlab && docker cp $(docker-compose ps -q backstop):/src/backstopjs/. ./backstopjs/
          when: always
      - store_artifacts:
          path: patternlab/backstopjs
          destination: backstop
      - store_test_results:
          path: patternlab/backstopjs/reports/ci

  patternlab_deploy_branch:
    <<: *patternlab_defaults
    steps:
      - attach_workspace: {at: /var/www/code}
      - *no_host_check
      - add_ssh_keys
      - *configure_git
      - run:
          name: 'Deploy Artifact Branch'
          command: |
            # This snippet pushes the dist directory to the artifact repo by faking a checkout
            # of the artifact repository, creating or reusing an existing branch, committing the
            # work, then pushing to github.
            # See https://github.com/LastCallMedia/Artifact.sh/blob/master/artifact.sh
            cd patternlab/styleguide/dist
            git clone --bare git@github.com:massgov/mayflower-artifacts.git .git
            git config core.bare false
            git rev-parse --verify -q "$CIRCLE_BRANCH" || git branch "$CIRCLE_BRANCH" $(git show-ref -s master)
            git symbolic-ref HEAD "refs/heads/$CIRCLE_BRANCH"
            git add .
            if git diff-index --quiet HEAD; then
              echo "Nothing to commit"
            else
              git commit -m "Automated commit based on $CIRCLE_SHA1"
              git push origin "$CIRCLE_BRANCH"
            fi
      - run:
          name: 'Deploy S3 Branch'
          command: aws s3 sync patternlab/styleguide/public "s3://mayflower.digital.mass.gov/patternlab/b/$CIRCLE_BRANCH"

  patternlab_deploy_tag:
    <<: *patternlab_defaults
    steps:
      - attach_workspace: {at: /var/www/code}
      - *no_host_check
      - add_ssh_keys
      - *configure_git
      - *configure_npm
      - run:
          name: 'Deploy Artifact Tag'
          command: |
            # This snippet pushes the dist directory to the artifact repo by faking a checkout
            # of the artifact repository, creating a new commit and tag, then pushing.
            # See https://github.com/LastCallMedia/Artifact.sh/blob/master/artifact.sh
            cd patternlab/styleguide/dist
            git clone --bare git@github.com:massgov/mayflower-artifacts.git .git
            git config core.bare false
            git symbolic-ref HEAD "refs/heads/master"
            git add .
            if git diff-index --quiet HEAD; then
              echo "Nothing to commit"
            else
              git commit -m "Automated commit based on $CIRCLE_SHA1"
            fi
            git rev-parse --verify -q "$CIRCLE_TAG" || git tag "$CIRCLE_TAG"
            git push origin "$CIRCLE_TAG"
      - run:
          name: 'Deploy NPM Tag'
          command: |
            cd patternlab/styleguide/dist
            npm version --no-git-tag-version "$CIRCLE_TAG"
            if test -z "$(npm show @massds/mayflower@$CIRCLE_TAG)"; then
              npm publish
            else
              echo "Skipping NPM publish - $CIRCLE_TAG already exists"
            fi
      - run:
          name: 'Deploy S3 Tag'
          command: |
            aws s3 sync patternlab/styleguide/public "s3://mayflower.digital.mass.gov/patternlab/v/$CIRCLE_TAG"
            if [[ "$CIRCLE_TAG" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              # Use cp instead of sync for root copy.  sync lists all keys and is too slow.
              aws s3 cp --recursive patternlab/styleguide/public/ "s3://mayflower.digital.mass.gov/patternlab"
            fi

  react_build_storybook:
    <<: *react_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - mfr-dependencies-{{ checksum "react/package.json" }}
      - run: cd react && npm install
      - save_cache:
          paths:
            - react/node_modules
          key: mfr-dependencies-{{ checksum "react/package.json" }}
      - run:
          name: Mayflower React Build
          command: cd react && npm run build
      - run:
          name: Mayflower React Linter
          command: cd react && npm run lint
      - run:
          name: Mayflower React Build Storybook
          command: cd react && npm run build-storybook
      - persist_to_workspace:
          root: ~/repo
          paths: ["*"]

  react_test:
    <<: *backstop_defaults
    steps:
      - attach_workspace: {at: /home/circleci}
      - setup_remote_docker
      - run: |
          cd react
          docker-compose up --no-start web backstop
          docker cp ./ $(docker-compose ps -q backstop):/src/
          docker cp ../assets $(docker-compose ps -q backstop):/src/assets
          docker cp ./storybook-static/. $(docker-compose ps -q web):/usr/share/nginx/html
      - run: |
          cd react
          docker-compose run backstop test
      - run:
          command: cd react && docker cp $(docker-compose ps -q backstop):/src/backstop/. ./backstop/
          when: always
      - store_artifacts:
          path: react/backstop
          destination: backstop
      - store_test_results:
          path: react/backstop/data/ci_report

  react_deploy_tag:
    <<: *react_defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - *configure_npm
      - run:
          name: 'Publish mayflower-react NPM package'
          command: |
            cd react
            npm version --no-git-tag-version "$CIRCLE_TAG"
            if test -z "$(npm show @massds/mayflower-react@$CIRCLE_TAG)"; then
              npm publish
            else
              echo "Skipping NPM publish - $CIRCLE_TAG already exists"
            fi
      - run: |
          # Only sync to S3 for stable tags.
          if [[ "$CIRCLE_TAG" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            sudo apt-get update && sudo apt-get -y -qq install awscli
          fi
      - run: |
          # Only sync to S3 for stable tags.
          if [[ "$CIRCLE_TAG" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            cd react
            aws s3 sync storybook-static s3://mayflower.digital.mass.gov/react --delete
            aws configure set preview.cloudfront true
            aws cloudfront create-invalidation --distribution-id $AWS_DISTRIBUTION_ID --paths '/react*'
          fi

  auto_changelog:
    <<: *react_defaults
    steps:
      - checkout
      - *no_host_check
      - add_ssh_keys:
          fingerprints:
            - a7:d5:55:42:fe:37:52:b6:71:7c:a6:d8:05:78:fd:25
      - *configure_git
      - run:
          name: 'Auto add changelog for dependabot'
          command: ./.circleci/dependabot.sh

  release_branch:
    <<: *patternlab_defaults
    steps:
      - checkout
      - *no_host_check
      - run: { name: 'NPM Install', command: 'npm install' }
      # Identify the committer i.e. CircleCI deployment bot
      - run: git config --global user.email "circleci@example.com"
      - run: git config --global user.name "CircleCI Deployment Bot"
      - run: node scripts/release-branch.js

  github_tag:
    <<: *patternlab_defaults
    steps:
      - checkout
      - *no_host_check
      - run: { name: 'NPM Install', command: 'npm install' }
      # Identify the committer i.e. CircleCI deployment bot
      - run: git config --global user.email "circleci@example.com"
      - run: git config --global user.name "CircleCI Deployment Bot"
      - run: node scripts/release-tag.js


  assets_test:
    <<: *react_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - mfr-dependencies-{{ checksum "assets/package.json" }}
      - run: cd assets && npm install
      - save_cache:
          paths:
            - assets/node_modules
          key: mfr-dependencies-{{ checksum "assets/package.json" }}
      - run:
          name: Mayflower Style Linter
          command: cd assets && npm run stylelint
      - run:
          name: Validate Package Build
          command: cd assets && npm run build

  assets_deploy_tag:
    <<: *react_defaults
    steps:
      - checkout
      - *configure_npm
      - run: cd assets && npm i
      - run: cd assets && npm run build
      - run:
          name: 'Publish mayflower-tokens NPM package'
          command: |
            cd assets
            npm version --no-git-tag-version "$CIRCLE_TAG"
            if test -z "$(npm show @massds/mayflower-tokens@$CIRCLE_TAG)"; then
              npm publish
            else
              echo "Skipping NPM publish - $CIRCLE_TAG already exists"
            fi

  site_test:
    <<: *react_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - mfr-dependencies-{{ checksum "assets/package.json" }}
      - run: cd site && npm install
      - save_cache:
          paths:
            - site/node_modules
          key: mfr-dependencies-{{ checksum "assets/package.json" }}
      - run:
          name: Validate Package Build
          command: cd site && npm run build
          
  site_deploy_tag:
    <<: *react_defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run: |
          # Only sync to S3 for stable tags.
          if [[ "$CIRCLE_TAG" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            sudo apt-get update && sudo apt-get -y -qq install awscli
          fi
      - run: |
          # Only sync to S3 for stable tags.
          if [[ "$CIRCLE_TAG" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            cd react
            aws s3 sync public s3://mayflower.digital.mass.gov --delete
            aws configure set preview.cloudfront true
            aws cloudfront create-invalidation --distribution-id $AWS_DISTRIBUTION_ID --paths '/*'
          fi

workflows:
  version: 2

  # Executed on branch pushes.
  build_branch:
    jobs:
      - auto_changelog:
          filters:
            branches: { only: /dependabot\/.*/ }
      - assets_test:
          filters:
            branches: { ignore: /docs\-.*/ }
      - patternlab_build:
          filters:
            branches: { ignore: /docs\-.*/ }
      - patternlab_deploy_branch:
          requires: [patternlab_build]
          filters:
            branches: { ignore: /(docs\-|react\/).*/ }
      - patternlab_test: {requires: [patternlab_build]}
      - react_build_storybook:
          filters:
            branches: { ignore: /docs\-.*/ }
      - react_test: {requires: [react_build_storybook]}

  # Release branch automation every Tuesday at 1 p.m. ET
  release:
    jobs:
      - build
      - release_branch:
          requires: [build]
    triggers:
      - schedule:
          cron: "00 18 * * 1"
          filters:
            branches:
              only:
                - develop

  build_github_tag:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - hold:
          type: approval
          requires:
            - build
          filters:
            branches:
             only: master
      - github_tag:
          requires:
            - hold
          filters:
            branches:
              only: master

  # Executed on tag pushes.
  build_tag:
    jobs:
      - patternlab_build:
          filters:
            branches: { ignore: /.*/ }
            tags: { only: /.*/ }
      - patternlab_deploy_tag:
          requires: [patternlab_build]
          filters:
            branches: { ignore: /.*/ }
            tags: { only: /.*/ }
      - react_build_storybook:
          filters:
            branches: { ignore: /.*/ }
            tags: { only: /.*/ }
      - react_deploy_tag:
          requires: [react_build_storybook]
          filters:
            branches: { ignore: /.*/ }
            tags: { only: /.*/ }
      - assets_deploy_tag:
          filters:
            branches: { ignore: /.*/ }
            tags: { only: /.*/ }
