@use "00-base/configure" as *;

.ma__brand-banner {

    width: 100%;
    background-color: $c-primary-lightest;
    font-size: 16px;//$fonts-xsmall;
    font-weight: 400;

    @include background-colors(
        $lightTheme: (
            "c-primary": $c-primary-lightest,
            "c-primary-alt": $c-primary-alt-lightest,
            "c-highlight": $c-highlight-lightest,
            "c-gray": $c-platinum-gray,
            "c-white": $c-white
        ),
        $darkTheme: (
            "c-primary": $c-primary,
            "c-primary-alt": $c-primary-alt,
            "c-highlight": $c-highlight,
            "c-gray": $c-black,
            "c-black": $c-black
        )
    );

    &-container {

        @include ma-button-reset;

        @include ma-container;
        display: flex;
        width: 100%;
        padding-top: 8px;//5px;
        padding-bottom: 8px;//5px;
        text-align: left;

        @media ($bp-x-small-min) {
          align-items: center;
        }
    }

    &-logo {
        height: 25px;//20px;
        width: 25px;//20px;
        margin-right: 10px;//5px;

        &--dark {
            // Filter is not supported in IE. When use the dark theme, you should use the white version of seal instead.
            filter: brightness(0) invert(1);
        }
    }

    &-expansion {

        @include ma-container;
        display: none;
        margin-bottom: 0;

        &--expanded {
            display: flex;
            flex-direction: column;
            padding-bottom: 5px;
            padding-top: 10px;
        }

        &-item {
            display: flex;
            flex-direction: row;
            flex: 0 1 auto;
            max-width: 500px;

            &-content {
                margin-left: 1rem;
            }

            & > svg {
                width: 30px;
                height: 30px;
                min-width: 20px;

                @media ($bp-small-min) {
                    min-width: 30px;
                }
               }

            // Icon colors

            &.light-c-primary > svg {
                fill: $c-primary; //#14558F;
            }

            &.light-c-primary-alt>svg {
                fill: $c-primary-alt; //#388557;
            }

            &.dark > svg {
                fill: #fff;
            }

            & + & {
                margin-top: 1rem;
            }

            p {
                margin-bottom: 0;
            }

            p:first-of-type {
                font-weight: $fonts-bold;
            }
        }

        @media ($bp-small-min) {
            flex-direction: row;

            &-item {

                & + & {
                    margin-left: 1rem;
                    margin-top: 0;
                }
            }
        }
    }

    // TEST STYLE
    button {
        font-weight: 400;

        .ma__button-icon--quaternary.ma__button-icon--c-white {
            font-size: 16px;
            border-bottom: 2px solid rgba(255,255,255,.8);

            svg {
                fill: rgba(255,255,255,.8);
            }
        }
    }
}
