@use "00-base/configure" as *;

.ma__breadcrumb {
  display: block;
  font-size: $fonts-small;
  list-style: none;
  padding-inline-start: unset;

  &-item {
    display: inline-block;

    a {
      text-decoration: none;
    }

    &:last-child {

      a {
        color: var(--mf-c-font-base);
        font-weight: $fonts-bold;
        cursor: text;
        pointer-events: none;
      }
    }

    &:not(:last-child) {

      &::after {
        content: " >";
        margin-right: 7px;
      }

      a {
        color: var(--mf-c-gray-dark);
        font-weight: $fonts-normal;

        @include ma-link-transition;

        @include ma-link-underline;

        &:hover {
          color: var(--mf-c-primary);
          border-bottom: 3px solid var(--mf-c-bay-blue-lighter);
        }
      }
    }


  }
}
