@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__callout-link {
  border: 3px solid;
  display:flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  padding: 15px 20px;
  background-color: mix($c-bg, $c-font-link,90%);
  border-color: var(--mf-c-link);
  box-shadow: $box-shadow;
  text-decoration: none;

  @media ($bp-small-min) {
    padding: 20px 30px;
  }

  &:hover,
  &:focus {

    .ma__callout-link__text {
      border-bottom-color: var(--mf-c-link);
    }
  }

  a {
    text-decoration: none;
  }

  .ma__rich-text & {
    border-bottom-width: 3px;
  }

  & > span {
    width: 100%;
  }

  &__container {
    font-size: $fonts-xlarge;
    line-height: 1.3;
    vertical-align: middle;
    padding-right: .8em;
    width: 100%;
  }

  &__text {

    @include ma-link-underline;
    display: inline-flex;
    align-items: center;
  }

  &__description {
    display: none;
    padding-top: 10px;
    font-size: $fonts-medium;
    font-weight: $fonts-light;
    color: rgba($c-font-link,1);

    @media ($bp-x-small-min) {
      display: flex;
      align-content: stretch;
      align-items: center;
    }
  }

  &__eyebrow {
    background-color: var(--mf-c-bg-section);
    font-weight: $fonts-bold;
  }

  &__header {
    align-content: stretch;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--mf-c-font-detail);

    @media ($bp-small-min) {
        margin-bottom: 15px;
    }
  }

  &__eyebrow, &__time {
    font-size: $fonts-xsmall;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
    padding: 5px 7px;
  }

  &__emphasized {
    font-size: $fonts-small;
    line-height: 1;
    padding-top: 15px;
    display: flex;
    color: var(--mf-c-font-base);
    font-weight: $fonts-bold;
  }

  &--white {
    background-color: var(--mf-c-bg);
    border-color: mix($c-white, $c-font-detail,70%);
    box-shadow: $box-shadow;
  }

  // removed after version 5.5.0

  &__info {

    @include ma-visually-hidden;
  }
}
