@use "00-base/configure" as *;

.ma__download-link {

  @include clearfix();

  & + & {
    padding-top: 0.5rem;
  }

  &__icon {
    float: left;
    overflow: hidden;
    margin-top: 5px;
    margin-inline-end: 0.5rem;
  }

  &__title {
    display: inline-block;
    font-size: $fonts-large;
    margin-bottom: 0;
    width: calc(100% - 66px);

  }

  .ma__inline-links {

    .ma__inline-links__container {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;

      .ma__inline-links__item:nth-last-child(2) {

        &:after {
          visibility: hidden;
        }
      }
    }

  }

  &__file-link {

    @include ma-link-underline;
    padding-bottom: 1px;

    margin-right: .2em;
  }

  &__file-spec {
    font-size: $fonts-smaller;
    line-height: 2.14;
    white-space: nowrap;
  }

  &__description {
    font-size: $fonts-medium;
    margin-top: 10px;
  }

  .ma__form-downloads--listing & {
    border-bottom: 1px solid;
    padding-bottom: 25px;
  }
}

//theme

.ma__download-link {

  &__icon {
    color: var(--mf-c-font-link);
  }

  &__file-link {

    // Override normal state
    border-bottom-width: 1px;
    border-bottom-style: solid;

    border-bottom-color: var(--mf-c-link);
  }

  &__file-spec {
    font-weight: $fonts-normal;
  }

  .ma__form-downloads--listing & {
    border-color: var(--mf-c-bd-divider);
  }
}
