@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__error-list {

  form & {
    display: none;
  }

  .has-error & {
    display: block;
  }

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container;
  }

  &__container {
    border-style: solid;
    border-width: 3px;
    padding: 20px 25px;
  }

  &__header {
    margin-bottom: 8px;
  }

  &__title,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    font-size: $fonts-medium;
  }

  &__icon {
    font-size: 0;
    margin-right: 7px;
  }


  &__messages {
    font-size: $fonts-smaller;
    margin-bottom: 0;
    padding-left: 53px;
  }

  &__label {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: inline-block;
    font-size: $fonts-medium;
    margin-bottom: 2px;

    &:hover {
      border-bottom-width: 3px;
      margin-bottom: 0;
    }
  }
}

//theme

.ma__error-list {

  &__container {
    background-color: var(--mf-c-error-red-lightest);
    border-color: var(--mf-c-bd-error);
    color: var(--mf-c-font-error);
  }

  &__title {
    font-weight: $fonts-bold;
  }

  &__label {
    border-color: var(--mf-c-bd-error);
    color: var(--mf-c-font-error);
    font-weight: $fonts-light;
  }
}
