@use "00-base/configure" as *;

.ma__featured-item {

  @include ma-aspect-ratio(4, 3);
  display: block;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $c-gray-lightest;

  // dimmer
  // this :before is set up in the aspect ratio mixin

  &:before {

    @include ma-link-transition;
    background-color: transparent;
    z-index: 1;
  }

  &:hover:before {
    background-color: rgba($c-black,0.1);
  }

  &:hover span {
    border-bottom-color: $c-white;
  }

  &__image img,
  &__image--large img {
    // position absolutely in the center
    position: absolute;
      left: 0;
      top: 0;
    width: 100%;
  }


  &__title {
    width: 100%;

    &-container {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2; // above the dimmer (:before)
      height: 4rem;
      padding: 5px 15px;
      font-size: $fonts-small;
      line-height: 1.25;
      background-color: $c-primary-alt;
      color: $c-font-inverse;
  
      span {
  
          @include ma-link-transition;
          border-bottom: 3px solid transparent;
      }
  
      svg {
  
        @include ma-link-arrow;
        fill: $c-white;
      }
    }

    &.truncated {

      span::after {
        content: ' . . . ';
        white-space: nowrap;
      }
    }
  }
}

.ma__featured-item--tall {

  .ma__featured-item__image--large {
    display: none;
  }

  @media ($bp-small-min) {

    .ma__featured-item__image--large {
      display: block;
    }

    .ma__featured-item__image {
      display: none;
    }

    @include ma-aspect-ratio(3, 5);

    .ma__featured-item__image--large img {
      max-width: none;
      width: auto;
      height: 100%;
    }
  }
}

