$header-search-height: 46px;
$bp-header-search-reduce-button: "max-width: 700px";

@use "00-base/configure" as *;

.ma__header-search {
  display: inline-block;
  max-width: 560px;
  position: relative;
  width: 100%;

  &__label {

    @include ma-visually-hidden;
  }

  &__input {
    font-size: $fonts-small;
    height: $header-search-height;
    padding-right: 128px;
    padding-left: 17px;
    width: 100%;
    // TEST STYLE
    background: rgba(225,225,225,.1);
    color: #d4d4d4;
    font-weight: 400;
    border: 2px solid #777;

    &::-ms-clear {
      display: none;
    }

    @media ($bp-header-search-reduce-button) {
      padding-right: 60px
    }
  }

  .ma__button-search {

    &, &--secondary {
      border: 2px solid;
      //border-left: 2px solid;
      display: block;
      height: $header-search-height;
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
        right: 0;
        top: 0;

      // TEST STYLE
      background: rgba(225,225,225,.1);
      color: #d4d4d4;
      font-size: 15px;//16px;
      font-weight: 500;
      border-color: #777 !important;

      & > svg {
        fill: #D7E7DD;
      }

      @media ($bp-header-search-reduce-button) {

        span {
          display: none;
        }
      }
    }

  }

  .ma__narrow-template & {
    margin-bottom: 75px;
    max-width: 400px;
  }
}
