@use "00-base/configure" as *;

.ma__icon-link {
  position: relative;

  &__icon {
    font-size: 0;
    position: absolute;
      top: 8px;
      left: 0;

    & > svg {
      height: 18px;
      width: 20px;

      &, path {
        fill: $c-primary-alt;
      }
    }
  }

  &__link {
    font-size: $fonts-small;
    display: block;
    padding-left: 30px;
  }

  .ma__decorative-link {
    display: inline;
    vertical-align: middle;
  }
}
