$image-promo-bp-x-large-min: "min-width: 1160px";

@use "00-base/configure" as *;

.ma__image-promo {

  @include clearfix();
  border-color: var(--mf-c-bd-divider);
  display: flex;
  flex-wrap: wrap;

  position: relative;

  & + & {
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 30px;
    padding-top: 30px;

    .sidebar & {
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  &.js-location-listing-link {
    cursor: pointer;
  }

  &__image {
    flex: 0 0 190px;
    font-size: 0;
    margin-right: 30px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  &__details {
    flex: 1 1 250px;
    min-width: 250px;
  }

  &__title {

    @include ma-h5;
    margin-bottom: 0;

    & .ma__decorative-link .js-clickable-link::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__tags {
    float: right;

    & > span {
      display: inline-block;
      font-size: 0;
      margin-left: 10px;
    }

    svg {
      color: var(--mf-c-primary-alt);
    }
  }

  &__tags + .ma__decorative-link {
    display: block;
  }

  &__description {
    font-size: $fonts-medium;
    margin-top: 10px;
  }

  &__description + &__link {
    margin-top: 10px;
  }

  &__location {
    font-size: $fonts-small;
    padding-bottom: 5px;
  }

  &__phone {
    font-size: $fonts-small;

    & > a {
      align-items: center;
      color: var(--mf-c-font-base);
      display: flex;
      font-weight: $fonts-light;
      text-decoration: none;
    }

    svg {
      display: inline-block;
      color: var(--mf-c-primary-alt);
      height: 20px;
      margin-right: 0.5rem;
      width: 20px;
    }
  }
}
