// // use in the Action Map component info window
// // Handle bar template

@use "00-base/configure" as *;

.ma__info-window {
  font-size: $fonts-medium;
  line-height: 1.4;
  padding: 10px;
  padding-right: 0;
  text-align: left;

  &__name {
    font-size: $fonts-larger;
    margin-bottom: 0;
    margin-right: 20px;
    line-height: 1.4;// Prevent link underline to cover the line below.

    .ma__decorative-link {
      margin-bottom: 0.5rem;
      padding-right: 0;
    }
  }

  &__phone {
    white-space: nowrap;
  }

  &__email-link {

    @include ma-link-underline;
  }

  &__address {
    margin-bottom: 12px;
  }

  &__directions {

    .ma__decorative-link {

      a {
        display: inline-flex;
      }

      svg {
        margin-top: 3px;
        width: 16px;
        height: 16px;
      }
    }
  }
}

//theme

.ma__info-window {
  font-family: $fonts;

  &__label {
    font-weight: $fonts-normal;
  }

  &__phone {
    color: var(--mf-c-font-base);
    font-weight: inherit;
  }

  &__email-link:hover {
    border-color: var(--mf-c-link);
  }
}
