@use "00-base/configure" as *;

.ma__link-dropdown {

  display: inline-block;

  .ma__link-dropdown-menu {
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    background-color: var(--mf-c-bg);

    &--expanded {
      box-shadow: $box-shadow;
    }

    .ma__link-dropdown-item {
      display: block;
      width: 100%;
      padding: 5px calc(5px + 0.8em) 5px 5px;
      font-size: $fonts-smaller;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;

      a, a:hover, a:hover {
        border-bottom: none;
        width: 100%;
      }

      &:hover, &:focus {
        background-color: var(--mf-c-gray-light);
      }
    }

  }

}
