@use "00-base/configure" as *;

.ma__location-filters {
  padding-top: 30px;

  form {

    @include ma-container;

    @media ($bp-medium-min) and ($bp-large-extended-max) {

      @include ma-grid(2, $gutter);
    }

    @media ($bp-large-extended-min) and ($bp-x-large-max) {

      @include ma-grid(2, $gutter);
    }

    @media ($bp-x-large-min) {

      @include ma-grid(3, $gutter);
    }

    @media ($bp-medium-max) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__row {
    width: 100%;

    @media ($bp-medium-min) and ($bp-large-extended-max) {

      @include ma-grid-span(2);

      @include ma-grid(2);
    }

    @media ($bp-large-extended-min) and ($bp-x-large-max) {

      @include ma-grid-span(2);

      @include ma-grid(2);
    }

    @media ($bp-x-large-min) {

      @include ma-grid-span(2);

      @include ma-grid(2);
    }

    @media ($bp-medium-max) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__by-location {
    margin-bottom: 30px;
    width: 100%;

    @media ($bp-medium-min) {
      grid-column: 1 / -1;
    }

    input {
      width: 100%;
    }
  }

  &__by-activity,
  &__by-keyword {
    margin-bottom: 30px;
    width: 100%;

    @media ($bp-medium-min) {
      margin-bottom: 0;
    }
  }

  &__by-activity {

    .ma__select-box {
      width: 100%;
    }
  }

  &__by-keyword {

    input {
      width: 100%;
    }
  }

  &__by-tags {
    margin-bottom: 30px;
    width: 100%;

    @media ($bp-small-max) {
      margin-top: 10px;
    }

    @media ($bp-medium-min) and ($bp-x-large-max) {
      grid-column: 1 / -1;
      margin-bottom: 30px;
    }

    @media ($bp-x-large-min) {

      @include ma-grid-span(1);
      margin-bottom: 30px;
      padding-left: 80px;
      padding-top: 45px;
    }
  }

  &__tag {
    font-size: 0;
    margin-bottom: 10px;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 5px;
    }

    .ma__input-checkbox {
      margin-right: 5px;
      vertical-align: top;
      white-space: normal;

      label {
        margin-bottom: 0;
      }
    }

    & > svg {
      height: 24px;
      vertical-align: top;
      width: 24px;
    }
  }

  &__buttons {
    margin-bottom: 30px;
    width: 100%;

    @media ($bp-medium-min) {
      grid-column: 1 / -1;
    }

    @media ($bp-x-large-min) {
      margin-bottom: 45px;
    }
  }

  &__submit {

    @include ma-button-size("small");
  }
}

//theme

.ma__location-filters {
  background-color: var(--mf-c-bg-section);

  &__tag {

    & > svg {
      fill: var(--mf-c-primary-alt);
    }
  }

  &__submit {

    @include ma-button("solid", var(--mf-c-primary));
  }
}
