@use "00-base/configure" as *;

.ma__main__hamburger-nav {
  border: 0;
  margin: 0;
  padding: 0;

  @media ($bp-header-toggle-max) {
    border-top: 2px solid $c-bd-divider;
  }

  &__items {

    @include ma-reset-list;
  }

  &__item {
    border-bottom: 2px solid $c-bd-divider;
  }

  &__top-link {

    @include ma-button-reset;
    position: relative;
    display: block;
    font-size: $fonts-medium;
    font-weight: 700;
    letter-spacing: $letter-spacing-large;
    line-height: 1.45;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease;
    text-align: left;
    background-color: var(--mf-c-gray-lightest);
    width: 100%;
    color: inherit;

    .toggle-indicator {

      @include ma-accordion-icon;

      .submenu-open & {

        &::after {
          transform: rotate(135deg);
        }
      }
    }

    &:focus {
      background-color: $c-bd-divider;
      outline: 2px solid var(--mf-c-gray-darkest);
    }

    &.cv-alternate-style {
      background-color: $c-highlight;

      // Adding chevron for direct link.

      @include ma-chevron;

      &:after {
        border: none;
      }

      &:hover {
        background-color: $c-highlight-lightest;
      }
    }
  }

  &__subitem {

    &:hover {
      background-color: $c-bg-section;
    }
  }

  &__subitems {
    text-align: left;
    z-index: $z-dropdown;
    background-color: $c-bg;
    transition: height 0.4s;

    &.is-closed {

      @include ma-visually-hidden;
      display: none !important;
      transition: height 0.6s;
    }

    &.is-closed-react {
      display: none !important;
    }

    .ma__main__hamburger-nav__item:last-child & {
      left: inherit;
      right: 0;
    }
  }

  &__container {

    @include ma-reset-list;
    transition: opacity 0.2s;

    .is-closed & {
      transition: opacity 0.2s;
    }
  }

  &__link {

    @include ma-button-reset;
    width: 100%;
    text-align: left;
    display: block;
    position: relative;
    font-size: $fonts-medium;
    font-weight: $fonts-normal;
    line-height: 1.33;
    padding: 10px 20px 10px 30px;
    color: var(--mf-c-gray-darkest);

    &:hover {
      text-decoration: underline;
    }

    &>svg,
    &>span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__subitem--main &__link {
    font-size: $fonts-small;
    letter-spacing: $letter-spacing-medium;
    text-transform: uppercase;

    & > svg {
      fill: var(--mf-c-atlantic-gray);
      height: 20px;
      width: 20px;
    }

    &>span {
      padding-top: 2px;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      text-decoration: none;

      &>span {
          border-bottom: 2px solid var(--mf-c-gray-darkest);
      }
    }
  }
}
