@use "00-base/configure" as *;

.ma__press-status {
  padding: 30px;
  position: relative;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container();
  }

  .main-content--two .page-content > & {

    @media ($bp-large-min) {
      padding-left: 0;

      &:before {
        content: "";
        height: 100%;
        position: absolute;
        right: 100%;
        top: 0;
        width: 50vw;
      }
    }
  }

  &__title {
    font-weight: $fonts-bold;
    font-size: $fonts-smaller;
    letter-spacing: $letter-spacing-large;
    line-height: 1.875rem;
    text-transform: uppercase;
  }

  &__content {

    @media ($bp-small-min) {

      @include ma-grid-two-column($ratio: 3fr 5fr);
    }
  }

  &__date {
    margin-bottom: 5px;

    @media ($bp-small-min) {
      margin-bottom: 0;
    }
  }

  &__names {

    @include ma-reset-list;
  }

  &__name {
    font-size: $fonts-medium;
    margin-bottom: 0.5em;
  }
}

//theme

.ma__press-status {
  background-color: var(--mf-c-bg-section);

  .main-content--two .page-content > & {

    &:before {
      background-color: var(--mf-c-bg-section);
    }
  }

  &__title {
    color: var(--mf-c-font-detail);
    font-weight: $fonts-bold;
  }
}
