@use "00-base/configure" as *;

.ma__results-heading {

  .main-content--full .page-content > & {

    @include ma-container();

    @include ma-component-spacing;
  }

  &__container {

    @include clearfix;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 10px;
    border-bottom-color: $c-bd-divider;
  }

  &__title {
    font-size: $fonts-smaller;
    letter-spacing: $letter-spacing-large;
    line-height: 1.563rem;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: $fonts-bold;

    @media ($bp-x-small-min) {
      display: inline-block;
      float: left;
    }
  }

  &__sort {

    @media ($bp-x-small-min) {
      float: right;
      margin-bottom: 0px;
    }
  }
}
