@use "00-base/configure" as *;

.ma__section-links {
  position: relative;
  width: 100%;

  @media ($bp-x-small-max) {
    border-top: 2px solid;
    margin: 0 -20px;
    width: calc(100% + 40px);

    &:last-child {
      border-bottom: 2px solid;
    }
  }

  // controls for when to activate accordion

  &.js-accordion:before {
    content: "true";
    display: none;

    @media ($bp-x-small-min) {
      content: "false";
    }
  }

  &__content {
    height: 100%;
    padding: 10px 20px 0 10px;

    @media ($bp-x-small-min) {
      padding: 10px 20px 20px 10px;
    }

    @media ($bp-small-min) {
      display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
      padding: 12px 30px 0;
    }

    @media ($bp-small-min) {
      padding: 20px 30px 0;
    }
  }

  &__description {
    margin-bottom: 25px;

    @media ($bp-small-min) {
      font-size: $fonts-small;
    }
  }

  &__footer {
    align-self: flex-end;
    border-top: 1px solid;
    display: block;
    font-size: $fonts-small;
    padding: 5px 0;
    width: 100%;

    @media ($bp-x-small-max) {
      display: none;
    }
  }

  &__icon {
    text-align: center;

    @media ($bp-x-small-max) {
      display: none;
    }

    @media ($bp-x-small-min) {
      margin: -40px auto 1.4em;
    }
  }

  &__mobile-title {
    border-bottom: 1px solid;
    font-size: $fonts-large;
    margin-bottom: .75em;
    padding: 0 16px .75em 0;

    @media ($bp-x-small-min) {
      display: none;
    }

    & a > svg {
      height: .75em;
      margin-right: -16px;
      width: .75em;
    }

    a {

      @include ma-link-underline;
      padding-bottom: 0px;
    }
  }

  &__title {

    @include ma-h3;
    margin-bottom: .5em;

    @media ($bp-small-min) {
      margin-bottom: .5em;
    }
    align-self: stretch;

    a {
      border: none;
    }

    @media ($bp-x-small-max) {
      align-self: flex-start;
      cursor: pointer;
      font-size: $fonts-xlarge;
    }

    &.js-accordion-link {

      @media ($bp-x-small-max) {
        padding-right: 1em;

        &:after {
          content: "+";
          display: block;
          font-size: 1.5em;
          line-height: .75em;
          position: absolute;
          top: 15px;
          right: 15px;
          transition: transform .5s ease;
          transform-origin: center center;

          .is-open & {
            transform: rotate(135deg);
          }
        }

        a > svg {
          display: none;
        }
      }

      @media ($bp-x-small-min) {

        @include ma-border-decorative;
        padding-bottom: 16px;

        &:after {
          width: 60px;
        }

        svg {
          margin-right: -16px;
        }
      }
    }
  }

  &__toggle-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    @media ($bp-x-small-max) {
      display: none;

      .is-open & {
        display: block;
        padding-bottom: 20px;
      }
    }
  }

  &__items {

    @include ma-reset-list;
  }


  // skip the first item

  &__item + &__item {
    margin-top: 1em;
  }

  // Make child content callout links full width

  &__item > .ma__callout-link {
    display: block;
    width: 100%;
  }

  &__item > .ma__decorative-link {

    &__item > .ma__decorative-link {
    font-size: $fonts-larger;
    line-height: 1.3;
    color: $c-primary;
  }
  }
}

//theme

.ma__section-links {
  background-color: $c-bg-section;

  @media ($bp-x-small-max) {
    border-top-color: $c-bd-divider;

    &.is-open {
      background-color: $c-white
    }

    &:last-child {
      border-bottom-color: $c-bd-divider;
    }
  }

  &__footer {
    background-color: $c-overcast-gray;
    border-top-color: $c-bd-divider;

    &:hover,
    &:focus {
      background-color: $c-gray-lighter;
    }

    .ma__decorative-link {
      padding: 15px 0 15px 30px;
    }
  }

  &__title {

    &:after {
      color: $c-primary-alt;
    }

    a {
      color: $c-primary;
    }

    svg {
      fill: rgba($c-primary,.5);
    }

  }

  &__mobile-title {
    border-bottom-color: $c-bd-divider;

    svg {
      fill: rgba($c-font-link,.5);
    }

    a:hover {

      @media ($bp-x-small-max) {
        border-bottom-color: rgba($c-font-link,.5);
      }
    }
  }

  &__link {

    &:hover {
      border-bottom-color: rgba($c-primary,.5);
    }
  }

  &--compact {

    .ma__section-links__title {

      @include ma-h5;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media ($bp-x-small-max) {
        font-size: $fonts-larger;
      }
    }

    .ma__section-links__content {
      padding: 10px 20px;
    }
  }
}
