@use "00-base/configure" as *;

.ma__social-links {

  .ma__page-header-addons__widgets & {

    @media ($bp-large-min) {
      text-align: right;
    }

    &:first-child {

      @media ($bp-large-min) {
        margin-top: -5px;
      }
    }
  }

  &__label {
    color: var(--mf-c-font-detail);
    display: inline-block;
    font-size: $fonts-smaller;
    letter-spacing: $letter-spacing-large;
    line-height: 1.875rem;
    text-transform: uppercase;
    vertical-align: middle;
  }

  &__items {

    @include ma-reset-list;
    display: flex;
      justify-content: space-between;
    width: 100%;
  }

  &__label + &__items {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    margin-right: 5px;

    @media ($bp-large-max) {
      text-align: center;
    }
  }

  &__link {
    display: inline-block;
    font-size: 0;
    height: 24px;
    width: 24px;
    transition: opacity .4s;

    &--inverted, &--c-primary--inverted, &--c-primary-alt--inverted {
      padding: 4px;
      height: 32px;
      width: 32px;
    }

    
    &:hover {
      opacity: .7;
    }
    
    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}

//theme

.ma__social-links {

  &__label {
    font-weight: 600;
  }

  &__link {

    &, &--c-primary {
      color: var(--mf-c-primary);
    }

    &--c-primary-alt {
      color: var(--mf-c-primary-alt);
    }

    &--inverted, &--c-primary--inverted {
      background-color: var(--mf-c-primary);

      & > svg {
        color: var(--mf-c-white);    
      }
    }

    &--c-primary-alt--inverted {
      background-color: var(--mf-c-primary-alt);

      & > svg {
        color: var(--mf-c-white);    
      }
    }

    &[data-social-share = blog] > svg {
      color: var(--mf-c-primary-alt);
    }

    &[data-social-share = email] > svg {
      color: var(--mf-c-primary-alt);
    }
  }
}
