@use "00-base/configure" as *;

.ma__sort-results {
  font-size: 0;

  &__label {
    font-size: $fonts-small;
    margin-right: 8px;
  }

  .ma__button-sort {
    margin-right: 8px;
  }
}
