.ReactTable {
  .rt-tbody {
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
  }
  .rt-thead, .-pagination {
    input, select, .-btn {
      border-radius: 0 !important;
    }
  }

  $alignment: left center right;
  @each $option in $alignment {
    .data-align-#{$option} {
      text-align: #{$option};
    }
  }
  
  .rt-tr {
    transition: background 3.2s ease;
    
    &:hover .rt-td {
      background: rgba(0,0,0,0.07);
    }

    .rt-td a {
      @include ma-link-transition;
      text-decoration: none;
      font-weight: 700;
      color: $c-font-link;

      &:hover {
        border-bottom: 2px solid rgba($c-font-link,0.7);
      }
    }
  }
  
}
