<section class="ma__campaign-header">
 <h class="ma__campaign-header--title"></h>
<span class="ma__campaign-header--sub-title"></span>
<div class="ma__campaign-header--description"></div>
<button></button>
</section>
