<div class="ma__campaign-feature">
    {% set headingLevel = campaignFeature.level ? 1 : 2 %}
    <h{{ headingLevel }} class="ma__campaign-feature">{{ campaignFeature.title }}</h{{ headingLevel }}>

    {% set campaignFullWidthFeature = campaignFeature.campaignFullWidthFeature %}
    {% include "@molecules/campaign-features-full-width.twig" %}

    {% set campaignFeature2up = campaignFeature.campaignFeature2up %}
    {% include "@molecules/campaign-feature-2up.twig" %}
</div>
