<section class="ma__contextual-navigation">
  <ul class="ma__contextual-navigation--links" role="menubar" aria-label="Contextual Navigation">
    <li class="ma__contextual-navigation--link" role="none">
      <a role="menuitem" class="ma__contextual-navigation--anchor" href="https://www.mass.gov/how-to/renew-your-drivers-license">Renew</a>
    </li>
    <li class="ma__contextual-navigation--link" role="none">
      {# <a role="menuitem" class="ma__contextual-navigation--anchor" href="https://www.mass.gov/how-to/schedule-your-road-test">Schedule road test</a> #}
      <a role="menuitem" class="ma__contextual-navigation--anchor" href="http://localhost:3000/patterns/03-organisms-by-template-contextual-nav/03-organisms-by-template-contextual-nav.html">Schedule road test</a>
    </li>
    <li class="ma__contextual-navigation--link" role="none">
      <a role="menuitem" class="ma__contextual-navigation--anchor" href="https://www.mass.gov/guides/massachusetts-identification-id-requirements">ID requirements</a>
    </li>
    <li class="ma__contextual-navigation--link" role="none">
      <a role="menuitem" class="ma__contextual-navigation--anchor" href="https://www.mass.gov/how-to/replace-your-drivers-license">Replace license</a>
    </li>
    <li class="ma__contextual-navigation--link" role="none">
      {# <a role="menuitem" class="ma__contextual-navigation--anchor" href="https://www.mass.gov/how-to/apply-for-a-passenger-class-d-learners-permit">Apply for Learner's Permit</a> #}
      <a role="menuitem" class="ma__contextual-navigation--anchor" href="http://localhost:3000/patterns/03-organisms-by-template-contextual-nav-2/03-organisms-by-template-contextual-nav-2.html">Apply for Learner's Permit</a>
    </li>
    <li class="ma__contextual-navigation--link" role="none">
      <a role="menuitem" class="ma__contextual-navigation--anchor" href="https://www.mass.gov/how-to/transfer-your-out-of-state-drivers-license-to-massachusetts">Transfer out of state license</a>
    </li>
  </ul>  
</section> 
