<form method="post" novalidate action="https://www.formstack.com/forms/index.php" class="fsForm" id="fsForm2521317">

  <input type="hidden" name="form" value="2521317" />
  <input type="hidden" name="viewkey" value="vx39GBYJhi" />
  <input type="hidden" name="hidden_fields" id="hidden_fields2521317" value="" />
  <input type="hidden" name="_submit" value="1" />
  <input type="hidden" name="incomplete" id="incomplete2521317" value="" />
  <input type="hidden" name="incomplete_password" id="incomplete_password2521317" />
  <input type="hidden" name="style_version" value="3" />
  <input type="hidden" id="viewparam" name="viewparam" value="524744" />

  {# Referrer: #}
  <input type="hidden" id="field47056299" name="field47056299" size="50" value="" class="fsField" />
  {# Node ID: #}
  <input type="hidden" id="field58154059" name="field58154059" value="{{ node_id }}" />
  <input type="hidden" id="field57432673" name="field57432673" value="{{ node_id }}" />
  {# mg_source: #}
  <input type="hidden" id="field68798980" name="field68798980" size="50" value="flyout" class="fsField" />
  {# mg_unique_id: #}
  <input type="hidden" id="field68798989" name="field68798989" size="50" value="UNIQUE_VALUE_HERE" class="fsField" />

  <fieldset>
    <legend>
      Did you find what you were looking for on this webpage?<span> * <span class="visually-hidden">required</span></span>
    </legend>

    <div class="ma__input-group__items ma__input-group__items--inline">
      <div class="ma__input-group__item">
        <span class="ma__input-radio">
          <input type="radio" id="field47054416_1" name="field47054416" value="Yes" class="fsField required" aria-required="true" required />
          <label class="fsOptionLabel" for="field47054416_1">Yes</label>
        </span>
      </div>

      <div class="ma__input-group__item">
        <span class="ma__input-radio">
          <input type="radio" id="field47054416_2" name="field47054416" value="No" class="fsField required" aria-required="true" required />
          <label class="fsOptionLabel" for="field47054416_2">No</label>
        </span>
      </div>
    </div>
  </fieldset>

  {# SHOW THIS WHEN "NO" IS SELECTED ABOVE #}
  <fieldset class="radio-no hide">
    <label for="field47054414">If "No," please tell us what you were looking for:<span> * <span class="visually-hidden">required</span></span></label>
    <textarea id="field47054414"
              class="fsField required"
              name="field47054414"
              aria-required="true"
              maxlength="10000"
              disabled="disabled"
              aria-describedby="feedback-note"></textarea>
    <div id="feedback-note" class="ma__disclaimer">We use your feedback to help us improve this site but we are not able to respond directly. <strong>Please do not include personal or contact information.</strong> If you need a response, please locate the contact information elsewhere on this page or in the footer.</div>
  </fieldset>

  {# SHOW THIS WHEN "YES" IS SELECTED ABOVE #}
  <fieldset class="radio-yes hide">
    <label for="field52940022">Is there anything else you would like to tell us?</label>
    <textarea id="field52940022"
              name="field52940022"
              maxlength="10000"
              disabled="disabled"
              aria-describedby="feedback-note2"></textarea>
    <div id="feedback-note2" class="ma__disclaimer">We use your feedback to help us improve this site but we are not able to respond directly. <strong>Please do not include personal or contact information.</strong> If you need a response, please locate the contact information elsewhere on this page or in the footer.</div>
  </fieldset>

  <p class="ma__info-container">
    <a href="/info-details/report-abuse-or-request-urgent-assistance">If you need to report child abuse, any other kind of abuse, or need urgent assistance, please click here</a>.
  </p>

  {# SUBMIT BUTTON IN USE FOR THIS FORM #}
  <fieldset>{# not necessaary, but for layout/styling purpose #}
    <input id="submitButton2521317"
            class="submitButton ma__button ma__button--small"
            style="display: block;"
            type="submit"
            value="Send Feedback" />
  </fieldset>
</form>
