<section class="ma__feedback-modal__thank-you">
  <p class="ma__feedback-modal__text">Thank you for your feedback!</p>
  <p class="ma__feedback-modal__text">Would you like to give us additional feedback to help us improve Mass.gov? It should only take a few minutes.</p>

  <div class="ma__feedback-modal__buttons ma__input-group__items ma__input-group__items--inline">
    <div class="ma__feedback-modal__button--start-survey ma__input-group__item">
      {% set button = {
        "info": "Start survey",
        "size": "small",
        "text": "Start survey",
        "type": "button"
      } %}
      {% include "@atoms/01-buttons/button.twig" %}
    </div>
    <div class="ma__feedback-modal__button--no-thanks js-ma__feedback-modal-toggle ma__input-group__item">
      {% set button = {
        "info": "No Thanks",
        "size": "small",
        "text": "No Thanks",
        "type": "button"
      } %}
      {% include "@atoms/01-buttons/button.twig" %}
    </div>
  </div>
</section>
