<section class="ma__feedback-modal__thank-you">
  <p class="ma__feedback-modal__text">Thank you for your feedback!</p>
  <p class="ma__feedback-modal__text">If you would like to continue giving us feedback, <a href="#">you can join our user panel</a> and volunteer to test out new Mass.gov features</p>
</section>
