<div class="ma__org-nav-i-want-to">

  {% block findService %}
  <div class="ma__org-nav-i-want-to-section">
    {% set linkList = findService.linkList %}
    {% include "@organisms/by-author/link-list.twig" %}
  </div>
  {% endblock %}

  {% block learnAbout %}
  <div class="ma__org-nav-i-want-to-section">
    {% set linkList = learnAbout.linkList %}
    {% include "@organisms/by-author/link-list.twig" %}
  </div>
  {% endblock %}

  {% block login %}
  <div class="ma__org-nav-i-want-to-section">
    <h3 class="ma__comp-heading">Login to</h3> 
    <a class="ma__link-list__container" href="#">MassFishHunt</a>
  </div>
  {% endblock %}
</div>
