@use "00-base/configure" as *;
@use '01-atoms/buttons';

.ma__button.ma__button--secondary {
  &.ma__button--c-primary-alt{
    color: var(--mf-c-primary-alt);
    &:hover {
      color: var(--mf-c-white);
      background-color: var(--mf-c-primary-alt);
    }
  }
}
