<section class="ma__account-manager">
  {# Static title, users can not change #}
  <h3 id="manage-account" class="ma__comp-heading">Manage your account</h3>

  <div class="ma__account-manager--sections">
    {% block accountSections %}
      {% for section in accountManagementSections %}
        {% include "@molecules/account-manager-section.twig" %}
      {% endfor %}
    {% endblock %}
  </div>
</section>
