<section class="ma__account-manager">
  {# Static title, users can not change #}
  <h3 id="manage-account" class="ma__comp-heading">Manage your account</h3>

  
  <div class="ma__account-manager--sections">
    {% for section in accountManagementSections %}
    <div class="ma__account-manager--section">
      {% set richText = section.richText %}
      {% include "@organisms/by-author/rich-text.twig" %}

      {% set decorativeLink = section.link %}
      {% include "@atoms/decorative-link.twig" %}
    </div>
    {% endfor %}
  </div>
 

</section>