<section class="ma__contact-row">
  {% set contactHeading = 2 %}
  {% set contactHeading = (contactRow.compHeading.level ? : contactHeading) + 1 %}

  {% if contactRow.compHeading %}
    {% set compHeading = contactRow.compHeading %}
    {% include "@atoms/04-headings/comp-heading.twig" %}
  {% endif %}

  {% block contactImage %}
    {% if contactRow.image %}
      {% set image = contactRow.image %}
      {% include "@atoms/09-media/image.twig" %}
    {% endif %}
  {% endblock %}

  <div class="ma__contact-row__columns">
    {% block additionalContacts %}

    {% if contactRow.addressContactGroup %}
      <div class="ma__contact-row--address ma__contact-set">
        {% block addressContactGroup %}
          {% set contactGroup = contactRow.addressContactGroup %}
          {% include "@molecules/contact-group.twig" %}
        {% endblock %}
      </div>
    {% endif %}

    {% if contactRow.phoneContactGroup %}
      <div class="ma__contact-row--phone ma__contact-set">
        {% block phoneContactGroup %}
          {% set contactGroup = contactRow.phoneContactGroup %}
          {% include "@molecules/contact-group.twig" %}
        {% endblock %}
      </div>
    {% endif %}

    {% if contactRow.onlineContactGroup %}
      <div class="ma__contact-row--online ma__contact-set">
        {% block onlineContactGroup %}
          {% set contactGroup = contactRow.onlineContactGroup %}
          {% include "@molecules/contact-group.twig" %}
        {% endblock %}
      </div>
    {% endif %}

    {% if contactRow.faxContactGroup %}
      <div class="ma__contact-row--fax ma__contact-set">
        {% block faxContactGroup %}
          {% set contactGroup = contactRow.faxContactGroup %}
          {% include "@molecules/contact-group.twig" %}
        {% endblock %}
      </div>
    {% endif %}

    {% endblock %}
  </div>

  {% if contactRow.moreLink %}
  <div class="ma__contact-group contact-group__more-link">
    {% block moreLink %}
      {% set decorativeLink = contactRow.moreLink %}
      {% include "@atoms/decorative-link.twig" %}
    {% endblock %}
  </div>
  {% endif %}


  <div class="ma__contact-row__expand">
    <button type="button">
      Show <span>more</span><span>less</span> contact info
    </button>
  </div>

</section>
