{% set stackedRowRestriction = stackedRowSection.sideBar|length ? '' : ' ma__stacked-row-section--restricted' %}
{% set stackedRowBorderless = stackedRow.borderless ? ' ma__stacked-row-section--borderless' : ''  %}

{# Allow overriding the content container classes as needed. #}
{% if stackedRow.contentClass is defined and stackedRow.contentClass == false %}
  {% set stackedRowContentClass = '' %}
{% else %}
  {% set stackedRowContentClass = stackedRowSection.sideBar|length ? ' main-content--two' : ' main-content--full' %}
{% endif %}

<section class="ma__stacked-row__section ma__stacked-row-section{{ stackedRowBorderless }}{{ stackedRowRestriction }}">
  {% block stackRowTitle %}
    {% if stackedRowSection.title %}
      <div class="ma__stacked-row-section__container">
        <div class="ma__stacked-row-section__title">
          {% set compHeading = {
              "title": stackedRowSection.title,
              "sub": "",
              "color": "",
              "id": stackedRowSection.id
            }
          %}
          {% include "@atoms/04-headings/comp-heading.twig" %}
        </div>
      </div>
    {% endif %}
  {% endblock %}
  <div class="main-content{{ stackedRowContentClass }}">
    <div class="page-content">
      {% block stackedRowContentOverride %}
        {% for content in stackedRowSection.pageContent %}
          {% include content.path with content.data %}
        {% endfor %}
      {% endblock %}
    </div>
    {% if stackedRowSection.sideBar|length or stackedRowSection.overrideSideBar %}
      <aside class="sidebar">
        {% block sidebar %}
          {% for sidebar in stackedRowSection.sideBar %}
            {% include sidebar.path with sidebar.data %}
          {% endfor %}
        {% endblock %}
      </aside>
    {% endif %}
  </div>
</section>

