@use "00-base/global" as *;
@use "sass:color" as *;

.ma__button-tag {

  @include ma-button-reset;
  font-size: 1.125rem;
  display: inline-block;
  line-height: 1em;
  margin-right: .25em;
  padding: 8px 11px;
  white-space: nowrap;
  background-color: mix(#fff, $c-font-link,90%);
  color: $c-font-link;
  font-weight: 700;

  &:after {
    content: "+";
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.125rem;
    margin-left: .15em;
    margin-top: -1px;
    transform: rotate(135deg);
    vertical-align: middle;
    color: $c-font-link;
  }
}
