@use "../00-base/global" as *;

.ma__button-toggle {

  @include ma-button-reset;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
  margin: 0 4px;
  position: relative;
  white-space: nowrap;
}

//theme

.ma__button-toggle {
  color: $c-font-link;

  &--selected {
    color: $c-font-base;
    font-weight: $fonts-bold;
    pointer-events: none;
  }
}
