$colors: (
  "c-highlight": $c-highlight,
  "c-primary": $c-primary,
  "c-black": $c-black,
  "c-gray-dark": $c-gray-dark,
  "c-white": $c-white
);

$quaternary-colors: (
  "c-primary": $c-primary,
  "c-black": $c-black,
  "c-gray-dark": $c-gray-dark,
  "c-white": $c-white
);

.ma__button-icon {
  background-color: $c-white;
  border: 2px solid $c-gray-light;
  display: inline-block;
  font-weight: $fonts-bold;
  letter-spacing: $letter-spacing-large;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: background-color .4s, color .4s, border .4s, fill .4s;
  white-space: nowrap;
  color: $c-primary-alt;
  min-height: 46px;
  font-size: 14px;

  @each $class, $c in $colors {
    &--#{$class} {

      @if $c == $c-highlight {
        border-color: $c;
        color: $c-black
      } @else {
        color: $c;
      }
    }
  }

  &--small {
    font-size: 1rem;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 0px;
  }

  &--large {
    font-size: $fonts-medium;
    line-height: 1.61;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--capitalized {
    text-transform: capitalize;
    letter-spacing: $letter-spacing-small;
    font-size: 16px;
  }

  &--expanded {

    & > svg {
      transform: rotate(-180deg);
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }

  & > svg {
    display: inline-block;
    vertical-align: middle;
    fill: $c-gray-dark;
    height: 20px;
    transition: transform .5s, fill .4s;
  }

  &.ma__icon-small > svg {
    height: 10px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--expanded, &:hover {

    @include ma-button("normal","solid",$c-primary-alt);
    color: $c-white;

    svg {
      fill: $c-white;
    }

    @each $class, $c in $colors {
      &.ma__button-icon--#{$class} {

        @include ma-button("normal","solid",$c);
      }
    }
  }

  &--secondary, &--expanded.ma__button-icon--secondary, &:hover.ma__button-icon--secondary {

    @include ma-button("normal","outline",$c-primary-alt);

    @each $class, $c in $colors {
      &.ma__button-icon--#{$class} {

        @include ma-button("normal","outline",$c);
      }
    }
  }

  &--tertiary, &--expanded.ma__button-icon--tertiary, &:hover.ma__button-icon--tertiary {

    @include ma-button("normal","solid",$c-gray-light);
    color: $c-black;

    svg {
      fill: $c-black;
    }
  }

  &--quaternary, &--expanded.ma__button-icon--quaternary, &:hover.ma__button-icon--quaternary {
    min-height: 30px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    text-transform: none;
    border-bottom: 2px solid rgba($c-primary-alt,0.75);
    color: $c-primary-alt;

    svg {
      fill: rgba($c-primary-alt,0.75);
    }

    &:hover {
      border-bottom: 3px solid $c-primary-alt;
      background-color: transparent;
    }

    @each $class, $c in $quaternary-colors {
      &.ma__button-icon--#{$class} {
        border-bottom-color: rgba($c,0.75);
        color: $c;

        svg {
          fill: rgba($c,0.75);
        }

        &:hover {
          border-bottom-color: $c;
        }
      }
    }
  }

  &--expanded.ma__button-icon--quaternary-simple, &:hover.ma__button-icon--quaternary-simple:hover {
    background-color: $c-gray-light;
  }

  &--quaternary-simple {
    background-color: transparent;
  }

  &--quaternary-simple, &--expanded.ma__button-icon--quaternary-simple, &:hover.ma__button-icon--quaternary-simple:hover {
    min-height: unset;
    box-shadow: none;
    border: none;
    padding: 5px 5px;
    text-transform: none;
    cursor: pointer;
    color: $c-primary-alt;

    svg {
      width: 10px;
      height: 10px;
      fill: rgba($c-primary-alt,0.5);
    }

    @each $class, $c in $quaternary-colors {
      &.ma__button-icon--#{$class} {
        color: $c;

        svg {
          fill: rgba($c,0.5);
        }
      }
    }
  }

  &--alert {
    font-size: 16px;
    font-weight: $fonts-bold;
    letter-spacing: $letter-spacing-large;
    line-height: 1;
    padding: .4em;
    padding-left: .7em;
    padding-right: .8em;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
    min-height: unset;
    border: none;
    display: inline-block;
    color: $c-white;
    background-color: $c-primary-alt;

    &.ma__button-icon > svg {
      fill: rgba($c-white,.5);
      width: 10px;
    }

    @each $class, $c in $colors {
      &.ma__button-icon--#{$class} {
        background-color: $c;

        @if $c == $c-highlight {
          color: $c-black;

          &.ma__button-icon > svg {
            fill: rgba($c-black,.5);
          }
        }
      }
    }

  }

}
