$primarycolors: (
  "c-primary-alt": $c-primary-alt,
  "c-highlight": $c-highlight,
  "c-black": $c-black,
  "c-gray-dark": $c-gray-dark,
  "c-white": $c-white
);

button {
  cursor: pointer;
  font-family: "Texta", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.ma__button {

  @include ma-button("normal","solid",$c-primary);

  @each $class, $c in $primarycolors {

  &--#{$class} {

      @include ma-button("normal","solid",$c);
    }
  }

  &--small {

    @include ma-button("small");
  }

  &--large {

    @include ma-button("large");
  }

  &--secondary {

    @include ma-button("normal","outline",$c-primary);

    &.ma__button {

      &--c-primary-alt {

        @include ma-button("normal","outline",$c-primary-alt);
      }

      &--c-highlight {

        @include ma-button("normal","outline",$c-highlight);
      }

      &--c-gray-dark {

        @include ma-button("normal","outline",$c-gray-dark);
      }
    }
  }

  &--tertiary {

    @include ma-button("normal","solid",$c-gray-light);
    color: $c-black;
  }

  &--quaternary {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $c-primary-lighter;
    color: $c-primary;
    padding: 0;
    text-transform: none;

    &:hover {
     border-bottom: 3px solid $c-primary;
     background-color: transparent;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

}