button {
  cursor: pointer;
}

.ma__button {
  @include ma-button("normal");
}

.ma__button--small { 
  @include ma-button("small");
}

.ma__button--large { 
  @include ma-button("large");
}

//theme
button {
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
}

.ma__button {
  @include ma-button("normal","solid",$c-primary);
}

.ma__button--minor {
  @include ma-button("normal","outline",$c-primary);
}

.ma__button--secondary {
  @include ma-button("normal","solid",$c-primary-alt);
}

.ma__button--minor.ma__button--secondary {
  @include ma-button("normal","outline",$c-primary-alt);
}

.ma__button--tertiary {
  @include ma-button("normal","solid",$c-highlight);
}

.ma__button--minor.ma__button--tertiary {
  @include ma-button("normal","outline",$c-highlight);
}

.ma__button--quaternary {
  @include ma-button("normal","solid",$c-gray-dark);
}

.ma__button--minor.ma__button--quaternary {
  @include ma-button("normal","outline",$c-gray-dark);
}
