.ma__divider {
  @include ma-container;
  border: none;

  .ma__stacked-row__section .main-content .page-content > & {
    @include ma-component-spacing('large');
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
    transform: skew(-30deg);
    width: 100%;
  }
}

//theme
.ma__divider {

  &:after {
    background-color: $c-primary-alt;
  }
}
