// error message
.ma__error-msg {
  display: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: .5em;

  color: $c-font-error;
  font-weight: 500;

  &--success {
    color: $c-primary-alt !important;
  }

  &.has-error {
    display: flex !important;
    align-items: center;
  }
}
