// error message

@use "../00-base/global" as *;

.ma__error-msg {
  display: none;
  align-items: flex-start;
  font-size: 1.125rem;
  line-height: 1.2rem;
  margin: .3em 0;
  font-weight: $fonts-normal;

 svg {
   flex: 0 0 1.2rem;
   margin-right: 3px;
 }

 &.has-error {
   display: flex;
   color: $c-font-error;

   &.ma__error-msg--success {
       display: flex;
       color: $c-primary-alt;
     }
 }


}
