.ma__figure {
  margin: 0;

  .main-content--full .page-content > & {

    @include ma-container;

    &--large {

      @media ($bp-large-bridge-min) {
        width: auto;
      }
    }
  }

  @media ($bp-small-min) {

    &--left,
    &--align-left,
    &.align-left {
      float: left;
      margin-right: .5em;
      margin-bottom: 1em;
      width: 50%;
    }

    &--right,
    &--align-right,
    &.align-right {
      float: right;
      margin-left: .5em;
      margin-bottom: 1em;
      width: 50%;
    }
  }

  &--full {
    transition: width 0.2s;
  }

  .rich-text & {
    margin-bottom: 1.75em;
  }

  img {
    width: 100%;
  }

  &__title {

    @include ma-h2;
  }

  &__caption {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.57;
  }

  // EXCLURIVE STYLES to dataviz
  
  .ma__dataviz {

    width: 100%;
  }
  // $bp-large-bridge-min: min-width: 1025px;
  // $bp-large-bridge-max: max-width: 1024px;

  // Small
  // Right rail

  .main-content--two &--small.ma__dataviz {
    width: 100%;

    @media ($bp-large-bridge-min) {// 1025~
      width: 50%;
    }
  }

  // Full width (no side col content)

  .main-content--two--full &--small.ma__dataviz {

    @media ($bp-x-small-min) {// 481~
      width: 50%;
    }

    @media ($bp-medium-min) {// 781~
      width: 33.33%;
      width: calc(100% / 3);
    }
  }

  // Medium
  // Right rail

  .main-content--two &--medium.ma__dataviz {
    width: 100%;

    @media ($bp-large-bridge-min) {// 1025~
      width: 66.66%;
      width: calc(100% / 3 * 2);
    }
  }

  // Full width (no side col content)

  .main-content--two--full &--medium.ma__dataviz {

    @media ($bp-x-small-min) {// 481~
      width: 66.66%;
      width: calc(100% / 3 * 2);
      margin-right: .5em;
    }

    @media ($bp-medium-min) {// 781~
      width: 50%;
    }
  }

  // Large

  &--large.ma__dataviz {
    width: 100%;
  }
  // Right rail
  // .main-content--two &--large.ma__dataviz {
  //   width: 100%;
  // }
  // Full width (no side col content)

  .main-content--two--full &--large.ma__dataviz {
    // width: 100%;

    @media ($bp-large-min) {
      width: 66.66%;
      width: calc(100% / 3 * 2);
    }
  }

  // alignment

  @media ($bp-x-small-max) {
  
    &--left.ma__dataviz, &--right.ma__dataviz {
      float: none;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &--left.ma__dataviz {
    float: left;
    margin-right: .5em;
    margin-bottom: 1em;
  }

  &--right.ma__dataviz {
    float: right;
    margin-left: .5em;
    margin-bottom: 1em;
  }
}

//theme

.ma__figure {

  &__caption {
    font-weight: 300;
  }
}
