@use "00-base/global" as *;

.ma__helper-text {
  font-size: 1rem;
  line-height: 1.438rem;
  margin-top: 10px;
  
  &--error {
    color: $c-error;
  }

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: $c-gray-dark;
    opacity: 0.5;
  }
}

//theme

.ma__helper-text {
  font-style: italic;
  font-weight: normal;
}
