@mixin ma__input--button($type) {
  .ma__input-#{$type} {
    display: inline-flex;
      flex-direction: row;

    position: relative;


    &-unit {
      border: 2px solid $c-bd-input;
      padding-right: 5px;
      padding-top: 1px;
      border-left: none;
      border-right: none;
      color: $c-gray-dark;
    }

    &__control {
    	text-align: right;
      border-right: 0;
      padding-right: 5px;

      &-buttons {
        display: block;
        position: relative;
      }

  	  input.has-error {
  	    border-color: $c-bd-error;
  	  }

  	  &-plus,
  	  &-minus {
  	    @include ma-button-reset;
  	    border: 2px solid $c-bd-input;
  	    border-bottom: none;
  	    display: block;
  	    height: 50%;
  	    padding: 0;
  	    position: absolute;
  	    width: 40px;

  	    &:focus {
  	      border-bottom-style: dotted;
  	      border-bottom-width: 1px;
  	    }

  	    &:after {
  	      border: 5px solid $c-black;
  	      border-top: none;
  	      border-bottom-width: 6px;
  	      content: "";
  	      display: block;
  	      height: 0;
  	      margin: 0 auto;
  	      position: absolute;
  	        bottom: 2px;
  	        left: 50%;
  	      transform: translateX(-50%);
  	      vertical-align: bottom;
  	      width: 0;
  	      border-left-color: transparent;
  	      border-right-color: transparent;
  	    }

  	    &:focus:after {
  	      bottom: 1px;
  	    }
  	  }

  	  &-plus {
  	    bottom: 50%;
  	  }

  	  &-minus {
  	    top: 50%;
  	    transform: rotate(180deg);
  	  }
    }

  }
}
