// Special label handling

.ma__legend,
.ma__label {

  &-condition {
    font-size: 1rem;
  }

  &--hidden {

    @include ma-visually-hidden;

    & + input {
      margin-top: inherit;
    }
  }

  &--inline {
    display: inline;
  }

  &--small {
    font-size: 18px;
  }
}
