@use "00-base/global" as *;

.ma__publish-state {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-large;

  @media ($bp-small-min) {
    font-size: 3rem;
  }

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container;
  }

  &:before {
    content: "\2013";
    margin-right: .25em;
  }

  &:after {
    content: "\2013";
    margin-left: .25em;
  }
}

//theme

.ma__publish-state {
  color: $c-font-medium;
  font-weight: 700;
}
