.ma__site-logo {

  a {
    display: flex;
    font-size: 0px;
    width: 164px;// total: 164 x 45
    margin: 0 auto;
    align-items: center;


    @media ($bp-small-max) {
      width: 150px;// total: 150 x 42
    }

    img {
      width: 45px;
      height: 45px;

      @media ($bp-small-max) {
        width: 42px;
        height: 42px;
      }
    }

    span {
      font-size: 1.9rem;
      display: inline-block;
      width: 112px;// 119px - margin-left(7)
      margin-left: 0.4rem;
      line-height: 1;
      letter-spacing: $letter-spacing-small;

      @media ($bp-small-max) {
        font-size: 1.7rem;
        width: 102px;// 108px - margin-left(6)
        margin-left: 0.3rem;
      }
    }
  }
}

//theme

.ma__site-logo {

  a {

    span {
      font-weight: fonts-light;
      color: $c-primary-alt;

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $c-primary-alt;

      @media ($bp-small-max) {
        -webkit-text-stroke-width: 0.03rem;
      }
    }
  }
}
