@use "00-base/variables" as *;
// Not function for Libsass compatibility
// https://github.com/sass/libsass/issues/368

@function is-not($value) {

  @warn "The is-not() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  @return if($value, false, true);
}

// Checks if a number is even

@function is-even($int) {

  @warn "The is-even() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  @return $int % 2 == 0;
}

// Checks if an element belongs to a list or not

@function belongs-to($tested-item, $list) {

  @warn "The belongs-to() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  @return is-not(not-belongs-to($tested-item, $list));
}

@function not-belongs-to($tested-item, $list) {

  @warn "The not-belongs-to() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  @return is-not(index($list, $tested-item));
}

// Contains display value

@function contains-display-value($query) {

  @warn "The contains-display-value() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  @return belongs-to(table, $query) or belongs-to(block, $query) or
    belongs-to(inline-block, $query) or belongs-to(inline, $query);
}

// Parses the first argument of span-columns()

@function container-span($span: $span) {

  @warn "The container-span() function is deprecated and will be removed in a future version. Please migrate to CSS Grid or CSS custom properties instead.";

  @if length($span) == 3 {
    $container-columns: nth($span, 3);

    @return $container-columns;
  } @else if length($span) == 2 {
    $container-columns: nth($span, 2);

    @return $container-columns;
  }

  @return $grid-columns;
}

@function container-shift($shift: $shift) {

  @warn "The container-shift() function is deprecated and will be removed in a future version. Please migrate to CSS Grid or CSS custom properties instead.";
  $parent-columns: $grid-columns !default !global;

  @if length($shift) == 3 {
    $container-columns: nth($shift, 3);

    @return $container-columns;
  } @else if length($shift) == 2 {
    $container-columns: nth($shift, 2);

    @return $container-columns;
  }

  @return $parent-columns;
}

// Layout direction

@function get-direction($layout, $default) {

  @warn "The get-direction() function is deprecated and will be removed in a future version. Please use CSS logical properties or CSS custom properties instead.";
  $direction: null;

  @if to-upper-case($layout) == "LTR" or to-upper-case($layout) == "RTL" {
    $direction: direction-from-layout($layout);
  } @else {
    $direction: direction-from-layout($default);
  }

  @return $direction;
}

@function direction-from-layout($layout) {

  @warn "The direction-from-layout() function is deprecated and will be removed in a future version. Please use CSS logical properties or CSS custom properties instead.";
  $direction: null;

  @if to-upper-case($layout) == "LTR" {
    $direction: right;
  } @else {
    $direction: left;
  }

  @return $direction;
}

@function get-opposite-direction($direction) {

  @warn "The get-opposite-direction() function is deprecated and will be removed in a future version. Please use CSS logical properties or CSS custom properties instead.";
  $opposite-direction: left;

  @if $direction == "left" {
    $opposite-direction: right;
  }

  @return $opposite-direction;
}

@function to-number($string) {

  @warn "The to-number() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";
  $string: str-replace($string, " ", "");
  $strings: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  $numbers: 0 1 2 3 4 5 6 7 8 9;
  $result: 0;

  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);

    @if not $index {

      @warn "Unknown character `#{$character}`.";

      @return false;
    }

    $number: nth($numbers, $index);
    $result: $result * 10 + $number;
  }

  @return $result;
}

@function str-replace($string, $search, $replace: "") {

  @warn "The str-replace() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  $index: str-index($string, $search);

  @if $index {
    $first: str-slice($string, 1, $index - 1);
    $last-slice: str-slice($string, $index + str-length($search));
    $last: str-replace($last-slice, $search, $replace);

    @return $first + $replace + $last;
  }

  @return $string;
}

$parent-columns: $grid-columns !default;
$fg-column: $column;
$fg-gutter: $gutter;
$fg-max-columns: $grid-columns;

@function flex-grid($columns, $container-columns: $fg-max-columns) {

  @warn "The flex-grid() function is deprecated and will be removed in a future version. Please migrate to CSS Grid or CSS custom properties instead.";

  $width: flex-width($columns);
  $container-width: flex-width($container-columns);

  @return percentage($width / $container-width);
}

@function flex-gutter(
  $container-columns: $fg-max-columns,
  $gutter: $fg-gutter
) {

  @warn "The flex-gutter() function is deprecated and will be removed in a future version. Please migrate to CSS Grid or CSS custom properties instead.";

  $container-width: flex-width($container-columns);

  @return percentage($gutter / $container-width);
}

@function flex-width($n, $column-width: $fg-column, $gutter-width: $fg-gutter) {

  @warn "The flex-width() function is deprecated and will be removed in a future version. Please migrate to CSS Grid or CSS custom properties instead.";

  @return $n * $column-width + ($n - 1) * $gutter-width;
}

@function get-parent-columns($columns) {

  @warn "The get-parent-columns() function is deprecated and will be removed in a future version. Please migrate to CSS Grid or CSS custom properties instead.";

  @if $columns != $grid-columns {
    $parent-columns: $columns !global;
  } @else {
    $parent-columns: $grid-columns !global;
  }

  @return $parent-columns;
}

@function is-display-table($container-is-display-table, $display) {

  @warn "The is-display-table() function is deprecated and will be removed in a future version. Please use vanilla CSS or CSS custom properties instead.";

  @return $container-is-display-table == true or $display == table;
}
