@import '../../styles/global';

.sb {
  &-text {
    overflow-wrap: break-word;
  }

  &-block {
    margin-top: 0 !important;
    margin-bottom: 2rem;

    hr {
      border: 1px solid $c-gray-lightest;
    }
  }
}


$styles: (
  "light": 'Light',
  "book": 'Book',
  "medium": 'Medium',
  "bold": 'Bold',
  "black": 'Black'
);



.ma-texta {
  @each $class, $s in $styles {
    &-#{$class} {
      @include ma-texta-style($s)
      &--italic {
        @include ma-texta-style($s, true)
      }
    }
  }
}
