@use "styles/global" as *;
@use "00-base/fonts-styles";
@use "00-base/fonts";
@use "00-base/elements";
@use "04-templates/general";
@use "00-base/fonts-langs";

.sb {
  &-text {
    overflow-wrap: break-word;
  }

  &-block {
    margin-top: 0 !important;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid $c-gray-lightest;

    hr {
      color: $c-gray-lightest;
    }

    &--mono {
      font-family: $fonts-mono;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 300px auto;
    @media ($bp-small-max){
      grid-template-columns: auto;
    }
  }
}


// Show only the control column for custom preview controls
#sb-control--preview {
  .docblock-argstable {
    thead,tbody {
      tr{
        th,td:not(:last-child) {
          display: none;
        }
        textarea {
          font-size: $fonts-medium;
        }
      }
    }
  }
}
