@import "global";

.ma__tab-container {
  display: flex;
  flex-direction: column;

  .ma__tab-container-head {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ma__tab-container-body {
    padding: 1rem;
    border: 1px solid $c-gray-light;
    margin-top: -1px;
  }

  .ma__tab-title {
    cursor: pointer;
    padding: 1.75rem 1.5rem 0.8rem 1.5rem;
    font-size: 1.25rem;
    background-color: unset;
    white-space: nowrap;
    border-left: 1px solid $c-gray-light;
    border-top: 1px solid $c-gray-light;
    border-right: none;
    margin-bottom: -1px;
    display: block;

    &:first-child {
      border-right: none;
      border-left-width: 1px;
    }

    &:last-child {
      border-right: 1px solid $c-gray-light;
    }

    &:focus {
      outline: none;
      border-top-color: $c-primary !important;
      border-left-color: $c-gray-light !important;
      border-bottom: none;
    }
    &:active {
      outline: none;
    }

    &--active {
      border-top: 5px solid $c-primary;
      padding-top: 1.5rem;
      font-weight: 700;
      border-bottom: 1px solid white;
      color: $c-primary;
      background-color: white;

      &:focus {
        outline: none;
        border-top-color: $c-primary !important;
        border-left-color: $c-gray-light !important;
        border-bottom: none;
      }

      &:active {
        outline: none;
      }

    }

  }

  .ma__tab-container--nested {
    .ma__tab-container-head {
      height: 70px;
      border-top: 5px solid transparent;
      border-bottom: 1px solid $c-gray-light;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .ma__tab-title {
      border: none;
      border-bottom: 5px solid transparent;

      &--active {
        color: $c-primary;
        border-bottom: 5px solid $c-primary;

        &:focus {
          outline: none;
          border-bottom: 5px solid $c-primary !important;
        }
      }

      &:focus {
        outline: none;
        border-bottom: 5px solid $c-primary !important;
      }

    }

    .ma__tab-container-body {
      border: none;
    }

  }

}
