@import "global";

.ma__tab-container {
  display: flex;
  flex-direction: column;
  .ma__tab-container-head {
    display: inline-flex;
    height: 60px;
  }
  .ma__tab-title {
    cursor: pointer;
    border: 1px solid black;
    padding: 1.5rem 1.5rem 0.8rem 1.5rem;
    font-size: 1.25rem;
    color: inherit;
  }
  .ma__tab-title--active {
    cursor: pointer;
    border: 1px solid black;
    border-bottom: none;
    border-top: 5px solid black;
    font-size: 1.25rem;
    color: $c-primary;
    font-weight: 700;
    padding: 1.5rem 1.5rem 0.8rem 1.5rem;
  }
  &--nested {
    .ma__tab-title, .ma__tab-title--active {
      border: none;
    }
    .ma__tab-title--active {
      border-bottom: 5px solid $c-primary;
    }
    .ma__tab-container-head {
      height: 70px;
      border-bottom: 1px solid black;
    }
  }
}
