.ma__input-group{

  &__items--inline {
    margin-left: -20px !important;
    margin-top: -10px !important;
  }

  &__item {
    min-width: 200px;
    margin-top: 10px;
    margin-left: 20px !important;
  }

  .item-2 {
    width: calc(50% - 20px);
  }
  .item-3 {
    width: calc(33.3% - 20px);
  }
  .item-4 {
    width: calc(25% - 20px);
  }
  .item-5 {
    width: calc(20% - 20px);
  }
  .item-6 {
    width: calc(16.6% - 20px);
  }
}

