@mixin ma-sidebar-heading ($border: transparent, $color: transparent) {

  @if ($border == transparent) {
    border-bottom: 2px solid;
    font-size: $fonts-xsmall;
    letter-spacing: $letter-spacing-large;
    padding-bottom: .5em;
    text-transform: uppercase;
  } @else {
    border-color: $border;
    color: $color;
  }
}
