@mixin ma-h1 {
  font-size: 3rem;
  line-height: 1.07;

  @media ($bp-medium-min) {
    font-size: 3.25rem;
  }

  @media ($bp-x-large-min) {
    font-size: 3.5rem;
  }
}

@mixin ma-h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@mixin ma-h3 {
  font-size: 2.125rem;
  line-height: 1.2;
  margin-bottom: .75em;

  @media ($bp-small-min){
    margin-bottom: 1em;
  }
}

@mixin ma-h4 {
  font-size: 1.875rem;
  line-height: 1.2;
}

@mixin ma-h5 {
  font-size: 1.625rem;
  line-height: 1.3;
  margin-bottom: .5em;
}

@mixin ma-h6 {
  font-size: 1.375rem;
  line-height: 1.4;
  margin-bottom: .25em;
}
