@mixin ma-emergency-header ($color: $c-highlight) {
  @if $color == $c-highlight {
    color: $c-font-base;

  } @else {
    color: $c-font-inverse;
  }
  background-color: rgba($color, 1);
  border-color: rgba($color, 1);
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  .ma__emergency-header__label {
    @if $color == $c-highlight {
      color: $c-font-base;
      svg {
        fill: $c-font-base;
      }
    } @else {
      color: $c-font-inverse;
      svg {
        fill: $c-font-inverse;
      }
    }
    
  }
  .ma__emergency-header__title {
    font-weight: bold;
    @if $color == $c-highlight {
      border-left-color: rgba($c-font-base, 0.3);
      .ma__content-link {
        color: $c-font-base;
        border-bottom: 1px solid rgba($c-font-base, .5);
        &:hover {
          border-bottom: 3px solid rgba($c-font-base, .75);
        }
      }
    } @else {
      border-left-color: rgba($c-font-inverse, 0.3);
      .ma__content-link {
        color: $c-font-inverse;
        border-bottom: 1px solid rgba($c-font-inverse, .5);
        &:hover {
          border-bottom: 3px solid rgba($c-font-inverse, .75);
        }
      }
    }  
  }
}