@import 'global';

.ma__general-teaser {

  &--image {
    display: flex;
      flex-wrap: wrap;
  }

  & + & {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 30px;
    padding-top: 30px;
    border-top-color: $c-bd-divider;

    @media ($bp-large-min){
      margin-top: 45px;
      padding-top: 45px;
    }

    .sidebar & {
      margin-top: 20px;
      padding-top: 20px;
    }
  }



  &__image {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 400px;
    font-size: 0;
    margin-right: 30px;
    margin-bottom: 10px;

    span {
      background-size: cover;
      display: block;
      padding-top: 56.25%;
      width: 100%;
    }
  }

  &__image + &__details {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__eyebrow {
    margin-bottom: 5px;

    span {
      font-size: 0.813rem;
      letter-spacing: .1em;
      padding: 5px 7px;
      text-transform: uppercase;
      background-color: $c-bg-section;
      font-weight: 700;
    }
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.2em;
    margin-bottom: .25em;

    .ma__decorative-link {
      font-size: 1.625rem;
      line-height: 1.2;
    }
  }

  &__details {
    padding: 2px 0 4px;
    .ma__contact-group{
      &__details{
        font-style: italic;
        font-size: 0.95rem;
      }
      &__item{
        font-size: 1.24rem;
      }
      &__name{
         margin-bottom: 0;
         span {
          font-size: 1.25rem;
          color: $c-gray-dark;
          font-weight: 550;
         }
         >svg{
          height: 1.1rem;
          width: 1.1rem;
         }
      }

    }
  }

  &__date,
  &__org {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 1em;
    color: $c-font-dark;
    font-style: italic;
    font-weight: 700;
  }

  &__date + &__org {
    border-left-style: solid;
    border-left-width: 1px;
    margin-left: .75em;
    padding-left: .75em;
  }

  &__org {
    border-left-color: $c-bd-divider;
      &__show-more {
        &.show-fewer {
          padding-left: 1rem;
          svg {
            transform: rotate(180deg);
          }
        }
        svg {
          fill: rgba(20, 85, 143, 0.5);
          width: 1em;
          height: .6em;
        }
      }

  }

  &__sublink{
    margin-bottom: 0.25rem;
    .ma__decorative-link {
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin-bottom: .5rem;
    }
  }

  &__description {
    font-size: 1.25rem;

    @media ($bp-x-small-max) {
      font-size: 1.24rem;
    }

    p {
      margin-bottom: 0.75em;
    }
  }

  &__moreinfo {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: column;
      justify-content: flex-start;
      align-content: flex-start;

      @media ($bp-small-min){
        flex-flow: row;

      }
  }

  &__pimaryinfo {
    padding-right: .75em;
    display: inline-flex;
      flex: 1 40%;
  }

  &__secondary {
    display: inline-flex;
      flex-flow: column;
      flex: 1 50%;

    &--border{
      border-left-style: none;
      border-left-width: 0px;
      align-content: flex-start;
      flex: 1 1 100%;
    }

    @media ($bp-small-min){
      border-left-style: solid;
      border-left-width: 1px;
      padding-left: .75em;
      border-left-color: $c-gray-light;
    }
  }

  &__secondaryinfo {
      display: inline-flex;
        flex-flow: row;
        align-items: center;

      .ma__decorative-link {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: .0rem;
        margin-left: .25em;
    }
  }

  &__secondaryicon svg {
        display: inline-block;
        vertical-align: middle;
        height: 1.1rem;
        width: 1.1rem;
        fill: $c-primary-alt;
      }
}
