// Parameters
// $size => "normal", "small"
// $type => "solid", "outline"
// $color => rgba() or hex value
//
// passing a color value will return the code for the theme instead of the code for layout

@use "00-base/variables" as *;

@use "00-base/colors" as *;

@use "00-base/color-tokens" as *;

@use "ma-button-base" as *;

@mixin ma-button ($type:"solid", $color:"transparent") {

  @if ($color != "transparent") {
    font-weight: $fonts-bold;
    // solid - primary usage (default)
    @if ($type == "solid") {
      background-color: $color;
      border-color: transparent;

      &:hover:not(:disabled) {
        background-color: rgba($color,.75);
      }

      @if $color == $c-white {
        color: $c-primary;

        svg {
          fill: $c-primary;
        }

        &:hover:not(:disabled) {
          background-color: $c-gray-lightest;
        }

      } @else if $color == $c-highlight {
        color: $c-black;

        svg {
          fill: $c-black;
        }
      } @else {
        color: $c-font-inverse;

        svg {
          fill: $c-font-inverse;
        }
      }


    }
    // outline - secondary usage 
    @else {
      background-color: $c-font-inverse;
      border-color: rgba($color,.5);

      @if $color == $c-highlight {
        color: $c-black;
        border-color: rgba($c-highlight,.5);

        svg {
          fill: $c-primary;
        }
      } @else {
        color: $color;

        svg {
          fill: $color;
        }
      }

      &:hover:not(:disabled) {

        svg {
          fill: $c-white;
        }

        @if $color == $c-highlight {
          color: $c-black;
          background-color: rgba($c-highlight,1);
        } @else {
          color: $c-font-inverse;
          background-color: rgba($color,1);
        }
      }
    }
  }
}

@mixin ma-button-size ($size:"normal") {
  @if ($size == "normal") {
    font-size: $fonts-small;
    line-height: 1.4;

    svg {
      width: $fonts-small;
      height: $fonts-small;
    }
  }
  // small

  @if ($size == "small") {
    font-size: $fonts-xsmall;
    line-height: 1.2;

    svg {
      width: $fonts-xsmall;
      height: $fonts-xsmall;
    }
  }
  // large

  @if ($size == "large") {
    font-size: $fonts-medium;
    line-height: 1.61;

    svg {
      width: $fonts-medium;
      height: $fonts-medium;
    }
  }
}
