@mixin ma-link-underline {
  border-bottom: 3px solid transparent;
  transition: border 0.4s ease;
  text-decoration: none;

  &:hover {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-decoration: none;
  }
}
