@use "variables" as *;

@use "00-base/breakpoints" as *;

@mixin ma-layout-left-col(){
  @media ($bp-medium-min) {
    margin-left: -160px;
    margin-bottom: 0;
    padding-right: $gutter * 2;
    position: absolute;
      top: 0;
    width: 160px;

  }

  @media ($bp-x-large-min) {
    width: $column-with-gutter * 2;
    margin-left: -$column-with-gutter * 2;
  }
}