@use "00-base/variables" as *;

@use "00-base/colors" as *;

@use "00-base/breakpoints" as *;

@mixin ma-component-spacing($size:small) {

  @if ($size == large) {
    margin-top: 40px;

    @media ($bp-small-min) {
      margin-top: 50px;
    }

    @media ($bp-medium-min) {
      margin-top: 60px;
    }

    @media ($bp-large-min) {
      margin-top: 70px
    }
  } @else {
    margin-top: 30px;

    @media ($bp-small-min) {
      margin-top: 45px;
    }
  }

  &:first-child:not(.ma__stacked-row__container) {
    margin-top: 0;
  }

  &.ma__stacked-row__container:first-child + * {
    margin-top: 0;
  }
}
