@use "00-base/variables" as *;

@use "00-base/colors" as *;

@mixin ma-emergency-header ($color: $c-highlight) {

  @if $color == $c-highlight {
    color: var(--mf-c-font-base);

  } @else {
    color: var(--mf-c-font-inverse);
  }
  background-color: $color;
  border-color: $color;

  .ma__emergency-header__label {

    @if $color == $c-highlight {
      color: var(--mf-c-font-base-80);
      border-right-color: var(--mf-c-font-base-30);

      svg {
        fill: var(--mf-c-font-base);
      }
    } @else {
      color: var(--mf-c-font-inverse);
      border-right-color: var(--mf-c-font-inverse-30);

      svg {
        fill: var(--mf-c-font-inverse);
      }
    }

  }

  .ma__emergency-header__title {
    font-weight: bold;

    @if $color == $c-highlight {

      .ma__content-link {
        color: var(--mf-c-font-base);
        border-bottom: 1px solid var(--mf-c-font-base-50);

        &:hover {
          border-bottom: 3px solid var(--mf-c-font-base-75);
        }
      }
    } @else {

      .ma__content-link {
        color: var(--mf-c-font-inverse);
        border-bottom: 1px solid var(--mf-c-font-inverse-50);

        &:hover {
          border-bottom: 3px solid var(--mf-c-font-inverse-75);
        }
      }
    }
  }
}
