@use "00-base/variables" as *;

@use "00-base/colors" as *;

@use "00-base/breakpoints" as *;

// Headings.
@mixin ma-h1 {
  font-size: $fonts-3xlarge; // 2.25rem / 36px / H1 small

  line-height: 1.2; // 54px


  @media ($bp-medium-min) {
    font-size: $fonts-4xlarge; // 2.5rem / 40px / H1 medium
  }

  @media ($bp-x-large-min) {
    font-size: $fonts-5xlarge; // 2.75rem / 44px / H1 large
  }
}

@mixin ma-h2 {
  font-size: $fonts-2xlarge; // 2rem / 32px / H2 small

  line-height: 1.2; // 48px


  @media ($bp-medium-min) {
    font-size: $fonts-3xlarge; // 2.25rem / 36px / H2 medium
  }

  @media ($bp-x-large-min) {
    font-size: $fonts-4xlarge; // 2.5rem / 40px / H2 large
  }
}

@mixin ma-h3 {
  font-size: $fonts-xlarge; // 1.75rem / 28px / H3 small

  line-height: 1.2; // 42px


  @media ($bp-medium-min) {
    font-size: $fonts-2xlarge; // 2rem / 32px / H3 medium
  }

  @media ($bp-x-large-min) {
    font-size: $fonts-3xlarge; // 2.25rem / 36px / H3 large
  }
}

@mixin ma-h4 {
  font-size: $fonts-larger; // 1.625rem / 26px / H5

  line-height: 1.2; // 24px

}

@mixin ma-h5 {
  font-size: $fonts-large; // 1.5rem / 24px / H6

  line-height: 1.2; // 24px

}

@mixin ma-h6 {
  font-size: $fonts-medium; // 1.375rem / 22px / normal paragraph text
  font-weight: $fonts-light; // 400
  line-height: 1.2; // 24px

}

@mixin ma-heading($level: 1) {
  font-weight: $fonts-bold;

  @if ($level == 1) {

    @include ma-h1;
  }

  @if ($level == 2) {

    @include ma-h2;
  }

  @if ($level == 3) {

    @include ma-h3;
  }

  @if ($level == 4) {

    @include ma-h4;
  }

  @if ($level == 5) {

    @include ma-h5;
  }

  @if ($level == 6) {

    @include ma-h6;
  }
}
