@use "00-base/variables" as *;

@use "00-base/color-tokens" as *;

@use "00-base/colors" as *;

@use "sass:color" as *;

@mixin ma-emergency-alert ($color) {
  color: $c-font-base;
  background-color: color-mix(in srgb, $c-bg 90%, $color 10%);

    & + & {
    border-top-color: color-mix(in srgb, $c-bg 50%, $color 50%);
  }

  .ma__emergency-alert__link {
    font-weight: bold;

    &:hover {
      border-bottom-color: transparent;
    }

    .ma__content-link {
      text-decoration: none;

      span {
        display: inline;
        border-bottom: 1px solid rgba($c-font-base, .5);

        &:hover {
          border-bottom: 3px solid rgba($c-font-base, .75);
        }
      }

      svg {
        fill: color-mix(in srgb, var(--mf-c-white) 50%, $c-font-base 50%);
      }

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}
