// Parameters
// $size => "normal", "small"
// $type => "solid", "outline"
// $color => rgba() or hex value
//
// passing a color value will return the code for the theme instead of the code for layout

@use "00-base/variables" as *;

@use "00-base/colors" as *;

@use "00-base/color-tokens" as *;

@use "ma-button-base" as *;

@mixin ma-button($type: "solid", $color: "transparent") {
  @if ($color != "transparent") {
    font-weight: $fonts-bold;
    // solid - primary usage (default)

    @if ($type == "solid") {
      background-color: $color;
      border-color: transparent;

      &:hover:not(:disabled) {
        @if $color == $c-primary {
          background-color: var(--mf-c-primary-75);
        } @else if $color == $c-primary-alt {
          background-color: var(--mf-c-primary-alt-75);
        } @else if $color == $c-error {
          background-color: var(--mf-c-error-75);
        } @else if $color == $c-gray-dark {
          background-color: var(--mf-c-gray-dark-75);
        } @else {
          background-color: $color;
        }
      }

      @if $color == $c-white {
        color: var(--mf-c-primary);

        svg {
          fill: var(--mf-c-primary);
        }

        &:hover:not(:disabled) {
          background-color: var(--mf-c-gray-light);
        }
      } @else if $color == $c-highlight {
        color: var(--mf-c-gray-darkest);

        svg {
          fill: var(--mf-c-gray-darkest);
        }
      } @else {
        color: var(--mf-c-font-inverse);

        svg {
          fill: var(--mf-c-font-inverse);
        }
      }
    }
    // outline - secondary usage
    @else {
      background-color: var(--mf-c-font-inverse);

      @if $color == $c-primary {
        border-color: var(--mf-c-primary-50);
      } @else if $color == $c-primary-alt {
        border-color: var(--mf-c-primary-alt-50);
      } @else if $color == $c-error {
        border-color: var(--mf-c-error-50);
      } @else if $color == $c-gray-dark {
        border-color: var(--mf-c-font-dark-50);
      } @else {
        border-color: rgba($color, 0.5);
      }

      &:hover:not(:disabled) {
        background-color: $color;
      }

      @if $color == $c-highlight {
        color: var(--mf-c-gray-darkest);
        border-color: var(--mf-c-highlight-50);

        svg {
          fill: var(--mf-c-gray-darkest);
        }

        &:hover:not(:disabled) {
          color: var(--mf-c-gray-darkest);

          svg {
            fill: var(--mf-c-gray-darkest);
          }
        }
      } @else {
        color: $color;

        svg {
          fill: $color;
        }

        &:hover:not(:disabled) {
          color: var(--mf-c-font-inverse);

          svg {
            fill: var(--mf-c-font-inverse);
          }
        }
      }
    }
  }
}

@mixin ma-button-size($size: "normal") {
  @if ($size == "normal") {
    font-size: $fonts-medium;
    line-height: 1.4;

    svg {
      width: $fonts-medium;
      height: $fonts-medium;
    }
  }

  // small

  @if ($size == "small") {
    font-size: $fonts-small;
    line-height: 1.2;

    svg {
      width: $fonts-small;
      height: $fonts-small;
    }
  }

  // large

  @if ($size == "large") {
    font-size: $fonts-large;
    line-height: 1.61;

    svg {
      width: $fonts-large;
      height: $fonts-large;
    }
  }
}
