$location-listing--gutter-width: 30px;
$location-listing--tags-size: 25px;
$location-listin--map-min-width: 315px;

.ma__location-listing {
  position: relative;

  &__container {
    @include ma-container;
  }

  &__columns {
    position: relative;
  }

  &__columns &__container {

    @media ($bp-large-min) {
      align-items: stretch;
      display: flex;
      margin-bottom: -60px;
    }
  }

  &__map {

    @media ($bp-large-min){
      min-height: 100vh;
      order: 2;
      width: $location-listin--map-min-width;
    }
  }

  &__sticky {
    height: 80vh;
    max-height: 500px;
    width: 100%;

    @media ($bp-large-min) {
      height: 100vh;
      max-height: none;
      position: absolute;
      right: 0;
      // 40px is from the padding in `ma-container` mixin.
      width: ($location-listin--map-min-width + 40px) !important;

      &[data-sticky='middle'] {
        position: fixed;
        top: 0;
      }

      &[data-sticky='bottom'] {
        bottom: 0;
      }
    }

    @media ($bp-page-width-min) {
      width: calc((100vw - #{$max-width}) / 2 + (#{$location-listin--map-min-width} + $location-listing--gutter-width)) !important;
    }

    &::before {
      content: 'false';
      display: none;

      @media ($bp-large-min) {
        content: 'true'
      }
    }

    .ma__google-map,
    .ma__google-map__map {
      height: 100%;
    }
  }

  &__filters {
    background-color: $c-bg-subtle;

    .ma__button-search {
      color: $c-font-base;

      &:hover {
        background-color: $c-font-base;
        border-color: $c-font-base;
        color: $c-font-inverse;
      }
    }
  }

  &__results {

    @media ($bp-large-min){
      order: 1;
      padding-right: 30px;
      width: calc(100% - #{$location-listin--map-min-width});
    }
  }

  .ma__results-heading {
    margin-bottom: 0;
    padding-top: 40px;
  }

  .ma__image-promo {
    margin-top: 0;
    padding-bottom: 30px;
    padding-right: $location-listing--tags-size + $location-listing--gutter-width;
    position: relative;

    &:first-child {
      border-top-style: solid;
      border-top-width: 1px;
      margin-top: -2px;
      padding-top: 30px;
    }

    &__image {
      flex-basis: (100px + $location-listing--gutter-width);
      margin-right: 0;
      padding-right: $location-listing--gutter-width;
    }

    &__details {
      padding-right: $location-listing--gutter-width;
    }

    &__tags {
      float: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      > span {
        display: block;
        margin-left: 0;
      }

      svg {
        height: $location-listing--tags-size;
        width: $location-listing--tags-size;
      }
    }

    &__link {
      font-size: 18px;
    }

    &__contact {
      flex: 0 0 180px;

      > div:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    &__phone {
      // Matches font-size defined on <body>.
      font-size: 1.375rem;

      svg {
        height: 25px;
        width: 25px;
      }
    }
  }
}
