@import "variables";
// breakpoint values used for below only

$bp-xs: 30rem; // 480px
$bp-s: 38.75rem; // 620px
$bp-m: 48.75rem; // 780px
$bp-l: 56.88rem; // 910px
$bp-l-ex: 65.63rem; // 1050px
$bp-xl: 75rem; // 1200px


// Global breakpoint media variables.
$bp-x-small-min: "min-width: " + $bp-xs;
$bp-x-small-max: "max-width:" + $bp-xs;
$bp-small-min: "min-width: " + $bp-s;
$bp-small-max: "max-width:" + $bp-s;
$bp-medium-min: "min-width: " + $bp-m;
$bp-medium-max: "max-width:" + $bp-m;
$bp-large-min: "min-width: " + $bp-l;
$bp-large-max: "max-width:" + $bp-l;
$bp-large-extended: "max-width:" + $bp-l-ex;
$bp-large-extended-min: "min-width: " + $bp-l-ex;
$bp-x-large-min: "min-width: " + $bp-xl;
$bp-x-large-max: "max-width:" + $bp-xl;

// Use @include outer-container() which sets this and centers.
$max-width: 82.5rem; // 1320px

$bp-page-width-min: "min-width:" + $max-width;
$bp-page-width-max: "max-width:" + $max-width;
$bp-centered-content-width: "min-width: 82.19rem";  //1315px


// Semi Global breakpoint media variables
// switch the header from full width to hamburger
$bp-header-toggle-min: "min-width: 52.56rem"; // 841px
$bp-header-toggle-max: "max-width: 52.5rem"; // 840px

// Custom Breakpoints

// Header 
$bp-header-search-reduce-button: "max-width: 43.75rem"; // 700px
$bp-header-min-break: "min-width: 62.5rem"; // 1000px

// Illustrated Headers 
$bp-illustrated-header-columns-min: "min-width: 62.56rem"; // 1001px
$bp-illustrated-header-columns-max: "max-width: 62.5rem"; // 1000px

// Feedback form custom breakpoint 
$bp-feedback-min: "min-width: 40.63rem"; // 650px
$feedback-form-bp-min: "min-width: 46.94rem"; // 751px

// Utility Panel
$bp-utility-panel-medium-min: "min-width: 70.06rem"; // 1121px
$bp-utility-panel-reduce-links-max: "max-width: 70rem"; //1120px

// Collage header
$collage-header-bp-min: "min-width: 43.81rem"; // 701px

// Contact Rows
$accordion-break: 45rem; // 720px

// Section 3 up
$bp-section-3up-large-min: "min-width:59.44rem"; //951px
$bp-section-3up-large-max: "max-width: 59.38rem"; //950px
