// Theme colors

@import 'colors-tokens';


// Gray Scale Spectrum
$c-black:                $c-revolution-gray;
$c-gray-dark:            $c-granite-gray;
$c-gray:                 $c-atlantic-gray;
$c-gray-light:           $c-overcast-gray;
$c-gray-lighter:         #CCCCCC;
$c-gray-lightest:        $c-platinum-gray;
$c-white:                white;

// Additional Global Colors Representing Special States
$c-error:                $c-error-red;
$c-error-lighter:        $c-error-red-lighter;
$c-error-lightest:       $c-error-red-lightest;
$c-warning:              $c-duckling-yellow;
$c-success:              $c-berkshires-green;
$c-focus:                $c-focus-hightlight;
// Need to add these colors to this listing new to add
// $c-visited


// Theme Color Usage Variables
$c-primary:              $c-bay-blue !default;
$c-primary-lighter:      $c-bay-blue-lighter !default;
$c-primary-lightest:     $c-bay-blue-lightest !default;
$c-primary-alt:          $c-berkshires-green !default;
$c-primary-alt-lighter:  $c-berkshires-green-lighter !default;
$c-primary-alt-lightest: $c-berkshires-green-lightest !default;
$c-primary-alt-dark:     $c-berkshires-green-dark !default;
$c-highlight:            $c-duckling-yellow !default;
$c-highlight-lighter:    $c-duckling-yellow-lighter !default;
$c-highlight-lightest:   $c-duckling-yellow-lightest !default;

$c-font-base:            $c-black;
$c-font-detail:          $c-gray-dark;
$c-font-dark:            $c-black;
$c-font-medium:          $c-gray;

$c-font-heading:         $c-black;
$c-font-inverse:         $c-white;
$c-font-link:            $c-bay-blue;
$c-font-error:           $c-error;

$c-bg-comp-title:        $c-gray-dark;
$c-bg-subtle:            $c-gray-lightest;
$c-bg-section:           $c-gray-lightest;

$c-bd-divider:           $c-gray-light;
$c-bd-divider-dark:      $c-gray-dark;
$c-bd-error:             $c-error;
$c-bd-input:             $c-gray-light;
$c-bd-input-dark:        $c-gray;
