// Designer to Developer translations
// Light => 300
// Book => 400
// Medium => 500
// Bold => 700
// Black => 800

// Set $assets-path to form the correct links to the parent folder of fonts/ based on the location of the compiled css
@forward "paths";

@use "paths" as *;

/* The fallback non-variable Noto Sans font */

@font-face {
  font-family: 'Noto Sans';
  src:  url('#{$assets-path}/fonts/noto/latin/static/regular/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$assets-path}/fonts/noto/latin/static/regular/NotoSans-Regular.woff') format('woff'),
        url('#{$assets-path}/fonts/noto/latin/static/regular/NotoSans-Regular.ttf') format('truetype'),
        url('#{$assets-path}/fonts/noto/latin/static/regular/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-style: normal;
}
/* The fallback non-variable Noto Sans Italic font */

@font-face {
  font-family: 'Noto Sans';
  src:  url('#{$assets-path}/fonts/noto/latin/static/italic/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$assets-path}/fonts/noto/latin/static/italic/NotoSans-Italic.woff') format('woff'),
        url('#{$assets-path}/fonts/noto/latin/static/italic/NotoSans-Italic.ttf') format('truetype'),
        url('#{$assets-path}/fonts/noto/latin/static/italic/NotoSans-Italic.svg#NotoSans-Italic') format('svg');
  font-style: italic;
}


@supports ( font-variation-settings: normal ) {
  /* The variable font of Noto Sans */

  @font-face {
    font-family: 'Noto Sans VF';
    src:  url('#{$assets-path}/fonts/noto/latin/variable/regular/NotoSans-VF.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/latin/variable/regular/NotoSans-VF.woff') format('woff'),
          url('#{$assets-path}/fonts/noto/latin/variable/regular/NotoSans-VF.ttf') format('truetype'),
          url('#{$assets-path}/fonts/noto/latin/variable/regular/NotoSans-VF.svg#NotoSans-Regular') format('svg');
    font-weight: 100 900;
    font-style: normal;
  }
  /* The variable font of Noto Sans Italic */

  @font-face {
    font-family: 'Noto Sans VF';
    src:  url('#{$assets-path}/fonts/noto/latin/variable/italic/NotoSansItalic-VF.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/latin/variable/italic/NotoSansItalic-VF.woff') format('woff'),
          url('#{$assets-path}/fonts/noto/latin/variable/italic/NotoSansItalic-VF.ttf') format('truetype'),
          url('#{$assets-path}/fonts/noto/latin/variable/italic/NotoSansItalic-VF.svg#NotoSans-Italic') format('svg');
    font-weight: 100 900;
    font-style: italic;
  }
  /* The variable font of Noto Sans Mono */

  @font-face {
    font-family: 'Noto Sans Mono VF';
    src:  url('#{$assets-path}/fonts/noto/latin/variable/mono/NotoSansMono-VF.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/latin/variable/mono/NotoSansMono-VF.woff') format('woff'),
          url('#{$assets-path}/fonts/noto/latin/variable/mono/NotoSansMono-VF.ttf') format('truetype'),
          url('#{$assets-path}/fonts/noto/latin/variable/mono/NotoSansMono-VF.svg#NotoSans-Mono') format('svg');
    font-weight: 100 900;
    font-style: normal;
  }
  /* The variable font of Noto Sans Khmer */

  @font-face {
    font-family: 'Noto Sans Khmer VF';
    src:  url('#{$assets-path}/fonts/noto/khmer/NotoSansKhmer-VF.eot?#iefix') format('embedded-opentype'),
          url('#{$assets-path}/fonts/noto/khmer/NotoSansKhmer-VF.woff') format('woff'),
          url('#{$assets-path}/fonts/noto/khmer/NotoSansKhmer-VF.ttf') format('truetype'),
          url('#{$assets-path}/fonts/noto/khmer/NotoSansKhmer-VF.svg#NotoSansKhmer-Regular') format('svg');
    font-weight: 100 900;
    font-style: normal;
  }
}
