// Designer to Developer translations
// Light => 300
// Book => 400
// Medium => 500
// Bold => 700
// Black => 800

// Set $assets-path to form the correct links to the parent folder of fonts/ based on the location of the compiled css
$assets-path: '..' !default;

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-Light.eot");
  src: url("#{$assets-path}/fonts/PublicSans-Light.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-Light.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-Light.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
//
// Light | italic

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-LightItalic.eot");
  src: url("#{$assets-path}/fonts/PublicSans-LightItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-LightItalic.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-LightItalic.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

// Book | 400

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-Thin.eot");
  src: url("#{$assets-path}/fonts/PublicSans-Thin.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-Thin.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-Thin.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-Thin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Book | italic

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-ThinItalic.eot");
  src: url("#{$assets-path}/fonts/PublicSans-ThinItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-ThinItalic.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-ThinItalic.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-ThinItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

// Medium | 500

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-Medium.eot");
  src: url("#{$assets-path}/fonts/PublicSans-Medium.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-Medium.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-Medium.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// Medium | italic

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-MediumItalic.eot");
  src: url("#{$assets-path}/fonts/PublicSans-MediumItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-MediumItalic.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-MediumItalic.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

// Bold | 700

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-Bold.eot");
  src: url("#{$assets-path}/fonts/PublicSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-Bold.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-Bold.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

// Bold | Italic

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-BoldItalic.eot");
  src: url("#{$assets-path}/fonts/PublicSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-BoldItalic.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-BoldItalic.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

// Black | 800

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-Black.eot");
  src: url("#{$assets-path}/fonts/PublicSans-Black.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-Black.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-Black.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

// Black | Italic

@font-face {
  font-family: 'Public Sans';
  src: url("#{$assets-path}/fonts/PublicSans-BlackItalic.eot");
  src: url("#{$assets-path}/fonts/PublicSans-BlackItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/PublicSans-BlackItalic.woff2") format("woff2"),
  url("#{$assets-path}/fonts/PublicSans-BlackItalic.woff") format("woff"),
  url("#{$assets-path}/fonts/PublicSans-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}
