// Designer to Developer translations
// Extra Light => 200
// Light => 300
// Regular => 400
// Medium => 500
// Semibold => 600
// Bold => 700
// Black => 800

// Extra Light | 200
@font-face {
  font-family: 'Source Code Pro';
  src: url("#{$assets-path}/fonts/SourceCodePro-light.eot");
  src: url("#{$assets-path}/fonts/SourceCodePro-light.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/SourceCodePro-light.woff2") format("woff2"),
  url("#{$assets-path}/fonts/SourceCodePro-light.woff") format("woff"),
  url("#{$assets-path}/fonts/SourceCodePro-light.ttf") format("truetype"), url("#{$assets-path}/fonts/SourceCodePro-light.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
//

// Light | 300
@font-face {
  font-family: 'Source Code Pro';
  src: url("#{$assets-path}/fonts/SourceCodePro-light.eot");
  src: url("#{$assets-path}/fonts/SourceCodePro-light.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/SourceCodePro-light.woff2") format("woff2"),
  url("#{$assets-path}/fonts/SourceCodePro-light.woff") format("woff"),
  url("#{$assets-path}/fonts/SourceCodePro-light.ttf") format("truetype"), url("#{$assets-path}/fonts/SourceCodePro-light.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
//

// Book | 400
@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/SourceCodePro-book.eot");
  src: url("#{$assets-path}/fonts/SourceCodePro-book.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/SourceCodePro-book.woff2") format("woff2"),
  url("#{$assets-path}/fonts/SourceCodePro-book.woff") format("woff"),
  url("#{$assets-path}/fonts/SourceCodePro-book.ttf") format("truetype"), url("#{$assets-path}/fonts/SourceCodePro-book.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

// Medium | 500
@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/SourceCodePro-medium.eot");
  src: url("#{$assets-path}/fonts/SourceCodePro-medium.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/SourceCodePro-medium.woff2") format("woff2"),
  url("#{$assets-path}/fonts/SourceCodePro-medium.woff") format("woff"),
  url("#{$assets-path}/fonts/SourceCodePro-medium.ttf") format("truetype"), url("#{$assets-path}/fonts/SourceCodePro-medium.svg#open_sansregular") format("svg");
  font-weight: 500;
  font-style: normal;
}

// Bold | 700
@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/SourceCodePro-bold.eot");
  src: url("#{$assets-path}/fonts/SourceCodePro-bold.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/SourceCodePro-bold.woff2") format("woff2"),
  url("#{$assets-path}/fonts/SourceCodePro-bold.woff") format("woff"),
  url("#{$assets-path}/fonts/SourceCodePro-bold.ttf") format("truetype"), url("#{$assets-path}/fonts/SourceCodePro-bold.svg#open_sansregular") format("svg");
  font-weight: 700;
  font-style: normal;

}


// Black | 800
@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/SourceCodePro-black.eot");
  src: url("#{$assets-path}/fonts/SourceCodePro-black.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/SourceCodePro-black.woff2") format("woff2"),
  url("#{$assets-path}/fonts/SourceCodePro-black.woff") format("woff"),
  url("#{$assets-path}/fonts/SourceCodePro-black.ttf") format("truetype"), url("#{$assets-path}/fonts/SourceCodePro-black.svg#open_sansregular") format("svg");
  font-weight: 800;
  font-style: normal;

}
