// Texta styles.
// See @mixin ma-texta-style in 00-base/mixins/_ma-typography.scss

@use "mixins" as *;

$styles: (
  "lighter": $fonts-lighter,
  "light": $fonts-light,
  "normal": $fonts-normal,
  "bold": $fonts-bold,
  "bolder": $fonts-bolder
);

.ma-texta {

  @each $class, $s in $styles {
    &-#{$class} {

      @include ma-texta-style($s);

      &--italic {

        @include ma-texta-style($s, true);
      }
    }
  }
}


// Noto styles

.ma-noto {

  @each $class, $s in $styles {
    &-#{$class} {
      font-weight: $s;

      &--italic {
        font-weight: $s;
        font-style: italic;
      }
    }
  }
}
