// Designer to Developer translations
// Light => 300
// Book => 400
// Medium => 500
// Bold => 700
// Black => 800

// Set $assets-path to form the correct links to the parent folder of fonts/ based on the location of the compiled css
$assets-path: '..' !default;

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-light-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-light-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-light-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-light-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-light-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-light-webfont.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
//
// Light | italic

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-lightitalic-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-lightitalic-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-lightitalic-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-lightitalic-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-lightitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

// Book | 400

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-book-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-book-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-book-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-book-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-book-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-book-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

// Book | italic

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-bookitalic-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-bookitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-bookitalic-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-bookitalic-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-bookitalic-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-bookitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

// Medium | 500

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-medium-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-medium-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-medium-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-medium-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-medium-webfont.svg#open_sansregular") format("svg");
  font-weight: fonts-normal;
  font-style: normal;
}

// Medium | italic

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-mediumitalic-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-mediumitalic-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-mediumitalic-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-mediumitalic-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-mediumitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: fonts-normal;
  font-style: italic;
  font-display: fallback;
}

// Bold | 700

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-bold-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-bold-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-bold-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-bold-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-bold-webfont.svg#open_sansregular") format("svg");
  font-weight: fonts-bold;
  font-style: normal;
  font-display: fallback;
}

// Bold | Italic

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-bolditalic-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-bolditalic-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-bolditalic-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-bolditalic-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-bolditalic-webfont.svg#open_sansregular") format("svg");
  font-weight: fonts-bold;
  font-style: italic;
  font-display: fallback;
}

// Black | 800

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-black-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-black-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-black-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-black-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-black-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-black-webfont.svg#open_sansregular") format("svg");
  font-weight: fonts-bolder;
  font-style: normal;
  font-display: fallback;
}

// Black | Italic

@font-face {
  font-family: 'Texta';
  src: url("#{$assets-path}/fonts/texta-blackitalic-webfont.eot");
  src: url("#{$assets-path}/fonts/texta-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("#{$assets-path}/fonts/texta-blackitalic-webfont.woff2") format("woff2"),
  url("#{$assets-path}/fonts/texta-blackitalic-webfont.woff") format("woff"),
  url("#{$assets-path}/fonts/texta-blackitalic-webfont.ttf") format("truetype"), url("#{$assets-path}/fonts/texta-blackitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: fonts-bolder;
  font-style: italic;
  font-display: fallback;
}
