$ma-grid: (
  columns: $column,
  gutter: $gutter,
  direction: ltr,
);

.ma__grid {
  @include grid-collapse;

  &--show{
    @include grid-column($column, $ma-grid);
    @include grid-visual;
  }

  &-row {
    @include clearfix;
    @include ma-component-spacing(xsmall)
  }
}


@for $i from 1 through $column {

  .ma__grid-col-#{$i} {
    @media($bp-x-large-min){
      @include grid-column($i);
      background-color: rgba($c-theme-primary, 0.5);
    }

  }

  @media($bp-small-min){
    .ma__grid-col-sm-#{$i} {
      @include grid-column($i);
      background-color: rgba($c-theme-secondary, 0.5);
    }
  }


    .ma__grid-col-md-#{$i} {
      @media($bp-medium-min){
      @include grid-column($i);
      background-color: rgba($c-theme-secondary, 0.5);
    }
  }

  @media($bp-large-min){
    .ma__grid-col-#{$i} {
      @include grid-column($i);
      background-color: rgba($c-theme-tertiary, 0.2);
    }
  }
}
