//pikaday is a JS plugin for date inputs

@use "variables" as *;

@use "colors" as *;

@use "sass:color" as *;

.pika-single {
  font-family: $fonts;

  abbr[title] {
    text-decoration: none;
  }
}

.pika-label {
  color: $c-font-dark;
  font-size: $fonts-smaller;
}

.pika-table {

  th {
    color: $c-font-dark;
    font-size: $fonts-2xsmall;
  }
}

.pika-button {
  background-color: $c-bg-section;
  color: $c-font-base;
  font-size: $fonts-2xsmall;
  font-weight: $fonts-normal;
  text-align: center;

  .is-today & {
    color: $c-primary;
    font-weight: $fonts-bolder;

    &:hover {
      color: $c-font-inverse;
    }
  }

  .is-disabled & {
    color: $c-font-base;
    opacity: .5;
  }

  &:hover {
    background-color: mix(#fff, $c-primary, 50%);
    border-radius: 0;
  }

  .is-selected & {
    background-color: $c-primary;
    box-shadow: none;
    border-radius: 0;
  }

  .is-today.is-selected & {
    color: $c-font-inverse;
  }
}
