// Change the Neat grid settings.
$column:                        85px;
$gutter:                        20px;
$column-with-gutter:            $column + $gutter;
// Use @include outer-container() which sets this and centers.
$layout-sidebar-width:          ($column * 3) + ($gutter * 2);
$layout-sidebar-width-reversed: 370px;

$l-max-content-width:           820px;
$l-max-content-wrapper:         1240px;
$max-width:                     1320px;

$header-mobile-controls-height: 40px;

// These variables control the vertical spacing in MF.
// No vertical spacing should exceed 70px.
$standard-spacing--large:    70px;
$standard-spacing--medium:   55px;
$standard-spacing--small:    45px;
$standard-spacing--xsmall:   24px;
$standard-spacing--xxsmall:  12px;
$standard-spacing--xxxsmall: 6px;

//letter-spacing for Texta
$letter-spacing-large:   .1em;
$letter-spacing-medium:  .05em;
$letter-spacing-small:   .02em;
$letter-spacing-default: 0;

// Close icon
// The close icon is not an actual icon. It is the multiplication
// symbol displayed in a pseudo element. To display properly,
// the following string should be used in the CSS `content` setting.
$close-icon: '\00d7';

/* FONT */

// font families
$fonts:      "Texta", "Helvetica", "Arial", sans-serif;
$fonts-mono: "Source Code Pro", "Monaco", monospace;
$fonts-khmer: "Hanuman";


// font weights
$fonts-lightest: 100; // only used for styling non text font weights, e.g. separator |
$fonts-lighter:  300;
$fonts-light:    400;
$fonts-normal:   500;
$fonts-bold:     700;
$fonts-bolder:   800;

//font sizes
$fonts-2xsmall: 1rem;
$fonts-xsmall:  1.125rem;
$fonts-small:   1.25rem;
$fonts-medium:  1.375rem;
$fonts-large:   1.5rem;
$fonts-xlarge:  1.75rem;
$fonts-2xlarge: 2rem;
$fonts-3xlarge: 2.5rem;
$fonts-4xlarge: 2.75rem;
$fonts-5xlarge:  3rem;
$fonts-6xlarge:  3.25rem;
$fonts-7xlarge:  3.5rem;
$fonts-8xlarge:  4rem;
$fonts-9xlarge:  5rem;
$fonts-max:     12rem;

//letter-spacing for Texta
$letter-spacing-large:   .1em;
$letter-spacing-medium:  .05em;
$letter-spacing-small:   .02em;
$letter-spacing-default: 0;
