// Change the Neat grid settings.
$column:                        85px;
$gutter:                        20px;
$column-with-gutter:            $column + $gutter;
// Use @include outer-container() which sets this and centers.
$layout-sidebar-width:          ($column * 3) + ($gutter * 2);
$layout-sidebar-width-reversed: 370px;

$l-max-content-width:           820px;
$l-max-content-wrapper:         1240px;
$max-width:                     1320px;

$header-mobile-controls-height: 40px;

// These variables control the vertical spacing in MF.
// No vertical spacing should exceed 70px.
$standard-spacing--large:    70px;
$standard-spacing--medium:   55px;
$standard-spacing--small:    45px;
$standard-spacing--xsmall:   24px;
$standard-spacing--xxsmall:  12px;
$standard-spacing--xxxsmall: 6px;

// Close icon
// The close icon is not an actual icon. It is the multiplication
// symbol displayed in a pseudo element. To display properly,
// the following string should be used in the CSS `content` setting.
$close-icon: '\00d7';

/* FONT */

// font families
// Noto
$fonts: "Noto Sans VF","Noto Sans",sans-serif;
$fonts-mono: "Noto Sans Mono VF","Noto Sans Mono",monospace;
$fonts-khmer: "Noto Sans Khmer VF",sans-serif;

// Texta
$fonts:      "Texta", "Helvetica", "Arial", sans-serif !default;
$fonts-mono: "Source Code Pro",monospace !default;
$fonts-khmer: "Hanuman" !default;


// font weights
// Noto
$fonts-lightest: 150; // only used for styling non text font weights, e.g. separator |
$fonts-lighter:  250;
$fonts-light:    350;
$fonts-normal:   400;
$fonts-bold:     550;
$fonts-bolder:   650;

// Texta
// Light => 300
// Book => 400
// Medium => 500
// Bold => 700
// Black => 800
$fonts-lightest: 100 !default; // only used for styling non text font weights, e.g. separator |
$fonts-lighter:  300 !default;
$fonts-light:    400 !default;
$fonts-normal:   500 !default;
$fonts-bold:     700 !default;
$fonts-bolder:   800 !default;

//font sizes
// Noto
$fonts-base:        calc(16px / 1.2);
$fonts-base-mobile: calc(14.5px / 1.2);
$fonts-print:       calc(12px / 1.2);

// Texta
$fonts-base:        16px !default;
$fonts-base-mobile: 14.5px !default;
$fonts-print:       12px !default;
// ----------------------------
$fonts-3xsmall:     0.8rem !default;
$fonts-2xsmall:     0.875rem !default;
$fonts-xsmall:      1rem !default;
$fonts-smaller:     1.125rem !default;
$fonts-small:       1.25rem !default;
$fonts-medium:      1.375rem !default;  // normal paragraph text
$fonts-large:       1.5rem !default;    // H6
$fonts-larger:      1.625rem !default;  // H5
$fonts-xlarge:      1.75rem !default;   // H4
$fonts-2xlarge:     2rem !default;      // H3
$fonts-3xlarge:     2.25rem !default;   // H2 small
$fonts-4xlarge:     2.5rem !default;    // H2 medium
$fonts-5xlarge:     2.75rem !default;   // H2 large
$fonts-6xlarge:     3rem !default;      // H1 small
$fonts-7xlarge:     3.25rem !default;   // H1 medium
$fonts-8xlarge:     3.5rem !default;    // H1 large
$fonts-9xlarge:     4rem !default;
$fonts-10xlarge:    5rem !default;
$fonts-11xlarge:    7rem !default;
$fonts-max:         12.75rem !default;  // Error decorative letters

//letter spacing
$letter-spacing-large:   0.1em !default;
$letter-spacing-medium:  0.05em !default;
$letter-spacing-small:   0.02em !default;
$letter-spacing-default: 0 !default;
