@use 'global/base' as *;

.ma__breadcrumb {
  display: block;
  font-size: 1.1rem;
  list-style: none;
  padding-inline-start: unset;

  &-item {
    display: inline-block;

    &:last-child {

      a {
        color: $c-black;
        font-weight: 700;
        cursor: text;
        pointer-events: none;
      }
    }

    &:not(:last-child) {

      &::after {
        content: " >";
        margin-right: 7px;
      }

      a {
        color: $c-gray-dark;
        font-weight: 500;

        @include ma-link-transition;

        @include ma-link-underline;

        &:hover {
          color: $c-primary;
          border-bottom: 3px solid rgba($c-font-link,.5);
        }
      }
    }


  }
}
