@import "@massds/mayflower-theme/scss/mayflower-global";
@import '03-organisms/callout-alert';


.ma__callout-alert__content--no-icon {
  padding-left: 0;
  padding: 15px 20px;

  @media ($bp-small-min){
    padding-left: 0;
    padding: 30px;
  }
}
