@use "00-base/configure" as *;
@use "sass:color" as *;
// import color variables
// import bourbon library "tint" and "shade" functions

// use patternlab color swatches styles
.sg {
  &-colors {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem 0;
    padding: 0;

    li {
      border-radius: 0;
      flex-basis: auto;
      max-width: 14em;
      min-width: 5.5rem;

      h6 {
        font-size: $fonts-smaller;
      }
    }

    // Align gradient matrix
    &--gradient {
      li {
        &:first-child {
          width: 150px;
        }
      }
    }
  }
  &-swatch {
    border-radius: 0;
    display: block;
    margin-bottom: 0.3em;
    height: 4rem;
  }

  &-label {
    font-size: 90%;
    line-height: 1;
  }

  &-info {
    font-size: $fonts-smaller;
    font-family: $fonts-mono;
    span {
      background-color: var(--mf-c-gray-lightest);
      padding: 0.1em 0.2em;
    }
  }
}

// Programetically generate gradient colors
$tiles: 10;
@mixin ma_gradient($name, $mode, $base) {
  .#{$name} {
    &--#{$mode} {
      @for $i from 0 through $tiles {
        $amount: $i * 10%;
        &:nth-child(#{$i + 1}) {
          .sg-swatch {
            background-color: color-mix(in srgb, #{$base} $amount, var(--mf-#{$name}));
          }
        }
      }
    }
  }
}

@each $name in (
  "c-bay-blue",
  "c-duckling-yellow",
  "c-berkshires-green",
  "c-independence-cranberry",
  "c-granite-gray"
) {
  @include ma_gradient($name, 'tint', white);
  @include ma_gradient($name, 'shade', black);
}