@use "00-base/configure" as *;
@use "sass:color" as *;
// import color variables
// import bourbon library "tint" and "shade" functions

// use patternlab color swatches styles
.sg {
  &-colors {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem 0;
    padding: 0;

    li {
      border-radius: 0;
      flex-basis: auto;
      max-width: 14em;
      min-width: 5.5rem;

      h6 {
        font-size: $fonts-smaller;
      }
    }

    // Align gradient matrix
    &--gradient {
      li {
        &:first-child {
          width: 150px;
        }
      }
    }
  }
  &-swatch {
    border-radius: 0;
    display: block;
    margin-bottom: 0.3em;
    height: 4rem;
  }

  &-label {
    font-size: 90%;
    line-height: 1;
  }

  &-info {
    font-size: $fonts-smaller;
    font-family: $fonts-mono;
    span {
      background-color: var(--mf-c-gray-lightest);
      padding: 0.1em 0.2em;
    }
  }
}

// Programetically generate gradient colors using pre-calculated CSS variables
$tiles: 10;
@mixin ma_gradient($name, $mode) {
  .#{$name} {
    &--#{$mode} {
      @if $mode == 'tint' {
        @for $i from 0 through $tiles {
          &:nth-child(#{$i + 1}) {
            .sg-swatch {
              @if $i == 0 {
                background-color: var(--mf-c-white);
              } @else if $i == 10 {
                background-color: var(--mf-#{$name});
              } @else {
                $percentage: (10 - $i) * 10;
                background-color: var(--mf-#{$name}-#{$percentage});
              }
            }
          }
        }
      } @else if $mode == 'shade' {
        @for $i from 0 through $tiles {
          &:nth-child(#{$i + 1}) {
            .sg-swatch {
              @if $i == 0 {
                background-color: var(--mf-c-black);
              } @else if $i == 10 {
                background-color: var(--mf-#{$name});
              } @else if $i <= 5 {
                $percentage: $i * 10;
                background-color: var(--mf-#{$name}-shade-#{$percentage});
              } @else {
                // Shades above 50% don't exist, interpolate or use base color
                background-color: var(--mf-#{$name}-shade-50);
              }
            }
          }
        }
      }
    }
  }
}

@each $name in (
  "c-bay-blue",
  "c-duckling-yellow",
  "c-berkshires-green",
  "c-independence-cranberry",
  "c-granite-gray"
) {
  @include ma_gradient($name, 'tint');
  @include ma_gradient($name, 'shade');
}