@use "styles/global" as *;
@use '00-base/z-index';
@use '02-molecules/main-nav';




.ma__main-nav {
  &__subitem:last-child &__link {
    font-size: unset;
    letter-spacing: unset;
    text-transform: none;
    background-color: $c-white;
    color: $c-font-base;
    font-weight: 500;

    &:hover,
    &:focus {
      background-color: $c-bg-subtle;
    }
  }

  &__subitem--main &__link {
    background-color: $c-bg-subtle !important;
    color: $c-font-link;
    font-weight: 700;

    &:hover {
      background-color: $c-gray-light;
    }

    & > svg {
      fill: rgba($c-font-link, .5);
      height: 20px;
      width: 20px;
    }
  }
}
