$action-finder-bp: 900px;

@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__action-finder {
  background-size: cover;
  background-position: top center;
  position: relative;

  &:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &--no-background {
    overflow: hidden;

    &:after {
      display: none;
    }
  }

  &__container {

    @include ma-container;
    padding-top: 60px;
    position: relative;
    z-index: 2;
  }

  &--no-background &__container {
    padding-top: 0;
  }

  &__search {

    @media ($bp-large-min) {
      display: inline-block;
      vertical-align: middle;
      width: 32.25806%;
    }
  }

  &--no-background &__search {
    margin-top: 25px;
    padding-right: 20px;
    position: absolute;
    top: 100%;
    left: 30px;
    transform: skew(30deg);

    @media ($bp-large-min) {
      top: 0;
      right: 0;
      left: inherit;
    }
  }

  &__items {

    @include ma-reset-list;
    gap: 20px;
    display: flex;
    flex-direction: column;

    @media ($bp-small-min) {

      @include ma-grid-responsive(2, 2, 3, 20px);
    }

    padding-bottom: 45px;

    @media ($bp-medium-min) {
      padding-bottom: 65px;
    }
  }

  .ma__illustrated-link,
  .ma__callout-link {
    display: flex;
    height: auto;
    width: 100%;
  }

  &__category {

    @include ma-h5;
    font-weight: $fonts-normal;
  }

  h3.ma__action-finder__category {

    @include ma-h3;
  }

  &__items--all {

    .ma__callout-link {
      border-width: 0;
    }

    .ma__illustrated-link {
      border-width: 0;
    }
  }

  &--no-background &__items--all {

    .ma__callout-link {
      border-width: 3px;
    }

    .ma__illustrated-link {
      border-width: 3px;
    }
  }

  &__see-all {
    margin-top: -10px;
    position: relative;
    z-index: 2;
  }

  &--no-background &__see-all {
    margin-top: -40px;
  }

  &__see-all-container {

    @include ma-container;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
  }

  &--no-background &__see-all-container {
    padding-top: 0;
    padding-bottom: 48px;
    text-align: left;
  }

  &--clear-background {
    background: none;

    &:after {
      content: none;
    }
  }
}

//theme
$action-finder-bg-color: mix($c-bg, $c-primary, 89%);
$action-finder-border-color: mix($c-white, $c-primary, 50%);

.ma__action-finder {

  &:after {
    background-image: linear-gradient(
      180deg,
      rgba($c-black, 0.6),
      transparent 90%,
      transparent
    );
  }

  &--no-background {
    background-image: linear-gradient(180deg, $c-bg 50px, $c-bg-section 51px);
  }

  &__category {
    color: var(--mf-c-font-inverse);
  }

  &--no-background &__category {
    color: var(--mf-c-font-base);
  }

  &__search {

    button {
      color: var(--mf-c-font-inverse);

      svg {
        fill: var(--mf-c-font-inverse);
      }
    }
  }

  &__items--all {

    .ma__callout-link {
      background-color: var(--mf-c-bg);
      box-shadow: none;
    }

    .ma__illustrated-link {
      box-shadow: none;

      &__content {
        background-color: var(--mf-c-bg);

        &:after {
          background-color: var(--mf-c-bg);
        }
      }
    }
  }

  &__see-all {
    background-color: var(--mf-c-primary);

    .ma__decorative-link {

      a {
        color: var(--mf-c-font-inverse);

        &:hover {
          border-color: rgba($c-font-inverse, 0.5);
        }
      }

      svg {
        fill: rgba($c-font-inverse, 0.5);
      }
    }
  }

  &--no-background &__see-all {
    background-color: var(--mf-c-bg-section);

    .ma__decorative-link {

      a {
        color: var(--mf-c-font-link);

        &:hover {
          border-color: var(--mf-c-link);
        }
      }

      svg {
        fill: var(--mf-c-font-link);
      }
    }
  }
}
