@use "00-base/configure" as *;

.ma__blog-feed {

  @include ma-container;

  &__title {

    @include ma-border-decorative;
    margin-bottom: 40px;
    padding-bottom: 15px;

    @media ($bp-medium-min) {
      margin-bottom: 60px;
      text-align: center;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__items {
    margin-bottom: 30px;

    @media ($bp-large-min) {

      @include ma-grid(2);
    }
  }

  &__item {
    margin-bottom: 30px;

    @media ($bp-x-small-min) {

      @include ma-grid-two-column($ratio: 38% 57%);
      align-items: start;
      gap: 5%;
    }

    @media ($bp-large-min) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-wrapper {
    display: inline-block;
    font-size: 0;
    position: relative;

    @media ($bp-x-small-min) {
      display: block;
    }
  }

  &__date {
    font-size: $fonts-large;
    line-height: 1.79;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__link {
    font-size: $fonts-xlarge;
    margin-bottom: 0.5em;
  }

  &__description {
    font-size: $fonts-medium;
  }

  &__view-all {
    text-align: right;

    a {

      @include ma-chevron;

      @include ma-link-underline;
      display: inline-block;

      &:after {
        height: 0.5em;
        width: 0.5em;
      }
    }
  }
}

//theme

.ma__blog-feed {

  &__title {

    @include ma-border-decorative(var(--mf-c-primary-alt));
  }

  &__date {
    background-color: rgba($c-white, 0.8);
    color: var(--mf-c-font-base);
    font-weight: 900;
  }

  &__view-all {

    a {

      &:hover,
      &:after {
        border-color: var(--mf-c-link);
      }
    }
  }
}
