@use "00-base/configure" as *;

$breadcrumbs-fade-width: 50px;

.ma__breadcrumbs {
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: $breadcrumbs-fade-width;
    height: 100%;
    background: transparent;
    z-index: 1;
    will-change: opacity, z-index;
    transition: opacity .4s, z-index .4s;
    opacity: 0;
  }

  &:before {
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
  }

  &:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 80%);
  }

  &--fade-left {
    &:before {
      opacity: 1;
      z-index: 3;
    }
  }

  &--fade-right {
    &:after {
      opacity: 1;
      z-index: 3;
    }
  }

  .pre-content & {

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .post-content & {
    border-top: 1px solid;
    margin-top: 30px;

    @media ($bp-medium-min) {
      display: none;
    }

  }

  &__container {
    @include ma-container;
    z-index: 2;
    position: relative;

    @media ($bp-medium-max) {
      white-space: nowrap;
      overflow-x: scroll;
    }
  }

  &__label {
    display: inline-block;
    font-size: $fonts-xsmall;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;

    .pre-content & {
      display: none;
    }
  }

  &__items {

    @include ma-reset-list;
    line-height: 2em;
    padding: 10px 0;
    position: relative;

    @media ($bp-medium-min) {
      border-top: 1px solid;
    }

    .post-content & {
      display: inline-block;
    }
  }

  &__item {

    @include ma-chevron;
    display: inline-block;

    &:after {
      border-width: 2px;
      height: 7px;
      margin-left: 0;
      margin-right: 3px;
      width: 7px;
      border-color: $c-gray-dark;
    }

    &:first-child {
      &:after {
        margin-left: 0;
      }
    }

    &:last-child {

      &:after {
        display: none;
      }
    }

    @media ($bp-medium-max) {

      .pre-content & {

        &:nth-last-child(2) {

          @include ma-chevron("left");
          display: block;

          &:before {
            opacity: .5;
          }

          a {
            display: inline;
          }
        }
      }

      .post-content & {

        &:nth-last-child(2) {
          display: block;
        }
      }
    }

    svg {
      width: 18px;
      height: 15px;
      margin-bottom: -2px;
      transition: opacity 0.4s;
    }

    button {
      border: 2px solid $c-bay-blue-50-tint;
      background: transparent;
      width: 27px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &__expand-indicators {
      display: none;
      margin-left: 4px;
    }

    a, button {
      color: $c-primary;
      display: inline-block;
      font-size: $fonts-xsmall;
      line-height: 1;
      padding: 2px 0;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-shadow: 0px 0px 0px $c-primary ;
      }
    }

    button {
      font-weight: 600;
      will-change: border;
      transition: border 0.4s;

      &:hover {
        border: 2px solid $c-primary;
      }
    }

    a {
      box-shadow: inset 0 0 white, inset 0px -1px rgba($c-primary, 0.4);
      svg {
        fill: $c-primary;
        stroke: $c-primary;
        transition: fill 0.4s, stroke 0.4s;
        will-change: fill, stroke;
      }

      &:hover {
        box-shadow: inset 0 0 white, inset 0px -2px rgba($c-primary, 0.7);

        svg {
          fill: $c-bay-blue-50-tint;
          stroke: $c-bay-blue-50-tint;
        }
      }



      &.ma__breadcrumbs__item__icon-link {
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  &__chevron-back {
    @include ma-chevron("left");

    &:before {
      border-width: 2px;
      height: 7px;
      margin-right: 5px;
      width: 7px;
      border-color: $c-gray-dark;
    }

    &:after {
      content: none;
    }
  }

  &__sub-items {

    @include ma-reset-list;
    display: none;
    padding: 0 15px;
    position: absolute;
    width: auto;
    z-index: $z-dropdown;

    .is-open ~ & {
      display: block;
    }
  }

  &__sub-item {
    display: block;
    white-space:nowrap;
  }

  &--light &__items {

      @media ($bp-medium-min) {
        border-top: none;
        border-bottom: 1px solid;
      }
  }
}

//theme

.ma__breadcrumbs {

  @media ($bp-medium-min) {
    background-color: $c-bg-section;

    &__items {
      border-top-color: $c-bd-divider;
    }
  }

  .post-content & {
    border-color: $c-bd-divider;
  }

  &__label {
    font-weight: $fonts-bold;
  }

  &__item {

    @media ($bp-medium-max) {

      .pre-content & {

        &:nth-last-child(2) {

          &:before {
            border-color: $c-primary;
          }
        }
      }
    }
  }

  &__sub-items {
    background-color: $c-white;
    box-shadow: 0 0.25rem 0.5rem rgba($c-black, 0.25);
  }

  &--light {
    background-color: transparent;
  }

  &--light &__items {

    @media ($bp-medium-min) {
      border-bottom-color: $c-bd-divider;
    }
  }
}
