@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__callout-alert {

  .pre-content > &,
  .post-content > &,
  .main-content.main-content--full .page-content > & {

    @include ma-container('restricted');

    @include ma-component-spacing('large');
  }

  .rich-text & {
    margin-bottom: 1.75rem;
  }

  &__content {
    border: 3px solid;
    display: block;
    padding: 15px 20px;
    padding-left: 65px;
    position: relative;

    @media ($bp-small-min) {
      padding: 30px;
      padding-left: 100px;
    }
  }

  &__icon {
    font-size: 0; // removing white-space;
    position: absolute;
      top: 50%;
      left:20px;
    transform: translateY(-50%);

    @media ($bp-small-min) {
      left: 30px;
    }

    & > svg {
      height: 48px;
      width: 44px;

      @media ($bp-small-max) {
        height: 36px;
        width: 34px;
      }
    }
  }

  &__link {
    font-size: $fonts-larger;
    line-height: 1.3;
    padding-right: 18px;

    & > span {

      @include ma-link-underline;
      display: inline;

      svg {
        display: inline-block;
        height: .6em;
        margin-right: -18px;
        width: .6em;
      }
    }
  }

  &:hover &__link span {
    border-bottom: 3px solid;
  }

}

//theme

.ma__callout-alert {

  //default

  &__content {
    background-color: mix(#fff, $c-warning, 90%);
    border-color: mix(#fff, $c-warning, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  }

  &__icon svg {
    fill: $c-warning;
  }

  &__link {
    color: $c-font-base;
    font-weight: bold;

    svg {
      fill: rgba($c-font-dark,.5);
    }
  }

  &:hover &__link span {
    border-color: rgba($c-font-base,.5);
  }

  //c-primary

  &--c-primary &__content {
    background-color: mix(#fff, $c-primary, 90%);
    border-color: mix(#fff, $c-primary, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  }

  &--c-primary &__icon svg {
    fill: $c-primary;
  }

  //c-primary-alt

  &--c-primary-alt &__content {
    background-color: mix(#fff, $c-primary-alt, 90%);
    border-color: mix(#fff, $c-primary-alt, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  }

  &--c-primary-alt &__icon svg {
    fill: $c-primary-alt;
  }

  //c-gray-dark

  &--c-gray-dark &__content {
    background-color: mix(#fff, $c-gray-dark, 90%);
    border-color: mix(#fff, $c-gray-dark, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  }

  &--c-gray-dark &__icon svg {
    fill: $c-gray-dark;
  }

  //c-error-red

  &--c-error-red &__content {
    background-color: mix(#fff, $c-error-red, 90%);
    border-color: mix(#fff, $c-error-red, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  }

  &--c-error-red &__icon svg {
    fill: $c-error-red;
  }

  //c-white

  &--c-white &__content {
    background-color: mix(#fff, $c-white, 90%);
    border-color: mix(#fff, $c-gray-dark, 50%);
    box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  }

  &--c-white &__icon svg {
    fill: $c-white;
  }

}
