@use "00-base/configure" as *;

.ma__callout-links-three-up {

  &__title {

    @include ma-container;
  }


  &__container {


    @include clearfix;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;

    @media ($bp-small-min) {
      flex-flow: row wrap;
    }

    & > * {

      @media ($bp-x-small-min) {
        margin-bottom: 20px;
      }

      @media ($bp-small-min) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
      }


      // Match key-actions behavior: two columns until xl, then three.
      @media ($bp-small-min) and ($bp-x-large-max) {

        @include span-columns(4 of 8);

        @include omega(2n);
      }

      @media ($bp-x-large-min) {

          @include span-columns(4 of 12);

          @include omega(3n);
      }
    }
  }

}
