$bp-section-3up-large-min: "min-width:951px";
$bp-section-3up-large-max: "max-width:950px";

@use "00-base/configure" as *;

.ma__callout-links-three-up {

  &__title {

    @include ma-container;
  }

  &__container {

    @media ($bp-small-min) {

      @include ma-grid-responsive(1, 2, 3);
      align-items: stretch;
    }

    & > * {

      @media ($bp-x-small-min) {
        margin-bottom: 20px;
      }

      @media ($bp-small-min) {
        margin-bottom: 0;
      }
    }
  }
}
