@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__callout-message__container {
  position: relative;
  max-width: $max-width;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container();

  }
}

.ma__callout-message {
  border: 3px solid;
  display:block;
  width: 100%;
  padding: 15px 20px;
  background-color: var(--mf-c-font-link-white-90);
  border-color: var(--mf-c-font-link-white-50);
  box-shadow: var(--mf-box-shadow);

  @media ($bp-small-min) {
    padding: 30px;
  }

  @media ($bp-large-min) {
    margin-right: $column;
    width: calc(100% - #{$layout-sidebar-width} - #{$column});
  }

  @media ($bp-x-large-min) {
    width: calc(100% - #{$layout-sidebar-width} - #{$column} - (#{$gutter} * 2));
  }

  &--white {
    background-color: var(--mf-c-bg);
    border-color: var(--mf-c-font-detail-white-70);
    box-shadow: var(--mf-box-shadow);
  }

  @for $i from 2 through 6 {
    h#{$i} {
      margin-top: 0;
      color: var(--mf-c-font-heading);
      font-weight: $fonts-bold;

      @include ma-heading($i+1);
    }
  }

  .ma__comp-heading {
    padding-bottom: 0;

    &::after {
      background: none;
    }
  }

  & .ma__callout-link {
    border: none;
    display:flex;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    background: none;
    box-shadow: none;
    padding: 0;
  }
}