@use "00-base/configure" as *;

@use "sass:color" as *;

.ma__callout-alert {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content .layout--onecol-mass-service-section .layout__region--content > &,
  .main-content .page-content .layout--onecol-mass-service-section .layout__region--content .js-lpb-component  > &,
  .main-content.main-content--full .page-content > & {

    @include ma-container('restricted');

    @include ma-component-spacing('large');
  }

  .rich-text & {
    margin-bottom: 1.75rem;
  }

  &__content {
    border: 3px solid;
    display: block;
    padding: 15px 20px;
    padding-left: 65px;
    position: relative;

    @media ($bp-small-min) {
      padding: 30px;
      padding-left: 100px;
    }
  }

  &__icon {
    font-size: 0; // removing white-space;
    position: absolute;
      top: 50%;
      left:20px;
    transform: translateY(-50%);

    @media ($bp-small-min) {
      left: 30px;
    }

    & > svg {
      height: 48px;
      width: 44px;

      @media ($bp-small-max) {
        height: 36px;
        width: 34px;
      }
    }
  }

  &__link {
    font-size: $fonts-xlarge;
    line-height: 1.3;
    padding-right: 18px;

    & > span {

      @include ma-link-underline;
      display: inline;

      svg {
        display: inline-block;
        height: .6em;
        margin-right: -18px;
        width: .6em;
      }
    }
  }

  &:hover &__link span {
    border-bottom: 3px solid;
  }

}

//theme

.ma__callout-alert {

  //default

  &__content {
    background-color: var(--mf-c-bg-warning-90);
    border-color: var(--mf-c-bg-warning-50);
    box-shadow: var(--mf-box-shadow);
  }

  &__icon svg {
    fill: var(--mf-c-warning);
  }

  &__link {
    color: var(--mf-c-font-base);
    font-weight: bold;

    svg {
      fill: var(--mf-c-font-dark-50);
    }
  }

  &:hover &__link span {
    border-color: var(--mf-c-font-base-50);
  }

  //c-primary

  &--c-primary &__content {
    background-color: var(--mf-c-bg-primary-90);
    border-color: var(--mf-c-bg-primary-50);
    box-shadow: var(--mf-box-shadow);
  }

  &--c-primary &__icon svg {
    fill: var(--mf-c-primary);
  }

  //c-primary-alt

  &--c-primary-alt &__content {
    background-color: var(--mf-c-bg-primary-alt-90);
    border-color: var(--mf-c-bg-primary-alt-50);
    box-shadow: var(--mf-box-shadow);
  }

  &--c-primary-alt &__icon svg {
    fill: var(--mf-c-primary-alt);
  }

  //c-gray-dark

  &--c-gray-dark &__content {
    background-color: var(--mf-c-white-gray-dark-90);
    border-color: var(--mf-c-white-gray-dark-50);
    box-shadow: var(--mf-box-shadow);
  }

  &--c-gray-dark &__icon svg {
    fill: var(--mf-c-gray-dark);
  }

  //c-error-red

  &--c-error-red &__content {
    background-color: var(--mf-c-white-error-red-90);
    border-color: var(--mf-c-error-50);
    box-shadow: var(--mf-box-shadow);
  }

  &--c-error-red &__icon svg {
    fill: var(--mf-c-error-red);
  }

  //c-white

  &--c-white &__content {
    background-color: var(--mf-c-white-90);
    border-color: var(--mf-c-white-gray-dark-50);
    box-shadow: var(--mf-box-shadow);
  }

  &--c-white &__icon svg {
    fill: var(--mf-c-white);
  }

}
