@use "00-base/configure" as *;

.ma__collapsible-content {

  @include clearfix;

  width: 100%;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container;
  }

  &--light {
    .ma__collapsible-content__items,
    .ma__collapsible-header__button {
      background: $c-white;
    }

  }

  &__item {
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
  }

  &__body {
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 40px;

    &--without-icon {
      padding-left: 40px;
    }

    & > * {
      margin-top: 1em;
    }

    & > :first-child {
      margin-top: 0;
    }

    .js & {
      display: none;
    }
  }
}

//theme

.ma__collapsible-content {

  &__item {
    border-color: $c-bd-divider;
  }
}
