//Custom breakpoint for contact row
$accordion-break: 720px;

@use "00-base/configure" as *;

.ma__contact-row {
  position: relative;

  @include ma-container();

  .ma__comp-heading {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__first, &__second {
    flex-basis: 100%;
    order: 2;
  }

  @media ($bp-large-min) {

    &__first {
      flex-basis: 70%;
      order: 0;
    }

    &__second {
      flex-basis: 30%;
      order: 0;
    }
  }

  &__columns {

    @media (min-width: $accordion-break) {
      // column-count: 2; 
      // column-gap: 40px; 
      // column-rule: 1px solid $c-bd-divider;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: $c-bd-divider;
        transform: translateX(-50%);
    }


      /* Prevent a single contact-set from breaking across columns */
      .ma__contact-set {
        break-inside: avoid; 
        display: inline-block;
      }

      /* Use break-before to control column breaks */
      .ma__contact-set:nth-child(odd) {
        break-before: column;
      }
    }
  }

  .ma__contact-group--more-link {
    width: 100%;
    clear: both;
  }

  .ma__image {
    margin-bottom: 1rem;
    width: auto;
    max-width: 300px;

    @media ($bp-large-min) {
      position: absolute;
      top: 0;
      right: 30px;
    }
  }
}