@use "00-base/configure" as *;

.ma__curated-person {

  @include ma-container('restricted');

  .main-content--full .page-content > & {

    @include ma-component-spacing(small);
  }

  .ma_stacked-row-external-sidebar & {

    @include ma-component-spacing(small);
    padding: 0;
  }

  &--meta-wrapper {
    display: flex;
    font-style: italic;
    color: $c-gray-dark;

    .curated-person--title {
      padding-right: 1rem;
    }

    .curated-person--org {
      padding-left: 1rem;
      border-left: 1px solid $c-bd-divider;
    }
  }

  .ma__contact-us__content-wrap {
    border-bottom: 1px solid $c-bd-divider;
    padding-bottom: 1rem;

    @media ($bp-large-min) {
      justify-content: space-between;
    }
  }

  .ma__contact-group {
    padding: 0;
    border-left: 0;

    @media ($bp-small-min) {
      width: 50%;
      max-width: unset;
      min-width: unset;
      position: relative;

      &:first-child::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        right: 20px;
        top: 0;
        background-color: $c-bd-divider;
      }
    }

    @media ($bp-large-min) {
      flex: 1;

      &:first-child::after {
        display: none;
      }

      &:not(:first-child) {
        padding: 0 10px;
        border-left: 1px solid $c-bd-divider;
      }
    }
  }
}