@use "00-base/configure" as *;

@use "sass:color" as *;

$emergency-alerts-half-max: $max-width / 2;

/* parent class should be 0px tall
if there are no alerts to show
since the component will always
be included at the top of the page */

$colors: (
  "c-warning": $c-warning,
  "c-primary": $c-primary,
  "c-primary-alt": $c-primary-alt,
  "c-error": $c-error,
  "c-gray": $c-gray,
);

.ma__emergency-alerts {
  position: relative;
  z-index: $z-dropdown - 1;

  &__header {
    background-color: var(--mf-c-warning);

    .ma__emergency-header {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__hide {

    @include ma-button-reset;
    font-size: $fonts-7xlarge;
    line-height: 0.65;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
  }

  &__header-interface {
    padding-top: 12px;
    padding-left: 12px;

    @media ($bp-small-max) {
      display: none;
    }

    @media ($bp-small-min) and ($bp-large-max) {

      @include ma-container;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__content {
    background-color: var(--mf-c-bg-warning-90);

    .js & {
      display: none;
    }

    &.collapsed {
      visibility: hidden;
      height: 0px;
    }

    &.collapsing,
    &.expanding {
      position: relative;
      overflow: hidden;
      visibility: visible;
      -webkit-transition-property: height, visibility;
      transition-property: height, visibility;
      transition-duration: 0.35s;
      -webkit-transition-duration: 0.35s;
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;
    }

    &.expanded {
      height: auto;
      visibility: visible;
      display: block;
    }
  }

  &__container {

    @include ma-container;
  }

  &__header &__container {
    position: relative;

    @media ($bp-large-min) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__interface {

    @include ma-container;
    font-size: 0;

    @media ($bp-small-min) {
      display: none;
    }

    @media ($bp-small-max) {
      background-color: var(--mf-c-warning);
      padding: 20px;
      padding-top: 0;
      transition: background-color 0.5s;

      .is-open & {
        background-color: var(--mf-c-bg-warning-90);
      }

      .ma__button-alert,
      .ma__button-icon--alert {
        width: 100%;
      }
    }
  }
}

@each $class, $c in $colors {

  .ma__emergency-alerts {
    &__hide--#{$class} {

      @if $c == $c-warning {
        color: var(--mf-c-font-base);
      } @else {
        color: var(--mf-c-font-inverse);
      }
    }
    &--#{$class} {

      &.collapsed {
        visibility: hidden;
        height: 0px;
      }

      &.collapsing,
      &.expanding {
        position: relative;
        overflow: hidden;
        visibility: visible;
        -webkit-transition-property: height, visibility;
        transition-property: height, visibility;
        transition-duration: 0.35s;
        -webkit-transition-duration: 0.35s;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease;
      }

      &.expanded {
        height: auto;
        visibility: visible;
        display: block;
      }
    }
    &__content--#{$class} {

      @if $c == $c-warning {
        background-color: var(--mf-c-bg-warning-90);
      } @else if $c == $c-primary {
        background-color: var(--mf-c-bg-primary-90);
      } @else if $c == $c-primary-alt {
        background-color: var(--mf-c-bg-primary-alt-90);
      } @else if $c == $c-error {
        background-color: var(--mf-c-bg-error-90);
      } @else if $c == $c-gray {
        background-color: var(--mf-c-bg-gray-90);
      } @else {

        @include neat-warn("emergency-alerts: No CSS variable found for color '#{$c}' mixed with white at 90%. Please add '--mf-c-bg-#{$c}-90' to _color-tokens.scss");
        // Fallback to solid color
        background-color: $c;
      }
    }
    &__header--#{$class} {
      background-color: $c;
    }
    &__interface--#{$class} {

      &.open {

        @if $c == $c-warning {
          background-color: var(--mf-c-bg-warning-90);
        } @else if $c == $c-primary {
          background-color: var(--mf-c-bg-primary-90);
        } @else if $c == $c-primary-alt {
          background-color: var(--mf-c-bg-primary-alt-90);
        } @else if $c == $c-error {
          background-color: var(--mf-c-bg-error-90);
        } @else if $c == $c-gray {
          background-color: var(--mf-c-bg-gray-90);
        } @else {

          @include neat-warn("emergency-alerts: No CSS variable found for color '#{$c}' mixed with white at 90%. Please add '--mf-c-bg-#{$c}-90' to _color-tokens.scss");
          // Fallback to solid color
          background-color: $c;
        }
      }

      &.closed {
        background-color: $c;
      }
    }
  }
}
