@use "00-base/configure" as *;

.ma__footer-slim {
  background-color: $c-platinum-gray;
  font-size: $fonts-medium;
  line-height: 1.2;
  padding: 20px 0 30px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;

    @media ($bp-large-min) {
      flex-direction: row;
      align-items: flex-start;
    }

    &--stacked {
      flex-direction: column;
    }

    &__logos {
      min-width: 45px;
      margin-right: 1rem;
      margin-bottom: 1rem;

      &--stacked {
        display: flex;
        position: relative;
        margin: 0;
        flex-direction: row;
        align-items: center;

        & > .ma__site-logo {
          margin-right: 1rem;
        }
      }
    }

    &__inner {
      display: flex;
      flex-direction: column;
      padding-top: 0rem;

      @media ($bp-large-min) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding-top: 0.75rem;
      }

      &--stacked {
        padding-left: 0;
      }
    }
  }



  &__info {
    max-width: 500px;

    @media ($bp-large-min) {
      margin-right: 2rem;
      margin-bottom: 0.25rem;
    }
  }

  &__title {

    @include ma-heading(3);
    font-size: $fonts-medium;
  }

  &__copyright {
    font-size: $fonts-smaller;
    font-weight: $fonts-bold;
  }

  &__details {
    margin-top: 2rem;
    max-width: 500px;

    @media ($bp-large-min) {
      display: block;
      margin-top: 0;
    }
  }

  &__links {
    margin-bottom: 1em;

    a {
      color: $c-primary;
      font-weight: 600;
      text-decoration: none;

      &:after {
        content: "|";
        font-weight: $fonts-lightest;
        margin: 0 0.85rem;
      }

      &:last-child:after {
        content: "";
        margin: 0;
      }
    }
  }

  &__contact {

    a {
      font-weight: $fonts-bold;
      text-decoration: none;
    }

    &__item {
      display: flex;
      margin-bottom: 1rem;

      svg {
        fill: $c-primary-alt;
        min-width: 20px;
      }

      span, a {
        padding-left: 0.25rem;
      }
    }
  }

}
