@use "00-base/configure" as *;

@use "00-base/mixins/ma-grid" as *;

.ma__footer {
  padding: 20px 0 30px;
  position: relative;

  @media ($bp-small-min) {
    padding: 40px 0 50px;
  }

  .main-content--full .page-content > & {
    margin-top: 0;
  }

  &__back2top {

    @include ma-button-size("small");
    letter-spacing: $letter-spacing-large;
    opacity: 1;
    padding: 0.5em 0.7em;
    position: fixed;
    bottom: 1.3125rem;
    right: 1.5625rem;
    transition: all 0.5s;
    visibility: visible;
    z-index: $z-sticky-content;

    @media ($bp-small-max) {
      padding: 0.4em 0.4em 0 0.4em;
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }

    & > svg {
      display: inline-block;
      width: 16px;
      height: 18px;
      transform: rotate(-90deg);
      transform-origin: center center;
      transition: all 0.5s;
    }

    span {
      display: block;
      text-align: center;

      @media ($bp-small-max) {
        display: none;
      }
    }
  }

  &__container {

    @include ma-container;

    @media ($bp-large-max) {
      display: flex;
      flex-direction: column;
    }

    @media ($bp-large-min) {

      @include ma-grid(12);
    }
  }

  &__nav {
    margin-bottom: 20px;

    @media ($bp-large-min) {

      @include ma-grid-span(9);
      grid-column: 4 / -1;
      margin-bottom: 20px;
    }
  }

  &__info {

    @media ($bp-large-max) {
      order: 2;
    }

    @media ($bp-large-min) {

      @include ma-grid-span(3);
      grid-row: 1;
    }
  }

  &__logo {
    margin-bottom: 20px;

    @media ($bp-large-max) {
      text-align: center;
    }
  }

  &__social {
    margin: 0 auto 20px;
    max-width: 480px;
  }

  &__copyright {
    font-size: $fonts-smaller;
    line-height: 1.54;

    @media ($bp-large-max) {
      text-align: center;
    }

    p {
      margin-bottom: 0.25em;
    }
  }
}

//theme

.ma__footer {
  background-color: var(--mf-c-bg-section);

  &__back2top {

    @include ma-button("outline", var(--mf-c-primary));
    background-color: var(--mf-c-white-90);

    svg {
      fill: var(--mf-c-primary-50);
    }

    &:hover {

      svg {
        fill: var(--mf-c-font-inverse);
      }
    }
  }

  &__copyright {
    color: var(--mf-c-gray-dark);
    font-weight: $fonts-light;

    &--date {
      font-weight: $fonts-normal;
    }
  }
}
