@use "00-base/configure" as *;
@use "00-base/spacing-tokens" as *;

.ma__footer-new {
  background-color: var(--mf-c-bg-section);
  width: 100%;
  
  &__container {

    @include ma-container;

    @include clearfix;

    display: flex;
    padding: var(--mds-space-2xl);
    flex-direction: column;
    align-items: stretch;
    gap: var(--mds-space-md);
  }

  &__content-top {
    display: flex;
    align-items: flex-start;
    gap: var(--mds-space-lg);
    align-self: stretch;
    flex-wrap: wrap;
    @media ($bp-x-small-max) {
      flex-direction: column;
    }

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
    }
  }

  &__logo {

    .ma__site-logo {
      & > a {
        gap: var(--mds-space-sm);
      }

      img {
        width: 56px;
        height: 56px;
      }

      span {
        // text-and-icons/brand/neutral-default
        color: var(--mf-c-font-base);
        -webkit-text-stroke-color: var(--mf-c-font-base);
        font-weight: $fonts-bold;
      }
    }
  }

  &__state-organizations {
    gap: var(--mds-space-3xs);
    align-self: stretch;
    color: var(--mf-c-bay-blue);
    font-size: $fonts-large;
    font-weight: $fonts-normal;

    .direct-link {
      @include ma-link-underline;
      font-weight: $fonts-normal;
      span {
        gap: var(--mds-space-3xs);
        &:hover {
          // --mds-background-adaptive-brand-primary-mid
          border-bottom: 2px solid var(--mf-c-bay-blue);
        }
      }
    }
  }

  &__navlinks {
    margin-bottom: 1rem;
    display: flex;
    // --mds-background-adaptive-brand-neutral-low
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    gap: 0 var(--mds-space-lg);
    flex-wrap: wrap;
    
    & > div {
      padding: var(--mds-space-xs) 0;
      justify-content: center;
      align-items: center;

      & > a {
        @include ma-link-underline;
        padding: var(--mds-space-2xs) 0;
        color: var(--mf-c-font-base);
        font-size: $fonts-large;
        font-weight: $fonts-normal;
    
        &:hover {
          border-bottom-width: 2px;
          // --mds-background-adaptive-brand-neutral-high
          border-bottom-color: var(--mf-c-font-base);
        }
      }
    }

  }

  &__copyright {
    font-size: $fonts-medium;
    color: var(--mf-c-gray-dark);
    font-weight: $fonts-light;

    &--bold {
      font-weight: $fonts-bold;
    }
  }
}
