@use "00-base/configure" as *;

.ma__header-alert {

  &__hide {

    @include ma-button-reset;
    font-size: $fonts-6xlarge;
    line-height: .65;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
  }

  &__container {

    @include ma-container;
    padding: 12px 40px;
    text-align: center;
  }

  .ma__action-step {

    &__icon {

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__title {
      font-size: $fonts-large;
      line-height: 29px;
    }
  }
}
