@use "00-base/configure" as *;

.ma__header-alerts {
  margin-bottom: 30px;

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    color: var(--mf-c-gray-darkest);
    margin-bottom: 0;
    border: 1px solid var(--mf-c-bd-divider-dark);

    &__button {
      color: var(--mf-c-gray-darkest);
      background-color: var(--mf-c-warning);
      padding: 10px 15px;
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      font-weight: $fonts-bold;
      font-size: $fonts-large;
      margin-bottom: 0;
      border: 0;


      div {
        display: inline-flex;
        align-items: center;
      }
    }

    &___icon {
      margin-right: 12px;
      height: 22px;
      margin-top: 3px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__toggle {
      margin-left: auto;
      font-size: $fonts-medium;
      font-weight: $fonts-light;
      text-decoration: underline;

      @media ($bp-x-small-max) {
        margin-left: 0;
      }
    }

    &__hide {
      display: none;
    }

    .is-open & {

      &__hide {
        display: inline;
      }

      &__show {
        display: none;
      }

    }
  }

  &__container {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ma__action-step {

    border-color: var(--mf-c-bd-divider-dark);
    border-width: 1px;
    border-style: solid;
    border-top: 0;

    &__header {
      color: var(--mf-c-gray-darkest);
      border: none;
      display: block;
      padding: 20px 40px 15px 50px;
      text-align: left;
      width: 100%;
      background-color: var(--mf-c-bg-section);
      font-size: $fonts-large;
    }

    &__more {
      margin-top: 0;
    }

    &__icon {
      top: 25px;
      left: 10px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__title {
      font-size: $fonts-large;

      &-link, &-suffix {
        line-height: 1.6;
      }

      &-text {
        line-height: 1.4;
      }

      a {

        padding-right: 0.8rem;
      }
    }

    &__content > div {

      margin-bottom: 20px;

      &:after {
        content: "";
        border-color: var(--mf-c-bd-divider);
        border-width: 1px;
        border-style: solid;
        margin-top: 20px;
        width: 80px;
        display: block;
      }

      &:last-child {
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }
    }
  }

}
