@use "00-base/configure" as *;

.ma__image-promos {
  margin: 0;

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container();
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
