@use "00-base/configure" as *;

.ma__in-page-alert {
  background-color: $c-warning;
  font-size: 0;
  position: relative;
  z-index:1;

  &__hide {

    @include ma-button-reset;
    font-size: $fonts-6xlarge;
    font-weight: $fonts-bold;
    line-height: .65;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
  }

  &__container {

    @include ma-container;
    padding: 12px 40px;
    text-align: center;
  }

  &__message {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    vertical-align: baseline;
    font-size: $fonts-large;
    line-height: 1.3em;

    a {
      display: inline;
      color: $c-font-base;

      svg {
        fill: rgba($c-font-base, .5);
      }
    }
  }
}
