@use "00-base/configure" as *;

.ma__inline-links {

  @media print {
    display: none;
  }

  &__container {

    @include ma-container;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__item {
    list-style: none;
    font-size: $fonts-smaller;
    display: flex;
    align-items: center;
    min-height: 1.9rem;

    &:after {
      content: "";
      background: var(--mf-c-gray-light);
      margin: 0 10px;
      width: 1px;
      height: $fonts-smaller;
    }

    &:last-of-type:after {
      content: none;
    }

    a {
      line-height: 1rem;
      text-decoration: none;
      box-shadow: inset 0 0 var(--mf-c-white), inset 0px -1px var(--mf-c-bay-blue-lighter);
      font-weight: $fonts-normal;

      &:hover {
        box-shadow: inset 0 0 var(--mf-c-white), inset 0px -2px var(--mf-c-bay-blue-30-tint);
      }
    }

    span {
      white-space: nowrap;
      color: var(--mf-c-font-detail);
    }
  }

  &--bg-gray {
    background: var(--mf-c-gray-lightest);

    .ma__inline-links_item {

      &:after {
        background: var(--mf-c-gray);
      }

      span {
        color: var(--mf-c-font-base);
      }
    }
  }
}
