@use "00-base/configure" as *;

.ma__link-list {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container;
  }

  &__description {
    margin-bottom: 1em;
  }

  &__container {

    @include clearfix;
  }

  &__items {
    margin-bottom: 0;
    padding-left: 20px;

    .sidebar & {

      @include ma-reset-list;
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {

      @media ($bp-medium-min) {

        @include span-columns(6);
      }
    }

    &--no-bullets {
      list-style: none;
      padding-left: 0;
    }
  }

  &__item {
    padding: 5px 0;
    color: $c-font-detail;

    .ma__decorative-link {
      display: block;
    }
  }



  .sidebar &__item + &__item {
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 25px;
    padding-bottom: 0;
    padding-top: 25px;
  }

  .sidebar &__item {

    .ma__decorative-link {
      font-size: $fonts-small;
      line-height: 1.2;
    }
  }

  &__see-all {
    margin-top: 1rem;
  }

  &--image-links {

    .sidebar & .ma__link-list__item + .ma__link-list__item {
      border-top: none;
      margin-top: 0px;
      padding-top: 10px;
    }
  }
}

// link group in action finder in service page

.ma__services.ma__services-flexible-link-groups .ma__action-finder__container {

  .ma__link-list__description {
    margin-top: 15px;
  }

  .ma__link-list__container {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .ma__link-list--no-line .ma__link-list__items {
    margin-bottom: 0;
    padding-left: 20px;
    border-left: 3px solid $c-primary-lighter;
  }

  .ma__link-list__items .ma__link-list__item {
    padding-top: 0;
    padding-bottom: 14px; // makes 25px adding to a's border-bottom: 3px + padding-bottom: 1px

    a {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media ($bp-small-min) {

    .ma__link-list__description {
      margin-top: 20px;
    }

    .ma__link-list__container {
      margin-top: 30px;
      margin-bottom: 54px;
    }

    .ma__link-list--no-line .ma__link-list__items {
      padding-left: 30px;
    }

    .ma__link-list__items .ma__link-list__item {
      padding-bottom: 26px; // makes 30px adding to a's border-bottom: 3px + padding-bottom: 1px
    }
  }
}

//theme

.ma__link-list {

  &__item {
    font-weight: $fonts-bold;
  }

  .sidebar &__item + &__item {
    border-color: $c-bd-divider;
  }

  &--no-line {

    .ma__comp-heading--no-line {
      margin-bottom: 5px;
    }

    .ma__link-list__description {
      margin-bottom: 0;
    }

    .ma__link-list__items {
      margin-bottom: 2rem;
    }
  }
}
