@use "00-base/configure" as *;

.ma__link-list {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content > & {

    @include ma-container;
  }

  &__description {
    margin-bottom: 1em;
  }

  &__container {

    @include clearfix;
  }

  &__items {
    margin-bottom: 0;
    padding-left: 20px;

    .sidebar & {

      @include ma-reset-list;
    }

    &_columns {

      @media ($bp-medium-min) {

        .item-left {

          @include span-columns(6);
          margin-right: calc(#{flex-gutter(12)} + 10px);
          display: list-item;
        }
      }
    }

    &--no-bullets.ma__link-list__items_columns {

      @media ($bp-medium-min) {

        .item-left {

          @include span-columns(6);
          margin-right: flex-gutter(12);
          display: list-item;
        }
      }
    }

    &--no-bullets {
      list-style: none;
      padding-left: 0;
    }

    &:not(.ma__link-list__items--no-bullets) {
      // align bullet point with download link icon

      .ma__link-list__item {

        .ma__download-link {

          &__icon {
            float: none;
            display: inline-block;
            width: unset;
            margin-right: 0.5rem;
            margin-bottom: -6px;
          }
    
          &__title {
            display: inline;
            width: unset;
          }
        }
      }
    }
  }

  &__item {
    padding: 5px 0;
    color: var(--mf-c-font-detail);

    .ma__decorative-link {
      display: block;
    }
  }



  .sidebar &__item + &__item {
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 25px;
    padding-bottom: 0;
    padding-top: 25px;
  }

  .sidebar &__item {

    .ma__decorative-link {
      font-size: $fonts-medium;
      line-height: 1.2;
    }
  }

  &__see-all {
    margin-top: 1rem;
  }

  &--image-links {

    .sidebar & .ma__link-list__item + .ma__link-list__item {
      border-top: none;
      margin-top: 0px;
      padding-top: 10px;
    }
  }
}

// link group in action finder in service page

.ma__services.ma__services-flexible-link-groups .ma__action-finder__container {

  .ma__link-list__description {
    margin-top: 15px;
  }

  .ma__link-list__container {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .ma__link-list--no-line .ma__link-list__items {
    margin-bottom: 0;
    padding-left: 20px;
    border-left: 3px solid var(--mf-c-primary-lighter);
  }

  .ma__link-list__items .ma__link-list__item {
    padding-top: 0;
    padding-bottom: 14px; // makes 25px adding to a's border-bottom: 3px + padding-bottom: 1px

    a {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media ($bp-small-min) {

    .ma__link-list__description {
      margin-top: 20px;
    }

    .ma__link-list__container {
      margin-top: 30px;
      margin-bottom: 54px;
    }

    .ma__link-list--no-line .ma__link-list__items {
      padding-left: 30px;
    }

    .ma__link-list__items .ma__link-list__item {
      padding-bottom: 26px; // makes 30px adding to a's border-bottom: 3px + padding-bottom: 1px
    }
  }
}

//theme

.ma__link-list {

  &__item {
    font-weight: $fonts-bold;
  }

  .sidebar &__item + &__item {
    border-color: var(--mf-c-bd-divider);
  }

  &--no-line {

    .ma__comp-heading--no-line {
      margin-bottom: 5px;
    }

    .ma__link-list__description {
      margin-bottom: 0;
    }

    .ma__link-list__items {
      margin-bottom: 2rem;
    }
  }
}
