@use "00-base/configure" as *;

.ma__location-banner {

  @include ma-container;

  @include clearfix;
  margin-bottom: 70px;

  @media ($bp-large-min) {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__image {
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;

    @media ($bp-large-min) {
      float: left;
      width: calc(100% - #{$layout-sidebar-width} - 45px); //outer page padding
    }

    @media ($bp-x-large-min) {
      width: 63.5%;
    }
  }

  &__map {
    overflow: hidden;

    @media ($bp-large-min) {
      float: right;
      width: $layout-sidebar-width + 40px; //outer page padding
    }

    @media ($bp-x-large-min) {
      width: 36%;
    }

    .ma__google-map {
      padding: 0;

      &__map {
        height: 400px;

        &.static-image {
          height: auto;

          @media ($bp-large-min) {
            position: relative;
            height: 400px;

            img {
              height: 400px;
              object-fit: none;
              object-position: center;

              // IE 10 and 11 don't support object declarations so we pull the image over some for better centering.

              @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin-left: -15%;
              }
            }
          }
        }
      }
    }
  }
}
