@use "00-base/configure" as *;

$banner-height: 400px;

.ma__location-banner {

  @include ma-container;

  @include clearfix;
  margin-bottom: 70px;

  @media ($bp-large-min) {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__image {
    background-position: center top;
    background-repeat: no-repeat;
    height: $banner-height;

    @media ($bp-large-min) {
      float: left;
      width: calc(100% - #{$layout-sidebar-width} - 45px); //outer page padding
    }

    @media ($bp-x-large-min) {
      width: 63.5%;
    }
  }

  &__map {
    overflow: hidden;

    @media ($bp-large-min) {
      float: right;
      width: $layout-sidebar-width + 40px; //outer page padding
    }

    @media ($bp-x-large-min) {
      width: 36%;
    }

    .ma__leaflet-map {
      padding: 0;

      &__map {
        height: $banner-height;
      }

      &__link > .ma__leaflet-map__map {
        height: $banner-height - 37.3px;
      }
    }
  }
}
