$formTransitions: max-height 0.6s linear, margin 0.1s linear;
$formQuickTransitions: max-height 0.3s linear;

@use "00-base/configure" as *;

.ma__mass-feedback-form {
  border: 2px solid var(--mf-c-gray-light);
  background: var(--mf-c-bg);
  max-width: 35em;
  margin: 0 0.5rem 5rem;

  @media ($bp-small-min) {
    margin: 0 auto 5rem;
  }

  &__heading {
    padding: 1rem 20px;
    font-size: $fonts-larger;
    border-bottom: 2px solid var(--mf-c-gray-light);
    margin-bottom: 0;

    @media ($bp-small-min) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  &__form {
    padding: 2rem 20px;

    @media ($bp-small-min) {
      padding: 2rem 2.5rem;
    }

    &.hidden {
      display: none;
    }

    .ma_feedback-fieldset {
      margin-top: 2rem;

      legend {
        font-weight: $fonts-bold;
        margin-bottom: 0.5em;
      }
    }

    .submitButtonWrapper {
      display: none;
    }

    > *:first-child {
      margin-top: 0;
    }

  }

  &__fields {

    display: none;
    transition: $formTransitions;

    &.is-open {
      display: initial;
    }

    &.positive {

      .feedback-positive {
        display: inline;

        textarea {
          display: inline-block;
        }
      }
    }

    &.negative {

      .feedback-negative {
        display: inline;

        textarea {
          display: inline-block;
        }
      }
    }


    .feedback-response {
      display: none;
      margin-bottom: 0;

      textarea {
        display: none;
      }
    }

    .ma__help-tip {
      font-size: $fonts-medium;
      font-weight: $fonts-bold;

      &-container {
        margin-bottom: 0.25em;
      }

      &__label {

        @media ($bp-small-min) {
          font-size: $fonts-smaller;
        }
      }

      &__text {
        padding: 0.5em 1em;

        p {
          margin-bottom: 0;
          font-weight: $fonts-normal;
        }
      }

      &__close-desktop {
        top: 0;
        padding: 0.5em;
      }

      &__close-mobile {

        @include ma-button-reset;
        text-align: right;
        width: 100%;
        padding: 5px
      }
    }

    .feedback-alert {
      display: flex;
      align-items: center;
      font-size: $fonts-medium;
      font-weight: $fonts-normal;
      margin-bottom: 0.5rem;

      @media ($bp-small-min) {
        font-size: $fonts-smaller;
      }

      &-icon {
        margin-right: 1rem;
        height: 22px;

        svg {
          width: 22px;
          height: 22px;
        }
      }

      &-message {

        .ma__decorative-link {
          display: inline;
          vertical-align: unset;
        }
      }
    }

    .ma__alert-msg, .ma__warn-msg, .ma__error-msg {
      display: none;
      font-size: $fonts-medium;
      font-weight: $fonts-normal;
      line-height: 1.5;
      margin: .3em 0;

      &.has-error, &.has-error-default {
        display: inline-block;
        border-left: 3px solid;
        padding-left: 1rem;
      }
    }

    .ma__warn-msg {

      &.has-error, &.has-error-default {
        border-left-color: var(--mf-c-gray-lighter);
      }
    }

    .ma__alert-msg, .ma__error-msg {

      &.has-error {
        color: var(--mf-c-error);
        border-left-color: var(--mf-c-error);
      }
    }

  }
}
