$menu-transition-time: 0.3s;

@use "00-base/configure" as *;

.ma__organization-navigation {
  background-color: $c-gray-lightest;
  margin-top: -20px;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity $menu-transition-time;

  @media ($bp-x-small-min) {
    margin-top: -40px;
    margin-bottom: 40px;
  }

  &.stuck {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: $z-dropdown;

    .show-menu & {
      opacity: 0;
    }
  }

  &--inner-wrapper {
    display: none;
    position: relative;
    flex-direction: column;

    &.menu-open {
      display: flex;

      @media ($bp-large-max) {
        height: 100vh;
      }
    }

    @media ($bp-large-min) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }

    @media ($bp-x-large-min) {
      max-width: 1250px;
      padding: 0;
      margin: 0 auto;
    }
  }

  &__mobile-toggle {

    @include ma-container;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fonts-small;
    font-weight: $fonts-bold;
    line-height: 1.2;
    color: $c-font-dark;
    border-bottom: 1px solid $c-gray-light;
    background-color: $c-gray-lightest;
    z-index: $z-dropdown;

    .mobile-toggle-label {
      overflow: hidden;
      position: relative;
      line-height: 1.2em;
      // max-height = line-height (1.2) * lines max number (2)
      max-height: 2.4em;
      max-width: 90%;
      margin-right: -1em;
      padding-right: 1em;

      &::before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $c-gray-lightest;
      }
    }

    .mobile-toggle-icon {
      position: relative;
      display: block;
      width: 35px;
      min-width: 35px;
      height: 35px;
      background-color: transparent;
      color: $c-primary-alt;
      transition: $menu-transition-time;

      &::after {
        content: $close-icon;
        font-size: $fonts-2xlarge;
        font-weight: $fonts-normal;
        line-height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    @media ($bp-large-min) {
      display: none;
    }

    &.menu-open {

      .mobile-toggle-label {
        max-height: none;

        &::before,
        &::after {
          display: none;
        }
      }

      .mobile-toggle-icon {
        background-color: $c-primary;
        color: $c-white;
        transition: $menu-transition-time;

        &::after {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
  }

  &__search {
    border-bottom: 1px solid $c-gray-light;
    order: 1;
    padding: 20px;

    @media ($bp-large-min) {
      display: flex;
      flex-direction: row-reverse;
      order: 2;
      border-bottom: 0;
      padding: 0;

      .form-open & {
        position: absolute;
        width: 100%;
        z-index: 1;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          top: 7px;
          background-color: $c-gray-lightest;
        }
      }
    }

    .ma__form {
      display: flex;
      width: 100%;
      font-size: $fonts-small;
    }

    .visuallyhidden {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    &--wrapper {

      @media ($bp-large-min) {
        max-width: 0;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: 0s;

        .form-open & {
          max-width: $max-width;
          width: 100%;
          pointer-events: auto;
          opacity: 1;
          visibility: visible;
          transition: $menu-transition-time;
          margin-right: 15px;
        }
      }
    }

    .ma__button-search {
      background-color: $c-primary-alt;
      border-width: 0;

      @media ($bp-large-min) {
        background-color: $c-white;
        margin-left: -3px;
        border-width: 2px;
      }

      @media ($bp-large-extended-min) {
        font-size: $fonts-small;
      }

      svg {
        fill: $c-white;

        @media ($bp-large-min) {
          fill: $c-primary-alt;
        }
      }

      &__label {
        display: none;

        @media ($bp-large-min) {
          display: inline;
        }
      }

      &:hover {
        background-color: $c-white;

        svg {
          fill: $c-primary-alt;
        }
      }
    }

    &--toggle {
      display: none;
      position: relative;
      border: 0;
      background-color: transparent;
      border-left: 1px solid $c-gray-light;
      font-size: $fonts-xsmall;
      font-weight: $fonts-bold;
      padding-left: 35px;

      @media ($bp-large-min) {
        display: block;
        font-size: $fonts-smaller;
        white-space: nowrap;
      }

      @media ($bp-large-extended-min) {
        padding-left: 40px;
      }

      .form-open & {
        font-size: $fonts-smaller;
        padding-right: 1.5rem;
        padding-left: 1rem;
        font-weight: $fonts-normal;

        &::after {
          color: $c-primary-alt;
          content: $close-icon;
          font-size: $fonts-2xlarge;
          font-weight: 600;
          line-height: 0;
          position: absolute;
          right: 0;
          transform: translateY(-50%);
          top: 50%;
        }

        svg {
          display: none;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $c-primary-alt;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);

        @media ($bp-large-min) {
          width: 15px;
          height: 15px;
        }

        @media ($bp-large-extended-min) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
