@use "00-base/configure" as *;

$page-banner-icon-width: $column + $gutter;
$page-banner-height: 273px;
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

.ma__page-banner {
  background-size: cover;
  background-position: center center;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  background-color: $c-primary-alt;

  &:before {
    background-color: $c-primary-alt;
  }

  @media ($bp-large-extended-min) {
    margin-bottom: 40px;
  }

  &__container {

    @include ma-container;
    height: 100%;
    position: relative;
    padding-right: 0;

    @media ($bp-large-extended-min) {
      padding-right: 0;
    }

    .mass-alerts-block & {

      @media ($bp-large-extended) {
        padding-right: 20px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: $fonts-xsmall;
    padding: 30px 25px 45px 0;

    &:before {
      background-color: $c-primary-alt;
    }
  }


  .ma__decorative-link a,
  &__unlinked-title {
    font-weight: $fonts-normal;
  }

  .ma__decorative-link + &__description,
  &__unlinked-title + &__description {
    margin-top: .5rem;
    font-weight: $fonts-normal;
    width: 100%;
    font-size: $fonts-large;
  }

  &__icon {
    padding-right: 30px;
    width: 75px;
    display: none;

    @media ($bp-large-extended-min) {
      margin: auto 0;
      width: $page-banner-icon-width;
      display: inline-block;
    }

    & > svg {
      height: 2.75em;
      width: 100%;

      @media ($bp-large-extended-min) {
        height: 3.75em;
      }

      @media ($bp-large-min) {
        height: 4.25em;
      }

      @media ($bp-x-large-min) {
        height: 4.625em;
      }
    }

    a {
      display: inline-block;
    }
  }

  &__title {
    flex-grow: 1;
    line-height: 1.05;
    margin-bottom: 0;
    vertical-align: middle;
    z-index: 1;

    & > abbr {
      font-size: .4em;
      border: none;
      text-decoration: none;
    }
  }

  &--columns &__title,
  &--large &__title,
  &--small &__title {

    @media ($bp-medium-min) {
      font-size: $fonts-7xlarge;
    }

    @media ($bp-large-min) {
      font-size: $fonts-8xlarge;
    }
  }

  &__icon + &__title {

    @media ($bp-large-extended-min) {
      width: calc(100% - #{$page-banner-icon-width});
    }
  }

  &--small &__icon + &__title {

    @media ($bp-large-extended-min) {
      width: calc(100% - $column);
    }
  }

  &__description,
  &__unlinked-title,
  .ma__decorative-link {
    display: block;
    font-size: $fonts-xlarge;
    letter-spacing: $letter-spacing-small;
    line-height: 2.188rem;
    margin-bottom: 0;
    margin-top: 0.8em;
    top: $page-banner-height;

    @media ($bp-large-extended-min) {
      max-width: 820px;
    }
  }

  

  // Overlay variant

  &--overlay {


    @media ($bp-large-extended-min) {
      min-height: $page-banner-height;
      padding-top: 50px;
      text-shadow: $text-shadow;
      
      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    }

    .ma__page-banner__container {

      &:before {
        background-color: rgba($c-primary-alt, 0.8);
      }
    }

    &.ma__page-banner--bg-wide {

      .ma__page-banner__container {

        @media ($bp-large-extended-min) {
          min-height: $page-banner-height;
          display: flex;
          align-items: stretch;

          &:before {
            background-color: rgba($c-primary, 0.8);
          }
        }
      }

      .ma__page-banner__content-wrapper {
        height: 100%;
        width: 100%;
        transform: none;

        @media ($bp-large-extended-min) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;
          width: calc(100% - 295px);
        }
      }

      .ma__page-banner__description {

        @media ($bp-large-extended-min) {
          max-width: 820px;
          width: 100%;
        }
      }
    }

    .ma__page-banner__description {

      @media ($bp-large-extended-min) {
        max-width:  100%;
      }
    }
  }

  &--overlay &__content {
    padding: 40px 20px 40px 0;
    position: relative;
    transform: none;
    background: none;
    height: 100%;
    width: 100%;

    @media ($bp-large-extended-min) {
      padding-right: 0;
      top: 0;
    }

    &:before {
      display: none;
    }
  }

  &--overlay &__title {

    @media ($bp-large-extended-min) {
      width: calc(100% - 75px);
    }
  }
  // end of overlay variant

  // Skew background variant

  &--large {

    position: relative;
    overflow: hidden;
    height: auto;

    @media ($bp-large-extended-min) {
      height: 100%;
    }
  }

  &--large &__container {
    padding-right: 0;
    display: flex;

    @media ($bp-large-extended-min) {
      height: 100%;
      min-height: $page-banner-height;
    }

    @media ($bp-large-extended) {

      flex-direction: column-reverse;
      padding-left: 0;
      background-color: $c-primary-alt;
    }

    .ma__page-banner__image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 1px;
      left: 500px;
      background-size: cover;
      background-position: center;

      @media (min-width: $max-width) {
        right: calc(-100vw + #{$max-width});
      }

      @media ($bp-large-extended) {
        position: relative;
        width: 100%;
        height: 50vw;
        left: 0;
      }
    }

    .ma__page-banner__content {
      position: relative;
      display: flex;
      align-items: center;
      background-color: $c-primary-alt;
      background-image: none;
      height: 100%;
      width: 100%;

      @media ($bp-large-extended) {
        @include ma-container();
      }

      @media ($bp-large-extended-min) {
        top: 0;
        transform: skew(-30deg);
        padding: 30px 25px 45px 0;
        min-height: $page-banner-height;
        max-width: 640px;
        margin-right: 70px;
        padding-top: 50px;
      }
    }    
  }

  @mixin skewBG {
    z-index: 1;
    top: -50%;
    transform: none;
    background-color: $c-primary-alt;

    @media ($bp-large-extended-min) {
      margin-right: 70px;
      padding-top: 50px;
      padding-right: 80px;
      transform: skew(-30deg);

      &::before {
        content: "";
        height: 100%;
        top: 0;
        right: 99%;
        position: absolute;
        width: 50vw;
        right: 99%; // weird gap when skewed is shown
      }
    }
  }

  &--small &__content {

    @include skewBG();
    font-size: $fonts-2xsmall;
    padding: 25px 25px 40px 0;


    @media ($bp-large-extended-min) {
      padding-top: 45px;
      padding-right: 80px;
    }
  }

  &--small &__content-wrapper,
  &--large &__content-wrapper {
    z-index: 1;

      @media ($bp-large-extended-min) {
      transform: skew(30deg);
      display: flex;
      flex-wrap: wrap;
    }
  }




  &--small &__icon {

    @media ($bp-large-extended-min) {
      width: $column;
    }
  }


  // end of skewed background variant


  // column variant (to be deprecated)

  &--columns {
    height: auto;
    min-height: 350px;
    max-height: none;

    @media ($bp-medium-min) {
      padding-top: 45px;
    }

    @media ($bp-large-min) {
      margin-bottom: 70px;
    }
  }

  &--columns &__container {

    @include clearfix;
    height: auto;
    min-height: 500px;
    padding-right: 0px; //fix gap on mobile

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &--columns &__description {
    font-size: $fonts-large;
    margin-top: 0;
    padding: 25px 0 20px;
    width: 95%;
    transform: skew(0);
    float: left;
    z-index: 1;

    @media ($bp-medium-min) {

      @include span-columns(4 of 12);
      font-size: $fonts-xlarge;
      letter-spacing: $letter-spacing-small;
      line-height: 2.188rem;
      padding-top: 100px;
      padding-right: 20px;
      position: relative;
      top: 0;
    }
  }

  &--columns &__image {
    background-position: 50% 50%;
    background-size: cover;
    height: $page-banner-height;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    @media ($bp-medium-min) {
      height: 460px;
      max-width: 820px;
      right: 40px;
      width: 62.12903%; // @include span(8 of 12) was too big
    }
  }

  &--columns &__content {
    height: $page-banner-height;
    max-width: 700px;
    position: relative;
    top: 0;

    @media ($bp-medium-min) {
      position: relative;
      top: calc(#{$page-banner-height} / 2);
    }

    @media ($bp-medium-min) {
      height: 100%;
        top: 50px;
      transform: skew(-30deg);
    }
  }
  // end of column variant


  // to match height and font size being provided to prod by
  // decision tree module styles

  .decision-tree & {

    h1 {
      font-size: $fonts-2xlarge;

      @media ($bp-large-extended-min) {
        font-size: $fonts-xlarge;
      }
    }

    &.ma__page-banner--overlay {
      height: 120px;
    }
  }
}

// config

.ma__page-banner {
  // Do not render image on mobile

  &--no-img-mobile {
  
    @media ($bp-large-extended) {

      &:after {
        display: none;
      }
  
      .ma__page-banner__image {
        display: none;
      }
    }
  }

  // blue background

  &--blue {
    background-color: $c-primary;

    &:before {
      background-color: $c-primary;
    }

    &.ma__page-banner--small .ma__page-banner__content,
    &.ma__page-banner--large .ma__page-banner__content {
      background-color: $c-primary;

      &:before {
        background-color: $c-primary;
      }
    }
  }

  &--columns &__content {

    &:after {
      background-color: rgba($c-primary-alt,.7);
    }

    @media ($bp-large-extended-min) {

      &:after {
        background-color: transparent;
      }
    }
  }


  &__icon {

    svg,
    svg > g {
      fill: rgba($c-font-inverse,.5);
    }
  }

  &__title {
    font-weight: $fonts-light;
    color: $c-font-inverse;
  }

  &__description {
    color: $c-font-inverse;
    font-weight: $fonts-normal;

    .ma__page-banner__descriptionSubText {
      display: block;
      font-weight: $fonts-lighter;
    }
  }

  .ma__decorative-link {

    a {
      color: $c-font-inverse;

      &:hover {
        border-bottom-color: rgba($c-font-inverse, 0.5);
      }
    }

    svg {
      fill: rgba($c-font-inverse, 0.5);
    }

  }

  &__unlinked-title {
    color: $c-font-inverse;
  }

  &--columns &__description {
    color: $c-font-base;
    font-weight: $fonts-light;
  }
}


