@use "00-base/configure" as *;

/* Apply basic styling to the banner container */
.ma__page-banner {
  background-color: #388557;
  color: #fff;

  &__container {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  /* Style for the text content on the left side */
  &__content {
    flex: 1;

    .ma__page-header {

      &__title, &__sub-title, &__description, &__category, &__subCategory {
        color: $c-font-inverse;
      }

      &__sub-title {
        width: 100%;
      }
    }
  }
  
  /* Style for the image on the right side */
  &__image {
    flex: 240px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  @media (min-width: 1000px) {
    &__container {
      flex-direction: row;
      align-items: stretch;
      max-width: 1320px;
      padding-left: 40px;
      /* padding-right: 40px; */
    }
  
    &__image {
      flex: 1;
      background-size: cover;
      width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    &__image {
      flex: 1;
      background-size: cover;
      width: 100%;
    }
  }
  
  
  @media (max-width: 480px) {
    &__image {
      flex: 50vw;
      background-image: url("../img/2x1.png");
      background-size: cover;
      width: 100%;
    }
  }
}


