 //theme

@use "00-base/configure" as *;

.ma__pullquote {
  position: relative;
  margin: 30px 0;

  @media ($bp-small-min) {
    margin-left: 6%;
  }

  &__content {
    display: block;
    padding-top: 35px;
    font-size: $fonts-2xlarge;
    font-weight: $fonts-bold;
    line-height: 1.285;
    color: var(--mf-c-gray-dark);

    &::before {
      content: '';
      width: 75px;
      height: 20px;
      /* background fallback */
      background-color: var(--mf-c-primary-alt);
      /* will be on top of fallback, if browser supports it */
      background-image: linear-gradient(120deg, var(--mf-c-primary-alt) 65px, var(--mf-c-white) 0);
      position: absolute;
      top: 0;
    }

    @media ($bp-small-min) {
      font-size: $fonts-5xlarge;
    }
  }
}
