@use "00-base/configure" as *;


.ma__search-collection-row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: stretch;
  margin: 60px auto;

  @media ($bp-medium-min) {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }

  @media ($bp-large-min) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media ($bp-small-max) {
    margin: 40px auto;
  }

  h3 {
    padding: 0 !important;
    &::after {
      content: none !important;
    }
  }

  &__form {
    padding: 40px;
    background-color: $c-primary;
    flex-basis: 60%;

    @media (max-width: 910px) {
      padding: 30px;
    }

    @media ($bp-small-max) {
      padding: 20px;
    }

    h3 {
      color: $c-white;
      margin-bottom: 30px;
      display: block;
    }

    @media (max-width: 910px) {
      h3 {
        margin-bottom: 20px;
      }
    }

    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $c-white;
      border-bottom-color: rgba($c-white, 0.5);
    }

    .ma__keyword-search {
      display: flex;
      max-width: 620px;

      input {
        flex-grow: 1;
        flex-shrink: 1;
        border-right: 0;

        &::placeholder {
          color: $c-atlantic-gray;
        }
      }

      button {
        flex-grow: 0;
        flex-shrink: 0;
      }

    }

    @media ($bp-small-max) {
      .ma__button-search__label {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }
    }

    .ma__decorative-link {
      margin-top: 30px;

      @media (max-width: 910px) {
        margin-top: 20px;
       }

      svg {
        fill: rgba($c-white, 0.5);
      }

      a:link,
      a:visited {
        border-bottom-width: 0;
      }
    }
  }

  &__secondary {
    flex-basis: 40%;
    background-color: $c-platinum-gray;
    padding: 40px;

    @media (max-width: 910px) {
      padding: 30px;
    }

    @media ($bp-small-max) {
      padding: 20px;
    }

    h3 {
      margin-bottom: 20px;
      padding-bottom: 0 !important;

      &:after {
        background: none;
      }
    }

    ul {
      display: block;
      padding: 0;
      margin-bottom: 0px;
    }

    li {
      list-style: none;
      margin: 0 45px 10px 0;

      a {
        display: flex;
        justify-content: start;
        line-height: 1.1;
      }

      @media (max-width: 910px) {
        margin: 0 20px 10px 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    svg {
      margin-right: 10px;
    }

    p {
      margin: 0 0 10px 0;
      line-height: 1.1;
    }

    p:last-child {
      margin-bottom: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      border-bottom-width: 0;
    }
  }
}

.ma__link-icon-arrow {
  fill: rgba($c-primary, 0.5);
  width: 10px;
}
