@use "00-base/configure" as *;

.ma__social-links-bar {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {

      margin: 0 1rem 0 0;

      &:last-of-type {

        margin: 0;
      }
    }
  }
}
