@use "00-base/configure" as *;

.ma__split-columns {

  &__container {

    @include ma-container;

    .main-content--two & {
      padding-left: 0;
      padding-right: 0;
    }

    @media ($bp-medium-min) {

      @include ma-grid-responsive(1, 2, 3, 3.3%);
    }

    // When there are exactly 2 items, force 2-column grid instead of 3

    &:has(.ma__split-columns__column:first-child:nth-last-child(2)) {

      @media ($bp-large-min) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__column {

    @include ma-component-spacing;

    @media ($bp-medium-min) {
      margin-top: 0;
    }

    // Special handling for 2/3 width content area - force single column when space is constrained

    .main-content--two &:first-child:nth-last-child(2),
    .main-content--two &:first-child:nth-last-child(2) ~ & {

      @media ($bp-large-min) and ($bp-x-large-max) {
        grid-column: 1 / -1;
      }
    }
  }
}
