@use "00-base/configure" as *;

.ma__suggested-pages {

  &--centered {

    .ma__suggested-pages__title {
      text-align: center;
      display: block;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .ma__suggested-pages__items {
      justify-content: center;
    }

    // For 3-item layout on tablet: center the third item between the first two (centered variant)

    .ma__suggested-pages__item:nth-child(3):nth-last-child(1) {

      @media (max-width: 749px) {
        grid-column: 1 / -1;
        max-width: 100%;
        margin: 0;
      }

      @media (min-width: 750px) and ($bp-x-large-max) {
        grid-column: 1 / -1;
        margin: 0 auto;
        max-width: 50%;
        justify-self: center;
      }
    }
  }

  // Kept for backwards compatability

  &.guide {
    text-align: center;

    .ma__suggested-pages__title {
      display: block;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .ma__suggested-pages__items {
      justify-content: center;
    }

    // For 3-item layout on tablet: center the third item between the first two (guide only)

    .ma__suggested-pages__item:nth-child(3):nth-last-child(1) {

      @media (max-width: 749px) {
        grid-column: 1 / -1;
        max-width: 100%;
        margin: 0;
      }

      @media (min-width: 750px) and ($bp-x-large-max) {
        grid-column: 1 / -1;
        margin: 0 auto;
        max-width: 50%;
        justify-self: center;
      }
    }
  }

  &__container {

    @include ma-container;
    border-bottom: 2px solid;
    padding-bottom: 50px;
  }

  &__title {

    @include ma-border-decorative;
    margin-bottom: 45px;
    padding-top: 60px;
    padding-bottom: 16px;
    display: inline-block;

    &:after {
      left: 0.075em;
    }
  }

  h3.ma__comp-heading {
    margin-bottom: 0;

    &:after {
      content: none;
    }
  }

  &__items {
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    list-style: none;

    @media (min-width: 750px) {

      @include ma-grid(2);
    }

    @media ($bp-x-large-min) {

      @include ma-grid(3);
    }
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;

    @media (min-width: 750px) {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: relative;
    }

    a {
      height: 100%;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &--suggested {

      .ma__decorative-link {
        display: block;
        font-size: $fonts-xlarge;
        line-height: 1.2;
        margin-top: 10px;
      }

      &-figure {
        position: relative;

        @media ($bp-x-large-min) {
          max-width: 230px;
          margin: auto;
        }
      }

      @media ($bp-x-large-min) {
        border-right: 1px solid var(--mf-c-bd-divider);

        &:nth-child(1) {

          .ma__suggested-pages__item--suggested-figure {
            margin-left: 0;
          }
        }

        &:last-child {
          border-right: 0;

          .ma__suggested-pages__item--suggested-figure {
            margin-right: 0;
          }
        }
      }
    }
  }

  .ma__link-list {
    text-align: left;
  }
}

//theme

.ma__suggested-pages {
  background-color: var(--mf-c-bg-section);

  &__container {
    border-color: var(--mf-c-bd-divider);
  }

  &__title {

    @include ma-border-decorative(var(--mf-c-primary-alt-50));
  }

  @media ($bp-large-min) {

    &__item + &__item {
      border-color: var(--mf-c-bd-divider);
    }
  }
}
