@use "00-base/configure" as *;

.ma__teaser-text {

  .pre-content > &,
  .post-content > &,
  .main-content--full .page-content .layout--onecol-mass-service-section .layout__region--content > &,
  .main-content--full .page-content > & {

    @include ma-container('restricted');
  }

  .ma__rich-text {
    margin-bottom: 1rem;
  }
}
