@use "00-base/configure" as *;

.ma__test-feed {

  @include ma-container;

  &__title {

    @include ma-border-decorative;
    padding-bottom: 16px;
  }

  &__items {
    padding-top: 10px;

    @media ($bp-medium-min) {

      @include ma-grid(2);
    }
  }

  &__item {
    padding-bottom: 30px;

    @media ($bp-medium-min) {
      padding-bottom: 0;
    }
  }

  &__icon {
    float: left;
    padding-right: 30px;
    width: 90px;
  }

  &__content {
    clear: both;

    @media ($bp-small-min) {
      clear: none;
      float: left;
      padding-right: 10px;
      width: calc(100% - 90px);
    }
  }

  &__link {
    font-size: $fonts-xlarge;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__description {
    font-size: $fonts-medium;
  }

  &__view-all {
    text-align: right;

    a {

      @include ma-chevron;

      @include ma-link-underline;
      display: inline-block;
      padding-bottom: 0;

      &:after {
        height: 0.5em;
        width: 0.5em;
      }
    }
  }

  @media ($bp-medium-max) {

    .ma__split50__container > &:nth-last-child(n + 2),
    .ma__split50__container > *:nth-last-child(n + 2) ~ & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media ($bp-medium-min) {
    // left side

    .ma__split50__container > &:nth-child(odd) {
      padding-left: 0;
    }

    // right side

    .ma__split50__container > &:nth-child(even) {
      padding-right: 0;
    }

    // more than two in a 50/50

    .ma__split50__container > &:nth-last-child(n + 2),
    .ma__split50__container > *:nth-last-child(n + 2) ~ & {

      .ma__test-feed__title {
        font-size: $fonts-3xlarge;
        line-height: 1.214287;

        &:after {
          width: 2.25em;
        }
      }

      .ma__test-feed__items {

        @include ma-grid(1);
      }
    }
  }
}

//theme

.ma__test-feed {

  &__title {

    @include ma-border-decorative($c-primary-alt);
  }

  &__icon {

    svg {
      fill: var(--mf-c-primary-alt);
    }
  }

  &__view-all {

    a {

      &:hover,
      &:after {
        border-color: var(--mf-c-link);
      }
    }
  }
}
