@use "00-base/configure" as *;

.ma__top-actions {

  @include ma-container;

  &__title {

    @include ma-border-decorative;
    margin-bottom: 45px;
    padding-bottom: 16px;
    text-align: center;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {

    @media ($bp-small-min) {

      @include ma-grid-responsive(1, 2, 4);
      align-items: stretch;
    }
  }

  .ma__callout-link {
    display: flex;
    margin-bottom: 20px;

    @media ($bp-small-min) {
      margin-bottom: 0;
    }
  }
}

//theme

.ma__top-actions {

  &__title {

    @include ma-border-decorative(var(--mf-c-primary-alt));
  }

  &__item {
    border-color: var(--mf-c-bd-divider);
  }

  &__link {

    a:hover {
      border-bottom-color: var(--mf-c-link);
    }

    svg {
      fill: var(--mf-c-font-link);
    }
  }
}
