@forward "00-base/configure" with (
  $assets-path: "~@massds/mayflower-assets/static" !default,
  $fonts-enable-rtl: true !default,
);

@use '~@massds/mayflower-assets/scss/00-base/fonts';
@use './bootstrap-grid';

@use '~@massds/mayflower-assets/scss/00-base/elements';
@use '@massds/mayflower-assets/scss/01-atoms/decorative-link';
@use '@massds/mayflower-assets/scss/01-atoms/button-copy';
@use '@massds/mayflower-react/dist/Typography';
@use '@massds/mayflower-react/dist/Button';
@use '@massds/mayflower-assets/scss/01-atoms/button-with-icon';
@use '@massds/mayflower-assets/scss/02-molecules/header-search';

@use '@massds/mayflower-assets/scss/03-organisms/header-slim';
@use '@massds/mayflower-assets/scss/03-organisms/utility-nav';
@use '@massds/mayflower-assets/scss/03-organisms/utility-panel';
@use '@massds/mayflower-assets/scss/02-molecules/main-nav';
@use '@massds/mayflower-assets/scss/03-organisms/header';
@use '@massds/mayflower-assets/scss/01-atoms/site-logo';

// Global
.sp {
  &--top {
    margin-top: 2rem;
  }
  &--bottom {
    margin-bottom: 2rem;
  }
}


// Intro story
.row.ma__row--three-up {
  margin-left: -15px;
  margin-right: -15px;
}
// Match row height
.ma__section-links {
  height: 100%;
  &__title {
    margin-bottom: 0;
  }
}

// Button story
.ma__button-group {
  button:not(:first-child) {
    margin-left: 1rem;
  }
}

// Header story
.ma__header_slim {
  &__utility-link {
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: .25rem;
    }
  }
}
