@import 'global';

.ma__breadcrumb {
  display: inline-flex;
  font-size: 1.1rem;
  width: unset;
  list-style: none;

  & li:nth-child(n+2) {
    ::before {
      content: "> ";
    }
  }
}

.ma__breadcrumb-item {
  @include ma-link-transition;
  @include ma-link-underline;
  font-weight: 500;

  a {
    color: $c-gray-dark;
  }

  a:hover {
    border-bottom: 3px solid rgba($c-font-link,.5);
  }

  &--active {
    a {
        color: $c-primary;
        font-weight: 700;
    }
  }

}
