@import "@massds/mayflower-theme/scss/mayflower-global";
@import '00-base/mixins';
@import '01-atoms/buttons';

.ma__button.ma__button--secondary {
  &.ma__button--c-primary-alt{
    color: $c-primary-alt;
    &:hover {
      color: $c-white;
      background-color: $c-primary-alt;
    }
  }
}
