@use "00-base/configure" as *;

.ma__details {

  &__content {
    position: relative;

    @media ($bp-medium-min) {
      margin-left: 160px;
    }

    @media ($bp-x-large-min) {
      margin-left: $column-with-gutter * 2;
    }

    & > * {

      @include ma-component-spacing;
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  &__sticky-nav {
    margin-bottom: 30px;
  }

  .page-content > .ma__contact-list {

    .ma__sidebar-heading,
    .ma__comp-heading {

      @include ma-heading-colored;
      border: none;
    }
  }
}

//theme

.ma__details {

  .page-content > .ma__contact-list {

    .ma__sidebar-heading,
    .ma__comp-heading {

      @include ma-heading-colored($c-primary-alt);
    }
  }

  .sidebar {

    @media ($bp-medium-min) {
      padding-top: 10px;
    }

    .ma__link-list {
      display: none;

      @media ($bp-large-min) {
        display: block;
      }
    }
  }
}
