@use "00-base/configure" as *;

.ma__details {
  &__container {
    display: flex;
    position: relative;

    @media ($bp-medium-max) {
      flex-direction: column;
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  &__sticky-nav {

    @media ($bp-medium-max) {
      width: 100%;
    }

    margin-bottom: 30px;
  }

  &__content {

    width: 100%;
    margin-left: $layout-left-col-width + $layout-left-col-gutter;

    & > * {
      @include ma-component-spacing;
    }

    @media ($bp-x-large-min) {
      margin-left: $layout-left-col-width-x-largin + $layout-left-col-gutter;
    }
  
    @media ($bp-medium-max) {
       margin-left: 0;
    }

  }

  .page-content > .ma__contact-list {

    .ma__sidebar-heading,
    .ma__comp-heading {

      @include ma-heading-colored;
      border: none;
    }
  }
}

//theme

.ma__details {

  .page-content > .ma__contact-list {

    .ma__sidebar-heading,
    .ma__comp-heading {

      @include ma-heading-colored($c-primary-alt);
    }
  }

  .sidebar {

    @media ($bp-medium-min) {
      padding-top: 10px;
    }

    .ma__link-list {
      display: none;

      @media ($bp-large-min) {
        display: block;
      }
    }
  }
}
