@use "00-base/configure" as *;

.ma__campaign-landing {

  .page-content>:last-child {

    &.ma__key-message {

      &--c-white {
        margin-top: 0px;
      }
    }
  }

  .main-content {
    margin-bottom: 0;
  }

  .main-content--full .page-content > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ma__campaign-page-hr-row {
  // custom html container
    padding-top: 60px;
    padding-bottom: 60px;
  }
}