@use "00-base/configure" as *;

.ma_stacked-row-external-sidebar {

  @include ma-container();

  .stacked-row-column {

    @media ($bp-large-min) {
      float: left;
      padding-right: 85px;
      width: calc(100% - 295px);
    }
  }

  // If this is being called, then it needs to
  // take precedence over all other stacked row
  // container padding styles.

  .ma__stacked-row__container {
    padding: 0 !important;
  }
}

.post-content__stacked-row-external-sidebar {
  width: 100%;
  clear: both;
}


// guide page template

.stacked-row-content {
  position: relative;
}
