@import 'global';
@import '03-organisms/press-filters';

.ma__press-filters {
  &__organizations, &__type {
    max-width: 500px;
    .react-autosuggest__suggestions-container {
      &--open{
        max-height: 180px;
        overflow-y: auto;
      }
     }
  }
}