.ma__action-image {

  @include clearfix;

  &__title {
    margin-bottom: 15px;
  }
}

//theme

.ma__action-image {
  
  &__title {
    margin-bottom: 15px;
    font-weight: fonts-bold;
  }
}
