.ma__breadcrumb {
  display: block;
  font-size: 1.1rem;
  list-style: none;
  width: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;

  &-item {

    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: " >";
        margin-right: 7px;
      }
    }

    a {
      color: $c-gray-dark;
      font-weight: 500;
      @include ma-link-transition;
      @include ma-link-underline;

      &:hover {
        color: $c-primary;
        border-bottom: 3px solid rgba($c-font-link,.5);
      }
    }

    span {
      font-weight: 700;
    }
  }
}
