.ma__callout-link {
  border: 3px solid;
  display: inline-flex;

  &:last-child {
    margin-bottom: 0;
  }

  & > span {
    width: 100%;
  }

  a {
  width: 100%;
  display:flex;
      flex-flow: column wrap;
      justify-content: center;
    padding: 15px 20px;
    @media ($bp-small-min) {
      padding: 20px 30px;
    }
  }

  &__container { // .ma__decorative-link
    font-size: 1.625rem;
    line-height: 1.3;
    vertical-align: middle;
    padding-right: .8em;
    width: 100%;
  }

  &__text {
    @include ma-link-underline;
    display: inline;
    svg {
      @include ma-link-arrow;
    }
  }

  &__description {
    display: none;
    padding-top: 10px;
        @media ($bp-x-small-min) {
          display: flex;
            align-content: stretch;
              align-items: center;
        }
  }

  &__header{
    align-content: stretch;
    width: 100%;
    display: inline-flex;
      justify-content: space-between;
      margin-bottom: 10px;
        @media ($bp-small-min) {
            margin-bottom: 15px;
        }
  }
  &__eyebrow, &__time {
      font-size: 0.813rem;
      letter-spacing: $letter-spacing-large;
      text-transform: uppercase;
      padding: 5px 7px;
  }

  &__emphasized {
    font-size: 18px;
    line-height: 1;
    padding-top: 15px;
    display: flex;
  }

  // removed after version 5.5.0
  &__info {
    @include ma-visually-hidden;
  }


}

//theme
.ma__callout-link {
  background-color: tint($c-font-link,90%);
  border-color: tint($c-font-link,50%);
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);

  &:hover &__text,
  &:focus &__text {
    border-bottom-color: rgba($c-font-link,.5);
  }

  &__text {
    svg {
      fill: rgba($c-font-link,.5);
    }
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba($c-font-link,1);
  }

  &__eyebrow {
    background-color: $c-bg-section;
    font-weight: 700;
  }

  &__header {
    color: $c-font-detail;
  }

  &__emphasized{
    color: $c-font-base;
    font-weight: 700;
  }
}

.ma__callout-link--white{
  background-color: $c-white;
  border-color: tint($c-font-detail,70%);
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
}
