.ma__campaign-feature-2up {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    @media ($bp-small-min) {
      flex-flow: row;
    }
  }

  &__card {
    flex-basis: 100%;
    margin-bottom: 20px;
    @media ($bp-small-min) {
      flex-basis: 50%;
      margin-bottom: 0px;
    }
    .ma__card {
      height: 100%;
    }
  }

  @media ($bp-small-min) {
    &__card:nth-child(2n + 1) {
      margin-right: 20px;
    }
  }

}
