.ma__campaign-feature-2up {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    @media ($bp-small-min) {
      flex-flow: row;
    }
  }

  &__card {
    flex: 1 1 auto;
    margin-bottom: 20px;

    @media ($bp-small-min) {
      margin-bottom: 0;
      flex-basis: 50%;
    }

    .ma__card {
      height: 100%;
    }
  }

  @media ($bp-small-min) {

    &__card:nth-child(2n + 1) {
      margin-right: 20px;
    }
  }

}
