.ma__date-range {

  &__label {
    display: block;
    margin-bottom: .5em;
  }

  fieldset {
    border:none;
    margin: 0;
    margin-bottom: -20px;
    padding: 0;
  }

  &__start,
  &__divider,
  &__end {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: middle;

    label {

      @include ma-visually-hidden;
    }
  }

  &__divider {
    font-size: $fonts-smaller;
    margin-right: .25em;
    margin-left: .25em;
  }
}

//theme

.ma__date-range {

  &__label {
    font-weight: $fonts-normal;
  }
}
