.ma__emergency-alert {
  font-size: 1.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;

  & + & {
    border-top-width: 1px;
    border-top-style: solid;
  }

  &__time-stamp {
    font-size: 1.125rem;
  }

  &__link {

    .ma__content-link span {
      border-bottom-width: 1px;
      font-size: 1.25rem;

      &:hover {
        border-bottom-width: 3px;
      }
    }
  }
}

//theme
.ma__emergency-alert {
  background-color: lighten($c-warning,34%);

  & + & {
    border-top-color: $c-warning;
  }

  &__message {
    
    @media ($bp-small-min) {
      display: inline;
    }
  }

  &__time-stamp {
    font-style: italic;
    font-weight: 500;
  }

  &__link {

    @media ($bp-small-min) {
      display: inline-block;
    }
    
    .ma__content-link {

      span {
        border-bottom-color: rgba($c-font-base, .5);
        color: $c-font-base;

        &:hover {
          border-bottom-color: rgba($c-font-base, .5);
        }
      }

      &:after {
        border-color: rgba($c-font-base, .5);
      }
    }

  }
}
$colors: (
  "c-highlight": $c-highlight,
  "c-primary": $c-primary,
  "c-primary-alt": $c-primary-alt,
  "c-error": $c-error,
  "c-gray": $c-gray
);
@each $class, $c in $colors {
  .ma__emergency-alert--#{$class} {
    @include ma-emergency-alert($c);
  }
}
