$illustrated-link-image-width: 130px;

.ma__illustrated-link {
  border: 3px solid;
  display: flex;
    align-items: stretch;
  height: 100%;
  overflow: hidden;
  text-align: left;
  width: 100%;

  &__content {
    display: flex;
      align-items: center;
    padding: 15px 0 15px 20px;
    padding-right: 0;
    position: relative;
    width: calc(100% - #{$illustrated-link-image-width});
    z-index: 4;

    @media ($bp-small-min) {
      padding: 30px 0 30px 30px;
    }

    &:after {
      content: "";
      height: 200%;
      position: absolute;
        bottom: 0;
        right: 0;
      transform: rotate(30deg);
      transform-origin: bottom right;
      width: 200%;
      z-index: -1;
    }
  }

  &__label {
    font-size: $fonts-2xsmall;
    font-weight: bold;
    letter-spacing: $letter-spacing-large;
    line-height: 1.71;
    text-transform: uppercase;
  }

  &__link {
    display: inline;
  }

  &__title {
    display: block;
    font-size: 1.625rem;
    line-height: 1.3;
    margin-bottom: 0;
    padding-right: 18px;
    vertical-align: middle;
    width: 100%;

    .ma__decorative-link {
      display: inline;
      padding-right: 0;
    }
  }

  &__image {
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    width: $illustrated-link-image-width;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

//theme

.ma__illustrated-link {
  border-color: tint($c-primary,50%);
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);

  &__content {
    background-color: tint($c-primary,89%);

    &:after {
      background-color: tint($c-primary,89%);
    }
  }

  &__label {
    color: rgba($c-font-link,.8);
  }

  &__title {

    a {

      &:hover {
        border-bottom-color: rgba($c-font-link, .5);
      }
    }

    svg {
      fill: rgba($c-font-link, .5);
    }
  }

  &__image {
    background-color: tint($c-primary,50%);
  }
}
