// // use in the Action Map component info window
// // Handle bar template

@use "00-base/global" as *;

.ma__info-window {
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 20px;
  padding-right: 0;

  &__name {
    font-size: 1.5rem;
    margin-bottom: 0;

    .ma__decorative-link {
      margin-bottom: 0.5rem;
    }
  }

  &__phone {
    white-space: nowrap;
  }

  &__email-link {

    @include ma-link-underline;
  }

  &__address {
    margin-bottom: 12px;
  }

  &__directions {
    margin-top: 6px;
  }
}

//theme

.ma__info-window {
  font-family: $fonts;

  &__label {
    font-weight: $fonts-normal;
  }

  &__phone {
    color: $c-font-base;
    font-weight: inherit;
  }

  &__email-link:hover {
    border-color: rgba($c-font-link, .5);
  }
}
