// // use in the Action Map component info window
// // Handle bar template

.ma__info-window {
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 20px;
  padding-right: 0;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";

  &__name {
    font-size: 1.5rem;
    margin-bottom: 0;

    .ma__decorative-link {
      margin-bottom: 0.5rem;
    }
  }

  &__phone {
    white-space: nowrap;
    color: $c-font-base;
    font-weight: inherit;
  }

  &__email-link {

    @include ma-link-underline;

    &:hover {
      border-color: rgba($c-font-link, .5);
    }
  }

  &__address {
    margin-bottom: 12px;
  }

  &__directions {
    margin-top: 6px;
  }

  &__label {
    font-weight: 500;
  }
}
