.ma__main-nav {
  border-top: 2px solid $c-gray-light;
  margin-top: 20px;

  @media ($bp-header-toggle-max){
    padding-left: 0;
    padding-right: 0;
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {
    position: relative;
    transition: background-color .4s;
    border-bottom: 2px solid $c-gray-light;

    @media ($bp-header-toggle-max) {
      font-size: 1rem;
    }

    @media ($bp-header-toggle-min) {

      &.is-active::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        max-height: 46px;
       background-color: $c-primary-alt;
      }

      &.is-open-react:after {
        display: none;
      }
    }
  }

  &__top-link {
    @include ma-button-reset;
    display: block;
    font-size: 1.25rem;
    letter-spacing: $letter-spacing-large;
    line-height: 1.45;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease;
    width: 100%;
    text-align: left;

    .has-subnav & {
      @include ma-accordion-icon;
    }

    &.submenu-open::after {
      transform: rotate(135deg);
    }

    is-open-react & {

      &:after {
        @media ($bp-header-toggle-min) {
          transform: translateY(-45%) rotate(-135deg);
        }
      }
    }

  }

  &__subitems {
    z-index: $z-dropdown;

    @media ($bp-header-toggle-max) {
      overflow-y: auto;
      padding-left: 20px;
      transition: visibility .5s ease, height .5s ease;

      .translated-rtl &,
      .translated-ltr & {
        height: calc(100vh - #{$header-mobile-controls-height * 2});
        top: 40px;
      }

      &.is-closed, &.is-closed-react {
        display: none !important;
      }
    }

    @media ($bp-header-toggle-min) {

      &.is-closed {
        @include ma-visually-hidden;
        display: none !important;
      }

      &.is-closed-react {
       display: none !important;
      }

      .ma__main-nav__item:last-child & {
        left: inherit;
        right: 0;
      }
    }

  }

  &__container {
    @include ma-reset-list;
    padding-left: 10px;
  }

  &__link {
    display: block;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.33;
    padding: 10px 20px;

    &:hover {
      text-decoration: underline;
    }

    & > svg,
    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__subitem:last-child &__link {
    font-size: 1.125rem;
    letter-spacing: letter-spacing-medium;
    text-transform: uppercase;
  }
}

//theme
.ma__main-nav {

  &__item {

    &.is-active {
      @include ma-border-decorative($c-primary-alt);
    }
  }

  &__top-link {
    font-weight: 700;
    
    &.submenu-open {

    }
  }

  &__back {
    color: $c-font-inverse;

    &:before {
      border-left-color: $c-font-inverse;
      border-top-color: $c-font-inverse;
    }

    span {
      opacity: 0.7;
    }
  }

  &__subitem &__link {
    color: $c-black;
    font-weight: 400;
  }

  &__subitem:last-child &__link {

    & > svg {
      fill: rgba($c-black, .5);
      height: 20px;
      width: 20px;
    }
  }
}
