.ma__main-nav {
  border: 0;
  margin: 0;
  padding: 0;

  @media ($bp-header-toggle-max) {
    border-top: 2px solid $c-bd-divider;
  }
  
  &__items {
    @include ma-reset-list;
  }
  
  &__item {
    border-bottom: 2px solid $c-bd-divider;
  }
  
  &__top-link {
    @include ma-button-reset;
    position: relative;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: $letter-spacing-large;
    line-height: 1.45;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease;
    text-align: left;
    background-color: transparent;
    width: 100%;
    
    .toggle-indicator {
      @include ma-accordion-icon;
    
      .submenu-open & {
        &::after {
          transform: rotate(135deg);
        }
      }
    }
    
    &:focus {
      background-color: $c-bd-divider;
    }
  }
  
  &__subitems {
    text-align: left;
    width: 300px;
    z-index: $z-dropdown;
    background-color: $c-bg-section;
    transition: height 0.6s;
  
    &.is-closed {
      @include ma-visually-hidden;
      display: none !important;
    }
  
    &.is-closed-react {
      display: none !important;
    }
  
    .ma__main-nav__item:last-child & {
      left: inherit;
      right: 0;
    }
  }
  
  &__container {
    @include ma-reset-list;
    transition: opacity 0.6s;
  }
 
  &__link {
    display: block;
    position: relative;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.33;
    padding: 10px 20px 10px 30px;
    color: $c-black;
    
    @media ($bp-medium-min) {
      padding-left: 40px;
    }
    
    @media ($bp-large-min) {
      padding-left: 50px;
    }
    
    &:hover {
      text-decoration: underline;
    }
    
    &>svg,
    &>span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  &__subitem:last-child &__link {
    font-size: 1.125rem;
    letter-spacing: letter-spacing-medium;
    text-transform: uppercase;

    & > svg {
      fill: rgba($c-black, .5);
      height: 20px;
      width: 20px;
    }

    &>span {
      border-bottom: 2px solid transparent;
    }
    
    &:hover {
      text-decoration: none;
    
      &>span {
          border-bottom: 2px solid $c-black;
      }
    }
  }
}
