.ma__main-nav {

  @media ($bp-header-toggle-max){
    padding-left: 0;
    padding-right: 0;
    border-top: 2px solid $c-gray-light;
  }

  &__items {
    @include ma-reset-list;
  }

  &__item {
    position: relative;
    transition: background-color .4s;
    border-bottom: 2px solid $c-gray-light;

    @media ($bp-header-toggle-max) {
      font-size: 1rem;
    }

    @media ($bp-header-toggle-min) {

      &.is-open-react:after {
        display: none;
      }
    }
  }

  &__top-link {
    @include ma-button-reset;
    display: block;
    font-size: 20px;
    line-height: 1.45;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    width: 100%;
    text-align: left;

    .toggle-indicator  {
      @include ma-accordion-icon;

      .submenu-open & {
        &::after {
          transform: rotate(135deg);
        }
      }
    }
    
    is-open-react & {

      &:after {
        @media ($bp-header-toggle-min) {
          transform: translateY(-45%) rotate(-135deg);
        }
      }
    }

  }

  &__subitems {
    z-index: $z-dropdown;
    transition: height 0.6s;

    @media ($bp-header-toggle-max) {
      overflow-y: auto;
      padding-left: 20px;

      .translated-rtl &,
      .translated-ltr & {
        height: calc(100vh - #{$header-mobile-controls-height * 2});
        top: 40px;
      }

      &.is-closed, &.is-closed-react {
        display: none !important;
        transition: height 0.6s;
      }
    }

    @media ($bp-header-toggle-min) {

      &.is-closed {
        @include ma-visually-hidden;
        display: none !important;
      }

      &.is-closed-react {
       display: none !important;
      }

      .ma__main-nav__item:last-child & {
        left: inherit;
        right: 0;
      }
    }

  }

  &__container {
    @include ma-reset-list;
    transition-delay: 2s;
    transition: opacity 0.4s;
  }

  &__link {
    display: block;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.33;
    padding: 10px 20px 10px 10px;

    @media ($bp-medium-min) {
      padding-left: 40px;
    }

    @media ($bp-large-min) {
      padding-left: 50px;
    }  

    &:hover {
      text-decoration: underline;
    }

    & > svg,
    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__subitem:last-child &__link {
    font-size: 1.125rem;
    letter-spacing: letter-spacing-medium;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;

      & >span {
        text-decoration: underline;
      }
    }
  }
}

//theme
.ma__main-nav {

  &__item {

    &.is-active {
      @include ma-border-decorative($c-primary-alt);
    }
  }

  &__top-link {
    font-weight: 700;
    
    @media ($bp-medium-min) {
      padding-left: 30px;
    }

    @media ($bp-large-min) {
      padding-left: 40px;
    }  
  }

  &__back {
    color: $c-font-inverse;

    &:before {
      border-left-color: $c-font-inverse;
      border-top-color: $c-font-inverse;
    }

    span {
      opacity: 0.7;
    }
  }

  &__subitem {
    opacity: 1;
    transition: opacity 3s;

    .is-closed & {
      opacity: 0;
      transition: opacity 10s;
    }
  }

  &__subitem &__link {
    color: $c-black;
    font-weight: 400;
  }

  &__subitem:last-child &__link {

    & > svg {
      fill: rgba($c-black, .5);
      height: 20px;
      width: 20px;
    }
  }
}
