.ma__main__hamburger-nav {
  border: 0;
  margin: 0;
  padding: 0;

  @media ($bp-header-toggle-max) {
    border-top: 2px solid $c-bd-divider;
  }

  &__items {

    @include ma-reset-list;
  }

  &__item {
    border-bottom: 2px solid $c-bd-divider;
  }

  &__top-link {

    @include ma-button-reset;
    position: relative;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: $letter-spacing-large;
    line-height: 1.45;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease;
    text-align: left;
    background-color: $c-gray-lightest;
    width: 100%;

    .toggle-indicator {

      @include ma-accordion-icon;

      .submenu-open & {

        &::after {
          transform: rotate(135deg);
        }
      }
    }

    &:focus {
      background-color: $c-bd-divider;
      outline: 2px solid $c-black;
    }

    &.cv-alternate-style {
      background-color: #f7c600;
      color: inherit;

      // Adding chevron for direct link.
      @include ma-chevron;

      &:after {
        position: absolute;
        right: 20px;
        top: 22px;
        border-right-color: $c-primary-alt;
        border-bottom-color: $c-primary-alt;
      }

      &:hover {
        background-color: #fce387;
      }
    }
  }

  &__subitems {
    text-align: left;
    z-index: $z-dropdown;
    background-color: $c-bg-section;
    transition: height 0.4s;

    &.is-closed {

      @include ma-visually-hidden;
      display: none !important;
      transition: height 0.6s;
    }

    &.is-closed-react {
      display: none !important;
    }

    .ma__main__hamburger-nav__item:last-child & {
      left: inherit;
      right: 0;
    }
  }

  &__container {

    @include ma-reset-list;
    transition: opacity 0.2s;

    .is-closed & {
      transition: opacity 0.2s;
    }
  }

  &__link {

    @include ma-button-reset;
    width: 100%;
    text-align: left;
    display: block;
    position: relative;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.33;
    padding: 10px 20px 10px 30px;
    color: $c-black;

    &:hover {
      text-decoration: underline;
    }

    &>svg,
    &>span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__subitem:last-child &__link {
    font-size: 1.125rem;
    letter-spacing: letter-spacing-medium;
    text-transform: uppercase;

    & > svg {
      fill: rgba($c-black, .5);
      height: 20px;
      width: 20px;
    }

    &>span {
      border-bottom: 2px solid transparent;
    }

    &:hover {
      text-decoration: none;

      &>span {
          border-bottom: 2px solid $c-black;
      }
    }
  }
}
