.ma__multiselect-dropdown {

  display: block;
  width: 100%;

  .ma__multiselect-dropdown-menu {
    position: relative;
    z-index: 100;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    background-color: $c-white;
    max-height: 15.6em;
    overflow-y: auto;

    &--expanded {
      box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.2);
    }

    .ma__multiselect-dropdown-item {
      display: block;
      width: 100%;
      padding: 0.5em 18px 0;
      font-size: $fonts-xsmall;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      border: 1px solid $c-gray-light;

      a, a:hover, a:hover {
        border-bottom: none;
        width: 100%;
      }

      &:hover, &:focus {
        background-color: $c-gray-lightest;
      }

      .ma__input-checkbox {
        width: 100%;
      }
    }
  }
}
