.ma__page-intro {

  &__sub-title {
    font-size: 1.625rem;
    line-height: 1.3;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//theme

.ma__page-intro {
  
  &__sub-title {
    color: $c-font-heading;
    font-weight: 700;
  }
}
