.ma__page-intro {

  &__sub-title {
    font-size: $fonts-larger;
    line-height: 1.3;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//theme

.ma__page-intro {

  &__sub-title {
    color: $c-font-heading;
    font-weight: $fonts-bold;
  }
}
