.ma__relationship-indicators {

    @include clearfix;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 20px 10px;

    @media ($bp-medium-min) {
        margin-left: 30px;
        margin-right: 30px;
    }

    @media ($bp-large-min) {
        flex-direction: row;
        align-items: flex-start;
        margin-left: 40px;
        margin-right: 40px;
    }

    @media ($bp-centered-content-width) {
        max-width: $l-max-content-wrapper;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &--label {
        color: $c-font-detail;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-large;
        margin-right: 10px;
        white-space: nowrap;
        margin-top: -1px;
    }

    &__expand-indicators {
      list-style: none;
    }

    &--section {
        width: 100%;
        min-width: 50%;
        display: flex;
        flex-direction: column;

        @media ($bp-x-small-min) {
            flex-flow: row nowrap;
        }

        @media ($bp-large-min) {
            padding: 1px 5px;
        }

        @media ($bp-large-min) {
            padding-top: 15px;
        }

        &:first-child {
          padding: 15px 0;
        }

        &.primary {
            @media ($bp-medium-min) {
                padding-right: 1.5rem;
            }

            .ma__relationship-indicators--term {

              @media ($bp-medium-max) {

                &:nth-child(n+2) {
                  display: none;
                }
              }
            }

            &.tags-open {
                flex-direction: column;

                @media ($bp-x-small-min) {
                    flex-direction: initial;
                }
            }

            // Only hide tags if secondary tags present.

            &:not(.single) .ma__relationship-indicators--term {

              &:nth-child(n+2) {
                display: none;
              }
            }

            a {
                color: $c-primary;
                box-shadow: inset 0 0 white, inset 0px -1px rgba($c-primary, 0.4);

                &:hover {
                  box-shadow: inset 0 0 white, inset 0px -2px rgba($c-primary, 0.7);
                }
            }

            button {
                color:$c-primary;

                &.is-open {

                    .tag-state {
                        display: inline-block;
                    }
                }

                .tags-open & {
                    align-self: basline;
                }
            }
        }

        &.secondary {

            .ma__relationship-indicators--term {

                &:nth-child(n+2) {
                    display: none;
                }
            }

            a {
              color: $c-primary-alt;
              box-shadow: inset 0 0 white, inset 0px -1px rgba($c-primary-alt, 0.4);

              &:hover {
                box-shadow: inset 0 0 white, inset 0px -2px rgba($c-primary-alt, 0.7);
            }
            }

            button {
                color: $c-primary-alt;
            }
        }

        .ma__relationship-indicators--term {
          margin-bottom: 12px;
          margin-right: 10px;
          line-height: 22px;
          font-size: 16px;
          padding-right: 5px;
          list-style: none;
        }

        a {
          width: 100%;

          @media ($bp-x-small-min) {
           width: auto;
          }
        }

        button {

            @include ma-button-reset;

            @include ma-link-underline;

            @include ma-chevron;
            text-transform: capitalize;
            align-self: flex-start;
            padding: 0;
            line-height: 22px;
            font-size: 16px;
            font-weight: 600;
            white-space: nowrap;
            display: none;

            .tag-state {
                text-transform: none;
            }

            &:after {
                opacity: 0.5;
                border-width: 3px;
                height: 8px;
                width: 8px;
                transform: translateY(-45%) rotate(45deg);
            }

            &.is-open::after {
                transform: translateY(-55%) rotate(-135deg);
            }
        }

    }

    &--terms {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media ($bp-x-small-min) {
            flex-flow: row wrap;
        }
    }

    & + .ma__illustrated-header,
    & + .ma__page-header,
    & + .ma__page-banner {
        margin-top: -11px;
    }
}
