.ma__results-heading {
  &__tags {
    margin-bottom: 10px;

    @media ($bp-x-small-min) {
      clear: left;
      float: left;
      margin-bottom: 0;
    }
  }

  &__tag {
    @include ma-button-reset;
    font-size: 1.125rem;
    display: inline-block;
    line-height: 1em;
    margin-right: .25em;
    padding: 8px 11px;
    white-space: nowrap;
    background-color: tint($c-font-link,90%);
    color: $c-font-link;
    font-weight: 700;

    &:after {
      content: "+";
      display: inline-block;
      font-size: 1.5em;
      line-height: 1.125rem;
      margin-left: .15em;
      margin-top: -1px;
      transform: rotate(135deg);
      vertical-align: middle;
      color: $c-font-link;
    }
  }

  &__clear {
    @include ma-button-reset;
    font-size: 1.125rem;
    display: inline-block;
    line-height: 1em;
    padding: 9px 11px;
    color: $c-font-link;
    font-weight: 700;
  }
}
