<div class="ma__account-manager--section">
  {% set richText = section.richText %}
  {% include "@organisms/by-author/rich-text.twig" %}

  {% set decorativeLink = section.link %}
  {% include "@atoms/decorative-link.twig" %}
</div>