{# use the level passed, the gloval level, or the default #}
{% set headingLevel = collapsibleHeader.level ? : 3 %}
<h{{ headingLevel }} class="ma__collapsible-header">
  <button
    class="ma__collapsible-header__button js-accordion-link">
    {% if collapsibleHeader.icon %}
      <div class="ma__collapsible-header__icon">
        {{ icon(collapsibleHeader.icon) }}
      </div>
    {% endif %}
    <span class="ma__collapsible-header__title">{{ collapsibleHeader.title }}</span>
  </button>
</h{{ headingLevel }}>
