<div class="ma__descriptive-link">
  {% set richText = richText %}
  {% include "@organisms/by-author/rich-text.twig" %}

  {% set decorativeLink = link %}
  {% include "@atoms/decorative-link.twig" %}
</div>
