<a class="ma__featured-item__static-map" href="{{featuredItem.href}}" >
  <div class="ma__featured-item__image">
    {% set googleMap = featuredItem.googleMap %}
    {% include "@molecules/google-map.twig" %}
  </div>
  
  <div class="ma__featured-item__title-container">
    <div class="ma__featured-item__title">
      <span>{{featuredItem.text}}</span>&nbsp;{{ icon('arrow') }}
    </div>
  </div>
</a>
