<span class="ma__icon-link">
  <span class="ma__icon-link__icon">
    {% if item.icon %}
      {{ icon(item.icon) }}
    {% endif %}
  </span>
  <span class="ma__icon-link__link">
    {% set decorativeLink = item.link %}
    {% include "@atoms/decorative-link.twig" %}
  </span>
</span>
