<div class="ma__relationship-indicators">
  <div class="ma__relationship-indicators--section primary{% if relationshipIndicators.secondary is empty %} single{% endif %}">
    <label class="ma__relationship-indicators--label" id="primary">
      <span class="ma__visually-hidden">This page, {{ relationshipIndicators.pageTitle }}, is </span>
      {{ relationshipIndicators.primary.label }}
    </label>
    <ul class="ma__relationship-indicators--terms" aria-labelledby="primary">
    {% block primaryRelationship %}
      {% for item in relationshipIndicators.primary.tags %}

        {% set wrappedLink = item %}
        {% include "@atoms/11-text/wrapped-link.twig" %}

      {% endfor %}
    {% endblock %}
      <li class="ma__relationship-indicators__expand-indicators">
        <button type="button" class="js-relationship-indicator-button" aria-pressed="false">
          show <span class="tag-count"></span> <span class="tag-state">more</span>
        </button>
      </li>
    </ul>
  </div>

  {% if relationshipIndicators.secondary is not empty %}
    <div class="ma__relationship-indicators--section secondary">
      <label class="ma__relationship-indicators--label" id="secondary">
      <span class="ma__visually-hidden">This page, {{ relationshipIndicators.pageTitle }}, is </span>
        {{ relationshipIndicators.secondary.label }}
      </span>
      </label>
      <ul class="ma__relationship-indicators--terms" aria-labelledby="secondary">
      {% block secondaryRelationship %}
      {% for item in relationshipIndicators.secondary.tags %}

        {% set wrappedLink = item %}
        {% include "@atoms/11-text/wrapped-link.twig" %}

      {% endfor %}
      {% endblock %}
        <li class="ma__relationship-indicators__expand-indicators">
          <button type="button" class="js-relationship-indicator-button" aria-label="show more" aria-pressed="false">
            show <span class="tag-count"></span> <span class="tag-state">more</span>
          </button>
        </li>
      </ul>
    </div>
  {% endif %}
</div>
