<div class="ma__relationship-indicators">
  <div class="ma__relationship-indicators--section primary{% if relationshipIndicators.secondary is empty %} single{% endif %}">
    <span class="ma__relationship-indicators--label" id="label1">
      {{ relationshipIndicators.primary.label }}
    </span>
    <ul class="ma__relationship-indicators--terms" aria-labelledby="label1">
    {% block primaryRelationship %}
      {% for item in relationshipIndicators.primary.tags %}
     
        {% set wrappedLink = item %}
        {% include "@atoms/11-text/wrapped-link.twig" %} 
      
      {% endfor %}
    {% endblock %}
    <button type="button" class="js-relationship-indicator-button">
      show <span class="tag-count"></span> <span class="tag-state">more</span
    </button>
    </ul>
  </div>

  {% if relationshipIndicators.secondary is not empty %}
    <div class="ma__relationship-indicators--section secondary">
      <span class="ma__relationship-indicators--label" id="label2">
        {{ relationshipIndicators.secondary.label }}
      </span>
      </span>
      <ul class="ma__relationship-indicators--terms" aria-labelledby="label2">
      {% block secondaryRelationship %}
      {% for item in relationshipIndicators.secondary.tags %}
      
        {% set wrappedLink = item %}
        {% include "@atoms/11-text/wrapped-link.twig" %} 
        
      {% endfor %}
      {% endblock %}
      <button type="button" class="js-relationship-indicator-button">
        show <span class="tag-count"></span> <span class="tag-state">more</span>
      </button>
      </ul>
    </div>
  {% endif %}
</div>
