/* layout */
.fsBody  {
    padding: 0;
    margin-top: 60px;
}

.fsBody .fsForm {
    font-family: "Noto Sans VF","Noto Sans","Helvetica","Arial",sans-serif;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    max-width: 50rem;
}

/* Headings */
.fsBody .fsSectionHeader {
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;
}

.fsBody .fsSectionHeader .fsSectionHeading {
    text-align: left;
    position: relative;
    padding-bottom: 15px;
    color: #535353;
    font-weight: 700;
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.07;
}

.fsBody .fsSectionHeader .fsSectionHeading:after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0.075em;
    width: 1.85em;
    background-color: rgb(67, 149, 111);
    background-color: rgba(67, 149, 111, 0.5);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}

/* Labels */
.fsBody .fsForm .fsLabel {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.5;
}

.fsBody .fsForm .fsLabel:not(.fsRequiredLabel):after {
    content: ' (optional)';
    font-size: .8rem;
}

/* Inputs */
.fsBody .fsForm fieldset {
    border: none;
    padding-left: 0;
}

.fsBody .fsForm input[type="text"].fsField,
.fsBody .fsForm input[type="email"].fsField,
.fsBody .fsForm input[type="tel"].fsField {
    background-color: white;
    border-color: #dcdcdc !important;
    font-family: "Noto Sans VF","Noto Sans","Helvetica","Arial",sans-serif;
    color: #535353;
    border: 2px solid;
    min-height: 46px;
    padding: 0 18px;
}
.fsBody .fsForm input[type="tel"].fsField {
    min-width: 12rem;
}
.fsBody .fsForm textarea {
    background-color: white;
    border-color: #dcdcdc !important;
    border: 2px solid;
}

.fsForm select:not([multiple="multiple"]) {
    font-family: "Noto Sans VF","Noto Sans","Helvetica","Arial",sans-serif;
    background-color: white;
    border-color: #dcdcdc;
    border: 2px solid #dcdcdc;
    background-image: none;
    max-width: 100%;
    cursor: pointer;
}

.fsBody .fsSubField {
  margin-top: 10px;
}

/* Matrix */
.fsMatrix {
  border-collapse: collapse;
}

.fsMatrix th, .fsMatrix td {
    padding: 1em;
    text-align: center;
}

/* Supporting text */
.fsBody .fsForm .fsSupporting,
.fsBody .showMobile {
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.4;
}

.fsBody .fsField::placeholder {
    color: #cccccc;
}

/* Submit */
.fsBody .fsForm input.fsSubmitButton {
    font-family: "Noto Sans VF","Noto Sans","Helvetica","Arial",sans-serif;
    font-weight: 700;
    background-color: #14558f !important;
    color: white;
    border: 3px solid #14558f;
    box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.25);
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 0.4em 1em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.fsSubmitButton {
    background-color: #14558f !important;
}

.fsBody .fsForm input.fsSubmitButton:hover {
    background-color: rgb(20, 85, 143);
    background-color: rgba(20, 85, 143, 0.75) !important;
    border-color:  transparent;
}

.fsBody [data-char-left] {
    margin-bottom: 1.5rem;
}

.fsBody .fsCounter {
    position: absolute;
    width: .1em;
    height: .1em;
    left: -999em;
    overflow: hidden;
}

/* Next Button */
.fsNextButton {
    font-weight: 700;
    background-color: #14558f !important;
    color: white;
    border: 3px solid #14558f;
    box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.25);
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 0.4em 1em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    float: left !important;
}

.fsNextButton .fsSlim {
    display: none;
}

.fsNextButton:hover {
    background-color: rgb(20, 85, 143);
    background-color: rgba(20, 85, 143, 0.75) !important;
    border-color:  transparent;
}

.fsBody .fsFieldRow {
    margin-bottom: 3.5rem !important;
}

.fsBody .fsForm .fsPagination {
    text-align: left;
}

.fsForm, .fsError {
    float: none !important;
}

.fsForm  div.fsError {
    color: white;
    border-radius: 0;
    background-color: #f34343;
    font-weight: bold;
}
.fsPage .fsValidationError {
    background-color: transparent;
}
.fsPage .fsValidationError .fsLabel,
.fsValidationError .fsLabel span,
div.fsValidationError label.fsLabel{
    color: #f34343 !important;
    padding-left: 0;
    background: none;
}

.fsPage .fsValidationError input,
.fsPage .fsValidationError textarea {
    border: 2px solid #f34343;
}

/* remove branding */
a[title="Web Form Builder"] {
    display: none;
}

/* specifc to given form */
#fsSubmit3193712 {
    padding-top: 0 !important;
}

input.fsSubmitButton {
    font-size: 1rem;
}

div[fs-field-type="richtext"] a {
    border-bottom-color: rgb(20,85,143);
    border-bottom-color: rgba(20,85,143,0.5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* DP-19875 Remove the extra character count */
.fsFieldRow .ma__textarea__wrapper::after {
    content: '';
}

/* Fix for sub-field groups */
.fsSubFieldGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 2;
}
.fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(3),
.fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(2),
.fsSubFieldGroup .fsSubField:nth-child(3):nth-last-child(1),
.fsBody .fsSubField.fsNameFirst,
.fsBody .fsSubField.fsNameMiddle,
.fsBody .fsSubField.fsNameLast,
.fsBody .fsSubField.fsFieldCity,
.fsBody .fsSubField.fsFieldState,
.fsBody .fsSubField.fsFieldZip {
    width: auto;
    flex-grow: 2;
}
.fsBody .fsForm input[type="text"].fsField,
.fsBody .fsForm input[type="email"].fsField,
.fsBody .fsForm input[type="tel"].fsField {
    min-height: 0;
    max-height: 46px;
    width: 100%;
}

/* Make the asterisk small and red */
.fsRequiredMarker {
  font-size: 1rem;
  color: #CD0D0D;
}

div[fs-field-type="richtext"] a {
    border-bottom: 0;
}

/* Radios, checkboxes */
div[fs-field-type="radio"] div.fieldset-content,
div[fs-field-type="checkbox"] div.fieldset-content{
    display: flex;
    flex-wrap: wrap;
}
.fsRowBody input[type="radio"],
.fsRowBody input[type="checkbox"] {
    min-height: 1rem;
}
.fsBody .fsForm .fsOptionLabel {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.5;
    position: relative;
}
.fsBody .fsForm .fsOptionLabel.horizontal {
    float: none;
}
/* For "other" option, wrap to a new line. */
.fieldset-content .horizontal[data-children-count="2"],
.fieldset-content .vertical[data-children-count="2"] {
    width: 100%;
}
.fieldset-content .horizontal[data-children-count="2"] input[type="text"],
.fieldset-content .vertical[data-children-count="2"] input[type="text"] {
    width: 100%;
    border: 2px solid rgb(220,220,220);
}
.fieldset-content .vertical {
    width: 100%;
}
.fsBody .fsForm .fsOptionLabel input[type="radio"],
.fsBody .fsForm .fsOptionLabel input[type="checkbox"] {
    margin-right: 0.5rem;
    vertical-align: middle;
    cursor: pointer;
}
.fsBody .fsForm .fsOptionLabel input[type="radio"]:focus,
.fsBody .fsForm .fsOptionLabel input[type="checkbox"]:focus {
    box-shadow: none;
    cursor: pointer;
}
@media (max-width: 40em) {
    .fsBody .fsForm label.fsOptionLabel {
        background: none;
        border: none;
        padding: 10px 0;
    }
}

.fsBody .fsForm input[type="number"] {
    font-family: "Noto Sans VF","Noto Sans","Helvetica","Arial",sans-serif;
}

/* For the calendar icon. */
/* Flex collapses the width of the  parent to it's children. */
div[fs-field-type="datetime"] fieldset {
    display: flex;
}
/* Then the inner div needs relative context for the absolute icon. */
div[fs-field-type="datetime"] .fieldset-content {
    position: relative;
}
/* Add the new icon at the bottom z-index. */
div[fs-field-type="datetime"] .fieldset-content:after {
    content: '';
    position: absolute;
    right: -40px;
    top: 0;
    display: block;
    height: 42px;
    width: 42px;
    background-image: url(https://unpkg.com/@massds/mayflower@10.2.0/assets/images/icons/date-picker.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}
/* Last, hide the old icon with opacity
/* but lift it one z level so it's still clickable */
.fsBody .ui-datepicker-trigger {
    position: absolute;
    top: 0;
    margin-left: 0;
    height: 42px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.fsCurrency.fsCurrencyPrefix {
    font-size: 1.75rem;
}

.fsCreditcardFieldContainer {
    display: block;
}
.fsCreditcardFieldContainer div {
    display: inline-block;
}

.fsMatrixFieldset .fsMatrix {
    width: 100%;
}
