{% if not buttonSearch %}
  {% set buttonSearch = {"text":"Search", "usage": "secondary"} %}
{% endif %}
{% set buttonClasses = buttonSearch.usage ? "ma__button-search--" ~ buttonSearch.usage : "ma__button-search" %}
<button type="submit" class="{{ buttonClasses }}">
  <span span class="visually-hidden">{{ buttonSearch.text }}</span>
  <span class="ma__button-search__label">{{ buttonSearch.text }}</span>
  {{ icon('search') }}
</button>
