{% if not buttonSearch %}
  {% set buttonSearch = {"text":"Search"} %}
{% endif %}
{% set buttonClasses = buttonSearch.usage ? "ma__button-search--" ~ buttonSearch.usage : "ma__button-search" %}
<button type="submit" class="{{ buttonClasses }}">
  <span class="ma__button-search__label">{{ buttonSearch.text }}</span>
  {{ icon('search') }}
</button>
