@use "../styles/globe" as *;
@use "illustrated-header";
@use "button-with-icon";
@use "gen-teaser";
@use "tabs"; 
@use "icon";
@use "section-links";
@use "decorative-link";
@use "callout-link";

.ma__illustrated-header {
  margin: 0 !important;
}

.ma__button-group {
  margin-top: 1rem;
  display: flex;
    flex-direction: column;
  text-align: center;
    & >  * ~ * {
      margin: 1rem 0 0 0;
    }

   @media($bp-x-small-min) {
    flex-direction: row;
    & >  * ~ * {
      margin: 0 0 0 1rem;
    }
   }
}

.ma__search--tabs {
  background-color: $c-gray-lightest;
}

.ma__gen-teaser__image {
  overflow: hidden;
  border-color: $c-gray-lighter;
}

h2.ma__section-links__title {
  margin-bottom: 0;
}



// Match row height
.ma__row--three-up {
  align-items: stretch;

  .ma__section-links {
    height: 100%;
  }
}
