@import '../styles/bootstrap-grid';
@import '../styles/global';

.ma__illustrated-header {
  margin: 0;
}

.ma__button-group {
  display: flex;
  align-items: stretch;
}

.ma__search--tabs {
  background-color: $c-gray-lightest;
}
