@import '../styles/bootstrap-grid';
@import '../styles/global';

.ma__illustrated-header {
  margin: 0;
}

.ma__button-group {
  margin-top: 1rem;
  display: flex;
  align-items: stretch;
}

.ma__search--tabs {
  background-color: $c-gray-lightest;
}

.ma__gen-teaser__image {
  overflow: hidden;
  border-color: $c-gray-lighter;
}

h2.ma__section-links__title {
  margin-bottom: 0;
}

.ma__callout-link{
    line-height: 1.3;
    @media ($bp-medium-min) {
        width: 33%;
    }
    @media ($bp-large-min) {
        width: 100%;
    }
    @media ($bp-x-large-min) {
        width: 33%;
    }
    @media ($bp-small-min) {
      padding: 15px 20px;
    }

    a {
      display: contents;
    }

    &__container {
      font-size: 1.3rem;
      padding-right: 0;
    }

    &__description {
        font-size: 1rem;
        @media ($bp-x-large-max) {
            display: none;
        }
    }
}

// Bootstrap overrides
.row {
  align-items: stretch;

  .col-md {
    height: 100%;
  }
}
