{% set alignmentClass = figure.align ? "ma__figure--" ~ figure.align : "" %}

<figure class="ma__figure {{ alignmentClass }}">

  {% if figure.title %}
  <span class="ma__figure__title">
    {{ figure.title }}
  </span>
  {% endif %}

  {# For image. #}
  {% if figure.image %}
    {% set image = figure.image %}
    {% include "@atoms/09-media/image.twig" %}
  {% endif %}

  {% if figure.caption %}
    <figcaption class="ma__figure__caption">
      {{ figure.caption }}
    </figcaption>
  {% endif %}
</figure>
