{# Note: in Mayflower, we render the Tableau embed using figure.dataviz, but
   we recommend using this template by passing in a fully rendered iframe to
   figure.content instead so the consuming system can handle the javascript
   inclusions and triggering using its own logic.
#}
{# Commented area is not necessary since tableau data is passed from Drupal as figure.content. #}
{% if figure.dataviz %}
  {# Render figure.content, which will be the main content of the figure #}
  {% set content %}
    {% set id = 'dataviz-' ~ random(9999) %}
    <div id="{{ id }}"></div>
    <script type="text/javascript">
      window.addEventListener("DOMContentLoaded", function() {
        new tableau.Viz(document.getElementById("{{ id }}"), "{{ figure.dataviz.url }}");
      });
    </script>
  {% endset %}
  {% set figure = figure|merge({
    'content': content,
  }) %}
{% endif %}
{% include "@atoms/09-media/figure.twig" with {
  figure: figure|merge({
    'align': figure.align|default('left'),
    'size': figure.size|default('large'),
    'title': figure.title,
    'caption': figure.caption,
    'class': 'ma__dataviz',
  })
} %}
