<div id="{{id}}"></div>
<script type="text/javascript" 
	    src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script type="text/javascript">
    function initViz() {
        var containerDiv = document.getElementById("{{id}}"),
          url = "{{url}}";
        var viz_{{id}} = new tableau.Viz(containerDiv, url, {}); 
    };
    initViz();
</script>