<ul{{ class ? ' class="' ~ class ~ '"' }}>
	{% for listItem in unorderedList %}
		<li>{{ listItem.text }}</li>
		{% if listItem.sublist %}
			<ul>
				{% for sublist in listItem.sublist %}
					<li>{{ sublist.text }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
</ul>
