@import "global";
@import '00-base/mixins';
@import '02-molecules/emergency-alert';

@mixin ma-emergency-alert ($color) {
  color: $c-font-base;
  background-color: tint($color, 90%);
  border-color: tint($color, 50%);
  box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.25);
  .ma__emergency-alert__link {
    font-weight: bold;
    &:hover {
      border-bottom-color: transparent;
    }
    .ma__content-link {
      span {
        display: inline;
        border-bottom: 1px solid rgba($c-font-base, .5);
        &:hover {
          border-bottom: 3px solid rgba($c-font-base, .75);
        }
      }
      svg {
        fill: tint($c-font-base, 50%);
      }
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}
$colors: (
  "c-highlight": $c-highlight,
  "c-primary": $c-primary,
  "c-primary-alt": $c-primary-alt,
  "c-error": $c-error,
  "c-gray": $c-gray
);
@each $class, $c in $colors {
  .ma__emergency-alert--#{$class} {
    @include ma-emergency-alert($c);
  }
}
