@import "global";
@import '00-base/mixins';
@import '02-molecules/emergency-alert';
@import '02-molecules/emergency-header';


.ma__emergency-alert--c-primary {
  @include ma-button("normal","solid",$c-primary);
  &:hover {
    background-color: $c-primary;
  }
  .ma__emergency-alert__link a, svg {
    color: $c-font-inverse;
    span {
      border-bottom-color: rgba($c-font-inverse, .5);
      color: $c-font-inverse;
      &:hover {
        border-bottom-color: rgba($c-font-inverse, .5);
      }
    }
    &:after {
      border-color: rgba($c-font-inverse, .5);
    }
  }
}
.ma__emergency-alert--c-primary-alt {
  @include ma-button("normal","solid",$c-primary-alt);
  &:hover {
    background-color: $c-primary-alt;
  }
  .ma__emergency-alert__link a, svg {
    color: $c-font-inverse;
    span {
      border-bottom-color: rgba($c-font-inverse, .5);
      color: $c-font-inverse;
      &:hover {
        border-bottom-color: rgba($c-font-inverse, .5);
      }
    }
    &:after {
      border-color: rgba($c-font-inverse, .5);
    }
  }
}
.ma__emergency-alert--c-warning {
  @include ma-button("normal","solid",$c-warning);
  color: $c-font-base;
  &:hover {
    background-color: $c-warning;
  }
  .ma__emergency-alert__link a, svg {
    color: $c-font-base;
    span {
      border-bottom-color: rgba($c-font-base, .5);
      color: $c-font-base;
      &:hover {
        border-bottom-color: rgba($c-font-base, .5);
      }
    }
    &:after {
      border-color: rgba($c-font-base, .5);
    }
  }
}
.ma__emergency-alert--c-gray-dark {
  @include ma-button("normal","solid",$c-gray-dark);
  &:hover {
    background-color: $c-gray-dark;
  }
  .ma__emergency-alert__link a, svg {
    span {
      color: $c-font-inverse;
      border-bottom-color: rgba($c-font-inverse, .5);
      &:hover {
        border-bottom-color: rgba($c-font-inverse, .5);
      }
    }
    &:after {
      border-color: rgba($c-font-inverse, .5);
    }
  }
}
