@import '../../styles/global';
// import color variables
// import bourbon library "tint" and "shade" functions

// use patternlab color swatches styles
.sg {
  &-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;

    li {
      border: 1px solid #ddd;
      border-radius: 8px;
      flex-basis: auto;
      margin: 0 0.5em 0.5em 0;
      max-width: 14em;
      padding: 0.3em;
    }

    button {
      margin-left: 0.5em;
      @include ma_button_reset;
    }
    // Align gradient matrix
    &--gradient {
      li {
        &:first-child {
          width: 14em;
        }
      }
    }
  }
  &-swatch {
    border-radius: 5px;
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
  }

  &-label {
    font-size: 90%;
    line-height: 1;
  }

  &-info {
    font-size: 1rem;
    font-family: "Source Code Pro", monospace;
    span {
      background-color: $c-gray-lightest;
      padding: 0.1em 0.2em;
    }
  }
}
