@import 'global';
@import '02-molecules/org-selector';

.react-autosuggest__suggestions{
  &-container--open{
    position: absolute;
    width: 100%;
    background: white;
    z-index: 100;
  }

  &-list {
    list-style: none;
  }
}
