@use "styles/global" as *;
@use '00-base/mixins';
@use '00-base/z-index';
@use '02-molecules/tooltip';

.ma__tooltip {
  &__open {
    & > svg {
      margin-bottom: -.2em;
      margin-left: .2em;
      width: 16px;
      height: 16px;
    }
  }
}
