@use 'global/base' as *;

.ma__email {

  &__email {
    font-weight: 700;
    color: $c-font-detail;
  }

  &__details {
    font-style: italic;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: .35em;
    margin-top: -.25em;
  }
}