.ma__marketing-campaign__main-content {
  .page-content>:last-child {
    &.ma__key-message {
      margin-bottom: -45px;
      &--c-white {
        margin-top: 0px;
      }
      @media ($bp-large-min) {
        margin-bottom: -60px;
      }
    }    
  } 
}