.ma__campaign-landing {
  .page-content>:last-child {
    &.ma__key-message {
      margin-bottom: -45px;
      &--c-white {
        margin-top: 0px;
      }
      @media ($bp-large-min) {
        margin-bottom: -60px;
      }
    }
  }
  .main-content--full .page-content > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ma__campaign-page-hr-row {
  // custom html
    padding-top: 60px;
    padding-bottom: 60px;
  }
}