.ma__services {

  .page-content--intro {

    @media ($bp-large-min) {
      & > .ma__image:first-child {
        display: none;
      }

      .ma__video--right,
      .ma__rich-text {
        margin-top: 0;
      }
    }
  }

  .more-info-header {
    @include ma-container;
    @include clearfix;

    .ma__comp-heading {
      margin-bottom: 0;
    }
  }

  &.ma__services-flexible-link-groups {
    .ma__stacked-row-section {
      .ma__split-columns {
        margin-top: 15px;
      }
    }

    .ma__link-list {
      max-width: 780px;
    }

    .ma__link-list__item {
      line-height: 1.3;
      padding: 6px 0;
    }

    .ma__download-link__icon {
      width: 35px;
      height: 25px;
      position: relative;
      top: 4px;
      left: -6px;

      &>svg {
        height: 25px;
      }
    }


  }

  .ma__stacked-row-section {
    .ma__split-columns {
      .ma__comp-heading,
      .ma__sidebar-heading {
        @include ma-h3;
        border: 0;
        margin-bottom: 0 !important;
        text-transform: none;
        letter-spacing: normal;
      }

    }
  }

  .main-content--full .page-content--intro {
    .ma__video--right + .ma__teaser-text {

      @media ($bp-page-width-min) {
        display: inline-block;
        float: none;
        margin-left: calc(50vw - (#{$max-width}/2));
        padding-right: 0;
        width:  $max-width - 500px;
      }
    }

    & > .ma__image:first-child {
      margin-left: 20px;
      margin-right: 20px;

      @media ($bp-medium-min) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }


  .sidebar--intro {
    & > .ma__image:first-child {

      @media ($bp-large-max) {
        display: none;

        & + * {
          margin-top: 0;
        }
      }
    }
  }
}
