@use "00-base/global" as *;

.ma__location-icons {
  margin-bottom: -30px;

  &__items {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  &__item {
    text-align: center;
    margin-bottom: 30px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80px;
    min-width: 80px;
  }

  &__icon {
    height: 40px;
    margin-bottom: 18px;
    text-align: center;

    & > svg {
      height: 100%;
      width: 100%;
    }
  }

  &__name {
    font-size: 13px;
    margin: 0 auto;
    letter-spacing: $letter-spacing-large;
    line-height: 1.3;
    max-width: 150px;
    text-transform: uppercase;
  }
}

//theme

.ma__location-icons {

  &__icon {

    svg {
      fill: $c-primary-alt;
    }
  }

  &__name {
    color: $c-font-medium;
    font-weight: 700;
  }
}