@import 'global';
$assets-path: '../../../../assets';
@import '01-atoms/input-checkbox';

.ma__input-checkbox {
  label:focus {
    outline: none;
  }

  &--disabled{
    label {
      opacity: 0.5;
    }
  }
}
