@import 'colors';
// @import '../../../../assets/scss/01-atoms/_input-checkbox.scss';

.ma__input-checkbox{
  input:disabled {
    cursor: default;
    opacity: 0.7;
    + label {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  &--outline {
    width: 100%;
    height: 100%;
      label {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
        &:after {
          transition: background-color .4s, color .4s, border .4s, fill .4s;
          border-radius: 20px;
          border: 1px solid;
          top: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          content: '';
          z-index: -1;
        }
        &:before {
          transform: translateY(-5%);
          position: relative !important;
          top: 0.25em !important;
          margin-right: 0.5rem;
        }
    }
  }

}
