@use "styles/global" as *;
// Import Neat for the mixins.
@use "bourbon-neat/app/assets/stylesheets/neat";
@use '02-molecules/footer-links';

.ma__footer-links {
  &__items {
    &--heading {
      border-bottom: none;

      .ma__sidebar-heading {
        color: $c-gray;
        font-size: 1rem;
      }


    }
    ul {
      @include ma-reset-list;
    }
  }
}
