@import 'global';
// Import Neat for the mixins.
@import "bourbon-neat/app/assets/stylesheets/neat";
@import '02-molecules/footer-links';

.ma__footer-links {
  &__items {
    &--heading {
      border-bottom: none;

      .ma__sidebar-heading {
        color: $c-gray;
        font-size: $fonts-xsmall;
      }


    }
    ul {
      @include ma-reset-list;
    }
  }
}
