<div class="ma__mass-feedback-form" id="feedback" data-mass-feedback-form>
  <h2 class="visually-hidden">Feedback</h2>
  <form class="ma__mass-feedback-form__wrapper" method="post" novalidate="" action="h" class="" id="">
    <fieldset>
      <legend>
        Did you find what you were looking for on this webpage?<sup>*</sup>
      </legend>
      {% set inputGroup = inputGroup %}
      {% include "@atoms/03-forms/input-group.twig" %}
    </fieldset>

    <fieldset class="ma__mass-feedback-form__submit-wrapper">
      <input id="" class="submitButton ma__button ma__button--small" type="submit" value="Send Feedback" />
    </fieldset>
  </form>
</div>
