<div class="ma__mass-feedback-form" id="feedback" data-mass-feedback-form>
  <h2 class="visually-hidden">Feedback</h2>
  <form class="ma__mass-feedback-form__form" method="post" novalidate="" action="h" class="" id="">
    <fieldset>
      <legend>
        Did you find what you were looking for on this webpage?<sup>*</sup>
      </legend>
      {% set inputGroup = inputGroup %}
      {% include "@atoms/03-forms/input-group.twig" %}
    </fieldset>

    <fieldset>
      <legend class="yes">
        Do you have anything else to tell us?
      </legend>
      <legend class="no">
        Please tell us what you were looking for.
      </legend>
      <p>We will use this information to improve the site.</p>

      {% set headerAlerts = headerAlerts %}
      {% include "@organisms/by-template/header-alerts.twig" %}
</fieldset>
<fieldset>
      {% set textarea = textarea %}
      {% include "@atoms/03-forms/textarea.twig" %}
      {% set helperText = helperText %}
      {% include "@atoms/03-forms/helper-text.twig" %}

      <div class="ma__mass-feedback-form__form--no-response">
      <legend>Your feedback will not receive a response.<a class="ma__content-link--chevron">Why? </a></legend>
      <p class="no-response-info">This form only gathers feedback about the website.</p>
      </div>
    </fieldset>

    <fieldset class="ma__mass-feedback-form__form--submit-wrapper">
      <input id="" class="submitButton ma__button ma__button--small" type="submit" value="Send Feedback" />
    </fieldset>
  </form>
</div>
