<div class="ma__mass-feedback-form" id="feedback" data-mass-feedback-form>
  <h2 class="visually-hidden">Feedback</h2>
  
  <form class="ma__mass-feedback-form__form" method="post" novalidate="" action="h" class="" id="">
    <fieldset class="ma_feedback-fieldset">
      <legend>Tell us more about your experience</legend>
      <p>Please tell us how much you agree with the following statements:</p>

      {% include "@molecules/forms/radio-scale-group.twig" %}
    </fieldset>

    <fieldset class="ma_feedback-fieldset">
      <legend>What did you come here to do today?</legend>

      {% include "@atoms/03-forms/textarea.twig" %}
    </fieldset>

    <fieldset class="ma_feedback-fieldset">
      <legend>Are you using Mass.gov for professional or personal reasons?</legend>

      {% set inputGroup = inputGroup %}
      {% include "@atoms/03-forms/input-group.twig" %}
    </fieldset>

    <fieldset class="ma_feedback-fieldset">
      <legend>Do you have any other feedback for us? (Optional)</legend>

      {% include "@atoms/03-forms/textarea.twig" %}
    </fieldset>

    <fieldset class="ma_feedback-fieldset">
      <legend>If we have additional questions about your feedback, can we contact you? If so, enter your email address below. (Optional)</legend>

      {% include "@atoms/03-forms/input-text.twig" %}
    </fieldset>

    <fieldset class="ma_feedback-fieldset">
      <input id="" class="submitButton ma__button ma__button--small" type="submit" value="Send Feedback" />
    </fieldset>

    {% for element in hiddenElements %}
      <input type="hidden" id="{{ element.id }}" name="{{ element.name }}" value="{{ element.value }}" class="{{ element.class }}" />
    {% endfor %}
  </form>
</div>
