<div class="ma__mass-feedback-form" id="feedback" data-mass-feedback-form>
  <h2 class="visually-hidden">Feedback</h2>
  <form class="ma__mass-feedback-form__form" method="post" novalidate="" action="h" class="" id="">
    <fieldset>
      <legend>Tell us more about your experience</legend>
      <p>Please tell us how much you agree with the following statements:</p>

      <div id="fsRow3184363-4" class="fsRow fsFieldRow fsLastRow">
        <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell68557157" lang="en" fs-field-type="radio" fs-field-validation-name="This page is helpful.">
          <fieldset class="ma__radio-scale" id="label68557157">
            <legend class="ma__radio-scale__legend fsLabel fsLabelVertical"><span>This page is helpful.</span></legend>
            <div class="ma__radio-scale__radios fieldset-content">
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557157_1"><input type="radio" id="field68557157_1" name="field68557157" value="1" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">1</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557157_2"><input type="radio" id="field68557157_2" name="field68557157" value="2" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">2</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557157_3"><input type="radio" id="field68557157_3" name="field68557157" value="3" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">3</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557157_4"><input type="radio" id="field68557157_4" name="field68557157" value="4" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">4</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557157_5"><input type="radio" id="field68557157_5" name="field68557157" value="5" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">5</span></label>
            </div>
          </fieldset>
        </div>
      </div>
      <div id="fsRow3184363-5" class="fsRow fsFieldRow fsLastRow">
        <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell68557204" lang="en" fs-field-type="radio" fs-field-validation-name="This page is easy to use.">
          <fieldset class="ma__radio-scale" id="label68557204">
            <legend class="ma__radio-scale__legend fsLabel fsLabelVertical"><span>This page is easy to use.</span></legend>
            <div class="ma__radio-scale__radios fieldset-content">
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557204_1"><input type="radio" id="field68557204_1" name="field68557204" value="1" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">1</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557204_2"><input type="radio" id="field68557204_2" name="field68557204" value="2" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">2</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557204_3"><input type="radio" id="field68557204_3" name="field68557204" value="3" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">3</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557204_4"><input type="radio" id="field68557204_4" name="field68557204" value="4" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">4</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557204_5"><input type="radio" id="field68557204_5" name="field68557204" value="5" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">5</span></label>
            </div>
          </fieldset>
        </div>
      </div>
      <div id="fsRow3184363-6" class="fsRow fsFieldRow fsLastRow">
        <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell68557235" lang="en" fs-field-type="radio" fs-field-validation-name="I am confident that I will find the information I need.">
          <fieldset class="ma__radio-scale" id="label68557235">
            <legend class="ma__radio-scale__legend fsLabel fsLabelVertical"><span>I am confident that I will find the information I need.</span></legend>
            <div class="ma__radio-scale__radios fieldset-content">
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557235_1"><input type="radio" id="field68557235_1" name="field68557235" value="1" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">1</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557235_2"><input type="radio" id="field68557235_2" name="field68557235" value="2" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">2</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557235_3"><input type="radio" id="field68557235_3" name="field68557235" value="3" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">3</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557235_4"><input type="radio" id="field68557235_4" name="field68557235" value="4" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">4</span></label>
              <label class="ma__radio-scale__label fsOptionLabel vertical" for="field68557235_5"><input type="radio" id="field68557235_5" name="field68557235" value="5" class="ma__radio-scale__radio fsField vertical"><span class="ma__radio-scale__text">5</span></label>
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>

    <fieldset>
        <legend>What did you come here to do today?</legend>
        
        {% include "@atoms/03-forms/textarea.twig" %}
    </fieldset>

    <fieldset>
    <legend>
        Are you using Mass.gov for professional or personal reasons?
      </legend>
      {% set inputGroup = inputGroup %}
      {% include "@atoms/03-forms/input-group.twig" %}
           
          </fieldset>

          <fieldset>
          <legend>Do you have any other feedback for us? (Optional)</legend>
        
        {% include "@atoms/03-forms/textarea.twig" %}
          
       
          </fieldset>

          <fieldset>
          <legend>If we have additional questions about your feedback, can we contact you? If so, enter your email address below. (Optional)</legend>
          {% include "@atoms/03-forms/input-text.twig" %}
          </fieldset>

          <fieldset>
            <input id="" class="submitButton ma__button ma__button--small" type="submit" value="Send Feedback" />
          </fieldset>
  </form>
</div>
