html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* One-off breakpoints (consider consolidation)*/
/* Mayflower Color Tokens */
.ma__tabs {
  overflow: auto;
  display: flex; }
  .ma__tabs-item {
    background: #F2F2F2;
    border: none;
    padding: 1.5rem 1.5rem 0.8rem 1.5rem;
    font-size: 1.25rem;
    color: inherit;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    font-weight: normal; }
    @media (max-width: 620px) {
      .ma__tabs-item {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap; } }
    .ma__tabs-item:hover {
      border-bottom: 5px solid;
      border-color: #8AAAC7; }
    .ma__tabs-item.is-selected {
      border-bottom: 5px solid;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      color: #14558f;
      font-weight: 700; }
