@import "@massds/mayflower-theme/scss/mayflower-global";
@import "01-atoms/label";
@import "01-atoms/select-box";
@import "02-molecules/results-heading";

@media ($bp-small-min){
  .ma__results-heading__tags+.ma__results-heading__sort.ma__results-heading__sort-selecBox {
      top: 0;
  }
}
