textarea {
  transition: background-color .4s, color .4s, border .4s, fill .4s, box-shadow .4s;
  color: #535353;
  &:focus{
    -webkit-box-shadow: 0 0 3px 3px #9bdaf1 !important;
    box-shadow: 0 0 3px 3px #9bdaf1 !important;
    border-color: #dcdcdc !important;
  }
  &.has-error {
    &:focus {
      border-color: #cd0d0d !important;
    }
  }
}
