html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* One-off breakpoints (consider consolidation)*/
/* Mayflower Color Tokens */
.ma__error-msg {
  display: none;
  align-items: flex-start;
  font-size: 1.125rem;
  line-height: 1.2rem;
  margin: .3em 0;
  font-weight: 500; }
  .ma__error-msg svg {
    flex: 0 0 1.2rem;
    margin-right: 3px; }
  .ma__error-msg.has-error {
    display: flex;
    color: #CD0D0D; }
    .ma__error-msg.has-error.ma__error-msg--success {
      display: flex;
      color: #388557; }
