.ma__stacked-row {
  position: relative;

  &__section {

    & ~ & {

      @media ($bp-large-max) {
        border-top-width: 1px;
        border-top-style: solid;
      }

      .ma__stacked-row__title .ma__comp-heading {
        margin-top: 15px;
      }
    }

    & ~ &--borderless {

      @media ($bp-large-max) {
        border-top-width: 0;
      }
    }
  }

  &__container {
    @include ma-container;
  }

  // reduce the width of the title and border
  &__section--restricted + &__section--restricted &__container {
    @include ma-container('restricted');
  }

  &__section ~ &__section &__container:before {
    content: "";
    display: block;

    @media ($bp-large-min) {
      border-top-width: 1px;
      border-top-style: solid;
    }
  }

  &__section ~ &__section--borderless &__container:before {
    @media ($bp-large-min) {
      border-top-width: 0;
    }
  }

  &__section--restricted &__title {
    max-width: 820px;
  }
}

//theme
.ma__stacked-row {

  &__section ~ &__section {
    border-color: $c-bd-divider;
  }

  &__section ~ &__section &__container:before {
    border-color: $c-bd-divider;
  }
}
