@use '../styles/globe' as *;

.ma__section-wrapper {
  padding: 2rem 0;

  h2 {
    @include ma-h3;
  }

  &--primary {
    background-color: $c-primary-lightest;
  }

  &--gray-light {
    background-color: $c-gray-lightest;
  }

  &--primary-alt {
    background-color: $c-primary-alt-lightest;
  }
}
