@use '../styles/globe' as *;

.ma__section-wrapper {
  padding: 2rem 0;

  h2 {
    @include ma-h3;
  }

  &--primary {
    background-color: var(--mf-c-primary-lightest);
  }

  &--gray-light {
    background-color: var(--mf-c-gray-lightest);
  }

  &--primary-alt {
    background-color: var(--mf-c-primary-alt-lightest);
  }
}
