<li class="wrapped-link js-wrapped-link {{ wrappedLink.class }}">
  <a href="{{ wrappedLink.href }}" {% if wrappedLink.title %} title="{{ wrappedLink.title }}"{% endif %}>{{ wrappedLink.title }}</a>
</li>
